{{ require_css(get_asset_url("../../css/modules/videos-from-hubdb.css")) }}

{% macro strip_youtube_id(url) %}
	{% set video_id_length = 11 %}
	
	{% if url is string_containing "watch" %}
		{% set youtube_video_id = url | split("v=") | last %}
	{% elif url is string_containing "live" %}
		{% set youtube_video_id = url | split("live/") | last %}
	{% else %}
		{% set youtube_video_id = url | split("/") | last %}
	{% endif %}

	{{ youtube_video_id |truncate(video_id_length, True, "")}}
{% endmacro %}


{% set videos = [] %}

{% if module.display_latest_videos %}
	{% set videos_filter = "name__icontains=" + module.filter_by + "&orderBy=-date&limit=" + module.videos_to_display %}

	{% set latest_videos = hubdb_table_rows(module.videos_hubdb, videos_filter) %}

	{% for video in latest_videos %}
		{% do videos.append(video) %}
	{% endfor %}
{% else %}
	{% for video in module.videos %}
		{% do videos.append(video.columns) %}
	{% endfor %}
{% endif %}


<div class="videos-hubdb">

{% for video in videos %}
	{% set youtube_id = strip_youtube_id(video.video)  %}
	{% set youtube_embed_url = "https://www.youtube.com/embed/{{ youtube_id | trim }}" %}

	<article class="video-hubdb">
		<div class="video-hubdb__iframe-wrapper">
			<iframe src="{{ youtube_embed_url }}" allowfullscreen title="{{ video.name }}" class="video-hubdb__iframe"></iframe>
		
			<h3 class="video-hubdb__title">
				{{ video.name }}
			</h3>
			<p class="video-hubdb__description">
				{% if module.fields_to_display.description %}
							{{ video.description }}
				{% endif %}
			</p>
			{% if module.fields_to_display.date %}
				<time datetime="{{ video.date | format_date('short') }}" class="video-hubdb__date">
					{{ video.date|format_date('dd MMM yyyy') }}
				</time>
			{% endif %}
		</div>
	</article>
{% endfor %}
</div>

