{{ require_css(get_asset_url("../../css/modules/videos-from-hubdb.css")) }}

{% set videos = [] %}

{% if module.display_latest_videos %}
	{% set videos_filter = "name__icontains=" + module.filter_by + "&orderBy=-date&limit=" + module.videos_to_display %}

	{% set latest_videos = hubdb_table_rows(module.videos_hubdb, videos_filter) %}

	{% for video in latest_videos %}
		{% do videos.append(video) %}
	{% endfor %}
{% else %}
	{% for video in module.videos %}
		{% do videos.append(video.columns) %}
	{% endfor %}
{% endif %}

<div class="videos-hubdb">
	{% for video in videos %}
		{% if video.video is string_containing "youtube" %}
			{% set youtube_video_id = video.video | split("v=") | last | truncate(11, True, "") %}
		{% else %}
			{% set youtube_video_id = video.video | split("/") | last %}
		{% endif %}

		{% set youtube_embed_url = "https://www.youtube.com/embed/{{ youtube_video_id }}" %}

		<article class="video-hubdb">
			<div class="video-hubdb__iframe-wrapper">
				<iframe src="{{ youtube_embed_url }}" allowfullscreen title="{{ video.name }}" class="video-hubdb__iframe"></iframe>
			
				<h3 class="video-hubdb__title">
					{{ video.name }}
				</h3>
				<p class="video-hubdb__description">
					{{ video.description }}
				</p>
				<time datetime="{{ video.date | format_date('short') }}" class="video-hubdb__date">
					{{ video.date|format_date('dd MMM yyyy') }}
				</time>
			</div>
	</article>
	{% endfor %}
</div>
