{% import '../../snippets/button-snippets.html' as snippets %}

{% if module.hubdb_table %} 
  {% set previousEventsFilter = "&orderBy=-date" %}
  {% set previousEvents = hubdb_table_rows(module.hubdb_table, previousEventsFilter) %}

  <div
    class="card-collection__event-inner responsive-page-width lateral-spacing"
  >
    <h2 class="card-collection__heading responsive-page-width">
      {{ module.heading }}
    </h2>
    <div class="card-collection-results">
    {% for event in previousEvents %}
      {% set eventThumb_desktop = resize_image_url(event.thumbnail.url, 0, 0, 375) %}
      {% set eventThumb_mobile = resize_image_url(event.thumbnail.url, 0, 0, 260) %}

        <article class="card-item">
          <div class="card-item__content">
            <div class="card-item__image-container
                        {% if event.video is string_containing 'livestorm' %} card-item--overlay {% endif %}">
              <img class="card-item__image" alt=""
                {% if event.thumbnail.url is none %}

                {% else %}
                  srcset="{{eventThumb_mobile}} 260w,
                          {{eventThumb_desktop}} 375w"
                  sizes="(max-width: 425px) 260px, 375px"
                  src="{{eventThumb_desktop}}"
                {% endif %}
               />

              <small
                class="card-item__label card-item__label--type"
              >
                {{ event.type.name }}
              </small>
              <small
                class="card-item__label card-item__label--duration"
              >
                {{ event.duration }}
              </small>
              {% if event.internal %}
                <small
                  class="card-item__label card-item__label--internal"
                >
                  Internal Event
                </small>
              {% endif %}
            </div>
            <div class="card-item__text-container">
              <div class="card-item__text-container-inner truncated">
                <header class="card-item__header">
                  <time
                    class="card-item__metadata"
                    datetime="{{ event.date|datetimeformat('%Y-%m-%d') }}"
                  >
                    {{ event.date|datetimeformat('%a %e %b %Y') }}
                  </time>
                  <h4 class="card-item__title">
                    {{ event.name }}
                  </h4>
                </header>
                <p class="card-item__description">
                  {{ event.description }}
                </p>
              </div>
              <div class="card-item__button-container">
                  {% set button = { icon: "icon-ungated",
                                    text: "Watch on Youtube",
                                    target: "" 
                                  }
                  %}
          
                {% if event.video is string_containing 'livestorm' %}
                {% set button = { icon: "icon-gated",
                                  text: "Register for free to watch",
                                  target: "_blank" 
                                }
                %}
                {% endif %}

                {{snippets.button_primary(
                  classnames="card-item__video-button {{button.icon}}",
                  url=event.video,
                  target= button.target,
                  text= button.text
                )}}

              </div>
            </div>
          </div>
        </article>
      {% endfor %}
  </div>
{% endif %}
