.custom-about-us-card * {
    color: #fff;
}

.custom-about-us-card {
  margin-bottom: .5rem;
  text-align: center;
  border-radius: 3px;
  position: relative;
}

.custom-about-us-card::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--woodsmoke--20);
}