.in-page-cta-block-banner {
  min-height: 300px;
  overflow: hidden;
  max-width: 1300px;
  margin: auto;
}
.in-page-cta-block__image {
  background-position: center;
}
.in-page-cta-block__main {
  align-items: center;
  background-color: #fb7268;
  display: flex;
  height: 300px;
  justify-content: center;
  text-align: center;
}
.in-page-cta-block__inner {
  max-width: 500px;
}
.in-page-cta-block__title {
  font-family: proxima-nova;
  font-weight: 700;
  font-size: 21px;
  line-height: 33px;
  color: white;
  margin: 0 0 10px;
}
.in-page-cta-block__description {
  font-size: 18px;
  line-height: 28px;
  font-family: proxima-nova;
  font-weight: 400;
  color: white;
  margin: 0 0 30px;
}


@media (min-width: 1024px){
  .in-page-cta-block__main {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 768px){
  .in-page-cta-block__main {
    float: left;
    width:50%;
  }
  .in-page-cta-block__image {
    background-size: cover;
    float: left;
    height: 300px;
    width: 50%;
  }
}