:root {
  --cta-transition: all 0.3s ease;
  --button-max-width: 300px;
}

{% macro button() %}
  border-radius: 3px;
  display: inline-block;
  font-size: var(--natus-font-size);
  font-weight: var(--heavy-font-weight);
  line-height: var(--natus-line-height);
  padding: 0.6em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: var(--cta-transition);
  white-space: nowrap;
{% endmacro %}

.button {
  {{ button() }}
}

.hs-site-page .custom-btn {
  margin-top: 2em;
}

.button-primary,
.hs-button.primary {
  {{ button() }}
  background: var(--persimmon);
  border: solid 2px var(--persimmon);
  color: white;
}

.button-primary:hover,
.button-primary:active,
.button-primary:focus,
.hs-button.primary:hover,
.hs-button.primary:active,
.hs-button.primary:focus {
  background: var(--persimmon--dark);
  border: solid 2px var(--persimmon--dark);
  color: white;
  text-decoration: none;
}

.button-primary-alternate {
  {{ button() }}
  background: var(--midnight-blue);
  border: solid 2px var(--midnight-blue);
  color: white;
}

.button-primary-alternate:hover,
.button-primary-alternate:active,
.button-primary-alternate:focus {
  background: var(--midnight-blue--dark);
  border: solid 2px var(--midnight-blue--dark);
  color: white;
  text-decoration: none;
}


.button-secondary {
  {{ button() }}
  background: transparent;
  border: 1px solid var(--french-gray);
  color: var(--persimmon);
}

.button-secondary:hover,
.button-secondary:active,
.button-secondary:focus {
  background: var(--persimmon--dark);
  border: 1px solid var(--persimmon--dark);
  color: white;
  text-decoration: none;
}

.button-secondary-alternate {
  {{ button() }}
  background: white;
  border: 1px solid white;
  color: var(--persimmon);
}

.button-secondary-alternate:hover,
.button-secondary-alternate:active,
.button-secondary-alternate:focus {
  background: var(--persimmon--dark);
  border: 1px solid var(--persimmon--dark);
  color: white;
  text-decoration: none;
}

{% macro text_cta() %}
  display: inline-block;
  font-size: var(--natus-font-size);
  font-weight: var(--heavy-font-weight);
  line-height: var(--natus-line-height);
  margin: 0.5rem 0;
  text-decoration: none;
  transition: var(--cta-transition);
{% endmacro %}

.text-cta,
.text-cta-primary {
  {{ text_cta() }}
  color: var(--persimmon);
}

.text-cta-secondary {
  {{ text_cta() }}
  color: var(--woodsmoke);
}
.text-cta-secondary i {
  color: var(--persimmon);
}

.text-cta:hover,
.text-cta:active,
.text-cta:focus,
.text-cta-primary:hover,
.text-cta-primary:active,
.text-cta-primary:focus,
.text-cta-secondary:hover,
.text-cta-secondary:active,
.text-cta-secondary:focus {
  color: var(--persimmon--dark);
  text-decoration: underline;
}

.text-cta--right-arrow i {
  transform: translate(0.2em, 0.047em);
  transition: var(--cta-transition);
}
.text-cta--right-arrow:hover i {
  transform: translate(0.35em, 0.047em);
}
.text-cta--left-arrow i {
  transform: translate(-0.2em, 0.047em);
  transition: var(--cta-transition);
}
.text-cta--left-arrow:hover i {
  transform: translate(-0.35em, 0.047em);
}

.text-cta--down-arrow i {
  transform: translateY(0.1em);
  transition: transform .3s ease;
}
.text-cta--down-arrow:hover i{
  transform: translateY(0.3em);
}

.text-cta--plus i {
  transform: translate(0.2em, 0.047em) rotate(0deg);
  transition: var(--cta-transition);
}
.text-cta--plus:hover i {
  transform: translate(0.2em, 0.047em) rotate(90deg);
}

@media (prefers-reduced-motion) {
  .text-cta-primary i,
  .text-cta-secondary i {
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
  }
}