:root {
  --content-max-width: 1200px;
  --centered-content-max-width: 1140px;
  --content-inner-max-width: 1000px;
  --centered-content-lateral-spacing: 0.75rem;
  --dnd-vertical-spacing: 40px;
  box-sizing: border-box;
}

*, *::before, &::after {
  box-sizing: inherit;
}

.page-center {
  max-width: var(--centered-content-max-width);
  margin: 0 auto;
}