:root {
  --max-page-width: 1800px;
  --content-max-width: 1200px;
  --centered-content-max-width: 1140px;
  --content-inner-max-width: 1000px;
  --centered-content-lateral-spacing: 0.75rem;
  box-sizing: border-box;
}

*, *::before, &::after {
  box-sizing: inherit;
}

body {
  /* max-width: var(--max-page-width); */
  margin-left: auto;
  margin-right: auto;
}

.page-center {
  max-width: var(--centered-content-max-width);
  margin: 0 auto;
}