{% import '../utils/utils.css' as utils %}

:root {
  --content-max-width: 1200px;
  --centered-content-max-width: 1140px;
  --content-inner-max-width: 1000px;
  --centered-content-lateral-spacing: 0.75rem;
  --dnd-vertical-spacing: 40px;
  box-sizing: border-box;
  
  --space-0: 8px;
  --space-1: 12px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 48px;
  --space-6: 64px;
  --space-7: 96px;
  --space-8: 128px;
}

*, *::before, &::after {
  box-sizing: inherit;
}

.page-center {
  max-width: var(--content-max-width);
  margin: 0 auto;
}

/* Responsive spacing utility classes */

{% call utils.small() %}
  .lateral-spacing {
      padding-left: 20px;
      padding-right: 20px;
  }
{% endcall %}

{% call utils.medium() %}
  .lateral-spacing {
      padding-left: 25px;
      padding-right: 25px;
  }
{% endcall %}

{% call utils.large() %}
  .lateral-spacing {
      padding-left: 50px;
      padding-right: 50px;
  }
{% endcall %}

{% call utils.extra_large() %}
  .responsive-page-width {
      max-width: var(--content-max-width);
      margin-inline: auto;
  }
{% endcall %}