<!--
    templateType: page
    isAvailableForNewContent: false
-->
{% set avatar_image = resize_image_url(blog_author.avatar, 80, 80) %}

{% require_head %}
    <link rel="preload" href="{{ avatar_image }}" as="image" />
    <link rel="preload" href="{{ get_asset_url("../../css/partials/social-icons.css") }}" as="style" />
    <link rel="preload" href="{{ get_asset_url("../../css/partials/author-page.css") }}" as="style" />
{% end_require_head %}

{{ require_css(get_asset_url("../../css/partials/social-icons.css")) }}
{{ require_css(get_asset_url("../../css/partials/author-page.css")) }}

<div class="blog-author responsive-page-width lateral-spacing">
    <div class="blog-author__intro">
        {% if blog_author.avatar != NULL && 
        blog_author.avatar.src != "(unknown)" && 
        blog_author.avatar != "" 
        %}
            <img class="blog-author__img" 
                src="{{ avatar_image }}" 
                alt="{{ blog_author.display_name }}"
                width="80"
                height="80"
            />
        {% endif %}

        <h1 class="blog-author__title">{{ blog_author.display_name }}</h1>

        {% if blog_author.has_social_profiles %}
        <ul class="blog-social-icons__list">
            {% if blog_author.twitter %}
                <li>
                    <a class="blog-social-icons__icon" 
                    href="{{ blog_author.twitter }}" target="_blank" rel="noopener noreferrer"> 
                    <i class="lab la-twitter"></i> 
                    </a>
                </li>
            {% endif %}
            {% if blog_author.website %}
                <li>
                    <a class="blog-social-icons__icon" 
                    href="{{ blog_author.website }}" target="_blank" rel="noopener noreferrer"> 
                    <i class="las la-link"></i> 
                    </a>
                </li>
            {% endif %}
            {% if blog_author.facebook %}
                <li>
                    <a class="blog-social-icons__icon" 
                    href="{{ blog_author.facebook }}" target="_blank" rel="noopener noreferrer"> 
                    <i class="lab la-facebook-f"></i> 
                    </a>
                </li>
            {% endif %}
            {% if blog_author.linkedin %}
                <li>
                    <a class="blog-social-icons__icon" 
                    href="{{ blog_author.linkedin }}" target="_blank" rel="noopener noreferrer"> 
                    <i class="lab la-linkedin-in"></i> 
                    </a>
                </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
    <div class="blog-author__description">
        {{ blog_author.bio }}
    </div>
</div>

<div class="author-blog-listing">
    <div class="container responsive-page-width lateral-spacing">
        <h2 class="author-listing-title">{{ group.public_title }}</h2>
        <div class="masonry-grid">
            <div class="masonry-grid-sizer"></div>
            {% for content in contents %}
                <div class="masonry-grid-item">
                    <article class="author-blog__card">
                        {% if content.featured_image %}
                        <a href="{{ content.absolute_url }}">
                            <img class="card__img" 
                                src="{{ resize_image_url( content.featured_image, 528 ) }}" 
                                alt="{{ content.name }}"
                                loading="lazy"
                                width="528"
                                height="528"
                            />
                        </a>
                        {% endif %}
                        <div class="card__content">
                            <time class="card__date" datetime="{{ content.publish_date_localized }}">
                                Posted {{ content.publish_date_localized }}
                            </time>

                            <h3 class="card__title">
                                <a class="author-blog-listing__title-link" href="{{ content.absolute_url }}">
                                {{ content.name }}</a>
                            </h3>

                            {% if content.tag_list %}
                                <ul class="card__tags">
                                    {% for tag in content.tag_list %}
                                        <li>
                                            <a class="tags" 
                                                href="{{ blog_tag_url(group.id, tag.slug) }}"
                                            >
                                                {{ tag.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

