<!--
templateType: global_partial
label: Page Footer
-->
<footer class="footer footer_v2">
  <div class="hs-footer-bottom-container">
    <div class="page-center">
      <div class="cm-footer-latest-blog-group span3">
              <h6><span>Latest Blogs</span></h6>
              {% module "rss_listing" path="@hubspot/rss_listing", label="" show_date="false" title="" show_detail="false" attribution_text=""  max_links="5"%}
            </div>
      <div class="hs-footer-bottom-left">
        {% module_block module "footer_registration_text" path="@hubspot/text" label="Footer Registration" %}
        {% module_attribute "value" %}Company Registration No: 8712584{% end_module_attribute %}
        {% end_module_block %}
      </div>
      <div class="hs-footer-bottom-right">
        {% module_block module "footer_social" path="@hubspot/rich_text" label="Footer Social Icons" %}
        {% module_attribute "html" %}
        <ul>
          <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Youtube"> <a target="_blank" href="https://www.youtube.com/user/codurance" rel="noopener noreferrer"> <i class="fa fa-youtube-play"></i> </a> </li>
          <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"> <a target="_blank" href="https://www.linkedin.com/company/codurance" rel="noopener noreferrer"> <i class="fa fa-linkedin"></i> </a> </li>
          <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter" aria-describedby="tooltip499607"> <a target="_blank" href="https://twitter.com/codurance" rel="noopener noreferrer"> <i class="fa fa-twitter"></i> </a> </li>
          <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram"> <a target="_blank" href="https://www.instagram.com/codurance/" rel="noopener noreferrer"> <i class="fa fa-instagram"></i> </a> </li>
          <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Podcasts"> <a target="_blank" href="https://open.spotify.com/show/7DY9af7dP7GUREz4bTPGS4" rel="noopener noreferrer"> <i class="fa fa-podcast"></i> </a> </li>
          <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Feed"> <a target="_blank" href="/atom.xml"> <i class="fa fa-rss"></i> </a> </li>
        </ul>
        {% end_module_attribute %}
        {% end_module_block %}
      </div>
    </div>
  </div>
</footer>