<!--
templateType: global_partial
label: Global main menu
-->

{% set logo_file =  get_asset_url('../../images/logo.svg') %}

{% require_head %}
  <link rel="preload" href="{{ logo_file }}" as="image" />
{% end_require_head %}

<header class="header">
  <div class="header__wrapper">
    <div class="header__mobile-wrapper">
      <div class="custom-logo">
        {% module "header_logo" path="@hubspot/logo", label="Header Logo",link="/", img={src="{{logo_file}}", alt="Codurance", override_inherited_src= true} %}
      </div>
      <div class="mobile-trigger" aria-controls="website-navigation-menu" aria-expanded="true" aria-label="Toggle navigation" tabindex="0">
          <span></span>
      </div>
    </div>
    <div class="custom-menu-primary">
      {% module "navigation-primary" path="../../modules/menu-section", label="Primary Menu" %}
    </div>
    {% include "./utilities-menu.html" %}
  </div>
</header>


