<!--
    templateType: page
    isAvailableForNewContent: false
-->

{# The linked_image module is repeated and exported to the template context in order to preload the image #}
{% module 'linked_image',
    path="@hubspot/linked_image",
    img={
        "src": "https://3042464.fs1.hubspotusercontent-na1.net/hubfs/3042464/Insights%20Pages/Articles/Blog-header-insights.svg",
        "width": auto
    },
    label="Header Image", 
    export_to_template_context=True  
%}

{% require_head %}
    <link rel="preload" href="{{ widget_data.linked_image.img.src }}" as="image" />
    <link rel="preload" href="{{ get_asset_url("../../css/partials/header-insights.css") }}" as="style" />
{% end_require_head %}

{{ require_css(get_asset_url("../../css/partials/header-insights.css")) }}

<header class="header-insights" role="banner">
    <div class="header-insights__container">
        <div class="header-insights__text lateral-spacing">
            <p>{% module 'title' path='@hubspot/text' label="Header title", no_wrapper=True %}</p>
            <h1>{% module 'text' path='@hubspot/text' label="Header body", no_wrapper=True %}</h1>
        </div>
        <div class="header-insights__image">
            {% module 'linked_image',
                path="@hubspot/linked_image",
                img={
                    "src": "https://3042464.fs1.hubspotusercontent-na1.net/hubfs/3042464/Insights%20Pages/Articles/Blog-header-insights.svg",
                    "width": auto
                },
                no_wrapper=True        
            %}
        </div>
    </div>
</header>