{{ require_css(get_asset_url("../css/modules/videos-filter.css")) }}

{% set items = hubdb_table_rows("videos") %}

{% set topics = [] %}
{% set languages = [] %}

{% for item in items %}
    {% do topics.append(item.topic.name) %}
    {% do languages.append(item.language.name) %}
{% endfor %}

{% set topics = topics|unique %}
{% set languages = languages|unique %}

<div class="filters-wrapper responsive-page-width lateral-spacing">
    <form role='search' class="videos-search-bar">
        {# Hidden label for accessibility #}
        <label for='searchbar'>{{ module.placeholder_text}}</label>

        <input class="videos-search-bar__input" 
            id="searchbar"
            type="search" 
            placeholder="{{ module.placeholder_text}}" 
        />

        <button class="videos-search-bar__reset-button hidden" type="reset">
            <i class="reset-button__icon las la-times"></i>
        </button>
    </form>

    <div class="filter">
        <div class="mobile-filter-toggle">
            <button class="mobile-filter-toggle__button">
                Filter
                <i class="mobile-filter-toggle__icon las la-plus"></i>
            </button>
        </div>
        <div class="filter-dropdown-wrapper hidden">
            <div class="filter-dropdown-container">
                <button class="filter-dropdown-button" data-dropdown-button="topic">
                <i class="filter-icon las la-tag"></i>
                    Topics
                <i class="filter-dropdown-icon las la-angle-down" data-dropdown-icon="topic">
                </i>
                </button>
                <div class="filter-dropdown-options hidden" data-dropdown-options="topic">
                {% for topic in topics %}
                <button class="filter-dropdown-option" data-topic-option="{{topic}}">
                    {{topic}}
                    <i class="filter-dropdown-option-selected-icon las la-check hidden"
                    data-topic-option-selected="{{topic}}"></i>
                </button>
                {% endfor %}
                </div>
            </div>
            <div class="filter-dropdown-container">
                <button class="filter-dropdown-button" data-dropdown-button="language">
                <i class="filter-icon las la-language"></i>
                    Languages
                <i class="filter-dropdown-icon las la-angle-down" data-dropdown-icon="language">
                </i>
                </button>
                <div class="filter-dropdown-options hidden" data-dropdown-options="language">
                {% for language in languages|sort(False,False) %}
                <button class="filter-dropdown-option" data-language-option="{{language}}">
                    {{language}}
                    <i class="filter-dropdown-option-selected-icon las la-check hidden"
                    data-language-option-selected="{{language}}"></i>
                </button>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="applied-filters__container">
    {% for topic in topics %}
      <div class="applied-filters__pill hidden" data-applied-topic-filter="{{ topic }}">
        {{ topic }}
        <i class="applied-filters__remove-button las la-times" data-remove-topic-filter="{{ topic }}"></i>
      </div>
    {% endfor %}
    {% for language in languages %}
      <div class="applied-filters__pill hidden" data-applied-language-filter="{{ language }}">
        {{ language }}
        <i class="applied-filters__remove-button las la-times" data-remove-language-filter="{{ language }}"></i>
      </div>
    {% endfor %}
</div>

{# END SELECTOR FILTER MODULE #}