.filters {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

.filter {
    width: 20%;
}

.applied-filters {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
}

.applied-filter {
    background-color: rgba(251,114,104,0.8);;
    border-radius: 20px;
    color: white;
    margin: 20px;
    padding: 5px 10px;
    position: relative;
    padding-right: 20px;
}

.remove-filter {
    background: none;
    height: 15px;
    position: absolute;
    right: 8px;
    top: 5px;
    width: 15px;
}

.remove-filter:hover {
    cursor: pointer;
}

.remove-filter::after {
    color: white;
    content: 'x';
    margin-left: 9px;
}

.client-container {
    display: flex;
    align-items: center;
}

.client-logo {
    align-items: center;
    background-size: 120px;
    height: 70px;
    width: 120px;
}

.client-info {
    padding-left: 50px;
}