{{ require_css(get_asset_url("../../css/modules/how-does-it-work.css")) }}

<div class="custom-how-does-it-work">
  <div class="custom-col-lg-4 nopadding custom-hidden-md-down" style="background-image: url('{{ module.left_image.src }}'); background-size: cover;"></div>
  <div class="custom-col-lg-8 howworks-boxes-container">
    <div class="row">
      {% for item in module.how_does_it_work_items %}
      <div class="custom-col-lg-6 custom-mb-30 {% if loop.index == 1 %}custom-mt-10{% endif %} {% if loop.index == 2 %}custom-mt-10--lg{% endif %}">
        <div class="custom-bg-white custom-pa-20 h-90 howworks-box">
          <div class="media custom-mb-15">
            <div class="media-body">
              <h3 class="custom-how-does-it-work__title">{{ item.title }}</h3>
              <p class="custom-how-does-it-work__description">
                {{ item.content }}
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


