{{ require_css(get_asset_url("../../css/modules/course-cards.css")) }} 

<div class="course-card-group" >
{% for course in module.course_cards %}
	{% set avatar_image = resize_image_url(course.instructor.columns.image.url, 70) %}
	{% set is_featured_card = loop.index == 1 ? " featured-card" : null %}


		<article class="course-card{{is_featured_card}}">
			{% if course.image.src %}
				{% set sizeAttrs = 'width="{{ course.image.width }}" height="{{ course.image.height }}"' %}
				{% if course.image.size_type == 'auto' %}
					{% set sizeAttrs = 'width="{{ course.image.width }}" height="{{ course.image.height }}" style="max-width: 100%; height: auto;"' %}
				{% elif course.image.size_type == 'auto_custom_max' %}
					{% set sizeAttrs = 'width="{{ course.image.max_width }}" height="{{ course.image.max_height }}" style="max-width: 100%; height: auto;"' %}
				{% endif %}
				{% set loadingAttr = course.image.loading != 'disabled' ? 'loading="{{ course.image.loading }}"' : '' %}
				<img class="course-card__image" src="{{ course.image.src }}" alt="{{ course.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
			{% endif %}
			<div class="course-content">
				<h3>{{ course.title }}</h3>
				<div class="course-info__instructor">
					<img src="{{ avatar_image }}" alt="{{ course.instructor.columns.image.name }} profile picture" />
					<p>{{ course.instructor.columns.name }} | <span>{{ course.duration }}</span></p>
				</div>
				<p>{{ course.description }}</p>

				{% set href = course.button.link.url.href %}
				{% if course.button.text %}
					<a class="button-primary" href="{{ href }}"
						{% if course.button.link.open_in_new_tab %}target="_blank"{% endif %}
						{% if course.button.link.rel %}rel="{{ course.button.link.rel }}"{% endif %}
						>
						{{ course.button.text }}
					</a>
				{% endif %}
			</div>
		</article>
	{% endfor %}
</div>