<h2>{{ module.clients_headline }}</h2>
{% for item in module.logos_group %}
	{% if item.logo.src %}
		{% set sizeAttrs = 'width="{{ item.logo.width }}" height="{{ item.logo.height }}"' %}
		{% if item.logo.size_type == 'auto' %}
			{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
		{% elif item.logo.size_type == 'auto_custom_max' %}
			{% set sizeAttrs = 'width="{{ item.logo.max_width }}" height="{{ item.logo.max_height }}" style="max-width: 100%; height: auto;"' %}
		{% endif %}
		 {% set loadingAttr = item.logo.loading != 'disabled' ? 'loading="{{ item.logo.loading }}"' : '' %}
		<img src="{{ item.logo.src }}" alt="{{ item.logo.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
	{% endif %}
{% endfor %}

{% cta guid="{{ module.see_all_clients }}" %}
