{% import '../../snippets/button-snippets.html' as snippets %}

{{ require_css(get_asset_url("../../css/modules/clients-logos.css")) }}

<div class="client-logos__content">
	<div class="client-logos__headline">
		<h2>{{ module.clients_headline }}</h2>
	</div>
	<div class="client-logos__logos-group">
		{% for item in module.logos_group %}
			{% if item.logo.src %}
				 {% set loadingAttr = item.logo.loading != 'disabled' ? 'loading="{{ item.logo.loading }}"' : '' %}
				<img src="{{ item.logo.src }}" alt="{{ item.logo.alt }}" {{ loadingAttr }}">
			{% endif %}
		{% endfor %}
	</div>

	{% if module.button_type %}
		<div class="client-logo__button">
			{% if module.button_type == "std" %}
				{% set href = module.link_field.url.href %}
				{% if module.link_field.url.type is equalto "EMAIL_ADDRESS" %}
					{% set href = "mailto:" + href %}
				{% endif %}
		  
				{{
					snippets.button_secondary(
					url="{{ href }}{% if module.bookmark_id  %}#{{ module.bookmark_id }} {% endif %}",
					classnames="{{ module.module_setting.custom_class }}",
					target="{% if module.link_field.open_in_new_tab %}_blank{% endif %}",
					rel="{% if module.link_field.rel %}{{ module.link_field.rel }}{% endif %}",
					text=module.text_field
					)
				}}
		  
				{% elif module.button_type == "cta" %}
					{% cta guid="{{ module.clients_cta }}" %}
				{% endif %}
		</div>
	{% endif %}
</div>
