
{{ require_css(get_asset_url("../../css/modules/clickable-listing.css")) }}

<div class="listing__wrapper">
	<div class="listing__images" role="navigation">
			{% for item in module.items %}
				{% set active_video_class = "" %}

				{% if loop.index == 1 && module.dynamic_video %}
					{% set active_video_class = "listing__item--active" %}
				{% endif %}

				<a href="{{ item.url.href }}" class="listing__item {{ active_video_class }}">
					{% if item.image_field.src %}
						{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}		
					
						<img class="listing__img" src="{{ item.image_field.src }}" alt="{{ item.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
					{% endif %}
					<h4 class="listing__text">{{ item.image_title }}</h4>
				</a>
			{% endfor %}
	</div>
</div>

{% if module.dynamic_video %}
	{% set first_video_url = module.items[0].url.href %}

	<iframe 
		src="{{ first_video_url }}"
		allow="camera *; microphone *; autoplay *; encrypted-media *; fullscreen *; display-capture *;"
		width="100%"
		height="600px"
		class="dynamic-video"
	>
	</iframe>
{% endif %}







