
{{ require_css(get_asset_url("../../css/modules/clickable-listing.css")) }}


<div class="listing__images">
		{% for item in module.items %}
			{% if item.image_field.src %}
				{% set sizeAttrs = 'width="{{ item.image_field.width }}" height="{{ item.image_field.height }}"' %}
				{% if item.image_field.size_type == 'auto' %}
					{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
				{% elif item.image_field.size_type == 'auto_custom_max' %}
					{% set sizeAttrs = 'width="{{ item.image_field.max_width }}" height="{{ item.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
				{% endif %}
				{% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading }}"' : '' %}		
			<div class="listing__item">
				<img class="listing__img" src="{{ item.image_field.src }}" alt="{{ item.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
			{% endif %}
				<h4 class="listing__text">{{ item.image_title }}</h4>
        	{{ item.image_anchor_url.href }}
			</div>
		{% endfor %}

</div>







