<section class="custom-apply-now custom-bg-orange custom-color-white custom-pa-30">
  <div class="d-md-flex justify-content-md-center text-center">
    <div class="align-self-md-center">
      {{ module.content }}
    </div>
    <div class="align-self-md-center"> 
      {% if module.button.button_type == "std" %}
      {% set href = module.button.link_field.url.href %}
      {% if module.button.link_field.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
      {% endif %}
      <a class="{{ module.button.module_setting.custom_class }}" href="{{ href }}{% if module.button.bookmark_id  %}#{{ module.button.bookmark_id }} {% endif %}"
         {% if module.button.link_field.open_in_new_tab %}target="_blank"{% endif %}
         {% if module.button.link_field.no_follow %}rel="nofollow"{% endif %}
         >
        {{ module.button.text_field }}
      </a>
      {% elif module.button.button_type == "cta" %}
      {% cta guid="{{ module.button.cta_field }}" %}

      {% elif module.button.button_type == "lightbox" %}
      <a class="{{ module.button.module_setting.custom_class }}" data-modal-target="#{{ module.button.bookmark_id }} " href="#{{ module.button.bookmark_id }} ">
        <span>{{ module.button.text_field }}</span> 
      
      </a>
      {% endif %}
    </div>
  </div>
</section>
