{{ require_css(get_asset_url("../../css/modules/profile-of-a-craftsperson.css")) }}

<div class="custom-craftperson-slider">
  <div class="custom-craftperson-slider__inner">
    <div class="custom-craftperson-slider__text-half">
      <div class="custom-craftperson-slider__text-half-inner js-carousel" id="personaCarousel" data-infinite="true" data-nav-for="#carouselCus2" data-in-effect="fadeIn" data-out-effect="fadeOut" data-pagi-classes="u-carousel-indicators-v35--main custom-absolute-centered--x custom-bottom-20">

        {% for item in module.slider_items %}
          <div class="custom-craftperson-slider__text-card js-slide">
            <div class="custom-craftperson-slider__text-wrapper">
              {{ item.content }}
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
    <div class="custom-craftperson-slider__image-half">
      <div id="carouselCus2" class="js-carousel custom-pos-rel" data-infinite="true" data-nav-for="#personaCarousel" data-arrows-classes="u-arrow-v1 custom-absolute-centered--y custom-width-40 custom-height-40 custom-color-white custom-color-primary--hover custom-font-size-40" data-arrow-left-classes="fa fa-angle-left custom-left-40" data-arrow-right-classes="fa fa-angle-right custom-right-40">
        {% for item in module.slider_items %}
        <div class="custom-craftperson-slider__image-card js-slide custom-bg-size-cover custom-bg-pos-top-center" data-bg-img-src="{{ item.image_field.src }}">
          <div class="custom-craftperson-slider__image bg-slide " style="background-image:url('{{ item.image_field.src }}')">

          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

