.newsletter-inline-form__container {
    width: 100%;
}

.newsletter-inline-form__heading {
 font-size: 1.87rem;
 font-weight: 700;
}

.newsletter-inline-form__container p {
    font-size: 1.4rem;
}

.hs_email {
    width: 86%;
}

.newsletter-inline-form__container input {
    width: 100%;
}

.hs_submit {
    width: 14%;
}