{# Need help setting up site search?
   Start here: https://knowledge.hubspot.com/articles/kcs_article/cos-general/how-do-i-set-up-a-results-page-for-my-search-field-in-hubspot #}

<div class="hs-search-field"> 
    <div class="hs-search-field__bar"> 
      <form action="/{{ site_settings.content_search_results_page_path }}">
        {% if module.field_label %}
          <label for="term">{{ module.field_label }}</label>
        {% endif %}
        <input type="text" class="hs-search-field__input" name="term" autocomplete="off" aria-label="{{ module.field_label || "Search" }}" placeholder="{{ module.placeholder }}">
        
        {% if module.content_types.website_pages %}
          <input type="hidden" name="type" value="SITE_PAGE">
        {% endif %}
        {% if module.content_types.landing_pages %}
          <input type="hidden" name="type" value="LANDING_PAGE">
        {% endif %}
        {% if module.content_types.blog_posts %}
          <input type="hidden" name="type" value="BLOG_POST">
          <input type="hidden" name="type" value="LISTING_PAGE">
        {% endif %}
        {% if module.content_types.knowledge_articles %}
          <input type="hidden" name="type" value="KNOWLEDGE_ARTICLE">
        {% endif %}

        {% if module.include_search_button %}
          <button aria-label="Search">{% icon name="search" style="solid" %}</button>
        {% endif %}
      </form>
    </div>
    <ul class="hs-search-field__suggestions"></ul>
</div>