
{% import '../utils/utils.css' as utils %}

.hs-search-field {
  {{ utils.card_shadow_large() }}
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 2em;
}

.hs-search-field__input {
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  padding-left: .8em;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.3rem;
  border: 0;
  color: var(--shark);
  font-weight: var(--middle-font-weight);
}

.hs-search-field__input::placeholder {
  color: var(--french-gray);
}

.hs-search-field__bar button svg {
  height: 10px;
}

.hs-search-field__suggestions {
  margin: 0;
  list-style: none;
}

.hs-search-field--open .hs-search-field__suggestions {
  background-color: #fff;
  border: 1px solid var(--mid-gray);
  border-radius: 0 0 10px 10px;
  padding: .5em;
}

.hs-search-field__suggestions li {
  display: block;
  margin: 0;
  padding: 0;
}

.hs-search-field__suggestions #results-for {
  font-weight: bold;
}

.hs-search-field__suggestions a,
.hs-search-field__suggestions #results-for {
  display: block;
  line-height: 1.2;
  margin-bottom: .5em;
}
