{{ require_css(get_asset_url("../css/partials/clients-page-cards.css")) }}

{% macro tags_footer(client) %}
    {% set tags = [client.industry.name] %}
    {% for problem in client.problems %}
        {% do tags.append(problem.name) %}
    {% endfor %}

    {% set tech_stack = [] %}
    {% for tech in client.technology_stack %}
        {% do tech_stack.append(tech.name) %}
    {% endfor %}

    <div class="client-card__tags-wrapper">
        <p>
            <i class="client-card__tags-icon las la-tag">
            </i><small>
                {{tags|join(' | ')}}
            </small>
        </p>

        {% if tech_stack|length > 0 %}
            <p>
                <i class="client-card__tags-icon las la-code">
                </i><small>
                    {{tech_stack|join(' | ')}}
                </small>
            </p>
        {% endif %}        

        <div class="client-card__footer-icons">
            {% for service in client.services %}
                <img class="client-card__service-icon" height="20"
                    src="https://f.hubspotusercontent10.net/hubfs/3042464/Services%20Logos/icon-{{service.name|lower|split(' ')|join('-')}}.svg"
                />
            {% endfor %}    
        </div>

        {% if client.partners|length > 0 %}
            <h3 class="client-card__partners-heading">Partners</h3>
            <div class="client-card__footer-icons">
                {% for partner in client.partners %}
                    <img class="client-card__partner-icon"
                        src="https://f.hubspotusercontent10.net/hubfs/3042464/CMS%20Sandbox/Partner%20Logos/{{partner.name|lower|split(' ')|join('')}}.png"
                    />
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro testimonial_card(client, classnames) %}

    {% set problems = [] %}
    {% for problem in client.problems %}
        {% do problems.append(problem.name) %}
    {% endfor %}

    {% set services = [] %}
    {% for service in client.services %}
        {% do services.append(service.name) %}
    {% endfor %}
    
    <div class="{{classnames}}"
        data-client-industry="{{client.industry.name}}" data-client-problem="{{problems|join(',')}}"
        data-client-service="{{services|join(',')}}">
        <article class="clients__testimonial-card">
            <div class="clients__testimonial-inner">
                <div class="client-card__display-image client-card__display-image--testimonial" style="background-image: url({{client.testimonial_display_image.url}})"></div>
                <div class="client-card__content-container">
                    <i class="las la-quote-left client-card__testimonial-quotation-icon"></i>
                    <p class="client-card__testimonial-text">{{client.testimonial_text}}</p>
                    <div class="client-card__testimonial-author">
                        {% if client.testimonial_author_image %}
                            <div class="client-card__testimonial-author-image"
                                style="background-image: url({{client.testimonial_author_image.url}})">
                            </div>
                        {% endif %}

                        <div>
                            <p class="client-card__testimonial-author-name">
                            {{client.testimonial_author_name}}
                            </p>
                            <p class="client-card__testimonial-author-role">
                            {{client.testimonial_author_role}} at {{client.name}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="clients__testimonial-footer">
                <img class="client-card__logo" height="25" src="{{client.logo.url}}" />  
            </footer>
        </article>
    </div>
{% endmacro %}

{% macro case_study_card(client, classnames) %}
    {% set problems = [] %}
    {% for problem in client.problems %}
        {% do problems.append(problem.name) %}
    {% endfor %}

    {% set services = [] %}
    {% for service in client.services %}
        {% do services.append(service.name) %}
    {% endfor %}

    <div class="{{classnames}}"
        data-client-industry="{{client.industry.name}}" data-client-problem="{{problems|join(',')}}"
        data-client-service="{{services|join(',')}}">
        <article class="clients__case-study-card">
            {% if client.case_study_display_image_large %}
                <div class="client-card__display-image client-card__display-image--case-study" style="background-image: url({{client.case_study_display_image_large.url}})"></div>
            {% endif %}
            <div class="client-card__content-container">
                <img class="client-card__logo" height="25" src="{{client.logo.url}}" />
                <p class="client-card__case-study-description">{{client.description}}</p>
                {% if client.case_study %}
                    <a class="button-primary"
                        href="{{client.case_study}}">
                        Download Case Study
                    </a>
                {% endif %}
                {{ tags_footer(client) }}

            </div>
        </article>
    </div>
{% endmacro %}

{% macro promotional_card(client, classnames) %}
    {% set problems = [] %}
    {% for problem in client.problems %}
        {% do problems.append(problem.name) %}
    {% endfor %}

    {% set services = [] %}
    {% for service in client.services %}
        {% do services.append(service.name) %}
    {% endfor %}

    <div class="{{classnames}}"
        data-client-industry="{{client.industry.name}}" data-client-problem="{{problems|join(',')}}"
        data-client-service="{{services|join(',')}}">
        <article class="clients__promotional-card">
            <div class="client-card__display-image client-card__display-image--promotion" style="background-image: url({{client.case_study_display_image_large.url}})"></div>
            <div class="client-card__content-container">
                <h2 class="client-card__promotion-heading" style="background-image: url({{client.case_study_display_image_small.url}})">
                    {{client.promotion}}
                </h2>
                <p class="client-card__case-study-description client-card__case-study-description--promotion">Find out how we helped {{client.name}}</p>
                <a class="button-primary"
                    href="{{client.case_study}}">
                    Download Case Study
                </a>
                {{ tags_footer(client) }}
            </div>
        </article>
    </div>
{% endmacro %}

{% macro video_card(client, classnames) %}
    {% set problems = [] %}
    {% for problem in client.problems %}
        {% do problems.append(problem.name) %}
    {% endfor %}

    {% set services = [] %}
    {% for service in client.services %}
        {% do services.append(service.name) %}
    {% endfor %}

    <div class="{{classnames}}"
        data-client-industry="{{client.industry.name}}" data-client-problem="{{problems|join(',')}}"
        data-client-service="{{services|join(',')}}">
        <article class="clients__video-card">
            <div class="client-card__video-cover-container client-card__content-container"
                style="background-image: url({{client.video_cover_image.url}})" data-video-cover-container="{{loop.index}}">
                <h2 class="client-card__video-text">{{client.video_text}}</h2>
                <button class="client-card__video-play-button"
                    data-video-play-button="{{loop.index}}">
                    <i class="client-card__video-play-icon las la-play"></i>
                </button>
            </div>
            <iframe data-video-iframe="{{loop.index}}" width="2000" height="400" src="{{client.video}}" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </article>
    </div>
{% endmacro %}