{% import "../../snippets/button-snippets.html" as snippets %}
{% import '../../css/utils/utils.css' as utils %}

{% require_head %}
  <link rel="preload" href="{{ get_asset_url("../../css/modules/our-people-listing.css") }}" as="style" />
{% end_require_head %}

{{ require_css(get_asset_url("../../css/modules/our-people-listing.css")) }}

<div class="custom-our-people">
  {% if module.filter_label %}
    <label class="custom-our-people__filter" for="leadership_filter">
      {{ module.filter_label }}
      <input type="checkbox" id="leadership_filter" value="leadership_checkbox" class="custom-our-people__checkbox">
      <span class="custom-our-people__toggle"></span>
    </label>
  {% endif %}

  {% require_css %}
    <style>
    {% scope_css %}
      {% call utils.large_and_extra_large() %}
        .custom-our-people__card-container {
          --our-people-columns: {{ module.settings.max_cards_per_row }};
          max-width: calc(var(--our-people-columns) * 25%));
        }
      {% endcall %}
    {% end_scope_css %}
    </style>
  {% end_require_css %}

  <a id="theteam" target="_blank" rel="noopener noreferrer"></a>
  <div class="custom-our-people__card-container">
    {% set table_info = hubdb_table_rows( module.hubdbtable_field ) %}

    {% if module.list_select_method == "specific_rows" %}
      {% set rows_info = [] %}
      {% for row in module.hubdb_rows %}
        {% do rows_info.append(row.columns) %}
      {% endfor %}

      {% set table_info = rows_info %}
    {% endif %}

    {% for row in table_info %}
      <article class="custom-our-people__card  {% if row.leadership_board %}leadership{% endif %}">
        <div class="custom-our-people__card-inner" data-modal-target="#team-{{ loop.index }}">
          {% if row.image.url %}
            <img class="custom-our-people__profile-image" 
              srcset="
                {{ resize_image_url(row.image.url, 180) }} 180w,
                {{ resize_image_url(row.image.url, 300) }} 300w"
              sizes="
                (max-width: 425px) 180px,
                300px"
              width="300" height="300" loading="lazy" 
              alt="{{ row.name }}" >
          {% endif %}
          <div class="custom-our-people__info">
            {% if row.name %}
              <span class="custom-our-people__name">{{ row.name }}</span>
            {% endif %}
            {% if row.designation %}
              <span class="custom-our-people__role">{{ row.designation }}</span>
            {% endif %}
            {{snippets.text_cta_plus(
              text='{{ module.settings.button_text }}',
              url="#team-{{ loop.index }}",
              rel="gallery3",
              classnames="custom-our-people__learn-more"
            )}}
          </div>
        </div>
      </article>

      <div class="custom-our-people__modal custom-our-people-modal" data-id="{{ row.name }}" id="team-{{ loop.index }}" style="display: none;">
        <button class="custom-our-people-modal__close-button" type="button" onclick="Custombox.modal.close();">
          <i class="las la-times"></i>
        </button>
        <div class="custom-our-people-modal__inner">

          {% if row.image.url %}
            <div class="custom-our-people-modal__left-column">
              <figure class="custom-our-people-modal__image-container">
                <img class="custom-our-people-modal__image" srcset="
                {{ resize_image_url(row.image.url, 180) }} 180w,
                {{ resize_image_url(row.image.url, 300) }} 300w"
              sizes="
                (max-width: 425px) 180px,
                300px" loading="lazy" alt="{{ row.name }}">
              </figure>
            </div>
          {% endif %}

          <div class="custom-our-people-modal__right-column">
            <div class="custom-our-people-modal__intro-info">
              {% if row.name %}
                <h2 class="custom-our-people-modal__name">{{ row.name }}</h2>
              {% endif %}
              {% if row.designation %}
                <h6 class="custom-our-people-modal__job-title">
                  {{ row.designation }}
                </h6>
              {% endif %}
              {% if row.github_link or row.twitter_link or row.linkedin_link %}
                <ul class="custom-our-people-modal__social-list">
                  {% if row.github_link %}
                  <li class="custom-our-people-modal__social-item">
                    <a class="custom-our-people-modal__social-link" href="{{ row.github_link }}" target="_blank" rel="noopener noreferrer">
                      <i class="custom-our-people-modal__social-icon  lab la-github"></i>
                      <i class="custom-our-people-modal__social-icon  lab la-github"></i>
                    </a>
                  </li>
                  {% endif %}
                  {% if  row.twitter_link %}
                  <li class="custom-our-people-modal__social-item">
                    <a class="custom-our-people-modal__social-link" href="{{ row.twitter_link }}" target="_blank" rel="noopener noreferrer">
                    <img class="custom-our-people-modal__social-icon twitter-x-logo" 
                    src="https://3042464.fs1.hubspotusercontent-na1.net/hubfs/3042464/Logos/Social%20icons_logo_X_shark.svg" alt="Twitter X logo" loading="lazy" />

                    <img class="custom-our-people-modal__social-icon twitter-x-logo" 
                    src="https://3042464.fs1.hubspotusercontent-na1.net/hubfs/3042464/Logos/Social%20icons_logo_X_shark.svg" alt="Twitter X logo" loading="lazy" />

                    </a>
                  </li>
                  {% endif %}
                  {% if  row.linkedin_link %}
                  <li class="custom-our-people-modal__social-item">
                    <a class="custom-our-people-modal__social-link" href="{{ row.linkedin_link }}" target="_blank" rel="noopener noreferrer">
                      <i class="custom-our-people-modal__social-icon  lab la-linkedin-in"></i>
                      <i class="custom-our-people-modal__social-icon  lab la-linkedin-in"></i>
                    </a>
                  </li>
                  {% endif %}
                </ul>
              {% endif %}
            </div>

            <hr class="custom-our-people-modal__rule">
            <div class="custom-our-people-modal__body-copy">
              {{ row.content }}
            </div>

          </div>
        </div>
      </div>

    {% endfor %}
  </div>
</div>