{% import '../../snippets/button-snippets.html' as snippets%}

<div class="custom-btn">

  {% if module.button_type == "std" %}
    {% set href = module.link_field.url.href %}
    {% if module.link_field.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
    {% endif %}

    {{
      snippets.button_primary(
      url="{{ href }}{% if module.bookmark_id  %}#{{ module.bookmark_id }} {% endif %}",
      text=module.text_field
      )
    }}

  {% elif module.button_type == "cta" %}
    {% cta guid="{{ module.cta_field }}" %}
  {% endif %}

</div>