{{ require_css(get_asset_url("../../css/modules/accordion.css")) }}

<div class="accordion">
  <div class="container">
    <div class="panel-group" id="accordion-section">
      {% for item in module.accordion_item %}
        <div class="panel panel--close">
          <a class="panel-title">
            <div class="panel-title__heading">{{ item.accordion_title }}</div>
          </a>
          {% if item.accordion_content %}
            <div class="panel-body" role="tabpanel">
              <div class="frame frame-default frame-type-text frame-layout-0">
                {{ item.accordion_content }}
              </div>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

