{# CSS included in meta.json to make the module usable in dnd_section #}

{% for item in module.listing %}
    <div class="service-line">
        {% if item.image.src %}
            {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
        
            <img 
                class="service-line__image" 
                src="{{ item.image.src }}" 
                alt="{{ item.image.alt }}" 
                loading="lazy" 
                {{ sizeAttrs }}
            >
        {% endif %}

        <div class="service-line__text">
            <div class="service-line__title">
                <h2>{{ item.title }}</h2>
                <hr>
            </div>

            <p class="service-line__description">
                {{ item.description }}
            </p>

            {% if item.read_more_text %}
                <details class="service-line__read-more">
                    <summary class="service-line__read-more-title">{{ item.read_more_button_text }}</summary>
                    {{ item.read_more_text }}
                    <button class="service-line__read-more-close-button">{{ item.read_more_button_text }}</button>
                </details>
            {% endif %}
        </div>
    </div>
{% endfor %}