{# CSS included in meta.json to make the module usable in dnd_section #}

{% for item in module.listing %}
    <div class="service-line">
        {% if item.image.src %}
            {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
        
            <img 
                class="service-line__image" 
                src="{{ item.image.src }}" 
                alt="{{ item.image.alt }}" 
                loading="lazy" 
                {{ sizeAttrs }}
            >
        {% endif %}

        <div class="service-line__text">
            <div class="service-line__title">
                <h2>{{ item.title }}</h2>
                <hr>
            </div>

            <p class="service-line__description {% if item.read_more.text %}service-line__description--read-more{% endif %}">
                {{ item.description }}
            </p>

            {% if item.read_more.text %}
                <details class="service-line__read-more">
                    <summary class="service-line__read-more-open-button">{{ item.read_more.button_text }}</summary>
                    <span class="service-line__read-more-text">{{ item.read_more.text }}</span>
                    <button aria-label="Button to collapse Read More text" class="service-line__read-more-close-button">
                        {{ item.read_more.button_text }}
                    </button>
                </details>
            {% endif %}
        </div>
    </div>
{% endfor %}