.cm-advanced-banner-hero__inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}
.cta--primary-coral {
  font-family: proxima-nova;
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  border-radius: 3px;
  transition: all 0.3s ease;
  background-color: #fb7268;
  color: #ffffff;
}
.cta--primary-coral:hover, .cta--primary-coral:focus {
  background-color: #fb8e86;
  text-decoration: none;
  color: #ffffff;
}
.cm-advanced-banner-hero__title {
  font-size: 15px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-family: proxima-nova;
  font-weight: 700;
  align-items: center;
  display: flex;
  margin-bottom: 25px;
}
.cm-advanced-banner-hero__title svg {
  width: 35px;
  margin-right: 15px;
}

@media (min-width: 768px){
  .cta--primary-coral {
    display: inline-block;
    padding: 10px 25px;
  }
}

@media (min-width: 1024px){
  .cm-advanced-banner-hero {
    min-height: 600px;
    padding-top: 50px;
    position: relative;
  }
  .cm-advanced-banner-hero__inner {
    padding-left: 50px;
    padding-right: 50px;
  }
  .cm-advanced-banner-hero__content-container {
    max-width: 600px;
    padding-top: 50px;
    width: 50%;
  }
  .cm-advanced-banner-hero__small-background-wrapper {
    background-size: 0;
  }
  .cm-advanced-banner-hero__title svg{
    fill: #555555;
  }
  .cm-advanced-banner-hero__image-container {
    background-color: #cf5b66;
    background-size: cover;
    bottom: -50px;
    left: calc(50% + 100px);
    position: absolute;
    top: 50px;
    z-index: 1;
  }
}


@media (min-width: 1300px){
  .cm-advanced-banner-hero__image-container {
    right: 50px;
  }
  .cm-advanced-banner-hero__description {
    font-size: 21px;
    line-height: 33px;
    margin-bottom: 35px;
  }
  .cm-advanced-banner-hero {
    margin-left: auto;
    margin-right: auto;
    max-width: 1800px;
  }
  .cm-advanced-banner-hero__sub-title {
    font-family: proxima-nova;
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
  }
  .cm-advanced-banner-hero__content-container {
    padding-bottom: 70px;
  }
}


@media (max-width: 1299px){
  .cm-advanced-banner-hero__sub-title{
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    margin:0;
  }
  .cm-advanced-banner-hero__description{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
  }
  .cm-advanced-banner-hero__image-container{
    right: 0;
    background-color: #cf5b66;
    background-size: cover;
    bottom: -50px;
    left: calc(50% + 100px);
    position: absolute;
    top: 50px;
    z-index: 1;
  }
  .cm-advanced-banner-hero__content-container {
    margin-top: 0;
    padding-bottom: 50px;
    max-width: 600px;
    padding-top: 29px;
    padding-bottom: 0;
  }
}

@media (max-width: 1023px){
  .cm-advanced-banner-hero__small-background-wrapper{
    margin-left: -100px;
    margin-right: -100px;
    padding-left: 100px;
    padding-right: 100px;
    background-position: center;
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .cm-advanced-banner-hero svg{
    fill: #ffffff;
  }
  .cm-advanced-banner-hero__title, .cm-advanced-banner-hero__sub-title {
    color: white;
  }
  .cm-advanced-banner-hero__content-container {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 100%;
    padding-top: 0;
  }
  .cm-advanced-banner-hero__image-container{
    display:none;
  }
  .cm-advanced-banner-hero {
    padding-bottom: 100px;
  }
  .cm-advanced-banner-hero__description{
    margin-top: 50px;
  }
}


@media (max-width: 767px){
  .cm-advanced-banner-hero__small-background-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    margin-right: -20px;
    padding-top:51px;
  }
  .cm-advanced-banner {
    padding-bottom: 50px;
  }
  .cta--primary-coral {
    display: block;
    padding: 10px;
  }
  .cm-advanced-banner-hero__content-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
    padding-top: 0;
  }
  .cm-advanced-banner-hero__sub-title{
    font-weight: 700;
    font-size: 21px;
    line-height: 33px;
  }
  .cm-advanced-banner-hero {
    padding-bottom: 50px;
  }
}
