.cm-training-card-group {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
}
.cm-training-card__primary-content {
  background-color: #2b3342;
  padding-left: 25px;
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 80%;
}
.cm-training-card:not(.cm-training-card--featured) .cm-training-card__primary-content {
  padding-bottom: 16px;
  padding-top: 25px;
}
.cm-training-card {
  display: flex;
  flex-direction: column;
}
.cm-training-card__secondary-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 20px 25px 40px;
}
.cm-training-card__course-length {
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-family: proxima-nova;
  font-weight: 700;
  color: white;
}
.cm-training-card:not(.cm-training-card--featured) .cm-training-card__course-length {
  margin-bottom: 10px;
}
.cm-training-card__title {
  color: white;
}
.cm-training-card__description {
  margin: 0 0 50px;
  font-size: 18px;
  line-height: 28px;
}
.cm-training-card__tag {
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-family: proxima-nova;
  font-weight: 700;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
}
.cm-training-card--featured .cm-training-card__title {
  font-family: proxima-nova;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
}
.cm-training-card__avatar {
  width: 40px;
  margin-right: 15px;
}
.cm-training-card--featured .cm-training-card__primary-content {
  padding-bottom: 20px;
  padding-top: 20px;
}
.cm-training-card--featured .cm-training-card__course-length {
  margin-left: 15px;
  padding-left: 15px;
  position: relative;
}
.cm-training-card__course-length {
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-family: proxima-nova;
  font-weight: 700;
  color: white;
}
.cm-training-card--featured .cm-training-card__course-length::before {
  border-left: 1px solid #b7b7b7;
  content: "";
  height: 25px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.cm-training-card-group.mobile-slider{
  display:none;
}

@media (min-width: 768px){
  .cm-training-card__secondary-content {
    align-items: flex-start;
  }
  .cm-training-card-group {
    justify-content: space-between;
  }
}

@media (min-width: 1024px){
  .cm-training-card:not(.cm-training-card--featured) .cm-training-card__title {
    font-family: proxima-nova;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
  }
}

@media (min-width: 1300px){
  .cm-training-card-group .cm-training-card {
    margin-bottom: 30px;
    width: calc( (100% / 3) - 25px / 2 );
  }
}


@media (max-width: 1299px) and (min-width: 768px){
  .cm-training-card-group .cm-training-card {
    margin-bottom: 30px;
    width: calc( (100% / 2) - 25px / 2 );
  }
}

@media (max-width: 767px){
  .cm-training-card-group.desktop .cm-training-card {
    display: none;
  }
  .cm-training-card-group.desktop .cm-training-card.cm-training-card--featured {
    display: flex;
  }
  .cm-training-card-group.mobile-slider{
    display:flex;
  }
  .cm-training-card-group.mobile-slider .cm-training-card {
    padding-left:15px;
  }
  .cm-training-card-group.mobile-slider .cm-training-inner-card {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0,0,0,0.16) 0 0 8px;
    width: 100%;
    margin-left:0;
  }
  .cm-training-card__title{
    font-weight: 700;
    font-size: 21px;
    line-height: 33px;
  }
  .cm-training-card-group.mobile-slider button.slick-prev.slick-arrow,
  .cm-training-card-group.mobile-slider button.slick-next.slick-arrow {
    display: none !important;
  }
  .cm-training-card-group.mobile-slider ul.slick-dots li button {
    display: none;
  }
  .cm-training-card-group.mobile-slider ul.slick-dots li {
    background-color: #b7b7b7;
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    margin: 0 7.5px;
    margin-left: 15px;
    width: 15px;
    cursor: pointer;
  }
  .cm-training-card-group.mobile-slider  ul.slick-dots li.slick-active {
    background-color: #404040;
  }
  .cm-training-card-group.desktop {
    margin-bottom: 45px;
  }
  /* Fixing card height */
  .cm-training-card-group.mobile-slider .cm-training-inner-card {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0,0,0,0.16) 0 0 8px;
    width: 100%;
    margin-left: 0;
    height: calc(75vh - 75px);
  }
}

