.cm-partners-logos-item {
  width: 20%;
  padding: 5px 40px;
  margin: auto;
  display: inline-block;
}
.cm-partners-logos-inner-group {
  text-align: center;
}
.cm-partners-logo-group {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.cm-partners-logo-group > h2 {
  text-align: center;
  color: #333;
  font-size: 2.25em;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 20px;
  font-weight: 800;
  font-style: normal;
  margin-bottom: 25px;
}

@media (max-width: 1224px){
  .cm-partners-logos-item{
    padding: 30px 20px;
  }
  .cm-partners-logos-inner-group {
    text-align: center;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .cm-partners-logos-item img {
    width: 100%;
  }
}

@media (max-width: 1200px){
  .cm-partners-logos-inner-group {
    max-width: 930px;
  }
}

@media (max-width: 992px){
  .cm-partners-logos-inner-group {
    max-width: 720px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px){
  .cm-partners-logos-item img {
    width: auto;
  }
  .cm-partners-logo-group > h2 {
    font-size: 1.75em;
  }
  .cm-partners-logos-item {
    width: 35%;
  }
}

