{% import '../utils/utils.css' as utils %}

.blog-author {
  margin-top: var(--space-5);
}

.blog-author__title {
  font-weight: var(--middle-font-weight);
}

.blog-author__intro {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 1em;
}

.blog-author__img {
  border-radius: 50%;
  float: left;
  height: auto;
  max-width: 100%;
  width: 4rem;
}

.blog-author__description {
  overflow: hidden;
}

.blog-author__description h4 {
  float: left;
  font-size: 18px;
  margin: 0 0 10px;
  text-transform: uppercase;
  color: var(--mid-gray);
}

.blog-author__description p {
  color: var(--mid-gray);
}

{% call utils.small() %}
  .blog-author__description {
      margin: 10px 0 10px;
  }
{% endcall %}

.author-listing-title {
  {{ utils.freed() }}
}

.author-blog-listing {
  margin-top: var(--space-5);
  padding-top: var(--space-5);
  padding-bottom: var(--space-5);
}

.masonry-grid {
  margin-top: var(--space-3);
}

.author-blog__card {
  display: flex;
  flex-direction: column;
  {{ utils.card_shadow() }}
  {{ utils.card_border_radius() }}
}

.card__img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  {{ utils.card_border_radius_top() }}
}

.card__content {
    background-color: white;
    padding: var(--space-3);
    {{ utils.card_border_radius_bottom() }}
}

.card__date {
  {{ utils.natus() }}
  color: var(--mid-gray);

}

.card__title {
  margin-top: var(--space-2);
}

.card__tags li {
  display: inline-block;
}

