{% import '../utils/utils.css' as utils %}

.custom-blog-listing__post {
  {{ utils.card_shadow() }}
  transition: var(--cta-transition);
  display: flex;
}

.custom-blog-listing__post:not(.custom-blog-listing__post--featured) {
  flex-direction: column;
}

.custom-blog-listing__post--featured {
  flex-direction: row;
}

{% call utils.small() %}
  .custom-blog-listing__post--featured {
    flex-direction: column-reverse;
  }
{% endcall %}

.custom-blog-listing__post:hover {
  {{ utils.card_shadow_large() }}
  transform: translateY(-0.3rem);
}

.custom-blog-listing__post-title {
  {{ utils.base() }}
  margin-bottom: var(--base-margin);
  font-weight: var(--heavy-font-weight);
}

.custom-blog-listing__title-link {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.custom-blog-listing__title-link:hover {
  color: var(--persimmon);
}

.custom-blog-listing__post-description {
  {{ utils.natus() }}
}