{% import '../utils/utils.css' as utils %}

{% set card_shadow = "0px 0px 10px var(--woodsmoke--10)" %}

.clients__testimonial-card {
    display: flex;
    flex-direction: column;
}

.clients__testimonial-inner {
    background-color: white;
    box-shadow: {{ card_shadow }};
    display: flex;
}

.client-card__content-container {
    padding: 1.5rem;
    position: relative;
}

.client-card__testimonial-text {
    margin-bottom: var(--base-margin);
}

.client-card__testimonial-author {
    display: flex;
    align-items: center;
}

.client-card__testimonial-author-name {
    font-size: var(--natus-font-size);
    font-weight: var(--heavy-font-weight);
    line-height: var(--natus-line-height);
}

.client-card__testimonial-author-role {
    {{ utils.natus() }}
}

.client-card__testimonial-author-image {
    background-image: url(https://f.hubspotusercontent00.net/hubfs/8685554/ewan_sheldon.jpg);
    height: 3rem;
    width: 3rem;
    background-size: 3rem;
    border-radius: 3rem;
    margin-right: 1rem;
}

.clients__testimonial-footer {
    display: flex;
    padding-bottom: 1rem;
    padding-top: 1.5rem;
    position: relative;
}
.clients__testimonial-footer::before {
    background-color: white;
    box-shadow: 5px 5px 10px -3px var(--woodsmoke--10);
    content: '';
    height: 1rem;
    left: 50%;
    position: absolute;
    top: -0.5rem;
    transform: translateX(-50%) rotate(45deg);
    width: 1rem;
}

.client-card__logo {
    height: 25px;
    width: auto;
}

.client-card__partner-logo {
    height: 15px;
    width: auto;
}

.clients__case-study-card {
    background-color: white;
    box-shadow: {{ card_shadow }};
    display: flex;
}

.client-card__case-study-description {
    {{ utils.natus() }}
    margin-bottom: var(--base-margin);
    margin-top: var(--base-margin);
}

.client-card__tags-wrapper {
    color: var(--mid-gray);
    margin-top: var(--base-margin);
}

.client-card__tags-wrapper p {
    display: flex;
}

.client-card__tags-wrapper small {
    {{ utils.sejima() }}
    margin-bottom: var(--sejima-margin);
}

.client-card__tags-icon {
    margin-right: 0.5rem;
}

.client-card__footer-icons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem -0.5rem 0;
}

.client-card__service-icon {
    height: 1rem;
    margin: 0.5rem;
    width: auto;
}

.client-card__partner-icon {
    height: 1.5rem;
    margin: 0 0.5rem 0.5rem;
    width: auto;
}

.clients__promotional-card {
    background-color: white;
    box-shadow: {{ card_shadow }};
    display: flex;
}

.client-card__promotion-heading {
    {{ utils.eames() }}
}

.client-card__partners-heading {
    {{ utils.sejima() }}
    margin-bottom: var(--sejima-margin);
    margin-top: var(--sejima-margin);
}

.clients__video-card {
    background-color: white;
    box-shadow: {{ card_shadow }};
    display: flex;
}

.client-card__video-cover-container {
    align-items: center;
    background-color: var(--midnight-blue--dark);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.client-card__video-text {
    {{ utils.dudler() }}
    color: white;
    margin-bottom: var(--dudler-margin);
    max-width: var(--dudler-max-width);
    text-align: center;
}

.client-card__video-play-button {
    background-color: white;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
}
.client-card__video-play-button:hover {
    background-color: var(--athens-gray);
    transition: background-color 0.2s linear;
}

.client-card__video-play-icon {
    color: var(--persimmon);
    font-size: 2rem;
}
.client-card__video-play-button:hover .client-card__video-play-icon {
    color: var(--persimmon--dark);
    transition: background-color 0.2s linear;
}

{% call utils.small() %}
    .client-card__promotion-heading {
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        margin: -1.5rem;
        padding: 1.5rem;
    }

    .client-card__case-study-description--promotion {
        padding-top: var(--base-margin);
    }

    .clients__case-study-card {
        flex-direction: column;
    }

    .clients__testimonial-footer {
        justify-content: start;
        width: max-content;
    }

    .client-card__testimonial-quotation-icon {
        display: none !important;
    }

    .client-card__display-image--promotion {
        display: none;
    }

    .client-card__display-image--case-study {
        background-size: cover;
        width: 100%;
        padding-top: 30%;
        background-position: center;
    }

    .client-card__display-image--testimonial {
        display: none;
    }
{% endcall %}

{% call utils.large() %}
    .client-card__promotion-heading {
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        margin: -1.5rem;
        padding: 1.5rem;
    }

    .client-card__case-study-description--promotion {
        padding-top: var(--base-margin);
    }

    .clients__case-study-card {
        flex-direction: column;
    }

    .clients__testimonial-footer {
        justify-content: start;
        width: max-content;
    }

    .client-card__testimonial-quotation-icon {
        display: none !important;
    }

    .client-card__display-image--promotion {
        display: none;
    }

    .client-card__display-image--case-study {
        background-size: cover;
        width: 100%;
        padding-top: 30%;
        background-position: center;
    }

    .client-card__display-image--testimonial {
        display: none;
    }
{% endcall %}

{% call utils.medium() %}
    .client-card__promotion-heading {
        background-image: none !important;
    }

    .clients__testimonial-inner .client-card__content-container {
        padding-left: 2rem;
    }

    .client-card__display-image {
        flex-basis: 30%;
        flex-shrink: 0;
    }

    .client-card__display-image--testimonial {
        background-size: cover;
    }

    .client-card__display-image--case-study {
        background-repeat: no-repeat;
        background-size: contain;
    }

    .client-card__display-image--promotion {
        background-repeat: no-repeat;
        background-size: contain;
    }

    .client-card__testimonial-quotation-icon {
        position: absolute;
        margin-left: -1.35em;
        color: var(--persimmon);
        margin-top: -0.25em;
    }

    .clients__testimonial-footer {
        justify-content: center;
    }
{% endcall %}

{% call utils.extra_large() %}
    .client-card__promotion-heading {
        background-image: none !important;
    }

    .clients__testimonial-inner .client-card__content-container {
        padding-left: 2rem;
    }

    .client-card__display-image {
        flex-basis: 30%;
        flex-shrink: 0;
    }

    .client-card__display-image--testimonial {
        background-size: cover;
    }

    .client-card__display-image--case-study {
        background-repeat: no-repeat;
        background-size: contain;
    }

    .client-card__display-image--promotion {
        background-repeat: no-repeat;
        background-size: contain;
    }

    .client-card__testimonial-quotation-icon {
        position: absolute;
        margin-left: -1.35em;
        color: var(--persimmon);
        margin-top: -0.25em;
    }

    .clients__testimonial-footer {
        justify-content: center;
    }
{% endcall %}