{% import '../utils/utils.css' as utils %}

:root {
  --left-column-width: 67.5%;
}

.event-modal {
  {{ utils.white_to_tango() }}
  {{ utils.card_border_radius() }}
  width: var(--content-inner-max-width);
  margin-top: var(--space-7);
  margin-bottom: var(--space-7);
  height: calc(100vh - var(--space-7) * 2);
  max-height: 42.1rem;
  padding: var(--space-4);
  border: unset;
}

.event-modal[open] {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.event-modal::backdrop {
  background: rgba(1, 1, 1, 0.5);
}

.event-modal__header {
  {{ utils.card_border_radius() }}
  width: 100%;
  height: 32.5%;
  background-image: url("https://www.codurance.com/hubfs/Events%20page/Events%20Page%20Pop%20up_img.png");
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: var(--space-4);
  padding-bottom: var(--space-4);
}

.event-modal__name {
  {{ utils.eames() }}
  color: white;
  max-width: 62.5%;
  margin-left: var(--space-3);
  text-wrap: balance;
}

.event-modal__name--dark {
  color: var(--shark);
}

.event-modal__close-form {
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
}

.event-modal__close-button {
  border: unset;
  color: white;
  background: unset;
  padding: var(--space-1);
  cursor: pointer;
  text-align: right;
  font-size: 1.5rem;
}

.event-modal__main {
  display: flex;
  gap: var(--space-3);
  flex-grow: 1;
  height: 65%;
}

.event-modal__description {
  flex: 1 1 67.5%;
  background: white;
  {{ utils.card_border_radius() }}
  padding: var(--space-4) var(--space-2) var(--space-4) var(--space-4);
  position: relative;
}

.event-modal__text {
  color: var(--shark);
  max-height: calc(100% - var(--space-7));
  overflow-y: auto;
  padding-right: var(--space-4);
}

/* For browsers that support `scrollbar-*` properties */
@supports (scrollbar-color: auto) {
  .event-modal__text {
    scrollbar-color: var(--french-gray) white;
    scrollbar-width: thin;
  }
}

/* Otherwise, use `::-webkit-scrollbar-*` pseudo-elements */
@supports selector(::-webkit-scrollbar) {
  .event-modal__text::-webkit-scrollbar {
    background: white;
    width: 0.5rem;
  }
  .event-modal__text::-webkit-scrollbar-thumb {
    background: var(--french-gray);
  }
}

.event-modal__text::-webkit-scrollbar-thumb {
  color: var(--french-gray);
  width: 10px;
}

.event-modal__link {
  margin-top: auto;
  position: absolute;
  bottom: var(--space-4);
}

.event-modal__details {
  flex: 1 1 32.5%;
  background: white;
  {{ utils.card_border_radius() }}
}