
{% import '../utils/utils.css' as utils %}

.header-insights {
    {{ utils.slate_to_woodsmoke() }}
    overflow: hidden;
    color: white;
}

.header-insights__container {
    display: flex;
    flex-direction: column-reverse;
    margin-inline: auto;
}

.header-insights__text {
    padding-left: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 40ch;
}

.header-insights__text p { 
    text-transform: uppercase;
    font-weight: var(--light-font-weight);
    transition: var(--cta-transition);
}


.header-insights__text h1 {
    {{ utils.dudler() }}
    font-weight: var(--heavy-font-weight);
    margin-top: .4em;
    transition: var(--cta-transition);
}

{% call utils.medium_large_and_extra_large() %}
    .header-insights__container {
        flex-direction: row;
    }
   
    .header-insights__image {
        align-self: start;
    }

    .header-insights__text {
        align-self: center;

    }
{% endcall %}

{% call utils.large_and_extra_large() %}
    .header-insights__container img {
        max-height: 60vh;
    }
{% endcall %}

{% call utils.small_and_medium() %}
    .header-insights__container {
        padding-bottom: 2em;
        padding-inline: 0;
    }
{% endcall %}

{% call utils.extra_large() %}
    .header-insights__container{
        overflow: initial;
    }

    .header-insights__text {
        padding-left: 0;
    }

    .header-insights__text p {
        {{ utils.freed() }}
        font-weight: var(--light-font-weight);
    }

    .header-insights__text h1 {
        {{ utils.eames() }}
        font-weight: var(--middle-font-weight);
    }
{% endcall %}

{% call utils.large() %}
    .header-insights__text {
        padding-left: 2.5em;
    }
{% endcall %}

{% call utils.small() %}
    .header-insights__text {
        margin-top: -2.4em;
        margin-bottom: 1em;
    }

    .header-insights__text p { 
        font-weight: var(--middle-font-weight);
    }

    .header-insights__image {
      transform: translate(20%, 0%);   
    }
{% endcall %}

