{% import '../utils/utils.css' as utils %}

.custom-kata-listing__post {
  {{ utils.card_shadow() }}
  {{ utils.card_border_radius() }}
  transition: var(--cta-transition);
  display: flex;
  flex-direction: column;
  background: white;
}

.custom-kata-listing__post img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.custom-kata-listing__post:hover {
  {{ utils.card_shadow_large() }}
  transform: translateY(-0.3rem);
}

.custom-kata-listing__author-name {
  {{ utils.natus() }}
  color: var(--mid-gray);
}

.custom-kata-listing__kata-name {
  {{ utils.freed() }}
}

.custom-kata-listing__title-link {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.custom-kata-listing__title-link:hover {
  color: var(--persimmon);
}

.custom-kata-listing__post-description {
  {{ utils.natus() }}
}

