{% import '../utils/utils.css' as utils %}

.custom-kata-listing__post,
.kata-cta-card {
  transition: var(--cta-transition);
  {{ utils.card_shadow() }};
  display: flex;
}
.custom-kata-listing__post:not(.custom-kata-listing__post--featured) {
  flex-direction: column;
}
.custom-kata-listing__post--featured {
  flex-direction: row;
}
{% call utils.small() %}
  .custom-kata-listing__post--featured {
    flex-direction: column-reverse;
  }
{% endcall %}`

.custom-kata-listing__post:hover,
.kata-cta-card:hover {
  transform: translateY(-0.3rem);
  {{ utils.card_shadow_large() }};
}

.custom-kata-listing__post-title {
  {{ utils.base() }}
  margin-bottom: var(--base-margin);
  font-weight: var(--heavy-font-weight);
}

.custom-kata-listing__title-link {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.custom-kata-listing__title-link:hover {
  color: var(--persimmon);
}

.custom-kata-listing__post-description {
  {{ utils.natus() }}
}

.kata-cta-card {
  align-items: center;
  flex-direction: column;
  padding: 3rem 2rem;
  position: relative;
}

.kata-cta-card--cluster-page {
  --background-link: url("https://3042464.fs1.hubspotusercontent-na1.net/hubfs/3042464/Service%20Line%20Pages/Clusterpages/Insights-SM-Clusterpage-CTA-BG.svg");

  background: var(--slate); /* fallback */
  background: var(--background-link);
  background-size: cover;
  background-repeat: no-repeat;

  color: white;
  text-align: center;
}

.kata-cta-card--tango {
  background-color: var(--tango);
  color: var(--woodsmoke);
  text-align: center;
}

.kata-cta-card--crimson {
  background-color: var(--crimson);
  color: white;
  text-align: center;
}

.kata-cta-card--newsletter {
  background: transparent linear-gradient(180deg,rgba(79,67,248,0.1) 0%,rgba(45,147,234,0.1) 100%) 0% 0% no-repeat padding-box;
}

.hs_cos_wrapper_type_form,
.kata-cta-card--newsletter .hs-form .hs-button.primary.large {
  width: 100%;
}

.hs_cos_wrapper_type_form input[type="checkbox"] {
  opacity: 0;
  margin: 0.15rem 0.6rem 0.6rem;
}

.hs_cos_wrapper_type_form .hs-form-booleancheckbox-display {
  {{ utils.sejima() }}
  position: relative;
}

.hs_cos_wrapper_type_form .hs-form-booleancheckbox-display span {
  font-weight: var(--middle-font-weight);
  position: relative;
}

.hs_cos_wrapper_type_form .hs-form-booleancheckbox-display span::before {
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, .25);
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 1.25rem;
  left: -1.75rem;
  width: 1.25rem;
}
.hs_cos_wrapper_type_form input[type=checkbox]:focus + span:before {
  outline: rgb(0, 0, 0) auto 5px;
}

.hs_cos_wrapper_type_form .hs-form-booleancheckbox-display span::after {
  border-bottom: 2px solid;
  border-left: 2px solid;
  display: inline-block;
  height: 0.4rem;
  left: -1.45rem;
  position: absolute;
  top: 0.6rem;
  transform: rotate(-45deg);
  width: 0.7rem;
}
.hs_cos_wrapper_type_form input[type=checkbox]:checked + span::after {
  content: "";
}

.kata-cta-card__title {
  {{ utils.base() }}
  font-weight: var(--heavy-font-weight);
  margin-bottom: var(--base-margin);
}

.kata-cta-card__description {
  {{ utils.natus() }}
}

.kata-cta-card__link,
.kata-cta-card__link:hover,
.kata-cta-card__link:active,
.kata-cta-card__link:focus {
  color: inherit;
}

.kata-cta-card__link::after {
  background: transparent;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}