{% import '../utils/utils.css' as utils %}

.custom-kata-listing__post {
  transition: var(--cta-transition);
  {{ utils.card_shadow() }};
  display: flex;
}
.custom-kata-listing__post {
  flex-direction: column;
}

.custom-kata-listing__post:hover {
  transform: translateY(-0.3rem);
  {{ utils.card_shadow_large() }};
}

.custom-kata-listing__post-title {
  {{ utils.base() }}
  margin-bottom: var(--base-margin);
  font-weight: var(--heavy-font-weight);
}

.custom-kata-listing__title-link {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.custom-kata-listing__title-link:hover {
  color: var(--persimmon);
}

.custom-kata-listing__post-description {
  {{ utils.natus() }}
}

