{% import '../utils/utils.css' as utils %}

.blog-social-icons__list {
  list-style: none;
  display: flex;
  gap: var(--space-0);
}

{% call utils.small() %}
  .blog-social-icons__list {
    margin-bottom: unset;
  }
{% endcall %}

.blog-social-icons__icon {
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--shark);
  color: var(--shark);
  display: flex;
  font-size: 1.2rem;
  font-weight: var(--light-font-weight);
  height: 2.3rem;
  justify-content: center;
  padding: 0.3rem;
  text-decoration: none !important;
  width: 2.3rem;
}

.blog-social-icons__icon:hover {
  transform: scale(1.1);
}
