{% import '../utils/utils.css' as utils %}

.utilities-menu,
.language-selector {
  height: 100%;
}

.utilities-menu {
  position: relative;
}

.utilities-menu ul {
  list-style:none;
  margin-top: 0;
  margin-bottom: 0;
}

.utilities-menu a {
  color: var(--shark);
  display: inline-block;
  transition: color 0.2s;
  text-decoration: none;
  font-size: var(--natus-font-size);
  font-weight: var(--middle-font-weight);
  letter-spacing: 0.02em;
  line-height: var(--natus-line-height);
}

.utilities-menu a:focus,
.utilities-menu a:hover,
.language-selector:hover .language-selector__button,
.language-selector.focus {
  color: var(--persimmon);
}

.search-bar__button {
  background: none;
  border: none;
  padding: 0;
  color: var(--shark);
  transition: color .5s;
}

.search-bar__button i {
  rotate: 270deg;
  vertical-align: middle;
}

.search-bar .hs-search-field {
  position: absolute;
  right: 0;
  top: 0;
  
  width: 100%;
  background: transparent;
}

.search-bar .hs-search-field__inner-wrapper {
  transform: translateY(-25%);
}

.search-bar .hs-search-field form {
  {{ utils.card_shadow() }}
}

{% call utils.large_and_extra_large() %}
  .utilities-menu .menu-item:not(:first-child) {
    margin-left: var(--space-2);
  }

  .language-selector:hover .language-selector__dropdown,
  .language-selector.focus .language-selector__dropdown {
    visibility: visible;
    opacity: 1;
  }

  .utilities-menu .hs-search-field {
    transition: width .3s;
    width: 0;
    overflow: hidden;
  }

  .search-bar__button[aria-expanded="true"] + .hs-search-field {
    width: 100%;
    overflow: visible;
  }
{% endcall %}

{% call utils.small_and_medium() %}
  .website-header--open .language-selector {
    display: none;
  }

  .language-selector {
    position: absolute;
    right: 78px;
    top: 25px;
  }
{% endcall %} 

