{% import '../utils/utils.css' as utils %}

.utilities-menu,
.language-selector {
  height: 100%;
}

.utilities-menu ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.utilities-menu > ul {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  height: 100%;
}

.utilities-menu a {
  color: var(--shark);
  display: inline-block;
  transition: color 0.2s;
  text-decoration: none;
  font-size: var(--natus-font-size);
  font-weight: var(--middle-font-weight);
  letter-spacing: 0.02em;
  line-height: var(--natus-line-height);
}

.utilities-menu a:focus,
.utilities-menu a:hover,
.language-selector:hover .language-selector__button,
.language-selector.focus {
  color: var(--persimmon);
}

.search-bar__button {
  background: none;
  border: none;
  padding: 0;
  color: var(--shark);
  transition: color .5s;
}

.search-bar__button:hover {
  color: var(--persimmon);
  cursor: pointer;
} 

.search-bar__button i {
  rotate: 270deg;
  vertical-align: middle;
}

.search-bar table {
  border-collapse: separate;
}

.search-bar td {
  border: unset;
}

/* ID of the outer container of the Google search bar */
.search-bar #___gcse_0  {
  position: absolute;
  right: 0;
  top: -20%;
  width: 100%;
  background: transparent;
  {{ utils.natus() }}
  font-weight: var(--heavy-font-weight);
}

.search-bar .gsc-control-cse {
  padding: unset;
  border: unset;
}

.search-bar .gsc-search-box > tbody > tr {
  {{ utils.card_shadow() }}
  border-radius: .3rem;
}

.search-bar .gsc-search-box,
.search-bar .gsc-input-box,
.search-bar .gsc-input {
  margin: unset;
  padding: unset;
  height: 2.5rem;
  border-radius: .3rem 0 0 .3rem;
}

.search-bar .gsc-input-box {
  border: unset;
}

.search-bar .gsc-input-box tr {
  display: flex;
  position: relative;
  align-items: center;
  height: 100%;
}

/* Search bar input cells */
.search-bar .gsib_a {
  padding: unset;
  height: 100%;
  border-radius: .3rem 0 0 .3rem;
}

.search-bar .gsib_b {
  position: absolute;
  right: 0;
  background: unset;
}

/* Clear search button */
.search-bar .gsst_a .gscb_a {
  color: var(--mid-gray);
  font-family: initial;
  {{ utils.freed() }}
}

.search-bar .gsst_a:hover .gscb_a {
  color: var(--persimmon--dark);
}

.search-bar input.gsc-input:focus,
.search-bar button.gsc-search-button:focus {
  outline: 2px solid var(--persimmon--dark) !important;
  outline-offset: -2px;
}

.search-bar input.gsc-input {
  background-color: white;
  font-weight: var(--heavy-font-weight);
  font-family: proxima-nova;
  height: 100% !important;
  padding-left: .8em !important;
}

.search-bar .gsc-search-button {
  border: unset;
  background-color: white;
  height: 100%;
  border-radius: 0 .3rem .3rem 0;
}

.search-bar button.gsc-search-button {
  padding: var(--space-1);
  box-sizing: border-box;
  margin: unset;
  cursor: pointer;
}

.search-bar button.gsc-search-button:hover,
.search-bar button.gsc-search-button:focus {
  border: unset;
  background-color: white;
}

.search-bar .gsc-search-button svg {
  width: 1rem;
  height: 1rem;
  fill: var(--persimmon--dark);
  stroke: white;
  stroke-width: 0.5px;
}

/* Search suggestions */
.gssb_c {
  {{ utils.natus() }}
  position: fixed !important;
  top: 118px !important;
}

.gssb_c td {
  border: unset !important;
}

/* Cell containing gsc-completion-container */
.gssb_e {
  border-radius: 0 0 10px 10px;
}

.gssb_c table {
  border-collapse: separate;
}
    
.gssb_c .gsc-completion-container {
  border: unset;
  border-radius: 0 0 10px 10px;
  padding: var(--space-2) var(--space-2) 0 var(--space-2);
  font-family: proxima-nova;
  {{ utils.card_shadow() }}
}

.gssb_c .gsc-completion-container table td {
  display: block;
  line-height: 1.2;
  margin-bottom: var(--space-2);
  text-wrap: balance;
}

.gssb_c .gsc-completion-selected {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: var(--persimmon--dark);
  font-weight: var(--heavy-font-weight);
}

.gssb_c .gsc-completion-selected:focus {
  outline: 2px solid var(--persimmon--dark);
}

.gssb_c .gsc-completion-selected td {
  color: var(--persimmon--dark);
}

.search-bar .gsc-results-wrapper-overlay {
  font-family: proxima-nova;
  font-weight: normal;
  {{ utils.card_border_radius() }}
}

.search-bar .gsc-results-wrapper-overlay a.gs-title {
  font-weight: bold;
}

.search-bar .gsc-results-wrapper-overlay a.gs-title b {
  transition: color 0.2s;
}

.search-bar .gsc-results-wrapper-overlay a.gs-title:hover,
.search-bar .gsc-results-wrapper-overlay a.gs-title:hover b {
  color: var(--persimmon) !important;
}

.search-bar .gsc-results-wrapper-overlay .gsc-webResult.gsc-result {
  padding: var(--space-2) 0;
  border: 0;
}

.search-bar .gsc-results-wrapper-overlay .gsc-webResult.gsc-result b {
  font-weight: bold;
}

{% call utils.large_and_extra_large() %}
  .utilities-menu {
    position: relative;
  }

  .utilities-menu .menu-item:not(:first-child) {
    margin-left: var(--space-2);
  }

  .language-selector:hover .language-selector__dropdown,
  .language-selector.focus .language-selector__dropdown {
    visibility: visible;
    opacity: 1;
  }

  /* Google search bar container */
  .utilities-menu #___gcse_0 {
    transition: width .3s ease-in-out;
    width: 0;
    overflow: hidden;
    max-width: 13.5rem;
  }

  .search-bar__button[aria-expanded="true"] + #___gcse_0 {
    width: 100%;
    overflow: visible;
  }

  .search-bar .gsc-search-box,
  .search-bar .gsc-input-box,
  .search-bar .gsc-input {
    box-sizing: content-box;
  }

  /* Search suggestions */
  .gssb_c {
    top: 69px !important;
  }

  .gssb_c .gsc-completion-container {
    width: 13.5rem !important;
  }
{% endcall %}

{% call utils.small_and_medium() %}
  .website-header--open .language-selector {
    display: none;
  }

  .language-selector {
    position: absolute;
    right: 78px;
    top: 25px;
  }

  header.header:not(.website-header--open) #___gcse_0,
  .search-bar__button {
    display: none;
  }

  .search-bar #___gcse_0 {
    top: 105%;
    left: 0;
    max-width: calc(100% - 2rem);
    margin-inline: auto;
  }
{% endcall %} 

{% call utils.small() %}
  .search-bar #___gcse_0 {
    {{ utils.base() }}
    font-weight: var(--middle-font-weight);
  }
{% endcall %}



