{% import '../utils/utils.css' as utils %}

{% set image_offset = "30%"%}

.why-join-us{
    {{ utils.black_to_navy() }}
    color: white;
    padding: 2em 0;
}

.why-join-us .text-and-image__copy p > a{
    color: var(--tango-400);
}

.why-join-us .text-and-image__copy ol{
    list-style: revert;
}

.why-join-us ol li{
    margin-bottom: 0.5em;
    margin-left: 1em;
}

.why-join-us .cta-button.button-secondary{
    background: white;
    color: var(--persimmon);
}

.why-join-us .text-and-image__image {
    scale: 1.2;
    align-self: start;
}

.why-join-us .container--img-left img {
    transform:translate(-20%);
}


{% call utils.small() %}
    .why-join-us{
        padding-bottom:0;
    }

    .why-join-us .text-and-image__container{
        flex-direction: column;
        overflow-x: clip;
        overflow-y: visible;
    }

    .why-join-us .text-and-image__image{
        max-width: none;
        scale: 1;
    }

    .why-join-us .text-and-image__image img{
        transform: translate(15%, {{ image_offset }} );
        margin-top: calc( 
            calc( -1 * {{ image_offset }})
                + 
            10%
        );
        scale: revert;
    }
{% endcall %}