{{ require_css(get_asset_url("../../css/modules/offices-listing.css")) }}

{% for offices_country_group in module.offices_country_group %}
    <article class="offices-country-group">
        <h2>{{ offices_country_group.title }}</h2>
        <ul>
            {% for office in offices_country_group.office %}
                <li class="office">
                    {% if office.image.src %}
                        {% set sizeAttrs = 'width="{{ office.image.width }}" height="{{ office.image.height }}" style="height: auto;"' %}
                        <img class="office__image" src="{{ office.image.src }}" alt="{{ office.image.alt }}" {{ sizeAttrs }}>
                    {% endif %}
                    
                    <div class="office__content">
                        <h3>{{ office.title }}</h3>
                        <div class="office__address">
                            <a href="{{ office.address.map_link.href }}">{{ office.address.text }}</a>
                        </div>
                        {% if office.sales_contact.phone.href %}
                            <a href="tel:{{ office.sales_contact.phone.href }}">
                                {{ office.sales_contact.phone.href }}
                            </a>
                        {% endif %}
                        <p>
                            <span class="sales-contact__copy">{{ office.sales_contact.copy }}</span>
                            {{ office.sales_contact.contact_name }}
                        </p>
                        <a class="sales-contact__email" href="mailto:{{office.sales_contact.email.href}}">{{ office.sales_contact.email.href }}</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </article>
{% endfor %}
