<div class="homepage__cm-how-we-work cm-how-we-work">
  <div class="cm-how-we-work__inner">
    <header class="section-intro cm-how-we-work__intro">
      {{ module.content }}
    </header>
    <div class="cm-how-we-work__details-container">
      {% for item in module.item %}
      <div class="cm-how-we-work__detail"> 
        {% if item.image_field.src %}
        {% set sizeAttrs = 'width="{{ item.image_field.width }}" height="{{ item.image_field.height }}"' %}
        {% if item.image_field.size_type == 'auto' %}
        {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
        {% elif item.image_field.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ item.image_field.max_width }}px; max-height: {{ item.image_field.max_height }}px"' %}
        {% endif %}
        <img src="{{ item.image_field.src }}" alt="{{ item.image_field.alt }}" {{ sizeAttrs }}>
        {% endif %}
        <h3 class="cm-how-we-work__details-text">{{ item.title }}</h3>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
