{% import '../utils/utils.css' as utils %}

.custom-about-us-card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  height: 100%;
  margin-bottom: .5rem;
  position: relative;
  text-align: center;
}

.custom-about-us-card::after {
  background-color: var(--woodsmoke--20);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.5rem;
}

.custom-about-us-card__title {
  {{ utils.base() }}
  margin-bottom: var(--base-margin);
  color: white;
}

.custom-about-us-card__description {
  {{ utils.natus() }}
  color: white;
}