{% import '../utils/utils.css' as utils %}

.accordion {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--content-inner-max-width);
    padding-left: 50px;
    padding-right: 50px;
}

.panel {
    border-bottom: 1px solid var(--french-gray);
}

.panel:last-child {
    border-bottom: 0;
}

.panel-title {
    --icon-width: 1.25em;

    color: var(--shark);
    cursor: pointer;
    display: block;
    margin-bottom: 1rem;
    margin-top: 0;
    padding-bottom: 1em;
    padding-top: 1em;
    position: relative;
}

.panel-title:focus,
.panel-title:hover{
    color: var(--shark);
    text-decoration: none;
}

.panel-title::before,
.panel-title::after {
    content: "";
    background-color: var(--persimmon);
    content: '';
    height: 2px;
    right: 0;
    position: absolute;
    top: calc(50% + 2px);
    width: var(--icon-width);
    transition: transform .3s linear;
    transform-origin: center;
    transform: rotate(-180deg);
}

.panel-title::after {
    content: "";
    transform: rotate(-90deg);
}

.panel:not(.panel--close) .panel-title:after,
.panel:not(.panel--close) .panel-title:before  {
    transform: rotate(0);
}

.panel-title__heading {
    {{ utils.freed() }}
    font-weight: var(--heavy-font-weight);
    max-width: calc(100% - var(--icon-width));
}

.panel-body {
    {{ utils.base() }}
    transition-property: max-height;
    overflow: hidden;
    max-height: 0;
}

.panel-body > .frame {
    padding-bottom: 2em;
}

.panel-body p, ul, li {
    {{ utils.base() }}
}

.panel-body ul {
    padding-left: 1rem;
}

.panel-body li {
    margin-bottom: calc(var(--base-margin) / 3);
}

.panel-body h3 {
    font-weight: var(--middle-font-weight);
    margin-top: calc(var(--freed-margin) * 2);
    margin-bottom: var(--freed-margin);
}

{% call utils.small_and_medium() %}
    .accordion {
        padding-left: 25px;
        padding-right: 25px;
    }

    .accordion .panel {
        margin-bottom: 10px;
    }

    .accordion .panel:last-child {
        margin-bottom: 0;
    }
{% endcall %}

{% call utils.small() %}
    .accordion {
        padding-left: 20px;
        padding-right: 20px;
    }

    .panel-title {
        {{ utils.natus() }}
        font-weight: var(--heavy-font-weight);
    }

    .panel-body,
    .panel-body p {
        {{ utils.natus() }}
    }
{% endcall %}
