{% import '../utils/utils.css' as utils %}

.custom-accordion {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--content-inner-max-width);
    padding-left: 50px;
    padding-right: 50px;
}

.custom-panel {
    border-bottom: 1px solid var(--french-gray);
}

.custom-panel:last-child {
    border-bottom: 0;
}

.custom-panel-title {
    --icon-width: 1.25em;

    color: var(--shark);
    cursor: pointer;
    display: block;
    margin-bottom: 1rem;
    margin-top: 0;
    padding-bottom: 1em;
    padding-top: 1em;
    position: relative;
}

.custom-panel-title:focus,
.custom-panel-title:hover{
    color: var(--shark);
    text-decoration: none;
}

.custom-panel-title::before,
.custom-panel-title::after {
    content: "";
    background-color: var(--persimmon);
    height: 2px;
    right: 0;
    position: absolute;
    top: calc(50% + 2px);
    width: var(--icon-width);
    transition: transform .3s linear;
    transform-origin: center;
    transform: rotate(-180deg);
}

.custom-panel-title::after {
    content: "";
    transform: rotate(-90deg);
}

.custom-panel:not(.custom-panel--close) .custom-panel-title:after,
.custom-panel:not(.custom-panel--close) .custom-panel-title:before  {
    transform: rotate(0);
}
.custom-panel:not(.custom-panel--close) .custom-panel-body {
    display: block;
}

.custom-panel-title__heading {
{{ utils.freed() }}
    font-weight: var(--heavy-font-weight);
    max-width: calc(100% - var(--icon-width));
}

.custom-panel-body {
{{ utils.base() }}
    transition-property: max-height;
    overflow: hidden;
    max-height: 0;

    display: none;
    transition: max-height 0.3s ease-out;
}

.custom-panel-body > .custom-frame {
    padding-bottom: 2em;
}

.custom-panel-body p, ul, li {
{{ utils.base() }}
}

.custom-panel-body ul {
    padding-left: 1rem;
}

.custom-panel-body li {
    margin-bottom: calc(var(--base-margin) / 3);
}

.custom-panel-body h3 {
    font-weight: var(--middle-font-weight);
    margin-top: calc(var(--freed-margin) * 2);
    margin-bottom: var(--freed-margin);
}

{% call utils.small_and_medium() %}
.custom-accordion {
    padding-left: 25px;
    padding-right: 25px;
}

.custom-accordion .custom-panel {
    margin-bottom: 10px;
}

.custom-accordion .custom-panel:last-child {
    margin-bottom: 0;
}
{% endcall %}

{% call utils.small() %}
.custom-accordion {
    padding-left: 20px;
    padding-right: 20px;
}

.custom-panel-title {
{{ utils.natus() }}
    font-weight: var(--heavy-font-weight);
}

.custom-panel-body,
.custom-panel-body p {
{{ utils.natus() }}
}
{% endcall %}