{% import '../utils/utils.css' as utils %}

.announcement-bar {
    align-items: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    width: 100%;
  }
  
  
.announcement-bar__inner {
    align-items: center;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0.75rem;
    text-align: center;
    }


.announcement-bar__text-dark {
    align-items: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: var(--shark);
    font-weight: var(--heavy-font-weight);
    padding-right: 2rem;
    padding-left: 2rem;
}



{% call utils.small() %}
    .announcement-bar__inner {
        display:flex;
        flex-wrap: nowrap;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .announcement-bar__text-dark {
        padding-left: 0;
        text-align:left;
        font-size: var(--natus-font-size);
        line-height: var(--natus-line-height);
    }
{% endcall %}