{% import '../utils/utils.css' as utils %}

.survey__wrapper {
  position: relative;
}

.survey__progress-container {
  {{ utils.card_border_radius() }}
  {{ utils.card_shadow() }}
  margin-bottom: var(--space-6);
  margin-top: var(--space-1);
}

.survey__category-title {
  {{ utils.dudler() }}
  font-weight: bold;
}

.survey__question-container {
  {{ utils.card_border_radius() }}
  {{ utils.card_shadow() }}
  background-color: white;
  padding: var(--space-5);
}

.survey__question-container:first-of-type {
  margin-top: var(--space-3);
}

.survey__question-container:not(:first-of-type) {
  margin-top: var(--space-6);
}

.survey__question-title {
  {{ utils.freed() }}
  font-weight: bold;
}

.survey__question-text {
  margin-top: var(--space-2);
}

.survey__options {
  margin-top: var(--space-4);
}

.survey__answer {
  {{ utils.natus() }}
  display: block;
}

.survey__answer:not(:first-child) {
  margin-top: var(--space-2);
}

.survey__answer-input {
  margin-right: var(--space-0);
  appearance: none;
  position: relative;
  width: 0.6rem;
  height: 0.6rem;
  background: white;
  border: 1px solid var(--mid-gray);
  border-radius: 50%;
  display: inline-block;
}

.survey__answer-input:checked:before {
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  background: var(--tango);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 1px;
  top: 1px;
}

.survey__answer-input:focus {
  outline: unset;
}

.survey__button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--space-4);
}

.survey__button-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.survey__button-wrapper:first-child {
  justify-content: flex-start;
}

.survey__button-wrapper:last-child {
  justify-content: flex-end;
}

.survey__button {
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.survey__button--disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.survey__button--hidden {
  opacity: 0;
  pointer-events: none;
}

.survey__form-container {
  display: none;
}