{% import '../utils/utils.css' as utils %}

.survey__wrapper {
  position: relative;
}

.survey__progress-container {
  margin-bottom: var(--space-6);
  margin-top: var(--space-1);
}

.survey__category-title {
  {{ utils.dudler() }}
  font-weight: bold;
}

.survey__question-container {
  {{ utils.card_border_radius() }}
  {{ utils.card_shadow() }}
  background-color: white;
  padding: var(--space-5);
}

.survey__question-container:first-of-type {
  margin-top: var(--space-3);
}

.survey__question-container:not(:first-of-type) {
  margin-top: var(--space-6);
}

.survey__question-title {
  {{ utils.freed() }}
  font-weight: bold;
}

.survey__question-text {
  margin-top: var(--space-2);
}

.survey__options {
  margin-top: var(--space-4);
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.survey__answers {
  display: flex;
  gap: 4px;
  height: fit-content;
}

.survey__answer {
  {{ utils.natus() }}
  display: block;
  margin-top: 0 !important;
}

.survey__answer:not(:first-child) {
  margin-top: var(--space-2);
}

.survey__answer-input {
  margin-right: var(--space-0);
  appearance: none;
  position: relative;
  width: 0.6rem;
  height: 0.6rem;
  min-height: 12px;
  min-width: 12px;
  background: white;
  border: 1px solid var(--mid-gray);
  border-radius: 50%;
  display: inline-block;
  margin-top: 4px;
}

.survey__answer-input:checked:before {
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  background: var(--tango);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 1px;
  top: 1px;
}

.survey__answer-input:focus {
  outline: unset;
}

.survey__button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--space-4);
}

.survey__button-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.survey__button-wrapper:first-child {
  justify-content: flex-start;
}

.survey__button-wrapper:last-child {
  justify-content: flex-end;
}

.survey__button {
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.survey__button--disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.survey__button--hidden {
  opacity: 0;
  pointer-events: none;
}

.survey__form-container {
  display: none;
}

.progress-container {
  width: 100%;
  margin: 20px auto;
  padding: 0 20px;
}

.progress-bar-container {
  position: relative;
  padding-top: 15px;
  width: calc(100% - 16.66%); /* Ajustado para el espacio de un paso completo */
  margin: 0 auto;
}

.progress-bar-line {
  position: absolute;
  top: 30px;
  left: 8.33%; /* Comienza desde el centro del primer paso */
  width: 0%;
  height: 4px;
  background-color: #55b776;
  transition: width 0.5s ease;
}

.progress-bar {
  counter-reset: step;
  padding: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0;
  list-style-type: none;
}

.step {
  width: 16.66%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  color: #7d7d7d;
}

.step:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
  position: relative;
  z-index: 2;
}

.step:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  z-index: 1;
}

.step:first-child:after {
  content: none;
}

.step.active {
  color: #55b776;
}

.step.active:before {
  border-color: #55b776;
  background-color: #55b776;
  color: white;
}

.step.active + .step:after {
  background-color: #55b776;
}

.step span {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: normal;
  width: 140px;
  margin-top: 5px;
  font-size: 10px;
  line-height: 1.2;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}