{% import '../utils/utils.css' as utils %}

.hs-site-page .custom-btn {
  margin-top: 2em;
}

{% call utils.small() %}
  .custom-btn .button-primary {
    width: 100%;
    max-width: var(--button-max-width);
  }
{% endcall %}
