{% import '../utils/utils.css' as utils %}

.whr-code, .whr-date, .whr-dept { display: none; }
.whr-group { font-weight: bold; }
.whr-items { margin-right: 1em; }

.custom-career-banner * {
  color: #fff;
}
.u-bg-overlay::before, .u-bg-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.u-bg-overlay::after {
  background-color: rgba(0, 0, 0, 0.3)
}

.custom-events-row1 .custom-career-banner h2.u-heading-v2__title {
  margin-top: 0;
  margin-bottom: 1rem !important;
  font-weight: normal !important;
  position: relative;
}

.custom-events-row1 .custom-career-banner  .custom-mb-40 {
  margin-bottom: 0 !important;
  position: relative;
}

.custom-events-row1 .custom-career-banner .custom-mb-40:after {
  content: "";
  display: inline-block;
  border-top-style: solid;
  border-color: inherit;
  width: 2.14286rem;
  border-top-width: 1px;
  margin-top: 0.71429rem;
}

.custom-career-banner * {
  color: #fff;
}