{% import '../utils/utils.css' as utils %}

{% set padding_top_card = "96px" %}


.case-study-card-collection {
    {{ utils.color1_to_color2("to left", "var(--slate)", "var(--woodsmoke)") }}
    background-size: 100% 15em;
    background-position: bottom;
    background-repeat: no-repeat;

}
    
.case-study-card-collection__header {
    padding-top: var(--space-3);
}

.case-study-card-collection__header > h2 {
    {{ utils.freed() }}
    {{ utils.freed_margin() }}
    font-weight: var(--heavy-font-weight);
}

.case-study-card-collection__header > p {
    {{ utils.natus() }}
    {{ utils.freed_margin() }}
}

.case-study-card-collection__cards {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    align-items: stretch;
    display: flex;
    margin: 0 auto;
    justify-content: start;
    max-width: calc(var(--content-max-width) + var(--space-3));
    padding: var(--space-3);
    gap: var(--space-2);
}


.case-study-card {
    --card-width: 15em;
    {{ utils.card_shadow() }}
    {{ utils.card_border_radius() }}
    display: flex;
    flex-direction: column;
    min-width: var(--card-width);
    max-width: 20rem;
    overflow: hidden;
    scroll-snap-align: center;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 100%;
}

.case-study-card:hover {
    {{ utils.card_shadow_large() }}
}

.case-study-card__image {
    --padding_top_card: 96px;
    background-position: top left;
    background-size: cover;
    padding-top: {{ padding_top_card }};
    width: 100%;
}

.case-study-card__card-thumbnail {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -{{ padding_top_card }};
}

.case-study-card__text-container {
    background: white;
    display: flex;
    flex: fit-content;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--space-3);
    position: relative;
}

.case-study-card__title {
    {{ utils.base() }};
    font-weight: var(--heavy-font-weight);
    margin-bottom: var(--sejima-margin);
    margin-top: var(--base-margin);
}

.case-study-card__description {
    {{ utils.natus() }};
    flex-grow: 1;
    margin-bottom: var(--sejima-margin);
    max-width: var(--dudler-max-width);
}

.case-study-card .button-secondary {
    width: fit-content;
    display: block;
}


/* MEDIA QUERIES */


{% call utils.small() %}
    .case-study-card {
        margin-bottom: calc(var(--base-margin) * 2);
    }

    .case-study-card__description {
        margin-bottom: var(--sejima-margin);
    }

    .case-study-card .button-secondary {
        max-width: var(--button-max-width);
    }
{% endcall %}

{% call utils.small_and_medium() %}
    .case-study-card-collection__header {
        padding-left: 20px;
        padding-right: 20px;
    }
{% endcall %}

{% call utils.medium_large_and_extra_large() %}
    .case-study-card {
        margin-bottom: var(--base-margin);
    }

    .case-study-card__text-container {
        height: 100%;
    }

    .case-study-card-collection__header > h2 {
        {{ utils.dudler() }}
        font-weight: var(--heavy-font-weight);
    }

    .case-study-card-collection__header > p {
        {{ utils.base() }}
        font-weight: var(--light-font-weight);
        max-width: var(--base-max-width);
    }
{% endcall %}

{% call utils.large_and_extra_large() %}
    .case-study-card-collection__header {
        margin-left: auto;
        margin-right: auto;
        max-width: var(--content-inner-max-width);
    }


{% endcall %}

{% call utils.extra_large() %}
    .case-study-card {
        flex: 1;
    }

    .case-study-card__title {
        margin-top: 0;
    }

    .case-study-card-collection__cards {
        justify-content: center;
    }

{% endcall %}
