.infographic figure {
    position: relative;
    container-type: inline-size;
    container-name: infographic;
}

.infographic figure img {
    width: 100%;
    height: auto;
}

.infographic .tooltip {
    border-radius: 50%;
    border: 2px solid var(--persimmon);
    position: absolute;
    font-weight: var(--heavy-font-weight);
    color: var(--persimmon);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The tooltips are sized in relation to the container */
@container infographic (min-width: 718px) {
    .infographic .tooltip {
        font-size: 2cqw;
        width: 3cqw;
        height: 3cqw;
    }
}

.infographic .tooltip:nth-child(2) {
    left: 30%;
    top: 9%;
}

.infographic .tooltip:nth-child(3) {
    left: 13%;
    top: 21%;
}

.infographic .tooltip:nth-child(4) {
    left: 25%;
    top: 32%;
}

.infographic .tooltip:nth-child(5) {
    left: 49%;
    top: 38%;
}

.infographic .tooltip:nth-child(6) {
    left: 59%;
    top: 38%;
}

.infographic .tooltip:nth-child(7) {
    left: 69%;
    top: 38%;
}

.infographic .tooltip:nth-child(8) {
    left: 79%;
    top: 38%;
}