{% import '../utils/utils.css' as utils %}

/* Mobile notice */
.infographic__mobile-notice {
    display: none;
}

.infographic__mobile-notice img {
    animation: rotate 1.5s ease-in-out infinite alternate;
}

@keyframes rotate {
    0% {
		transform: rotate(0deg)
    }
    50% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(90deg)
    }
}

.infographic__mobile-notice p {
    {{ utils.natus() }}
    font-weight: var(--heavy-font-weight);
}

{% call utils.small() %}
    .infographic__mobile-notice {
        display: flex;
        gap: var(--space-2);
        margin-bottom: var(--space-3);
    }
{% endcall %}

/* Infographic */
.infographic__figure {
    position: relative;
    container-type: inline-size;
    container-name: infographic;
}

.infographic__figure img {
    width: 100%;
    height: auto;
}

.infographic__figure .tooltip {
    width: 190px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

{% call utils.small() %}
    .infographic__figure .tooltip {
        display: none;
    }
{% endcall %}

.infographic__figure .tooltip__number:hover {
    color: white;
    background-color: var(--persimmon);
}

.infographic__figure .tooltip__number {
    border-radius: 50%;
    border: 2px solid var(--persimmon);
    font-weight: var(--heavy-font-weight);
    color: var(--persimmon);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: help;
}



/* The tooltips are sized in relation to the container */
@container infographic (min-width: 718px) {
    .infographic__figure .tooltip {
        max-width: 15.83cqw;
    }

    .infographic__figure .tooltip__number {
        font-size: 2cqw;
        width: 3cqw;
        height: 3cqw;
    }
}

/* Tooltips positioning */
.infographic__figure .tooltip:nth-child(1) {
    left: 23%;
    top: 8%;
}

.infographic__figure .tooltip:nth-child(2) {
    left: 8%;
    top: 20%;
}

.infographic__figure .tooltip:nth-child(3) {
    left: 19%;
    top: 31%;
}

.infographic__figure .tooltip:nth-child(4) {
    left: 42%;
    top: 38%;
}

.infographic__figure .tooltip:nth-child(5) {
    left: 53%;
    top: 38%;
}

.infographic__figure .tooltip:nth-child(6) {
    left: 62%;
    top: 38%;
}

.infographic__figure .tooltip:nth-child(7) {
    left: 73%;
    top: 38%;
}
/* End tooltips positioning */

.infographic__figure .tooltip__text {
    {{ utils.natus() }}
    {{ utils.card_shadow() }}
    {{ utils.card_border_radius() }}
    color: var(--mid-gray);
    background: white;
    padding: var(--space-2);
    position: relative;
    top: var(--space--1);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    width: 190px;
    transition: all 0.3s;
}

.infographic__figure .tooltip__number:hover + .tooltip__text {
    opacity: 1;
    visibility: visible;
}

.infographic__figure .tooltip__text:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: -15px;
    left: 50%;
    transform: translate(-50%,50%) rotate(45deg);
    background: white;
}


