{% import '../utils/utils.css' as utils %}

:root {
    --image-width: 250px;
}
    
.listing__images {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: var(--content-inner-max-width);
}

.listing__item {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 10em;
}

.listing__item:hover,
.listing__item:focus {
    text-decoration: none;
}

.listing__item:hover .listing__img,
.listing__item:focus .listing__img,
.listing__item--active .listing__img {
    box-shadow: 0px 3px 20px var(--tango-400);
}

.listing__img {
    width: var(--image-width);
    border-radius: 50%;
    transition: box-shadow ease-in-out 200ms;
}

.listing__text {
    {{ utils.natus() }}

    color: var(--shark);
    font-weight: var(--heavy-font-weight);
    line-height: initial;
    text-align: center;
    transition: all ease-in-out 200ms;
}

.video-wrapper {
    margin-top: 2em;
}

.dynamic-video,
.video-subtitle  {
    max-width: 1024px;
    margin: 0 auto;
    
}
.dynamic-video {
    display: block;
    border: none; 
    border-radius: 24px;
}


.video-subtitle {
    font-weight: var(--middle-font-weight);
    margin-top: var(--base-margin);
}

{% call utils.medium_large_and_extra_large() %}
    .listing__images {
        flex-direction: row;
        justify-content: space-between;
        height: 20em;
    }

    .listing__item {
        flex-direction: column;
    }

    .listing__item:nth-child(even) {
        align-self: end;
    }

    .listing__text {
        margin-top: .6em;
    }

{% endcall %}

{% call utils.small() %}
    .listing__images,
    .listing__item {
        gap: 0.5em;
    }

    .listing__item {
        height: 100%;
    }

    .listing__img {
        --image-width: 50px;  
        width: var(--image-width);
    }
{% endcall %}




