{% import '../utils/utils.css' as utils %}
    
.listing__images {
    margin: 2.5em auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: var(--content-inner-max-width);
}

{% call utils.medium_large_and_extra_large() %}
    .listing__images {
        flex-direction: row;
        justify-content: space-between;
        height: 20em;
    }
{% endcall %}

.listing__item {
    display: flex;
    flex-flow: column;
    align-items: center;
    align-self: start;
    text-decoration: none;
}

.listing__item:hover {
    text-decoration: none;
}

.listing__item:nth-child(even){
    align-self: end;
}

.listing__img {
    width: 10em;
    clip-path: circle();
    transition: transform ease-in-out 200ms;
    
}

.listing__text {
    {{ utils.natus() }}

    color: var(--shark);
    margin-top: .6em;
    font-weight: var(--heavy-font-weight);
    line-height: initial;
    text-align: center;
}




