{% import '../utils/utils.css' as utils %}

.cm-crafting-intro-container {
    background-size: cover;
}

.cm-crafting-logo-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    width: 100%;
}

.cm-crafting-intro-container-inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    width: 100%;
}

.cm-crafting-course-duration {
    {{ utils.natus() }}
    font-weight: var(--middle-font-weight);
    color: white;
    text-transform: uppercase;
}

.cm-crafting-course-title {
    color: white;
}

.cm-crafting-details-wrapper {
    background-color: var(--shark);
}

.cm-crafting-details-wrapper-inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    position: relative;
}

.cm-crafting-content-container {
    padding-bottom: 65px;
}

.cm-crafting-instructor-wrapper {
    display: flex;
    position: relative;
    top: -35px;
}

.cm-crafting-instructor-avatar {
    background-position: center;
    background-size: cover;
    height: 110px;
    width: 100px;
    display: inline-block;
}

.cm-crafting-instructor-wrapper-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 25px;
}

.cm-crafting-instructor-title {
    {{ utils.sejima() }}
    text-transform: uppercase;
    letter-spacing: 1.8px;
    color: white;
    margin-bottom: 15px;
}

.cm-crafting-instructor-name {
    {{ utils.freed() }}
    font-weight: var(--heavy-font-weight);
    color: white;
}

.cm-crafting-course-description {
    color: white;
    padding-bottom: 50px;
    padding-top: 25px;
}

{% call utils.medium_large_and_extra_large() %}
    .cm-crafting-banner-group.no-author-section .cm-crafting-intro-container-inner {
        transform: translateY(60px);
    }

    .cm-crafting-intro-container {
        background-position: center;
    }

    .cm-crafting-logo-container svg {
        height: 20px;
    }

    .cm-crafting-course-title {
        {{ utils.gaudi() }}
        margin-bottom: var(--eames-margin);
    }
{% endcall %}

{% call utils.large_and_extra_large() %}
    .cm-crafting-details-wrapper.no-author-section .cm-crafting-course-description {
        padding-top: 70px;
    }
    .cm-crafting-course-description {
        padding-right: 60px;
        padding-top: 25px;
    }
    .cm-crafting-content-container {
        width: calc(100% - 385px);
    }
    .cm-crafting-logo-container svg {
        transform: translateY(-120px);
    }
    .cm-crafting-intro-container-inner {
        padding-left: 50px;
        padding-right: 50px;
    }
    .cm-crafting-logo-container {
        padding-left: 50px;
        padding-right: 50px;
    }
    .cm-crafting-intro-container {
        min-height: 460px;
        padding-bottom: 100px;
        padding-top: 170px;
    }
    .cm-crafting-details-wrapper {
        background-position: right top;
        background-repeat: no-repeat;
    }
    .cm-crafting-details-wrapper-inner {
        padding-left: 50px;
        padding-right: 50px;
    }
{% endcall %}

{% call utils.extra_large() %}
    .cm-crafting-course-description p {
        {{ utils.freed() }}
        font-weight: var(--welter-font-weight);
    }

    .cm-crafting-details-wrapper {
        background-size: auto 80%;
    }
{% endcall %}

{% call utils.small_and_medium() %}
    .cm-crafting-intro-container-inner {
        padding-left: 50px;
        padding-right: 50px
    }
    .cm-crafting-details-wrapper {
        background-image:none !important
    }
    .cm-crafting-details-wrapper.no-author-section .cm-crafting-course-description {
        padding-top: 55px;
        padding-bottom: 30px;
    }
{% endcall %}

{% call utils.large() %}
    .cm-crafting-intro-container-inner {
        padding-right: 40%
    }

    .cm-crafting-details-wrapper {
        background-size:auto 70%
    }

    .cm-crafting-course-description {
        font-size: 21px;
        line-height: 33px;
    }
{% endcall %}

{% call utils.medium() %}
    .cm-crafting-course-description {
        {{ utils.base() }}
    }

    .cm-crafting-intro-container {
        padding-bottom:90px;
        padding-top: 70px
    }

    .cm-crafting-intro-container-inner {
        padding-left:25px;
        padding-right: 25px
    }

    .cm-crafting-logo-container svg {
        transform: translateY(-40px);
    }

    .cm-crafting-logo-container {
        padding-left: 25px;
        padding-right: 25px;
    }

    .cm-crafting-details-wrapper-inner {
        padding-left: 25px;
        padding-right: 25px;
    }
{% endcall %}

{% call utils.small() %}
    .cm-crafting-banner-group.no-author-section .cm-crafting-intro-container-inner {
        transform: translateY(20px);
    }

    .cm-crafting-intro-container-inner {
        padding-left:20px;
        padding-right: 20px;
        position:relative;
        z-index: 2
    }

    .cm-crafting-details-wrapper {
        position:relative;
        z-index: 2
    }

    .cm-crafting-course-duration {
        text-align:center;
        display: block
    }

    .cm-crafting-logo-container svg {
        height: 17px;
        position: relative;
        transform: translateY(-30px);
        z-index: 2;
    }

    .cm-crafting-intro-container {
        background-position: 59% center;
        padding-top: 55px;
        padding-bottom: 100px;
        position: relative;
    }

    .cm-crafting-logo-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .cm-crafting-intro-container-inner {
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        z-index: 2;
    }

    .cm-crafting-course-title {
        {{ utils.eames() }}
        text-align: center;
        margin-bottom: 16px;
    }

    .cm-crafting-course-duration {
        text-align: center;
        display: block;
    }

    .cm-crafting-details-wrapper-inner {
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .cm-crafting-course-description {
        {{ utils.base() }}
        padding-top: 25px;
        padding-bottom: 30px;
    }

    .cm-crafting-intro-container::after {
        background-color: var(--midnight-blue);
        bottom: 0;
        content: "";
        left: 0;
        mix-blend-mode: multiply;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        opacity: 0.65;
    }
{% endcall %}
