{% import '../utils/utils.css' as utils %}

.card-container {
    display: grid;
    row-gap: var(--space-4);
}

.card-container::-webkit-scrollbar {
    display: none;
}

{% call utils.large_and_extra_large() %}
    .card-container {
        grid-template-columns: repeat(3, 1fr);
        column-gap: var(--space-3);
        row-gap: var(--space-5);
    }
{% endcall %}

.card {
    {{ utils.card_shadow() }}
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
}

.card__background {
    height: 11.7rem;
    {{ utils.card_border_radius_top() }}
}

.card__img-wrapper {
    position: relative;
}

.card__img {
    position: absolute;
    right: var(--space-5);
    top: var(--space-3);
    rotate: 6deg;
    box-shadow: 0px 10px 20px #00000086;
}

.card__info {
    padding: var(--space-4) var(--space-3);
    height: 100%;
    display: flex;
    flex-direction: column; 
    min-height: 8.8rem;
}

.card__info span {
    text-transform: uppercase;
    {{ utils.natus() }}
}

.card__info h3 {
    {{ utils.freed() }}
    margin-bottom: .75em;
}

.card__description {
    margin-bottom: .6em;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
}

.card__info a {
    margin-top: auto;
    margin-bottom: 0;
}
