{% import '../utils/utils.css' as utils %}

.card-container {
    display: grid;
    row-gap: var(--space-4);
}

.card-container::-webkit-scrollbar {
    display: none;
}

.card {
    {{ utils.card_shadow() }}
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
}

.card__background {
    height: 13rem;
    {{ utils.card_border_radius_top() }}
    background: transparent linear-gradient(180deg, var(--slate) 0%, var(--woodsmoke) 100%) 0% 0% no-repeat padding-box; /* Fallback gradient */
}

.card__header-wrapper {
    position: relative;
}

.card__img-container {
    position: absolute;
    right: var(--space-5);
    top: var(--space-3);
    filter: drop-shadow(0px 10px 10px #00000086);
}

.card__img {
    rotate: 6deg;
}

.card__info {
    padding: var(--space-5) var(--space-3);
    height: 100%;
    display: flex;
    flex-direction: column; 
    min-height: 8.8rem;
}

.card__info span {
    text-transform: uppercase;
    {{ utils.natus() }}
}

.card__info h3 {
    margin-top: var(--space-0);
    {{ utils.freed() }}
    line-height: var(--base-line-height);
    font-weight: bold;
}

.card__description {
    margin-top: var(--space-2);
    margin-bottom: var(--space-2);
    {{ utils.natus() }}
}

.card__info a {
    margin-top: auto;
    margin-bottom: 0;
}

{% call utils.large_and_extra_large() %}
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
{% endcall %}

{% call utils.medium_large_and_extra_large() %}
    .card-container {
        column-gap: var(--space-3);
        row-gap: var(--space-5);
    }

    .card__background {
        height: 11.7rem;
    }
{% endcall %}

{% call utils.medium() %}
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
{% endcall %}
