{% import '../utils/utils.css' as utils %}

{% macro small_landscape() %}
    @media screen and (max-height: 400px) and (orientation: landscape) {
        {{ caller() }}
    }
{% endmacro %}

.cm-editors-pick__container {
    max-width: calc(var(--content-max-width) + 4rem);
    margin: 0px auto;
    padding-bottom: 1rem;
    padding-inline: 2rem;
}

.cm-editors-pick__items {
    display: grid;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
}

{% call utils.small() %}
.cm-editors-pick__items {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    row-gap: 1rem;
    }

    .cm-editors-pick__item {
        grid-column: 1;
    }
{% endcall %}

{% call utils.medium() %}
    .cm-editors-pick__items {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr auto;
        row-gap: 1rem;
    }

    .cm-editors-pick__item {
        grid-column: 1 / span 2;
    }
    
    .cm-editors-pick__item:first-child {
        grid-column: 1;
        grid-row: 1;
    }

    .cm-editors-pick__item:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
    }
{% endcall %}

{% call utils.large_and_extra_large() %}
    .cm-editors-pick__items {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 0.5rem;
    }

    .cm-editors-pick__item {
        grid-column: 3;
    }

    .cm-editors-pick__item:first-child {
        grid-column: 1;
        grid-row: 1 / span 4;
    }

    .cm-editors-pick__item:nth-child(2) {
        grid-column: 2;
        grid-row: 1 / span 4;
    }
{% endcall %}

.cm-editors-pick__heading {
    {{ utils.eames() }}
    margin-bottom: var(--eames-margin);
}

.cm-editors-pick__image {
    position: relative;
    margin-bottom: 1rem;
}

.cm-editors-pick__image img {
    object-fit: cover;
    border-radius: 10px;
}

{% call utils.small() %}
    .cm-editors-pick__image img {
        height: 60%;
    }
{% endcall %}

{% call small_landscape() %}
    .cm-editors-pick__image img {
        height: 100px;
        width: 100%;
    }
{% endcall %}

{% call utils.medium_large_and_extra_large() %}
    .cm-editors-pick__image img {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .cm-editors-pick__image::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
{% endcall %}


.cm-editors-pick__title-big {
    font-size: var(--base-font-size);
    font-weight: var(--heavy-font-weight);
}

.cm-editors-pick__title-small {
    {{ utils.natus() }}
    font-weight: var(--heavy-font-weight);
}

.cm-editors-pick__excerpt-big {
    {{ utils.base() }}
}

.cm-editors-pick__excerpt-small {
    {{ utils.natus() }}
}

.cm-editors-pick__link {
    display: block;

}
.cm-editors-pick__link-small {
    display: inline;
    margin: 0;
    vertical-align: text-top;
}
