{% import '../utils/utils.css' as utils %}

{% macro small_landscape() %}
    @media screen and (max-height: 400px) and (orientation: landscape) {
        {{ caller() }}
    }
{% endmacro %}

.cm-editors-pick__container {
    max-width: var(--content-max-width);
    margin: 0px auto;
}

.cm-editors-pick__title-big {
    font-size: var(--base-font-size);
    font-weight: var(--heavy-font-weight);
}

.cm-editors-pick__title-small {
    {{ utils.natus() }}
    font-weight: var(--heavy-font-weight);
}

.cm-editors-pick__excerpt-big {
    {{ utils.base() }}
}

.cm-editors-pick__excerpt-small {
    {{ utils.natus() }}
}

.cm-editors-pick__link {
    display: block;

}
.cm-editors-pick__link-small {
    display: inline;
    margin: 0;
    vertical-align: text-top;
}

.cm-editors-pick__heading {
    {{ utils.eames() }}
    margin-bottom: var(--eames-margin);
}

.cm-editors-pick__image {
    position: relative;
    margin-bottom: 1rem;
}

.cm-editors-pick__image img {
    object-fit: cover;
    border-radius: 10px;
}

{% call utils.medium_large_and_extra_large() %}
    .cm-editors-pick__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
        }
    
    .cm-editors-pick__big_items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        grid-column: 1 / span 2;
        }
        
    .cm-editors-pick__small_items {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        grid-column: 3;
        }
    .cm-editors-pick__image img {
        position: absolute;
        width: 100%;
        height: 100%;
        }
                
    .cm-editors-pick__image::after {
        content: "";
        display: block;
        padding-bottom: 100%;
        }
{% endcall %}
                    
{% call utils.medium() %}
    .cm-editors-pick__items {
        grid-template-columns: 1fr;
        margin-bottom: 2.5rem;
    }

    .cm-editors-pick__big_items {
        grid-template-columns: 1fr 1fr;
        grid-column: 1;
    }

    .cm-editors-pick__small_items {
        grid-template-columns: 1fr;
        grid-column: 1;
    }
{% endcall %}

{% call utils.small() %}
       .cm-editors-pick__items {
        margin-bottom: 1.5rem;
    }

    .cm-editors-pick__big_items, .cm-editors-pick__small_items {
        display: grid;
        gap: 1.5rem;
    }

    .cm-editors-pick__image {
        margin-bottom: 0.5rem;
    }

    .cm-editors-pick__image img {
        height: 60%;
        width: 100%;
    }
{% endcall %}

{% call small_landscape() %}
    .cm-editors-pick__image img {
        height: 100px;
        width: 100%;
    }
{% endcall %}