{% import '../utils/utils.css' as utils %}

:root {
    --fading-animation-duration: 250ms;
}

.fade-animation {
  opacity: 0 !important;
}

.hidden {
  display: none !important;
}

.shown {
  display: block !important;
  position: static;
  opacity: 1;
}

.events-search-bar {
  --horizontal-padding-search-bar: 1em;
  margin-top: 3em;
  position: relative;
  max-width: 30rem;
}

.events-search-bar::after {
  font-family: 'Line Awesome Free';
  font-weight: 900;
  content: "\f002";
  transform: rotateY(180deg);
  top: 0.45em;
}

.events-search-bar::after, 
.events-search-bar__reset-button {
  position: absolute;
  right: var(--horizontal-padding-search-bar);
}

.events-search-bar::after, 
.reset-button__icon {
  color: var(--french-gray);
  font-size: 1.25rem;
}

.events-search-bar--icon-hidden::after {
  display: none;
}

.events-search-bar > label {
  display: none;
}

.events-search-bar__input {
  padding-left: var(--horizontal-padding-search-bar);
  width: 100%;
  height: 2.5rem;
  border-radius: 0.3rem;
  border: 0;
  color: var(--shark);
  font-weight: var(--middle-font-weight);
}

.events-search-bar__input::placeholder {
  color: var(--french-gray);
}

.events-search-bar__input::-webkit-search-cancel-button {
  display: none;
}

.events-search-bar__reset-button {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
  top: 0.6em;
  display: none;
}

.card-collection,
.card-collection__heading-wrapper {
  transition: all 
    var(--fading-animation-duration) 
    ease-in-out;
}

.card-collection.fade-animation,
.card-collection.fade-animation .card-collection__heading-wrapper {
  height: 0;
  margin: 0 !important;
}

.card-item {
  opacity: 1;
  transition: opacity 
    var(--fading-animation-duration) 
    ease-in-out;
}

