:root {
    --fading-animation-duration: 250ms;
}

.card-collection {
  opacity: 1;
  transition: all 
    var(--fading-animation-duration) 
    ease-in-out;
}

.card-collection--faded {
  opacity: 0;
  height: 0;
  margin: 0 !important;
}

.card-item {
  opacity: 1;
  transition: opacity 
    var(--fading-animation-duration) 
    ease-in-out;
}

.card-item--faded {
  opacity: 0;
}

.card-item--hidden {
  display: none;
}