{% import '../utils/utils.css' as utils %}

:root {
    --fading-animation-duration: 250ms;
}

.fade-animation {
  opacity: 0;
}

.katas-page__main {
    background-color: var(--white);
    padding-bottom: 2.5rem;
}

.katas__filter {
    position: absolute;
    z-index: 2;
}
{% call utils.medium_large_and_extra_large()%}
    .katas__filter {
        height: 2.38rem;
        left: 50%;
        max-width: 27.2rem;
        transform: translate(-50%, -50%);
        width: 85%;
    }
{% endcall %}
{% call utils.small() %}
    .katas__filter {
        width: 100%;
    }
{% endcall %}

{% call utils.medium_large_and_extra_large()%}
    .katas__filter-toggle {
        display: none;
    }
{% endcall %}
{% call utils.small() %}
    .katas__filter-toggle button {
        background: none;
        border: none;
        font-weight: var(--heavy-font-weight);
        cursor: pointer;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
    }
{% endcall %}


.katas__filter-toggle-icon {
    transform: rotate(0deg);
    transition: var(--cta-transition);
}

.katas__filter-toggle-icon--selected {
    transform: rotate(135deg);
}

.katas__filter-dropdown-container {
    position: relative;
    min-width: 200px;
}
{% call utils.medium_large_and_extra_large()%}
    .katas__filter-dropdown-container {
        height: 100%;
        width: 0;
    }
{% endcall %}

{% call utils.small() %}
    .katas__filter-dropdown-wrapper {
        display: none;
        position: absolute;
        width: 100%;
    }
{% endcall %}
{% call utils.medium_large_and_extra_large()%}
    .katas__filter-dropdown-wrapper {
        {{ utils.card_shadow_large() }}
        align-items: center;
        border-radius: 0.3rem;
        height: 100%;
        display: flex;
        justify-content: center;
        background-color: white;
        padding-left: 2rem;
        padding-right: 2rem;
    }
{% endcall %}

{% call utils.medium_large_and_extra_large()%}
    .katas__filter-dropdown-container:not(:last-of-type)::after {
        background-color: var(--french-gray);
        content: '';
        height: 50%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
    }
{% endcall %}

.katas__filter-dropdown-button {
    {{ utils.base() }}
    background-color: white;
    border: none;
    cursor: pointer;
    height: 100%;
    transition: background-color 0.3s linear;
    width: 100%;
}
{% call utils.small() %}
    .katas__filter-dropdown-button {
        border: 1px solid var(--athens-gray);
        padding: 1rem;
    }
{% endcall %}
.katas__filter-dropdown-button:hover {
    background-color: var(--athens-gray);
    transition: background-color 0.2s linear;
}

.katas__filter-icon {
    margin-right: 0.2rem;
    pointer-events: none;
}

.katas__filter-dropdown-icon {
    margin-left: 0.5rem;
    pointer-events: none;
    transform: rotate(0deg);
    transition: var(--cta-transition);
}

.katas__filter-dropdown-icon--selected {
    transform: rotate(180deg);
}

.katas__filter-dropdown-options {
    {{ utils.card_shadow() }}
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

{% call utils.medium_large_and_extra_large()%}
    .katas__filter-dropdown-options {
        border-radius: 0.3rem;
        margin-top: -0.2rem;
        position: relative;
        width: intrinsic;
        width: -moz-max-content;
        width: -webkit-max-content;
        width: max-content;
        z-index: -1;
    }
{% endcall %}

.katas__filter-dropdown-option {
    background-color: white;
    border: none;
    cursor: pointer;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 40px;
    padding-top: 10px;
    position: relative;
    text-align: left;
}
.katas__filter-dropdown-option:hover {
    background-color: var(--athens-gray);
}

.katas__filter-dropdown-option--selected {
    font-weight: var(--heavy-font-weight);
}

.katas__filter-dropdown-option-selected-icon {
    position: absolute;
    margin-left: 10px;
    top: 11px;
}

.katas-applied-filters__container {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 110px;
    width: 100%;
    padding-bottom: 1rem;
    padding-left: 20px;
    padding-right: 20px;

}
{% call utils.small() %}
    .katas-applied-filters__container {
        padding-top: 2.5rem;
    }
{% endcall %}
{% call utils.medium_large_and_extra_large()%}
    .katas-applied-filters__container {
        padding-top: 1rem;
    }
{% endcall %}

.katas-applied-filters__pill {
    {{ utils.sejima() }}
    border: 1px solid var(--mid-gray);
    border-radius: 50px;
    color: var(--mid-gray);
    cursor: default;
    height: 100%;
    margin: 20px;
    padding-bottom: 0.2em;
    padding-left: 1em;
    padding-right: 2em;
    padding-top: 0.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease;
    user-select: none;
}

.katas-applied-filters__pill:hover {
    background-color: var(--mid-gray);
    color: white;
}

.katas-applied-filters__remove-button {
    background: none;
    color: var(--mid-gray);
    height: 15px;
    position: absolute;
    right: 6px;
    top: 6px;
}

.katas-applied-filters__pill:hover
.katas-applied-filters__remove-button {
    color: white
}

.katas-applied-filters__remove-button:hover {
    cursor: pointer;
}

.katas-grid__container {
    margin: 0 auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    max-width: min(var(--content-max-width), 100%);
    grid-gap: 1.8em;
    
}

.custom-kata-listing__wrapper {
    display: flex;
    flex-direction: column;
    height: 12em;
    padding: 1em;
}

.custom-kata-listing__kata-name {   
    margin-bottom: auto;
}

.custom-kata-listing__tags {
    margin-block-end: 0;
}

{% call utils.large_and_extra_large() %}
    .katas-grid__container {
        margin: 0 auto;
    }
{% endcall %}


