{% import '../utils/utils.css' as utils %}

.clients-header__section {
    background-color: #1d1a55;
    color: white;
}

.clients-header__container {
    margin: 0 auto;
    padding: 50px 150px 50px 0;
    width: 80%;
}

.clients-header__section h1 {
    margin-bottom: var(--dudler-margin);
    {{ utils.dudler() }}
}

.clients-header__section p {
    {{ utils.base() }}
    {{ utils.base_margin() }}
}

.clients__filter {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 4.7601rem;
    display: flex;
    height: 2.38rem;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 1;
}

.clients__filter-dropdown-container {
    position: relative;
    width: 200px;
}

.clients__filter-dropdown-container:not(:last-of-type)::after {
  background-color: var(--french-gray);
  content: '';
  height: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
}

.clients__filter-dropdown-button {
  {{ utils.natus() }}
  align-items: center;
  background-color: white;
  border: none;
  cursor: pointer;
  display: inline-flex;
  height: 100%;
  justify-content: center;
  position: relative;
  transition: background-color 0.3s linear;
  width: 200px;
}
.clients__filter-dropdown-button:hover {
  background-color: var(--athens-gray);
  transition: background-color 0.2s linear;
}
.clients__filter-dropdown-button:not(:last-of-type)::after {
  background-color: var(--french-gray);
  content: '';
  height: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
}
.clients__filter-dropdown-button::before {
  content: attr(title);
  display: inline-block;
  font-weight: var(--middle-font-weight);
  height: 0px;
  overflow: hidden;
  visibility: hidden;
}


.clients__filter-dropdown-icon {
    margin-left: 10px;
}

.clients__filter-dropdown-options {
    background-color: white;
    box-shadow: 5px 10px 18px var(--woodsmoke--10);
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
}

.clients__filter-dropdown-option {
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 10px 10px;
    text-align: left;
}

.clients__filter-dropdown-option:hover {
    background-color: var(--athens-gray);
}

.clients-filter-selector__input {
    margin: 0 10%;
    position: relative;
}

.clients-filter-selector__input select {
    background-color: #33475b;
    border: none;
    color: white;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance: none;
    width: 160px;
}

.clients-filter-selectors__container .la-caret-down {
    color: white;
}

.clients-filter-selectors__container .clients-filter__dropdown-icon {
    position: absolute;
    top: 2px;
    left: 160px;
}

.clients-applied-filters__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 20px 160px;
    min-height: 250px;
    width: 100%;
}

.clients-applied-filters__pill {
    {{ utils.sejima() }}
    border: 1px solid var(--mid-gray);
    border-radius: 50px;
    color: var(--mid-gray);
    cursor: default;
    height: 100%;
    margin: 20px;
    padding-bottom: 0.2em;
    padding-left: 1em;
    padding-right: 2em;
    padding-top: 0.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease;
    user-select: none;
}

.clients-applied-filters__pill:hover {
    background-color: var(--mid-gray);
    color: white;
}

.clients-applied-filters__remove-button {
    background: none;
    color: var(--mid-gray);
    height: 15px;
    position: absolute;
    right: 6px;
    top: 6px;
}

.clients-applied-filters__pill:hover
.clients-applied-filters__remove-button {
    color: white
}

.clients-applied-filters__remove-button:hover {
    cursor: pointer;
}

.clients-grid__container {
    margin: -120px auto 50px;
    width: 80%;
}

.clients-grid__sizer {
    width: 33%;
}

.clients-grid__gutter-sizer {
    width: 4%;
}

.clients-grid__card {
    border: 1px solid #c6c6c6;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 10px 18px var(--woodsmoke--10);
    float: left;
    min-height: 200px;
    margin-bottom: 10px;
    padding: 20px;
    width: 28%;
    min-width: 300px;
}

.clients-grid__card--wide {
    width: 60%;
    min-width: 600px;
}

.clients-grid__card--v-wide {
    padding: 40px;
    width: 100%;
}

.client-card__container {
    align-items: center;
}

.client-card__name {
    margin-bottom: var(--dudler-margin);
    {{ utils.dudler() }}
}

.client-card__container p {
    {{ utils.base() }}
    {{ utils.base_margin() }}
}

.client-card__container ul {
    list-style-type: none;
}

.client-card__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.client-card__icon {
    margin-right: 10px;
}

.client-card__l-container {
    width: 300px;
}

.client-card__r-container {
    margin-left: 5%;
    width: 66%;
    position: relative;
}

.client-card__r-container .button-primary {
    position: absolute;
    right: 0px;
}

.client-card__image {
    align-items: center;
    height: 200px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position:center;
    margin-bottom: 20px;
}

.client-card__testimonial-author {
    font-weight: 700;
}

.client-card__video {
}

.client-card__video-inner {
    width: 100%;
    height: 500px;
}


