
{% import '../utils/utils.css' as utils %}


.jobs__filter-title{
    {{ utils.dudler() }}
    margin-top:2em;
}

{% call utils.medium_large_and_extra_large()%}
.jobs__filter-wrapper{
    margin-top: 1em;
    display: flex;
    gap: 1em;

}
{% endcall %}



/* ===================
    Filter Selector
==================== */
{% set border_radius = ".5em" %}

.jobs__filter {
    width: 100%;
}

{% call utils.small()%}
.jobs__filter {
    box-shadow: 0px 0px 10px var(--woodsmoke--20);
    border-radius: {{border_radius}};
}
{% endcall %}


{% call utils.medium_large_and_extra_large()%}
    .jobs__filter {
        display: flex;
        gap: 1em;
    }
{% endcall %}


.jobs__filter-toggle-icon {
    transform: rotate(0deg);
    transition: var(--cta-transition);
}

.jobs__filter-toggle-icon--selected {
    transform: rotate(135deg);
}

.jobs__filter-dropdown-container {
    position: relative;
    min-width: 150px;
}
{% call utils.medium_large_and_extra_large()%}
    .jobs__filter-dropdown-container {
        height: 100%;
        width: 0;
    }
{% endcall %}


{% call utils.medium_large_and_extra_large()%}
    .jobs__filter-dropdown-wrapper {
        align-items: center;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .jobs__filter-radio-wrapper{
        width: 70%;
    }

    .jobs__filter-dropdown-wrapper, 
    .jobs__filter-radio-wrapper {
        background-color: white;
        border-radius: .5em;
        box-shadow: 0px 0px 10px var(--woodsmoke--20);
        height: 2.38rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
{% endcall %}

{% call utils.medium_large_and_extra_large()%}
    .jobs__filter-dropdown-wrapper.hidden {
        visibility: visible;
    }
{% endcall %}

{% call utils.medium_large_and_extra_large()%}
    .jobs__filter-dropdown-container:not(:last-of-type)::after {
        background-color: var(--french-gray);
        content: '';
        height: 50%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
    }
{% endcall %}

.jobs__filter-dropdown-button {
    {{ utils.base() }}
    background-color: white;
    border: none;
    cursor: pointer;
    height: 100%;
    transition: background-color 0.3s linear;
    width: 100%;
}
{% call utils.small() %}
    .jobs__filter-dropdown-button {
        border-bottom: 1px solid var(--athens-gray);
        padding: 1rem;
    }
    .jobs__filter-dropdown-button:first-child{
        border-radius: {{border_radius}} {{border_radius}} 0 0;
    }
{% endcall %}
.jobs__filter-dropdown-button:hover {
    background-color: var(--athens-gray);
    transition: background-color 0.2s linear;
}

.jobs__filter-icon {
    margin-right: 0.2rem;
    pointer-events: none;
}

.jobs__filter-dropdown-icon {
    margin-left: 0.5rem;
    pointer-events: none;
    transform: rotate(0deg);
    transition: var(--cta-transition);
}

.jobs__filter-dropdown-icon--selected {
    transform: rotate(180deg);
}

.jobs__filter-dropdown-options {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
{% call utils.medium_large_and_extra_large()%}
    .jobs__filter-dropdown-options {
        box-shadow: 0px 4px 14px var(--french-gray);
        margin-left: 50%;
        margin-top: -0.2rem;
        position: relative;
        transform: translateX(-50%);
        width: intrinsic;
        width: -moz-max-content;
        width: -webkit-max-content;
        width: max-content;
        z-index: 1;
    }
{% endcall %}

.jobs__filter-dropdown-options.hidden {
    display: none;
}

.jobs__filter-dropdown-option {
    background-color: white;
    border: none;
    cursor: pointer;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 40px;
    padding-top: 10px;
    position: relative;
    text-align: left;
}
.jobs__filter-dropdown-option:hover {
    background-color: var(--athens-gray);
}

.jobs__filter-dropdown-option--selected {
    font-weight: var(--heavy-font-weight);
}

.jobs__filter-dropdown-option-selected-icon {
    position: absolute;
    margin-left: 10px;
    top: 11px;
}

.jobs-filter-selector__input {
    margin: 0 10%;
    position: relative;
}

.jobs-filter-selector__input select {
    background-color: #33475b;
    border: none;
    color: white;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance: none;
    width: 160px;
}



/* ===================
    CHECKBOX Selector
==================== */

.jobs__filter-radio-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .5em;
    padding: 1em;
}


.c-custom-radio {
  display: block;
  position: relative;
  cursor: pointer;
  color: var(--woodsmoke);
}

.c-custom-radio svg { 
  display: inline-block;
  vertical-align: middle;
  margin-bottom: .2em;
  width: 1em;
  height: 1em;
  border: 2px solid currentColor;
}


.c-custom-radio input[type="radio"] {
  opacity: 0.00001;
  width: 1em;
  height: 1em;
  position: absolute;
  left: 0;
  top: .2em;
}

.c-custom-radio svg path {
  transition: stroke-dashoffset .4s linear;
}

.c-custom-radio input[type="radio"]:checked + svg path {
  stroke-dashoffset: 0;
  stroke: currentColor;
}

.c-custom-radio input[type="radio"] + svg path {
  stroke: #eee;
}

.c-custom-radio input[type="radio"]:checked + label {
  text-decoration: line-through;
}

.c-custom-radio input[type="radio"]:focus + svg {
  outline: 3px dotted gold;
  outline-offset: 5px;
}


.c-custom-radio input[type="radio"]:focus:not(:focus-visible) + svg {
  outline: none;
}

