{% import '../utils/utils.css' as utils %}

.hs-search-results {
    margin-top: 3em;
}

.hs-search-results__listing {
    list-style: none;
    max-width: var(--content-inner-max-width);
    margin-inline: auto;
}

.hs-search-results .hs-search-results__listing > li {
    {{ utils.card_shadow() }}
    border-radius: 0.5em;
    margin-bottom: 1.5em;
    padding: 1.5em;
}

.hs-search-results__info-wrapper {  
    {{ utils.natus() }}
    color: var(--mid-gray);
    margin-bottom: 1em;
}

.hs-search-results__description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.hs-search-highlight {
    font-weight: bold;
}

.hs-search-results__pagination {
    display: flex;
    justify-content: space-between;
}

.hs-search-results__pagination > a {
    line-height: unset;
}

.hs-search-results__next-page {
    margin-left: auto;
}