
{% import '../utils/utils.css' as utils %}

.hs-search-field {
    position: relative;
    z-index: 1;
}

.hs-search-field__inner-wrapper {
    transform: translateY(-1em);
}

.hs-search-field__input {
    {{ utils.card_shadow_large() }}
    background-color: #fff;
    border-radius: 0.3rem;
    border: 0;
    box-sizing: border-box;
    color: var(--shark);
    font-weight: var(--middle-font-weight);
    height: 2.5rem;
    max-width: 500px;
    padding-left: .8em;
    width: 100%;
}

.hs-search-field__input::placeholder {
    color: var(--french-gray);
}

.hs-search-field__bar button svg {
    height: 10px;
}

.hs-search-field__suggestions {
    margin: 0;
    list-style: none;
    position: absolute;
    z-index: -1;
}

.hs-search-field--open .hs-search-field__suggestions {
    {{ utils.card_shadow_large()}}
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    padding: .8em;
    max-width: 500px;
    margin-top: -0.2em;
}

.hs-search-field__suggestions #results-for {
    color: var(--french-gray);
    font-weight: bold;
}

.hs-search-field__suggestions li {
    display: block;
    margin: 0;
    padding: 0;
}

.hs-search-field__suggestions a,
.hs-search-field__suggestions #results-for {
    display: block;
    line-height: 1.2;
    margin-bottom: .5em;
}

.hs-search-field__suggestions a {
    color: var(--shark);
}

.hs-search-field__suggestions a:hover {
    color: var(--persimmon--dark);
}

