{% import '../utils/utils.css' as utils %}

.header-slice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

{% call utils.extra_large() %}
  .heading-slice__heading-wrapper {
    max-width: 550px;
    margin-right: 100px;
  }
{% endcall %}
{% call utils.large() %}
  .heading-slice__heading-wrapper {
    max-width: 49%;
    margin-right: 60px;
  }
{% endcall %}

.header-slice__heading {
  font-size: var(--dudler-font-size);
  line-height: var(--dudler-line-height);
  margin-bottom: var(--dudler-margin);
  font-weight: var(--heavy-font-weight);
}

.header-slice__body-text {
  {{ utils.base() }}
  padding-bottom: 50px;
}

.header-slice__image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 350px;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}
.header-slice__image-wrapper > svg {
  height: auto;
  width: 100%;
}
{% call utils.small_and_medium() %}
  .header-slice__image-wrapper {
    display: none;
  }
{% endcall %}