{% import '../utils/utils.css' as utils %}

.simple-hero-slice {
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.simple-hero-slice__text-container {
  margin-left: auto;
  margin-right: auto;
}

.simple-hero-slice__title {
    font-size: var(--eames-font-size);
    font-weight: var(--heavy-font-weight);
    max-width: var(--eames-max-width);
    color: var(--athens-gray);
}