{% import '../utils/utils.css' as utils %}

.header-slim {
  padding-top: 1.6em;
}

.header-slim-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--content-max-width);
  margin-inline: auto;
}

.header-slim__text {
  margin-top: 1.6em;
  margin-bottom: 3.2em;
}

.header-slim__text h1 {
    {{ utils.eames() }}
    max-width: var(--eames-max-width);
}

.header-slim__text p {
    {{ utils.freed() }}
    margin-top: var(--sejima-margin);
    font-weight: var(--light-font-weight);
}

.header-slim__image {
  align-self: end;
  width: 80%;
}