{% import '../utils/utils.css' as utils %}

.hero-slice {
  padding-bottom: 6rem;
  padding-top: 4rem;
}
{% call utils.small_and_medium() %}
  .hero-slice {
    padding-bottom: 4rem;
    padding-top: 7rem;
  }
{% endcall %}


{% call utils.large_and_extra_large() %}
  .hero-slice {
    position: relative;
  }
  .hero-slice::before {
    background-image: var(--large-bg-image);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    content: '';
    left: 50%;
    position: absolute;
    right: 0;
    top: 0;
  }
{% endcall %}
{% call utils.small_and_medium() %}
  .hero-slice {
    background-image: var(--small-bg-image);
    background-position: top right;
    background-size: cover;
  }
{% endcall %}


.hero-slice__text-container {
  margin-left: auto;
  margin-right: auto;
}

.hero-slice__title {
  font-size: var(--dudler-font-size);
  font-weight: var(--heavy-font-weight);
  line-height: var(--dudler-line-height);
  margin-bottom: var(--dudler-margin);
  max-width: var(--dudler-max-width);
  }
  
  {% call utils.small_and_medium() %}
    .hero-slice__title {
      max-width: var(--gaudi-max-width); 
    
  }
{% endcall %}

.hero-slice__description {
  max-width: 40ch;
}

