{% import '../utils/utils.css' as utils %}

.cm-homepage-hero {
  background-image: var(--large-bg-image);
  background-position: center;
  background-size: cover;
  height: 800px;
  position: relative;
  width: auto;
  z-index: 1;
}

.cm-homepage-hero__video-wrapper {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.cm-homepage-hero__video-wrapper::after {
  background: var(--woodsmoke--50);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

{% call utils.small() %}
  .cm-homepage-hero__video {
    display:none;
    max-width:none;
  }
{% endcall %}
{% call utils.medium_large_and_extra_large() %}
  .cm-homepage-hero__video {
    height: auto;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    position:absolute;
    top: 0;
    width: auto;
    z-index: 0;
  }
{% endcall %}

.cm-homepage-hero__content-container,
.cm-homepage-hero__content-container__ab-test {
  background: transparent;
  color: white;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.cm-homepage-hero__content-container__ab-test {
  width: 50%;
  text-align: left;
}

{% call utils.small() %}
  .cm-homepage-hero {
    background-image: var(--small-bg-image)
  }

  .cm-homepage-hero__content-container [class^="button"] {
    width: 100%;
    max-width: var(--button-max-width);
  }
  .cm-homepage-hero {
    background-position: top right;
  }

{% endcall %}

.cm-homepage-hero__title {
  color: white;
  margin: auto;
  max-width: 25ch;
}
{% call utils.large_and_extra_large() %}
  .cm-homepage-hero__title {
    {{ utils.habib() }}
    margin-bottom: var(--habib-margin);
  }
{% endcall %}
{% call utils.medium() %}
  .cm-homepage-hero__title {
    {{ utils.eames() }}
    margin-bottom: var(--eames-margin);
  }
{% endcall %}
{% call utils.small() %}
  .cm-homepage-hero__title {
    {{ utils.dudler() }}
    margin-bottom: var(--dudler-margin);
  }
  .cm-homepage-hero__content-container__ab-test {
    left: 0%;
    top: 45%;
    transform: translate(0%, 0%);
    width: 80%;
    margin-left: 25px;
    margin-right: 25px;
}
{% endcall %}


.cm-homepage-hero__subtitle {
  color: white;
  margin: auto;
  max-width: 50ch;
  padding: 10px 0 20px 0;
}

{% call utils.large_and_extra_large() %}
  .cm-homepage-hero__content-container {
    width: 60%;
  }
  .cm-homepage-hero__subtitle {
    {{ utils.freed() }}
    margin-bottom: var(--freed-margin);
  }
{% endcall %}
{% call utils.medium() %}
 
  .cm-homepage-hero__subtitle {
    {{ utils.freed() }}
    margin-bottom: var(--freed-margin);
  }
{% endcall %}
{% call utils.small() %}
  .cm-homepage-hero__subtitle {
    {{ utils.base() }}
    margin-bottom: var(--base-margin);
  }
{% endcall %}
