{% import '../utils/utils.css' as utils %}

.custom-how-does-it-work {
  background-color: var(--athens-gray);
  display: flex;
}

.custom-how-does-it-work__image {
  background-size: cover;
  background-position: center;
}
{% call utils.large_and_extra_large() %}
  .custom-how-does-it-work__image {
    width: 33.33%;
  }
{% endcall %}
{% call utils.small_and_medium() %}
  .custom-how-does-it-work__image {
    display: none;
  }
{% endcall %}

.custom-how-does-it-work__card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  flex: 1;
}

{% set card_margin = '0.5rem' %}
.custom-how-does-it-work__card {
  background-color: white;
  border-left: 2px solid var(--persimmon);
  padding: 1rem;
  margin: {{ card_margin }};
}
{% call utils.medium_large_and_extra_large() %}
  .custom-how-does-it-work__card {
    width: calc(50% - ({{ card_margin }} * 2));
  }
{% endcall %}
{% call utils.small() %}
  .custom-how-does-it-work__card {
    width: calc(100% - ({{ card_margin }} * 2));
  }
{% endcall %}

.custom-how-does-it-work__title {
  {{ utils.base() }}
  margin-bottom: var(--base-margin);
  font-weight: var(--middle-font-weight);
}

.custom-how-does-it-work__description {
  {{ utils.natus() }}
}

{# @media (min-width: 576px){
  .custom-how-does-it-work.row.bg-color-light {
    margin: 0;
  }
} #}
.bg-color-light {
  background-color: #f7f7f7 !important;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.howworks-boxes-container {
  padding-top: 1.5rem;
  margin: 0 auto;
}
.custom-body-container.custom-body-container-2 .howworks-boxes-container .h5 {
  margin-bottom: .5rem;
}
.howworks-boxes-container {
  padding-top: 1.5rem;
  margin: 0 auto
}

.howworks-box {
  border-left: 3px solid #e67e22;
  margin-left: 5px;
  margin-right: 5px
}


