{% import '../utils/utils.css' as utils %}

.rich-texts-listing {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2em;
}

{% call utils.medium_large_and_extra_large() %}
  .rich-texts-listing {
    grid-template-columns: repeat(2, 1fr); 
  }
{% endcall %}

.rich-text--card {
  {{ utils.card_shadow() }}
  background-color: white;
  padding: 2em;
  border-radius: 13px;
}


.rich-text__title {
  {{ utils.base() }}
  font-weight: var(--middle-font-weight);
}


{% call utils.small() %}
  .rich-text__description {
    {{ utils.natus() }}
  }
{% endcall %}