{% import '../utils/utils.css' as utils %}

.custom-how-does-it-work {
  background-color: var(--athens-gray);
  display: flex;
}

.custom-how-does-it-work__image {
  background-position: center;
  background-size: cover;
}
{% call utils.large_and_extra_large() %}
  .custom-how-does-it-work__image {
    width: 33.33%;
  }
{% endcall %}
{% call utils.small_and_medium() %}
  .custom-how-does-it-work__image {
    display: none;
  }
{% endcall %}

.custom-how-does-it-work__card-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 1rem;
  max-width: var(--content-inner-max-width);
  margin-inline: auto;
}

{% set card_margin = '0.5rem' %}
.custom-how-does-it-work__card {
  background-color: white;
  margin: {{ card_margin }};
  padding: 1rem;
  border-radius: 13px;
}
{% call utils.medium_large_and_extra_large() %}
  .custom-how-does-it-work__card {
    width: calc(50% - ({{ card_margin }} * 2));
  }
{% endcall %}
{% call utils.small() %}
  .custom-how-does-it-work__card {
    width: calc(100% - ({{ card_margin }} * 2));
  }
{% endcall %}

.custom-how-does-it-work__title {
  {{ utils.base() }}
  font-weight: var(--middle-font-weight);
  margin-bottom: var(--base-margin);
}

.custom-how-does-it-work__description {
  {{ utils.natus() }}
}