{% import '../utils/utils.css' as utils %}

.icons-group{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 2em;
    margin: 2.5em auto;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    max-width: 5em;
}

.icon__title {
    max-width: 10ch;
    text-align: center;
}

{% call utils.small()%}
    .icons-group{
        grid-template-columns: repeat(4, 1fr);
        row-gap: 1em;
    }
    .icon__image {
        width: 70%;
    }

    .icon__title {
        {{ utils.natus() }}
    }   
{% endcall %}

{% call utils.small_and_medium() %}
    .icon__title {
        font-weight: var(--heavy-font-weight);
    }  
{%endcall%}