{% import '../utils/utils.css' as utils %}

.in-page-cta-block-banner {
  min-height: 300px;
  overflow: hidden;
  max-width: 1300px;
  margin: auto;
}
.in-page-cta-block__image {
  background-position: center;
}
.in-page-cta-block__main {
  align-items: center;
  background-color: var(--persimmon);
  display: flex;
  height: 300px;
  justify-content: center;
  text-align: center;
}
.in-page-cta-block__inner {
  max-width: 500px;
}
{% call utils.small() %}
  .in-page-cta-block__inner [class^="button"] {
    width: 100%;
    max-width: var(--button-max-width);
  }
{% endcall %}

.in-page-cta-block__title {
  {{ utils.freed() }}
  {{ utils.freed_margin() }}
  font-weight: var(--heavy-font-weight);
  color: white;
}
.in-page-cta-block__description {
  {{ utils.base() }}
  color: white;
  margin-bottom: var(--base-margin);
  padding: 0 20px;
}


@media (min-width: 1024px){
  .in-page-cta-block__main {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 768px){
  .in-page-cta-block__main {
    float: left;
    width:50%;
  }
  .in-page-cta-block__image {
    background-size: cover;
    float: left;
    height: 300px;
    width: 50%;
  }
}