{% import '../utils/utils.css' as utils %}

:root {
  --icon-width: 3rem;
}

.custom-interview-process {
  max-width: var(--content-max-width);
  margin-inline: auto;
  padding: 2em 0 4em;
}

.custom-interview-process__item-list {
  display: flex;
}

{% call utils.large_and_extra_large() %}
  .custom-interview-process__item-list {
    position: relative;
  }

{% endcall %}

{% call utils.small_and_medium() %}
  .custom-interview-process__item-list {
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: ;
    align-items: center;
  }
{% endcall %}

.custom-interview-process__item {
  z-index: 2;
}

{% call utils.medium_large_and_extra_large() %}
  .custom-interview-process__item {
    padding-left: 1rem;
    padding-right: 1rem;
  }
{% endcall %}

{% call utils.large_and_extra_large() %}
  .custom-interview-process__item {
    width: 25%;
  }
{% endcall %}


{% call utils.small_and_medium() %}
  .custom-interview-process__item {
    display: flex;
  }
  .custom-interview-process__item + .custom-interview-process__item {
    margin-top: 2em;
  }
{% endcall %}

.custom-interview-process__icon-container img {
  --shadow-color: rgba(234, 133, 33, 0.38);
  filter: drop-shadow(0 8px 10px var(--shadow-color));
}

{% call utils.large_and_extra_large() %}
  .custom-interview-process__icon-container {
  margin-bottom: 0.8em;
  }
{% endcall %}

{% call utils.small_and_medium() %}
  .custom-interview-process__icon-container {
    position: relative;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding:0 0.5em;
  }

  .custom-interview-process__icon-container img {
    min-width: var(--icon-width);
  }

  .custom-interview-process__icon-container::before {
    --top-position: 40%;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    background-color: var(--french-gray);
    width: 1px;
    height: calc(100% - var(--icon-width) - 1rem);
    content: "";
  }

  .custom-interview-process__icon-container::after {
    --arrow-size: 15px;
    content: "";
    bottom: -2px;
    left: calc(50% - var(--arrow-size)/2);
    position: absolute;
    width: var(--arrow-size);
    height: var(--arrow-size);
    background: var(--french-gray);
    clip-path: polygon(0 55%, 50% 90%, 100% 55%, 100% 65%, 50% 100%, 0 66%);
  }

  .custom-interview-process__item:last-child .custom-interview-process__icon-container::after {
    border-radius: 50%;
    background-color: white;
    outline: 1px solid var(--french-gray);
    clip-path: none;
    z-index: 1;
  }

{% endcall %}


.custom-interview-process__step {
  {{ utils.natus() }}
  font-weight: var(--heavy-font-weight);
  text-transform: uppercase;
  color: var(--mid-gray);
  margin-bottom: 0;
}


{% call utils.large_and_extra_large() %}

  .custom-interview-process__step {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1em; 
    position:relative;
  }
  
  .custom-interview-process__step::before {
    content: "";
    position: relative;
    background-color: var(--french-gray);
    width: 100%;
    height: 2px;
    flex: 1;
    z-index: 1;
  }
  
  .custom-interview-process__step::after {
    --arrow-size: 0.8rem;
    content: "";
    right: -1px;
    transform: rotate(-90deg);
    position: absolute;
    width: var(--arrow-size);
    height: var(--arrow-size);
    background: var(--french-gray);
    clip-path: polygon(0 55%, 50% 90%, 100% 55%, 100% 65%, 50% 100%, 0 66%);
  } 

  .custom-interview-process__item:last-child .custom-interview-process__step::after {
    border-radius: 50%;
    background-color: white;
    outline: 1px solid var(--french-gray);
    clip-path: none;
    z-index: 1;
  }
  
{% endcall %}


.custom-interview-process__title {
  {{ utils.freed() }}
  
  font-weight: var(--heavy-font-weight);
}

{% call utils.large_and_extra_large() %}
  .custom-interview-process__title {
    margin-top: var(--space-2);
    margin-bottom: var(--space-1);
  }
{% endcall %}

{% call utils.small_and_medium() %}
  .custom-interview-process__title {
    margin-top: var(--space-0);
    margin-bottom: var(--space-0);
  }
{% endcall %}

.custom-interview-process__description,
.custom-interview-process__description > p {
  {{ utils.natus() }}
}

{% call utils.small_and_medium() %}
  .custom-interview-process__description,
  .custom-interview-process__description > p {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--freed-max-width);
  }
{% endcall %}

.custom-interview-process ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}


