{% import "../utils/utils.css" as utils %}

.job-card__location {
    {{utils.freed()}}
    margin-bottom: var(--dudler-margin);
}

.job-card {
    {{utils.card_shadow()}};
    background-color: white;
    display:flex;
    flex-direction: column;
    padding: 2rem;
}

