{% import '../utils/utils.css' as utils %}

{% macro display_circle(item_count) %}
    {% set rotation = {degrees : 90} %}
    {% set angle = 360 / item_count|length %}

    {% for item in item_count %}
        .hub-menu > *:nth-of-type({{ loop.index }}) {
            transform: rotate(calc({{ rotation.degrees }} * 1deg)) 
                       translate(calc(var(--hub-menu-width) / 2)) 
            rotate(calc({{ rotation.degrees }} * -1deg));
        }

        .hub-menu > *:nth-of-type({{ loop.index }}) .hub-menu__icon-background  {
            transform: rotate(calc({{ rotation.degrees }} * 1deg)) 
                   translate(calc(var(--hub-menu-item-width) / 2))
            rotate(calc({{ rotation.degrees }} * -1deg))
            scale(1.25);
        }

        .hub-menu > *:nth-of-type({{ loop.index }}) .hub-menu__link-info  {
            transform: rotate(calc({{ rotation.degrees }} * 1deg)) 
                       translate(calc(var(--hub-menu-item-width) * 1.2))
                       rotate(calc({{ rotation.degrees }} * -1deg));
        }

        {% do rotation.update({degrees : rotation.degrees + angle}) %}
    {% endfor %}
{% endmacro %}

.hub-menu {
    --hub-menu-width: 13em;
    --hub-menu-item-width: 6rem;
    list-style-type: none;
    margin: 2em auto 0;
    max-width: 25em;
}

.hub-menu__item {
    border-radius: 6px;
    display: block;
    max-width: 100%;
}

.hub-menu__link{
    align-items: center;
    color: white;
    display: flex;
    gap: 1em;
    line-height: inherit;
    padding: 1em 0.5em;
}
.hub-menu__link:hover{
    text-decoration: none;
}

.hub-menu__link-icon {
    height: 4rem;
    position: relative;
}

.hub-menu__icon-background {
    left: 2.5em;
    opacity: 0.44;
    position: absolute;
    transform: scale(1.25);
}

.hub-menu__link-info {
  display: flex;
  flex-direction: column;
  gap: .25em;
  z-index: 1;
}

.link-info__title{
    {{utils.base()}}
    font-weight: var(--heavy-font-weight);
}

.link-info__subtitle{
    {{ utils.sejima() }}
    font-weight: var(--middle-font-weight);
    max-width: var(--eames-max-width);
}

{% call utils.small() %}
    .hub-menu__item:not(:first-child){
        margin-top: 1em;
    }
{% endcall %}

{% call utils.medium_large_and_extra_large() %}
    .hub-menu{
        position: relative;
        height: {{ hub_menu_width }};
        display: grid;
        place-items: center;
    }

    .hub-menu__item{
        background: none !important;
        box-shadow: none !important;
        position: absolute;
    }

    .hub-menu__link-icon {
        height: {{ hub_menu_item_width }};
        width: {{ hub_menu_item_width }};
    }

    .hub-menu__icon-background {
        left: 0;
    }

    .hub-menu__link-info {
        display: none;
    }
{% endcall %}
