{% import '../utils/utils.css' as utils %}

    
.hub-menu {
    list-style-type: none;
}

.hub-menu__item {
    box-shadow: 0px 3px 10px;
    background: var(--slate) !important; /* remove bg after testing layout */
    padding: 1em 0.5em;
    border-radius: 6px;
    max-width: 100%;
    display: block;
}

.hub-menu__item:not(:first-child){
    margin-top: 1em;
}

.hub-menu__link{
    display: flex;
    align-items: center;
    color: white;
    gap: 1em;
    line-height: inherit;
}
.hub-menu__link:hover{
    text-decoration: none;
}

.hub-menu__link-icon {
    height: 4rem;
    position: relative;
}

.hub-menu__icon-background {
    left: 2.5em;
    opacity: 0.44;
    position: absolute;
    transform: scale(1.25);
}

.hub-menu__link-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5em;
  width: 75%;
}

.link-info__title{
    {{utils.base()}}
    font-weight: var(--heavy-font-weight);
}

.link-info__subtitle{
    {{ utils.sejima() }}
    font-weight: var(--middle-font-weight);
    max-width: var(--eames-max-width);
}

