{% import '../utils/utils.css' as utils %}

.cta-block {
    background-image: var(--bg-img-small);
    background-position: top right;
    background-size: cover;
    margin: 0 auto;
    padding: 2em 1em;
}

.cta-block--font-dark {
    color: var(--shark);
}
.cta-block--font-light {
    color: white;
}

.cta-block__wrapper {
    margin-inline: auto;
    max-width: var(--content-inner-max-width);
}

.cta-block__title {
    {{ utils.dudler() }}
    font-weight: var(--heavy-font-weight);
}
    
.cta-block__subtitle {
    {{ utils.freed() }}
    font-weight: var(--light-font-weight);
    margin-top: .5em;
}

.cta-block__button {
    text-align: center;
    margin-top: 1em;
}

{% call utils.medium_large_and_extra_large() %}
    .cta-block {
        background-image: var(--bg-img-large);
    }

    .cta-block__title,
    .cta-block__subtitle {
        max-width: 70%;
    }

    .cta-block__button {
        text-align: left;
    }
{% endcall %}  

{% call utils.large_and_extra_large() %}
    .cta-block__wrapper {
        padding-left: 1em;
    }
{% endcall %}

{% call utils.small() %}
    .cta-block__title {
        {{ utils.freed() }}
        font-weight: var(--heavy-font-weight);
    }
{% endcall %}