{% import '../utils/utils.css' as utils %}


.cta-block{
    --bg-img-small: url("https://f.hubspotusercontent10.net/hubfs/3042464/Landing%20Page%20Template%20assets/CTA%20block%20module/BG-CTA-small-landing-page.svg");
    --bg-img-large: url("https://f.hubspotusercontent10.net/hubfs/3042464/Landing%20Page%20Template%20assets/CTA%20block%20module/BG-CTA-x-large-landing-page.svg");
    background-image: var(--bg-img-small);
    background-position: top;
    background-size: cover;
    margin: 0 auto;
    color: white;  
    max-width: 1300px;
    padding:  3em 1.5em;

}

.cta-block__title{
    {{utils.eames()}}
    font-weight: var(--heavy-font-weight);
    }
    
.cta-block__subtitle{
    {{utils.freed()}}
    margin-top: 1em;

}

.cta-block__button{
    text-align: center;
    margin-top: 2em;
}

{% call utils.medium_large_and_extra_large() %}
.cta-block{
    background-image: var(--bg-img-large);
    padding: 4em;

    
}
.cta-block__button{
    text-align: left;
}
{% endcall %}  

{% call utils.large_and_extra_large() %}
    .cta-block__title,
    .cta-block__subtitle{
        max-width: 60%;
    }

{% endcall %}    