{% import '../utils/utils.css' as utils %}

.lp-partners-clients-container {
    display: flex;
    color: var(--shark);
    padding: 0 1rem;
    flex-direction: column;
}

.lp-partners-clients-container__title {
    {{ utils.freed() }}
    font-weight: var(--heavy-font-weight);
    margin-bottom: var(--freed-margin);
}
.lp-partners-clients-container__subtitle {
    {{ utils.natus() }}
    margin-bottom: var(--base-margin);
}


.lp-partners-clients-container__logo-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1.5rem 0;
}


.lp-partners-clients-container__logo-group__image {
    height: 30px;
    filter: grayscale(100%);
    margin: .5rem 1rem;
}

.lp-clients-partners-container__line {
    max-width: 1300px; 
    margin: 0 auto;
}

.lp-clients-partners-container__line hr {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 80%;
    margin: 0 auto;
}


{% call utils.large_and_extra_large() %}
    .lp-partners-clients-container {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1300px;
        padding: 2rem 3rem;
    }
    .lp-partners-clients-container__content {
        max-width: 40%;
    }
    .lp-partners-clients-container__logo-group__image {
        height: 40px;
        margin: 1.5rem 1rem;
    }
    .lp-partners-clients-container__logo-group {
        align-items: center;
    }  

    .lp-clients-partners-container__line hr {
        max-width: 60%;
    }
{% endcall%}