{% import '../utils/utils.css' as utils %}

.lp-rich-text {
    padding: 2em 1.5em;
}

.lp-rich-text__title {
    {{ utils.dudler() }}
    font-weight: var(--heavy-font-weight);
    margin-bottom: var(--dudler-margin);
}

.lp-rich-text__content em{
    font-style: italic;
}

.lp-rich-text__content h1{
    {{utils.eames()}}
}
.lp-rich-text__content h2{
    {{utils.dudler()}}}

.lp-rich-text__content h3{
    {{utils.freed()}}
}

.one_col{
    columns: 1;
}

.two_col {
    columns: 400px 2;
    column-gap: 5rem;
}

{% call utils.medium_large_and_extra_large() %}
    .lp-rich-text {
        padding: 2em 1.5em;
        max-width: 80%;
        margin: 0 auto;
    }
{% endcall%} 
