{% import '../utils/utils.css' as utils %}

.lp-stats-block {
    padding: 1.5rem;
    color: var(--shark)
}

.lp-stats-block__title {
    {{ utils.freed() }}
    margin-bottom: var(--freed-margin);
}

.lp-stats-block-card__statistic {
    margin: 4rem 0;
}

.lp-stats-block-card__number {
    color: #4A5790;
    font-size: 100px;
    font-weight: var(--heavy-font-weight);
}

.lp-stats-block-card__symbol {
    font-size: 40px;
    margin-left: -1.5rem;
}

.lp-stats-block__content {
    display: flex;
    flex-direction:column;
    text-align: center;
}


{% call utils.medium() %}
    .lp-stats-block {
        padding: 3rem;
    }

    .lp-video-podcast-container-info {
        margin-bottom: 2rem;
    }

{% endcall%}

{% call utils.large_and_extra_large() %}
    .lp-stats-block__content {
        flex-direction: row;
        justify-content: space-between;
    }
    .lp-stats-block {
        margin: 0 auto;
        max-width: 1300px;
        padding: 4rem;
    }
    .lp-stats-block-card {
        margin: 1.5rem;
    }
{% endcall%}