{% import '../utils/utils.css' as utils %}

:root {
  scroll-behavior: smooth;
}

.sticky-menu {
  position: sticky;
  top: 0;
}

.table-of-contents {
  background-color: var(--athens-gray);
  padding: var(--space-3);
  margin-bottom: var(--space-3);
  margin-top: var(--space-3);

  .hs-menu-wrapper ul {
    margin-top: 0;
  }

  .hs-menu-depth-1 {
    margin-top: var(--space-4);
  }

  .hs-menu-depth-2 {
    margin-top: var(--space-2);
    margin-left: var(--space-2);
  }

  .hs-menu-depth-1 > a {
    {{ utils.base() }}
    font-weight: var(--heavy-font-weight);
    color: var(--shark);
  }

  .hs-menu-depth-2 > a {
    {{ utils.natus() }}
  }

  .hs-menu-item a,
  .hs-menu-item:focus a, 
  .hs-menu-item:hover a {
    color: var(--shark);
  }

  .hs-menu-item:hover > a {
    color: var(--persimmon);
  }
}

.table-of-contents__title {
  font-weight: var(--heavy-font-weight);
  color: var(--mid-gray);
}

