{% import '../utils/utils.css' as utils %}

:root {
  scroll-behavior: smooth;
}

.sticky-menu {
  position: sticky;
  top: 0;
}

.table-of-contents {
  {{ utils.card_shadow_large() }}
  {{ utils.card_border_radius() }}
  padding: var(--space-3);
  margin-bottom: var(--space-3);
  margin-top: var(--space-3);

  .hs-menu-wrapper ul {
    margin-top: 0;
  }

  .hs-menu-depth-1 {
    margin-top: var(--space-1);
  }

  .hs-menu-depth-2 {
    margin-top: var(--space-0);
  }

  .hs-menu-depth-1 > a {
    {{ utils.natus() }}
    font-weight: var(--middle-font-weight);
  }

  .hs-menu-depth-2 > a {
    {{ utils.sejima() }}
  }

  .hs-menu-item a,
  .hs-menu-item:focus a, 
  .hs-menu-item:hover a {
    color: var(--mid-gray);
  }

  .hs-menu-item:hover > a {
    color: var(--persimmon);
  }
}

.table-of-contents__title {
  font-weight: var(--heavy-font-weight);
}

