{% import '../utils/utils.css' as utils %}

.navigation-primary {
  display: inline-block;
}

.navigation-primary a {
  color: var(--shark);
  display: inline-block;
  font-weight: var(--middle-font-weight);
  transition: color 0.2s;
}

.navigation-primary .submenu {
  list-style: none;
  margin: 0;
  padding: 0;
}


.navigation-primary .submenu a,
.navigation-primary .submenu p {
  text-decoration: none;
}

.submenu.level-1 {
  display: inline-block;
  white-space: nowrap;
}

.submenu.level-1 > li {
  display: inline-block;
}

.submenu.level-2 {
  opacity: 0;
  position: absolute;
  text-transform: none;
  top: 22px;
  transition: visibility .3s, opacity .3s;
  visibility: hidden;
  width: auto;
  padding-top: var(--space-3);
}

.submenu.level-2 > li {
  display: flex;
  padding: 0;
}

.submenu.level-2 .menu-link {
  display: block;
}

.submenu.level-3 .menu-link {
  padding-left: 60px;
}

/* Hide navigation dropdown in the inline editor */
.hs-inline-edit .submenu.level-1 > li.has-submenu:hover .submenu.level-2,
.hs-inline-edit > li.has-submenu.focus .submenu.level-2 {
  visibility: hidden;
}

.navigation-primary li.has-submenu > a:after {
  border-width: 0 2px 2px 0;
  border-color:inherit;
  margin: 3px;
  transition: border-color .5s,transform .5s,top .5s;
  position: relative;
  content: "";
  display: inline-block;
  padding: 4.5px;
  border-style: solid;
  top: 0;
  transform: rotate(45deg);
  margin-left: 8px;
}

.active-item {
  position: relative;
}

.active-item:after {
  background-color: var(--persimmon);
  bottom: -2px;
  content: "";
  height: 2px;
  left: 10px;
  position: absolute;
  right: 10px;
}

.navigation-primary .submenu.level-2 .menu-link.active-item:after{
  left: 0;
  right: 0;
}

{% call utils.small_and_medium() %}
  .navigation-primary a,
  .hs-header-language ul a {
    {{ utils.base() }}
  }

  .navigation-primary .submenu.level-2 .menu-link.active-item:after {
    left: 25px;
    right: 25px;
    bottom: 5px;
  }

  .navigation-primary .submenu.level-2 .menu-link.active-item {
    width: auto;
  }

  .navigation-primary.website-navigation__menu--open {
    overflow: hidden;
    overflow-y: auto;
  }

  .submenu.level-2.website-navigation-sub-menu:not(.website-navigation-sub-menu--open) {
    visibility: hidden;
  }

  .submenu.level-1 > li.has-submenu {
    position: static;
  }

  .navigation-primary a {
    display: inline-block;
    font-weight: var(--middle-font-weight);
    color: white;
    padding: 10px 25px;
  }

  .navigation-primary a:hover {
    color: white;
  }

  .navigation-primary li.has-submenu > a:after {
    border-color: var(--persimmon);
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
    padding: 4.5px;
    margin: 0px 6px;
  }

  .navigation-primary li {
    margin-bottom: 5px;
  }

  .navigation-primary {
    display: block;
  }

  .submenu > li > a {
    display: block;
    width: 100%;
  }

  .submenu > .has-submenu {
    position: relative;
  }

  .submenu.level-1 {
    width: 100%;
  }

  .submenu.level-1 > li {
    display: block;
    padding: 0;
    width: 100%;
  }

  .submenu.level-2 {
    opacity: 1;
    position: static;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
    visibility: visible;
    width: 100%;
  }

  .submenu.level-2 .menu-link {
    font-weight: var(--middle-font-weight);
    padding: 10px 25px;
  }

  .navigation-primary .submenu.level-1 > li > a {
    display: inline-block;
    margin-bottom: 0 !important;
    width: auto;
  }

  .submenu.level-2.website-navigation-sub-menu {
    left: 100vw;
    top: 0;
    width: 100vw;
    list-style-type: none;
    margin: 0;
    position: absolute;
    padding-left: 23px;
    padding-right: 23px;
  }

  .navigation-primary.website-navigation__menu--showing-sub-menu {
    left: -100vw;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .back-button:before {
    content: "";
    display: inline-block;
    padding: 4.5px;
    border-style: solid;
    border-color: var(--persimmon);
    border-width: 0 2px 2px 0;
    transform: rotate(135deg);
    position: absolute;
    left: var(--space-0);
    top: var(--space-2);
  }

  .submenu.level-2.website-navigation-sub-menu > a,
  .submenu.level-2.website-navigation-sub-menu > .menu-link.trigger {
    position: relative;
    margin-top: 7px;
    margin-left: -3px;
  }
  
  .submenu.level-2.website-navigation-sub-menu > a:after,
  .navigation-primary .menu-link.active-item:after {
    left: 25px;
    right: 25px;
    bottom: 5px;
  }


  .promotional-section {
    display: none;
  }
{% endcall %}

{% call utils.large_and_extra_large() %}
  .navigation-primary a,
  .hs-header-language ul a {
    font-size: var(--natus-font-size);
    font-weight: var(--middle-font-weight);
    letter-spacing: 0.02em;
    line-height: var(--natus-line-height);
  }

  .menu-link:hover,
  .menu-link:focus,
  .navigation-primary li.has-submenu > a[aria-expanded="true"] {
    color: var(--persimmon);
  }

  .navigation-primary li.has-submenu > a[aria-expanded="true"]:after {
    border-color: var(--persimmon);
  }


  .navigation-primary .submenu.website-navigation-sub-menu > a {
    display: none;
  }

  .navigation-primary li.has-submenu > a[aria-expanded="true"]:after {
    border-color: var(--persimmon);
    top: 6px;
    transform: rotate(225deg);
  }

  .navigation-primary .submenu {
    display: flex;
    gap: var(--space-3);
  }


  .submenu.level-2 {
    {{ utils.card_border_radius_bottom() }}
    {{ utils.card_shadow() }}
    background: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-3);
    left: 0;
    top: var(--header-height);
    padding: var(--space-5);
    width: 100%;
    z-index: -1;
  }

  .submenu.level-2.two-columns {
    grid-template-columns: repeat(2, 1fr);
  }

  .submenu.level-2.website-navigation-sub-menu > .menu-link.trigger {
    display: none;
  }

  .navigation-primary .submenu.level-1 > li > .menu-link {
    padding-inline: 10px;
  }

  .submenu.level-2.website-navigation-sub-menu.website-navigation-sub-menu--open {
    visibility: visible;
    opacity: 1;
  }
  
  .submenu.level-1 > li.has-submenu > a {
    margin-bottom: 0;
    transition: color 0.5s, margin-bottom 0.5s;
  }
{% endcall %}


{% call utils.extra_large() %}
  .navigation-primary li {
    margin-left: 10px;
    margin-right: 10px;
  }
{% endcall %}


