{% import '../utils/utils.css' as utils %}

.navigation-primary .menu-link {
  color: var(--shark);
  display: inline-block;
  transition: color 0.2s;
}

.navigation-primary .submenu {
  list-style: none;
  margin: 0;
}

.level-2 {
  opacity: 0;
  position: absolute;
  text-transform: none;
  transition: visibility .3s, opacity .3s;
  visibility: hidden;
  width: auto;
}

.navigation-primary .submenu a,
.navigation-primary .submenu p {
  text-decoration: none;
}

/* Hide navigation dropdown in the inline editor */
.hs-inline-edit .submenu.level-1 > li.has-submenu:hover .level-2,
.hs-inline-edit > li.has-submenu.focus .level-2 {
  visibility: hidden;
}

.navigation-primary li.has-submenu > a:after {
  border-width: 0 2px 2px 0;
  border-color: inherit;
  margin: 3px;
  transition: border-color .5s, rotate .5s, top .5s;
  position: relative;
  content: "";
  display: inline-block;
  padding: 3px;
  border-style: solid;
  top: 0;
  rotate : 45deg;
}

.promotional-section {
  {{ utils.slate_to_woodsmoke() }}
  color: white;
}

.secondary-submenu {
  background-color: var(--athens-gray);
}

{% call utils.small_and_medium() %}
  .navigation-primary {
    padding-left: 20px;
    padding-right: 20px;
  }

  .navigation-primary.website-navigation__menu--open {
    overflow: hidden;
    overflow-y: auto;
  }

  .navigation-primary.website-navigation__menu--showing-sub-menu {
    left: -100vw;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .level-2.website-navigation-sub-menu {
    left: 100vw;
    top: 0;
    width: 100vw;
    list-style-type: none;
    margin: 0;
    position: absolute;
  }

  .level-2.website-navigation-sub-menu:not(.website-navigation-sub-menu--open) {
    visibility: hidden;
  }

  .navigation-primary .menu-link {
    {{ utils.base() }}
  }

  .navigation-primary li.has-submenu > a:after {
    border-width: 0 2px 2px 0;
    rotate: -45deg;
    translate: y -50%;
    top: 50%;
    right: 0;
    position: absolute;
    padding: 3px;
    margin: 0px 6px;
  }

  .navigation-primary li {
    margin-bottom: 5px;
  }

  .navigation-primary {
    display: block;
  }

  .menu-link {
    padding: var(--space-2) 0;
  }

  .promotional-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-4) var(--space-3);
  }

  .promotional-section .custom-btn {
    margin: 0;
  }

  .submenu > li,
  .submenu > li > a {
    display: block;
    width: 100%;
  }

  .submenu li:not(:last-child) {
    border-bottom: 1px solid var(--french-gray);
  }

  .submenu.level-1 {
    width: 47%;
  }

  .level-2 {
    opacity: 1;
    position: static;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
    visibility: visible;
  }

  .submenu.level-1 > li > a {
    font-weight: var(--heavy-font-weight);
    position: relative;
  }

  .submenu-title {
    font-weight: bold;
    padding: var(--space-2) var(--space-4);
    border-bottom: 1px solid var(--french-gray);
  }

  .level-2 .menu-link {
    padding: var(--space-2);
    font-weight: var(--light-font-weight);
  }

  .navigation-primary .menu-link.active-item {
    font-weight: var(--heavy-font-weight);
    color: var(--persimmon);
  }

  .back-button {
    color: white;
    position: relative;
    margin-left: var(--space-0);
    letter-spacing: 1px;
  }
  
  .back-button:before {
    content: "";
    display: inline-block;
    padding: 3px;
    border-style: solid;
    border-color: var(--persimmon);
    border-width: 0 2px 2px 0;
    position: absolute;
    left: calc(-1 * var(--space-1));
    top: 50%;
    rotate: 135deg;
    translate: 0 -50%; 
  }

  .level-2.website-navigation-sub-menu .submenu {
    padding: 0 var(--space-2);
  }

  .level-2.website-navigation-sub-menu > a,
  .level-2.website-navigation-sub-menu > .menu-link.trigger {
    position: relative;
  }

  .promotional-section h2,
  .promotional-section p {
    display: none;
  }
{% endcall %}

{% call utils.large_and_extra_large() %}
  .header__wrapper,
  .navigation-primary,
  .level-1,
  .has-submenu {
    height: 100%;
  }

  .level-1 {
    display: flex;
    justify-content: center;
  }

  .level-2 { 
    display: flex;
    width: var(--content-max-width);
    left: 0;
    top: var(--header-height);
    background: white;
    {{ utils.card_border_radius_bottom() }}
    box-shadow: 0 4px 4px #00000029;
  }

  .level-2.has-secondary-submenu .promotional-section,
  .level-2.has-secondary-submenu .main-submenu,
  .level-2.has-secondary-submenu .secondary-submenu {
    padding-inline: var(--space-4);
    padding-top: var(--space-6);
    padding-bottom: var(--space-6);
    min-width: 30%;
  }

  .main-submenu,
  .has-secondary-submenu-with-two-columns .secondary-submenu {
    flex: 1;
  }

  .main-submenu {
    padding: var(--space-6);

    > ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: var(--space-3);
      column-gap: var(--space-4);
    }
  }

  .level-2.has-secondary-submenu .submenu {
    margin-top: var(--space-3);
  }

  .level-2:not(.has-secondary-submenu) ul {
    height: 100%;
  }

  .main-submenu > ul.two-columns {
    grid-template-columns: repeat(2, 33%);
    justify-content: center;
  }

  .level-2.has-secondary-submenu .submenu.two-columns {
    grid-template-columns: repeat(2, 1fr);
  }

  .level-2.has-secondary-submenu .main-submenu > ul {
    justify-content: flex-start;
  }

  .secondary-submenu {
    border-bottom-right-radius: 10px;
  }

  .submenu-title {
    {{ utils.natus() }}
    font-weight: var(--heavy-font-weight);
  }

  .secondary-submenu .submenu {
    display: grid;
    row-gap: var(--space-3);
    column-gap: var(--space-4);
  }

  .level-2.has-secondary-submenu-with-two-columns .submenu {
    column-gap: var(--space-3);
  }

  .navigation-primary a {
    font-size: var(--natus-font-size);
    letter-spacing: 0.02em;
    line-height: var(--natus-line-height);
  }

  .level-2.has-secondary-submenu a.menu-link {
    font-weight: var(--light-font-weight);
  }

  .menu-item:hover > a,
  .submenu-item:hover > a,
  .menu-link:focus,
  .navigation-primary li.has-submenu > a[aria-expanded="true"] {
    color: var(--persimmon);
  }

  .has-submenu > a {
    pointer-events: none;
  }

  .navigation-primary li.has-submenu > a[aria-expanded="true"]:after {
    border-color: var(--persimmon);
  }

  .back-button {
    display: none;
  }

  .navigation-primary li.has-submenu > a[aria-expanded="true"]:after {
    border-color: var(--persimmon);
    top: 3px;
    rotate: 225deg;
  }

  .active-item {
    position: relative;
  }

  .level-1 > li > .menu-link {
    padding-inline: var(--space-0);
  }

  .level-1 > .menu-item:not(.has-submenu) > .active-item:after,
  .level-2 .active-item:after {
    background-color: var(--persimmon);
    bottom: -2px;
    content: "";
    height: 2px;
    position: absolute;
  }

  .level-1 > .menu-item:not(.has-submenu) > .active-item:after {
    left: var(--space-0);
    right: var(--space-0);
  }

  .promotional-section {
    padding: var(--space-6);
    flex-basis: 30%;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .promotional-section > h2 {
    font-weight: var(--heavy-font-weight);
  }

  .promotional-section > p {
    {{ utils.natus() }}
    margin-top: var(--space-2);
  }

  .promotional-section > .custom-btn {
    margin-top: var(--space-3);
  }

  .promotional-section .button-primary {
    padding: 0.4em 1em;
  }

  .level-2.website-navigation-sub-menu > .menu-link.trigger {
    display: none;
  }

  .menu-item:hover .website-navigation-sub-menu,
  .menu-item.focus .website-navigation-sub-menu {
    visibility: visible;
    opacity: 1;
  } 

  .submenu.level-1 > li.has-submenu > a {
    margin-bottom: 0;
    transition: color 0.5s, margin-bottom 0.5s;
  }

  .website-navigation-sub-menu > li:last-child {
    display: none;
  }
{% endcall %}

{% call utils.extra_large() %}
  .level-1 > li > .menu-link {
    padding-inline: var(--space-1);
  }

  .level-1 > .menu-item:not(.has-submenu) > .active-item:after {
    left: var(--space-1);
    right: var(--space-1);
  }
{% endcall %}

{% call utils.large() %}
  .level-2 { 
    --margin-inline: 50px;
    margin-inline: var(--margin-inline);
    max-width: calc(100vw - var(--margin-inline) * 2);
  }
{% endcall %}


