{% import '../utils/utils.css' as utils %}

.newsletter-footer-form__section {
    background: transparent linear-gradient(180deg,rgba(79,67,248,0.1) 0%,rgba(45,147,234,0.1) 100%) 0% 0% no-repeat padding-box;
}

.newsletter-footer-form__container {
    max-width: 825px;
    position: relative;
}
{% call utils.small() %}
    .newsletter-footer-form__container {
        padding: 45px 25px;
    }
{% endcall %}
@media (min-width: 481px) {
    .newsletter-footer-form__container {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin: 0px auto;
        padding: 45px 0;
        width: 75%;
    }
}

.newsletter-footer-form__heading {
    {{ utils.dudler() }}
    margin-bottom: var(--dudler-margin);
}

.newsletter-footer-form__info {
    margin-bottom: var(--base-margin);
}
{% call utils.medium_large_and_extra_large() %}
    .newsletter-footer-form__info {
        padding-right: 30px;
    }
{% endcall %}
{% call utils.small() %}
    .newsletter-footer-form__info {
        font-size: 1.2rem;
        margin-bottom: 1.33rem;
    }
{% endcall %}


.newsletter-footer-form__wrapper {
    z-index: 2;
}
@media (min-width: 481px) {
    .newsletter-footer-form__wrapper {
        width: calc(100% - 230px);
    }
}
{% call utils.small() %}
    .newsletter-footer-form__wrapper {
        width: 100%;
        padding-top: 150px;
    }
{% endcall %}

.newsletter-footer-form__image {
    z-index: 1;
}
{% call utils.medium_large_and_extra_large() %}
    .newsletter-footer-form__image {
        height: 200px;
        margin-left: -30px;
        width: 260px;
    }
{% endcall %}
{% call utils.small() %}
    .newsletter-footer-form__image {
        background-size: 175px 135px;
        height: 135px;
        left: 50%;
        margin: 0;
        position: absolute;
        top: 50px;
        transform: translateX(-50%);
        width: 175px;
    }
{% endcall %}
.newsletter-footer-form__image--pending {
    background-image: url(https://f.hubspotusercontent10.net/hubfs/3042464/Newsletter%20Sign-Up%20Form/newsletter-graphic.svg);
}
{% call utils.small() %}
    .newsletter-footer-form__image--pending {
        width: 175px;
    }
{% endcall %}
{% call utils.medium_large_and_extra_large() %}
    .newsletter-footer-form__image--pending {
        width: 260px;
    }
{% endcall %}
.newsletter-footer-form__image--success {
    background-image: url(https://f.hubspotusercontent10.net/hubfs/3042464/Newsletter%20Sign-Up%20Form/bg-form-success.svg);
}
{% call utils.small() %}
    .newsletter-footer-form__image--success {
        width: 180px;
    }
{% endcall %}
{% call utils.medium_large_and_extra_large() %}
    .newsletter-footer-form__image--success {
        width: 320px;
    }
{% endcall %}