{% import '../utils/utils.css' as utils %}

.newsletter-footer-form__section {
    {{ utils.tango_to_white() }}
}

.newsletter-footer-form__container {
    max-width: 825px;
    position: relative;
}
{% call utils.small() %}
    .newsletter-footer-form__container {
        padding: 45px 25px;
    }
{% endcall %}
@media (min-width: 481px) {
    .newsletter-footer-form__container {
        display: flex;
        justify-content: center;
        margin: 0px auto;
        padding: 45px 0 100px;
        width: 90%;
    }
}

.newsletter-footer-form__heading {
    {{ utils.dudler() }}
    margin-bottom: var(--dudler-margin);
}

.newsletter-footer-form__info {
    margin-bottom: var(--base-margin);
}
{% call utils.medium_large_and_extra_large() %}
    .newsletter-footer-form__info {
        padding-right: 30px;
    }
{% endcall %}
{% call utils.small() %}
    .newsletter-footer-form__info {
        font-size: 1.2rem;
        margin-bottom: 1.33rem;
    }
{% endcall %}

@media (min-width: 481px) {
    .newsletter-footer-form__wrapper {
        width: calc(100% - 230px);
    }
}
{% call utils.small() %}
    .newsletter-footer-form__wrapper {
        width: 100%;
    }
{% endcall %}