{% import '../utils/utils.css' as utils %}

.newsletter-footer-form__section {
    {{ utils.tango_to_white() }}
}

.newsletter-footer-form__container {
    max-width: 825px;
    position: relative;
}
{% call utils.medium_large_and_extra_large() %}
    .newsletter-footer-form__container {
        display: flex;
        justify-content: center;
        margin: 0px auto;
        padding: 45px 0 100px;
        width: 90%;
    }
{% endcall %}
{% call utils.small() %}
    .newsletter-footer-form__container {
        padding: 45px 25px;
    }
{% endcall %}

.newsletter-footer-form__heading {
    {{ utils.dudler() }}
    margin-bottom: var(--dudler-margin);
}

.newsletter-footer-form__info {
    margin-bottom: var(--base-margin);
}

{% call utils.medium_large_and_extra_large() %}
    .newsletter-footer-form__info {
        padding-right: 30px;
    }
{% endcall %}
{% call utils.small() %}
    .newsletter-footer-form__info {
        font-size: 1.2rem;
        margin-bottom: 1.33rem;
    }
{% endcall %}

{% call utils.medium_large_and_extra_large() %}
    .newsletter-footer-form__wrapper {
        width: calc(100% - 230px);
    }
{% endcall %}
{% call utils.small() %}
    .newsletter-footer-form__wrapper {
        width: 100%;
    }
{% endcall %}

.newsletter-footer-form__container .hs-form {
    display: flex;
    align-items: stretch;
    position: relative;
}
{% call utils.small() %}
    .newsletter-footer-form__container .hs-form {
        flex-direction: column;
    }
{% endcall %}

.newsletter-footer-form__container .hs-form label {
    margin: 0;
}

.newsletter-footer-form__container .hs-form .actions,
.newsletter-footer-form__container .hs-form .hs-button {
    height: 100%;
    margin: 0;
}

.newsletter-footer-form__container .hs-email {
    display: inline-block;
    margin: 0;
}
{% call utils.medium_large_and_extra_large() %}
    .newsletter-footer-form__container .hs-email {
        width: calc(100% - 8.61rem);
    }
{% endcall %}
{% call utils.small() %}
    .newsletter-footer-form__container .hs-email {
        margin-top: 10px;
        width: 100%;
    }
{% endcall %}

.newsletter-footer-form__container .hs-error-msgs {
    position: absolute;
}
{% call utils.medium_large_and_extra_large() %}
    .newsletter-footer-form__container .hs-error-msgs {
        bottom: -1.5rem;
    }
{% endcall %}
{% call utils.medium() %}
    .newsletter-footer-form__container .hs-error-msgs {
        bottom: -2.0rem;
    }
{% endcall %}
{% call utils.small() %}
    .newsletter-footer-form__container .hs-error-msgs {
        top: -3px;
        transform: translateY(-100%);
    }
{% endcall %}

.newsletter-footer-form__container .hs_error_rollup {
    display: none;
}

.newsletter-footer-form__container .hs-submit {
    display: inline-block;
}

{% call utils.small() %}
    .newsletter-footer-form__container .hs-submit {
        width: 100%;
    }

    .newsletter-footer-form__container .hs-button {
        width: 100%;
    }
{% endcall %}

.newsletter-footer-form__section .hs-email input {
    {{ utils.base() }}
    box-shadow: 0px 0px 20px #00000029;
    border: 1px white solid;
    background-color: white;
    padding: 1.3em;
    vertical-align: top;
    width: 100%;
}

{% call utils.small() %}
    .newsletter-footer-form__container .hs-email input {
        margin-bottom: 1.4rem;
    }
{% endcall %}

.newsletter-footer-form__container .hs-recaptcha {
    visibility: hidden;
    position: absolute;
}

.newsletter-footer-form__container .newsletter__grecaptcha-notice {
    {{ utils.sejima() }}
    margin-top: var(--space-5);
}

