{% import '../utils/utils.css' as utils %}

.offices-country-group:not(:first-child) {
    margin-top: var(--space-5);
}

.offices-country-group h2 {
    font-weight: var(--heavy-font-weight);
}

.office {
    display: flex;
    align-items: center;
    gap: var(--space-4);
}

.office:not(:first-child) {
    margin-top: var(--space-3);
}
        
.office__image {
    max-width: 5rem;
}

.office__content h3,
.sales-contact__copy,
.sales-contact__email {
    font-weight: var(--heavy-font-weight);
}

.office__content, 
.office__content p {
    {{ utils.natus() }}
}

.office__address {
    font-weight: var(--light-font-weight);
}

.office__content a {
    color: var(--shark);
}

.office__content a:hover,
.office__content a:focus {
    color: var(--persimmon);
}