{% import '../utils/utils.css' as utils %}

.custom-our-people {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 40px;
  width: 100%;
}

.custom-our-people__card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.custom-our-people__card {
  padding-bottom: 1.5rem;
  padding-left: 15px;
  padding-right: 15px;
}
{% call utils.large_and_extra_large() %}
  .custom-our-people__card {
    width: 25%;
  }
{% endcall %}
{% call utils.medium() %}
  .custom-our-people__card {
    width: 33%;
  }
{% endcall %}
{% call utils.small() %}
  .custom-our-people__card {
    width: 50%;
  }
{% endcall %}

.custom-our-people__card-inner {
  position: relative;
}

.custom-our-people__card-inner::after {
  background-color: var(--woodsmoke--10);
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.3s linear;
  visibility: hidden;
}

.custom-our-people__card:hover .custom-our-people__card-inner::after,
.custom-our-people__card:focus .custom-our-people__card-inner::after {
  opacity: 1;
  visibility: visible;
}

.custom-our-people__profile-image {
  height: auto;
  width: 100%;
}

.custom-our-people__name {
  display: block;
  font-size: var(--natus-font-size);
  font-weight: var(--middle-font-weight);
  line-height: var(--natus-line-height);
  text-align: center;
}

.custom-our-people__role {
  {{ utils.natus() }}
  display: block;
  text-align: center;
  color: var(--shark);
  padding-bottom: 1em;
}

.custom-our-people__link:hover .custom-our-people__link,
.custom-our-people__link:hover,
.custom-our-people__link:focus,
.custom-our-people__link:active {
  text-decoration: none;
}


{% set modal_padding = '1rem' %}

.custom-our-people__modal {
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 800px;
  overflow-y: auto;
  padding: {{ modal_padding }};
  position: relative;
}

.custom-our-people-modal__close-button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  line-height: 1.3rem;
  margin-left: auto;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  right: {{ modal_padding }};
  top: {{ modal_padding }};
  transition: opacity 0.1s linear;
}

.custom-our-people-modal__close-button:hover {
  opacity: 1;
}

.custom-our-people-modal__inner {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.custom-our-people-modal__left-column {
  padding-right: 1rem;
}
{% call utils.medium_large_and_extra_large() %}
  .custom-our-people-modal__left-column {
    width: 33%;
  }
{% endcall %}
{% call utils.small() %}
  .custom-our-people-modal__left-column {
    width: 100%;
    margin-bottom: 1rem;
  }
{% endcall %}

.custom-our-people-modal__right-column {
  flex-grow: 1;
  padding-right: 1rem;
  width: 67%;
}

.custom-our-people-modal__image-container {
  max-width: 300px;
  overflow: hidden;
  position: sticky;
  top: {{ modal_padding }};
}
{% call utils.medium_large_and_extra_large() %}
  .custom-our-people-modal__image-container {
    height: 0;
    padding-top: 100%;
  }
{% endcall %}

.custom-our-people-modal__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
  transform: scale(1);
  transition: transform 0.2s linear;
}
{% call utils.medium_large_and_extra_large() %}
  .custom-our-people-modal__image {
    position: absolute;
    top: 0;
    left: 0;
  }
{% endcall %}

.custom-our-people-modal__image:hover {
  transform: scale(1.05);
}

.custom-our-people-modal__name {
  {{ utils.base() }}
  color: var(--shark);
  font-weight: var(--middle-font-weight);
  margin-bottom: 0.3em;
}

.custom-our-people-modal__job-title {
  {{ utils.natus() }}
}

.custom-our-people-modal__social-list {
  margin-bottom: 0;
  margin-top: calc(var(--base-margin) / 2);
}

.custom-our-people-modal__social-item {
  display: inline-block;
}

{% set social_link_padding = '0.2em' %}
{% set social_link_font_size = '1.2rem' %}

.custom-our-people-modal__social-link {
  background-color: var(--athens-gray);
  border-radius: 50%;
  color: var(--mid-gray);
  display: inline-block;
  font-size: {{ social_link_font_size }};
  font-weight: var(--light-font-weight);
  height: calc({{ social_link_font_size }} + ({{ social_link_padding }} * 2));
  line-height: var(--base-line-height);
  overflow: hidden;
  padding-bottom: {{ social_link_padding}};
  padding-top: {{ social_link_padding }};
  text-align: center;
  width: calc({{ social_link_font_size }} + ({{ social_link_padding }} * 2));
}
.custom-our-people-modal__social-item + .custom-our-people-modal__social-item {
  margin-left: 0.35em;
}

.custom-our-people-modal__social-link:hover .custom-our-people-modal__social-icon {
  transform: translateY(calc(-100% - {{ social_link_padding }}));
}

.custom-our-people-modal__social-icon {
  transform: translateY(0%);
  transition: transform 0.3s ease-in-out;
}

hr.custom-our-people-modal__rule {
  margin-top: calc(var(--base-margin) / 2);;
  margin-bottom: var(--base-margin);
}

.custom-our-people-modal__body-copy p {
  {{ utils.natus() }}
  {{ utils.base_margin() }}
}
