.custom-our-people {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 40px;
  width: 100%;
}

.custom-our-people__card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.custom-our-people__card {
  padding-bottom: 1.5rem;
  padding-left: 15px;
  padding-right: 15px;
  width: 25%;
}

.team-member-name {
  font-size: 1.1em;
}
.img-hover-v1 span:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
}
.custombox-content .custom-max-width-800 {
  max-width: 800px;
}
.img-hover-v1 img, .img-hover-v2 img, .img-hover-v1 span:after {
  transition: all 0.5s ease-in-out;
}
figure {
  margin: 0;
}
.u-icon-slide-up--hover .u-icon__elem-regular {
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
}
.u-icon-v1:hover, .u-icon-v2:hover, .u-icon-v3:hover, .u-icon-v4:hover {
  text-decoration: none;
}
.u-icon-v1 > i, .u-icon-v2 > i, .u-icon-v3 > i, .u-icon-v4 > span > i {
  position: relative;
  top: 50%;
  display: block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}

.u-icon__elem-regular, .u-icon__elem-hover {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  transition: all .3s ease-in-out;
}
.u-icon-v1, .u-icon-v2, .u-icon-v3, .u-icon-v4 {
  position: relative;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in-out;
}
.rounded-circle {
  border-radius: 50%!important;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}
.u-icon-slide-up--hover, .u-icon-slide-down--hover, .u-icon-slide-left--hover, .u-icon-slide-right--hover {
  overflow: hidden;
}
.u-icon-v1.u-icon-size--sm, .u-icon-v1.u-icon-size--sm .u-icon__elem-regular, .u-icon-v1.u-icon-size--sm .u-icon__elem-hover {
  width: 2.28571rem;
  height: 2.28571rem;
  font-size: 1.28571rem;
}

.img-fluid {
    width: 100%;
    height: auto;
}
.img-hover-v1:hover span:after {
  background: rgba(0,0,0,0.3);
}
.u-icon__elem-hover {
  position: absolute !important;
}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}
.icon-badge:before {
    content: "\e028";
}

.pb-4, .py-4 {
    padding-bottom: 1.5rem!important;
}
button.close {
    /* float: right; */
    font-size: 1.5rem;
    /* font-weight: 700; */
    line-height: 1;
    /* color: #000; */
    /* text-shadow: 0 1px 0 #fff; */
    /* opacity: .5; */
    vertical-align: text-bottom;
    display: block;
    height: 23px;
}
.custombox-fadein.custombox-content .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 0;
    width: 100%;
}

.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}

@media (min-width: 576px){
  .justify-content-sm-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
  }

}
.list-inline-item {
  display: inline-block;
}
.u-icon-slide-up--hover:hover .u-icon__elem-regular, .u-icon-block--hover:hover .u-icon-slide-up--hover .u-icon__elem-regular {
  -webkit-transform: translateY(-110%);
  -ms-transform: translateY(-110%);
  transform: translateY(-110%);
}
.u-icon-slide-up--hover:hover .u-icon__elem-hover, .u-icon-block--hover:hover .u-icon-slide-up--hover .u-icon__elem-hover {
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
}

.u-icon-slide-up--hover .u-icon__elem-hover {
  -webkit-transform: translateY(110%);
  -ms-transform: translateY(110%);
  transform: translateY(110%);
}

.team-member-role {
  font-size: 0.9em;
  color: #555;
}
.img-hover-v1 span {
  min-height: 50px;
  text-align: center;
}
.img-hover-v1 span {
  display: block;
  overflow: hidden;
  position: relative;
}
a.team-member:hover {
  text-decoration: none;
}