{% import '../utils/utils.css' as utils %}

.cm-partners-logo-group {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 2em;
  gap: 0.5em;
}

{% call utils.small() %}
  .cm-partners-logos-item img {
    width: auto;
  }

  .cm-partners-logos-item {
    width: 35%;
  }
{% endcall %}

