{% import '../utils/utils.css' as utils %}

.cm-partners-logo-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--space-1);
}

.cm-partners-logos-item img {
  filter: drop-shadow(2px 2px 3px var(--athens-gray));
}

{% call utils.medium_large_and_extra_large() %}
  .cm-partners-logo-group {
    gap: var(--space-3);
  }
{% endcall %}

{% call utils.small() %}
  
  .cm-partners-logos-item img{
    width: 170px;
    height: 90px;
    object-fit: contain;
  }
{% endcall %}

