{% import '../utils/utils.css' as utils %}

.cm-recent-post {
  max-width: 1110px;
  margin: 0px auto;
}

.cm-recent-post__group {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
{% call utils.small_and_medium() %}
  .cm-recent-post__group {
    flex-wrap: wrap;
  }
{% endcall %}

{% set item_margin = 15 %}
.cm-recent-post__item {
  border-radius: 7px;
  box-shadow: 0 1px 3px rgba(255,255,255,0.12),0 1px 10px rgba(0,0,0,0.12);
  margin-bottom: 1.4rem;
  margin-left: {{ item_margin }}px;
  margin-right: {{ item_margin }}px;
  overflow: hidden;
  transition: all .3s cubic-bezier(0.25,0.8,0.25,1);
  width: 33.333%;
}
{% call utils.medium() %}
  .cm-recent-post__item {
  width: calc(50% - ({{ item_margin }}px * 2));
  }
{% endcall %}
{% call utils.small() %}
  .cm-recent-post__item {
    width: 100%;
  }
{% endcall %}
{#
@media(max-width:991px){
.cm-recent-post__item {
    width:50%;
  }
}
@media (min-width:768px) and (max-width:991px){
.cm-recent-post__item {
    margin-bottom: 2.14286rem
  }
}
@media(max-width:767px){
  .cm-recent-post__item {
    width: 100%;
    margin-bottom: 34px;
  }
} #}

.cm-recent-post__link-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cm-recent-post__link-container:hover,
.cm-recent-post__link-container:focus,
.cm-recent-post__link-container:active,
.cm-recent-post__link-container:visited {
  color: inherit;
  text-decoration: none;
}

.cm-recent-image-wrapper {
  width: 100%;
  padding-top: 66%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cm-recent-post-group .post-heading h2 {
  color : #333;
  font-size: 2.25em;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 20px;
  font-weight: 800;
  font-style: normal;
}

.cm-recent-post-group .posts-heading h2 {
  color: #333;
  font-size: 2.25em;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 20px;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  margin-bottom:25px;
}

.rec-posts-group {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 40px;
  padding-bottom: 35px;
}

.cm-recent-post__info-wrapper {
  flex-grow: 1;
  padding-bottom: 2rem;
}

.cm-recent-post__meta-info {
  {{ utils.sejima() }}
  {{ utils.small_caps() }}
}

.cm-recent-post__title {
  {{ utils.base() }}
  font-weight: var(--heavy-font-weight);
  margin-bottom: var(--base-margin);
  margin-top: calc(var(--base-margin) / 2);
}

.cm-recent-post__description {
  {{ utils.natus() }}
}

.cm-recent-post__button-wrapper {
  padding-top: 1rem;
  text-align: center;
}

.cm-recent-post__button {
  background-color: transparent;
  border: 2px solid var(--shark);
  font-size: 1em;
  transition: all 0.3s ease;
  padding:.85714rem 25.571px;
  border-radius: 50px;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  font-size: 15px;
  vertical-align: middle;
  line-height: 1.5;
}

.cm-recent-post__button:hover {
  background-color: rgba(0,0,0,0.05);
  color: #444444 !important;
  transition: all 0.7s ease;
  text-decoration:none;
}

.cm-recent-post__inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1.5rem;
}

.cm-recent-post__post-item-button {
  align-self: flex-start;
  display:inline-block;
  font-size: var(--natus-font-size);
  font-weight: var(--middle-font-weight);
  line-height: var(--natus-line-height);
  position: relative;
  text-transform: uppercase;
}

.cm-recent-post__post-item-button::after {
  background: var(--valencia);
  border-radius: 2px;
  bottom: -2px;
  content: "";
  height: 2px;
  left: 0;
  margin-left: 0;
  position: absolute;
  transition: all .3s ease;
  width: 25px;
}

.cm-recent-post__item:hover .cm-recent-post__post-item-button:after {
  width: 100%;
  transition: all 0.7s ease;
}



@media (min-width:768px) and (max-width:991px){
  .cm-recent-post-group .rec-posts-group {
    padding-bottom: 0;
  }
}

@media(max-width:767px){
  .cm-recent-post-group .posts-heading h2{
    font-size: 1.75em !important;
  }
}