{% import '../utils/utils.css' as utils %}


.secondary-clients-cards-wrapper {
    columns: 3 275px;
    column-gap: var(--grid-gap);
}

.secondary-clients__card {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--space-3);
    padding: var(--space-3);
    margin-bottom: var(--grid-gap);
    background: white;

    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;

    {{ utils.card_shadow() }}
    {{ utils.card_border_radius() }}
}

.secondary-clients__card img {
    width: auto;
    height: 40px;
}

.secondary-clients__card a {
    margin: 0;
}

.card__description {
    {{ utils.natus() }}
}