{% import '../utils/utils.css' as utils %}

.secondary-menu {
  background-color: white;
  box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.18);
  top: 3.5rem;
  transition: top 0.3s ease;
  z-index: 2;
}

.secondary-menu--fixed {
  top: 0;
}

.sticky-menu {
  position: sticky;
}

.secondary-menu ul { 
  {{ utils.natus() }}
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 0;
  row-gap: 0.5em;
  list-style-type: none;
  max-width: var(--content-inner-max-width);
  margin-inline: auto;
}

.secondary-menu li {
  position: relative;
}

.secondary-menu li:hover:after {
  border-bottom: 2px solid var(--persimmon);
  content: "";
  left: 0;
  position: absolute;
  top: 2.4rem;
  width: 100%;
}

.secondary-menu i {
  color: var(--persimmon);
}

.secondary-menu a {
  display: inline-block;
  padding: 1.5em .4em;
  text-decoration: none;
  color: var(--shark);
}

{% call utils.small() %}
  .secondary-menu {
    position: static;
  }
  
{% endcall %}

{% call utils.extra_large() %}
  .secondary-menu:not(.secondary-menu--fixed) {
    top: 4.35rem;
  }
{% endcall %}