{% import '../utils/utils.css' as utils %}

.services-media {
  max-width: var(--max-page-width);
  margin-left: auto;
  margin-right: auto;
}

.services-media__heading-wrapper {
  background-image: url('https://www.codurance.com/hubfs/Codurance_September2020/images/Module%20Images/Past%20Events%20Images/past%20events.jpg');
  background-position: top center;
  background-size: cover;
}
{% call utils.small() %}
  .services-media__heading-wrapper {
    padding-bottom: calc(3.3rem * 2);
    padding-top: 3.3rem;
  }
{% endcall %}
{% call utils.medium_large_and_extra_large() %}
  .services-media__heading-wrapper {
    padding-bottom: calc(4.76rem * 2);
    padding-top: 4.76rem;
  }
{% endcall %}

.services-media__card-slider-wrapper {
  position: relative;
}
{% call utils.small() %}
  .services-media__card-slider-wrapper {
    margin-bottom: -9.9825rem;
    top: -5.9895rem;
  }
{% endcall %}
{% call utils.medium_large_and_extra_large() %}
  .services-media__card-slider-wrapper {
    margin-bottom: -170px;
    top: -200px;
  }
{% endcall %}


{% call utils.small() %}
  .services-media__watch-all-cta {
    padding-top: 3.88rem;
  }
{% endcall %}
{% call utils.medium_large_and_extra_large() %}
  .services-media__watch-all-cta {
    padding-bottom: 3.88rem;
  }
{% endcall %}