{% import '../utils/utils.css' as utils %}

{% set content_inner_max_width = "1000px"%}
{% set content_mobile_max_width = "600px"%}

.module-wrapper{
    padding: 1em;
	color: white;
    overflow: hidden;
}

{% call utils.medium_large_and_extra_large() %}
    .module-wrapper{
       padding: 4em;
    }
{% endcall %}


.hero{
    display: flex;
    flex-direction: column-reverse;
}

.hero,
.text-and-image{
    max-width: {{content_mobile_max_width}};
    margin: 0 auto;
}

.hero__text h1{
    {{ utils.dudler() }}
    font-weight: var(--heavy-font-weight);
}

.hero__image{
    margin-top: -1em;
    transform: translate(15%);
}

{% call utils.medium_large_and_extra_large() %}
    .hero{
        flex-direction: row;
        max-width: var(--content-max-width);
    }

    .hero__text {
        min-width: 60%;
        align-self: center;
    }

    .hero__text h1{
        {{ utils.eames() }}
        margin-bottom: 0.2em;
    }

    .hero__text p {
        {{ utils.freed() }}
        font-weight: var(--light-font-weight);
    }

    .hero__image{
        transform: inherit;
    }
{% endcall %}

{% call utils.large_and_extra_large() %}
    .hero__image{
        transform: translateX(-13%);
    }
{%endcall%}


.text-and-image{
    margin-top: 4em;
    margin-bottom: 4em;
}

.text-and-image__text p{
  line-height: var(--freed-line-height);
}

.text-and-image__image{
    width: 80%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

{% call utils.medium_large_and_extra_large() %}
    .text-and-image{
        display:flex;
        flex-direction: row-reverse;
        align-items: center;

        margin-top: inherit;
        max-width: {{ content_inner_max_width }};
    }

    .text-and-image__text{
        width: 60%;
    }

    .text-and-image__image{
        margin-top: 0;
        width: 40%;
        transform: translateX(-20%) scale(1.1);
    }
     
{% endcall %}

{% call utils.large_and_extra_large() %}
    .text-and-image{
        gap: 2em;
    }

    .text-and-image__text p{
        {{ utils.freed() }}
        font-weight: var(--light-font-weigth);
    }

    .text-and-image__image{
        transform: initial;
    }

{% endcall %}


.banner {
    display: flex;
    align-items: center;
    max-width: var(--content-inner-max-width);
    margin: 0 auto 4.5em;
}

.banner img { 
    margin-left: 3.5em;
}

.banner__text h2 {
    {{ utils.freed() }}
    max-width: var(--eames-max-width);

    border-top: 2px solid white;
    padding-top: 1em;
    padding-right: 2em;
}

.banner__text .text-cta-primary {
    margin-top: 1.5em;
}


{% call utils.small() %}
    .banner {
        max-width: {{content_mobile_max_width}};
    }
    .banner img {
       display: none;
    }
{% endcall %}

{% call utils.medium() %}
    .banner__text {
        min-width: 25em;
    }
{% endcall %}



.clients{
    max-width: {{content_mobile_max_width}};
    margin: 0 auto 2em;
}

.clients__title{
    {{ utils.natus() }}
    font-weight: var(--heavy-font-weight);
}

.clients__logos{
    margin: 2em 0;
    display: flex;
    gap: 1.5em;
    flex-flow: wrap;
    filter: brightness(0) invert(1);
}

{% call utils.medium_large_and_extra_large() %}
    .clients{
        max-width: {{ content_inner_max_width }};
    }

    .clients__logos{
        justify-content: space-between;
    }
{% endcall %}


.video{
    max-width: {{ content_mobile_max_width }};
    margin: 4em auto 2em;
}

.video__title{
    {{ utils.freed() }}
}

.video__subtitle{
    {{ utils.natus() }}
    margin-top: 1em;
}

.video__embed-code{
    max-width: 40em;
    margin: 2.5em auto;
}

.video__embed-code__inner{
    height: 0;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
}

.video__embed-code iframe{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


{% call utils.medium_large_and_extra_large() %}
    .video{
        max-width: {{ content_inner_max_width }};
    }

    .video__title{
        {{ utils.dudler() }}
        font-weight: var(--heavy-font-weight);
    }

    .video__subtitle{
        {{ utils.base() }}
        max-width: 50ch;
    }
{% endcall %}


{% call utils.large_and_extra_large() %}
    .video{
        margin-top: 8em;
    }
{% endcall %}