{% import '../utils/utils.css' as utils %}

.service-line {
    align-items: flex-start;
    display: flex;
    gap: 0.5em;
}

.service-line:not(:first-of-type) {
    margin-top: 2em;
}

{% call utils.large_and_extra_large() %}
    .service-line {
        gap: 3em;
    }
{% endcall %}

{% call utils.small() %}
    .service-line {
        flex-direction: column;
    }
{% endcall %}

.service-line__image {
    height: auto;
    max-width: 100%;
    min-height: 6rem;
    min-width: 6rem;
}

.service-line__title {
    align-items: baseline;
    display: flex;
    gap: 0.8em;
}

.service-line__title > h2 {
    {{ utils.base() }}

    color: var(--shark);
    font-weight: var(--heavy-font-weight);
}

.service-line__title > hr {
    background-color: var(--shark);
    border: none;
    height: 1px;
    width: 30%;
}

{% call utils.small() %}
    .service-line__title > h2 {
        {{ utils.natus() }}

        font-weight: var(--heavy-font-weight);
    }

    .service-line__text > .service-line__description {
        {{ utils.natus() }}
    }
{% endcall %}

.service-line__read-more {
    margin-top: 1em;
}

{% call utils.small() %}
    .service-line__read-more {
        {{ utils.natus() }}
    }
{% endcall %}

.service-line__read-more-title,
.service-line__read-more-close-button {
    color: var(--mid-gray);
    font-weight: var(--heavy-font-weight);
}

.service-line__read-more-title::after,
.service-line__read-more-close-button::after {
    color: var(--persimmon);
    font-weight: var(--heavy-font-weight);
    font-family: "line awesome free";
    margin-left: 0.25em;
}

.service-line__read-more-title::after {
    content: "\f107";
    
}

.service-line__read-more-close-button::after {
    content: "\f106";
    
}

.service-line__read-more-title::marker {
    content: "";
}

.service-line__read-more[open] .service-line__read-more-title {
    display: none;
}

.service-line__read-more-close-button {
    background: none;
    border: none;
    display: block;
    margin-top: 1em;
    padding: 0;
    
}