{% import '../utils/utils.css' as utils %}

.card-container {
    display: grid;
    gap: 1em;
    grid-auto-columns: minmax(250px,1fr);
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
}

{% call utils.small_medium_and_large() %}
    .card-container {
        overflow-x: auto;
        padding-bottom: 10px;
    }   
{% endcall %}

{% call utils.large_and_extra_large() %}
    /* The following property only works on webkit-based browsers */
    .card-container::-webkit-scrollbar {
        display: none;
    }

    /* The following property only works on Firefox browsers */
    .card-container {
        scrollbar-width: none;
    }
{% endcall %}

.card {
    {{ utils.card_shadow() }}
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
}

.card__img {
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.card__img--ratio {
    aspect-ratio: 16/9;
    object-fit: cover;
}

.card__info {
    padding: 1.2em;
    height: 100%;
    display: flex;
    flex-direction: column; 
}

.card__info time {
    {{ utils.sejima() }}
    margin-bottom: .5em;
    text-transform: uppercase;
}

.card__info span {
    text-transform: uppercase;
    {{ utils.natus() }}
}

.card__info h3 {
    {{ utils.freed() }}
    font-weight: var(--heavy-font-weight);
}

.card__info p {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.card__info a {
    margin-top: auto;
    margin-bottom: 0;
}
