{% import '../utils/utils.css' as utils %}

.card-container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
}

{% call utils.small() %}
    .card-container {
        grid-auto-columns: minmax(250px,1fr);
        grid-auto-flow: column;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
{% endcall %}

.card {
    {{ utils.card_shadow() }}
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
}

.card__img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
}

.card__info {
    padding: 1.2em;
    height: 100%;
    display: flex;
    flex-direction: column; 
}

.card__info time {
    {{ utils.sejima() }}
    margin-bottom: .5em;
    text-transform: uppercase;
}

.card__info span {
    text-transform: uppercase;
    {{ utils.natus() }}
}

.card__info h3 {
    {{ utils.freed() }}
    margin-bottom: 2.8em;
}

.card__info a {
    margin-top: auto;
    margin-bottom: 0;
}
