{% import '../utils/utils.css' as utils %}
  
.highlight__container {
  padding: var(--space-4) 0;
}
    
.highlight__wrapper {
  text-align: center;
  max-width: var(--habib-max-width);
  margin-inline: auto;
}

.highlight__wrapper i {
  font-size: 100px;
}

.highlight__big-text {
  {{ utils.gaudi() }}
}

.highlight__wrapper p {
  font-weight: var(--heavy-font-weight);
  margin-top: var(--space-1);
  text-wrap: balance;
}

{% call utils.small() %}
  .highlight__wrapper:not(:first-child) {
    margin-top: 3rem;
  } 
{% endcall %}

{% call utils.medium_large_and_extra_large() %}
  .highlight__container {
    display: flex;
  }
{% endcall %}
