
{% import '../utils/utils.css' as utils %}

.text-and-image__container {
    padding: 2rem 1.2rem;
    display: flex;
    flex-flow: column-reverse;
    overflow: hidden;
}

.text-and-image__copy {
    max-width: 48ch;
    align-self: center;
} 

.text-and-image__title {
    margin-bottom: 0.8rem;
}

.text-and-image__copy h2 {
    {{ utils.freed() }}
    font-weight: var(--heavy-font-weight);
}

.text-and-image__copy h3 {
    {{ utils.freed() }}
    margin-bottom: var(--space-0);
}

.text-and-image__copy p {
    {{ utils.natus() }}
}

.text-and-image__image {
    max-width: 70%;
    align-self: end;
}
.text-and-image__image img {
    transform: translate(20%);
}

{% call utils.medium() %}
    .text-and-image__copy {
        max-width: 35ch;
        align-self: initial;
    }
{% endcall %}

{% call utils.medium_large_and_extra_large() %}
    .text-and-image__container{
        overflow: initial;
        flex-direction: row;
        gap: 1em;
        justify-content: space-between;
        margin: 0 auto;
        max-width: var(--content-inner-max-width);
    }
    .container--img-left{
        flex-direction: row-reverse;
    }

    .text-and-image__image img{
        transform: translate(5%, -5%);
    }
{% endcall %}

{% call utils.large_and_extra_large() %}
    .text-and-image__container {
        padding: 2em 0;
    }
    .text-and-image__copy h2 {
        {{ utils.dudler() }}
        font-weight: var(--heavy-font-weight);
    }
        
    .text-and-image__copy p{
        {{ utils.base() }}
    }

{% endcall %}

/* Drag and drop styling */
.dnd-section .text-and-image__container {
    gap: 1.5em;
    padding: 0;
}

.dnd-section .text-and-image__image {
    align-self: center;
}

{% call utils.medium_large_and_extra_large() %}
  .dnd-section .text-and-image__container {
    gap: 2.75em;
  }
{% endcall %}

{% call utils.large_and_extra_large() %}
  .dnd-section .text-and-image__copy {
    max-width: var(--freed-max-width);
  }
{% endcall %}

.dnd-section .text-and-image__image > img {
  transform: none;
}