{% import '../utils/utils.css' as utils %}

.cm-training-card-group {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
}
{% call utils.medium_large_and_extra_large() %}
    .cm-training-card-group {
        justify-content: space-between;
    }
{% endcall %}

.cm-training-card-group.mobile-slider {
    display: none;
}
{% call utils.small() %}
    .cm-training-card-group.mobile-slider {
        display:flex;
    }
{% endcall %}

{% call utils.small() %}
    .cm-training-card-group.desktop {
        margin-bottom: 45px;
    }
{% endcall %}

{% call utils.small() %}
    .cm-training-card-group.desktop .cm-training-card.cm-training-card--featured {
        display: flex;
    }
{% endcall %}

.cm-training-card {
    display: flex;
    flex-direction: column;
}
{% call utils.extra_large() %}
    .cm-training-card-group .cm-training-card {
        margin-bottom: 30px;
        width: calc( (100% / 3) - 25px / 2 );
    }
{% endcall %}
{% call utils.medium_and_large() %}
    .cm-training-card-group .cm-training-card {
        margin-bottom: 30px;
        width: calc( (100% / 2) - 25px / 2 );
    }
{% endcall %}

{% call utils.small() %}
    .cm-training-card-group.desktop .cm-training-card {
        display: none;
    }
{% endcall %}

{% call utils.small() %}
    .cm-training-card-group.mobile-slider .cm-training-card {
        padding-left: 15px;
    }
{% endcall %}

{% call utils.small() %}
    .cm-training-card-group.mobile-slider .cm-training-inner-card {
        display: flex;
        flex-direction: column;
        box-shadow: rgba(0,0,0,0.16) 0 0 8px;
        width: 100%;
        margin-left: 0;
        height: calc(75vh - 75px);
    }
{% endcall %}

{% call utils.small() %}
    .cm-training-card-group.mobile-slider button.slick-prev.slick-arrow,
    .cm-training-card-group.mobile-slider button.slick-next.slick-arrow {
        display: none !important;
    }

    .cm-training-card-group.mobile-slider ul.slick-dots li button {
        display: none;
    }

    .cm-training-card-group.mobile-slider ul.slick-dots li {
        background-color: var(--french-gray);
        border-radius: 50%;
        display: inline-block;
        height: 15px;
        margin: 0 7.5px;
        margin-left: 15px;
        width: 15px;
        cursor: pointer;
    }

    .cm-training-card-group.mobile-slider  ul.slick-dots li.slick-active {
        background-color: var(--shark);
    }
{% endcall %}

.cm-training-card__title {
    color: white;
    margin-bottom: var(--sejima-margin);
}
{% call utils.small() %}
    .cm-training-card__title {
        {{ utils.base() }}
        font-weight: var(--heavy-font-weight);
    }
{% endcall %}

.cm-training-card--featured .cm-training-card__title {
    {{ utils.freed() }}
    font-weight: var(--heavy-font-weight);
}

.cm-training-card:not(.cm-training-card--featured) .cm-training-card__title {
    {{ utils.freed() }}
    font-weight: var(--heavy-font-weight);
}

.cm-training-card__primary-content {
    background-color: var(--shark);
    padding-left: 25px;
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto 80%;
}

.cm-training-card--featured .cm-training-card__primary-content {
    padding-bottom: 20px;
    padding-top: 20px;
}

.cm-training-card:not(.cm-training-card--featured) .cm-training-card__primary-content {
    padding-bottom: 16px;
    padding-top: 25px;
}

.cm-training-card__secondary-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 20px 25px 40px;
}
{% call utils.medium_large_and_extra_large() %}
    .cm-training-card__secondary-content {
        align-items: flex-start;
    }
{% endcall %}
{% call utils.small() %}
    .cm-training-card__secondary-content .button-primary {
        max-width: var(--button-max-width);
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
{% endcall %}

.cm-training-card__course-length {
    {{ utils.sejima() }}
    text-transform: uppercase;
    letter-spacing: 1.8px;
    color: white;
}

.cm-training-card--featured .cm-training-card__course-length {
    margin-left: 15px;
    padding-left: 15px;
    position: relative;
}

.cm-training-card--featured .cm-training-card__course-length::before {
    border-left: 1px solid var(--french-gray);
    content: "";
    height: 25px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.cm-training-card:not(.cm-training-card--featured) .cm-training-card__course-length {
    margin-bottom: 10px;
}

.cm-training-card__description {
    {{ utils.natus() }}
    margin-bottom: var(--base-margin);
}

.cm-training-card__tag {
    {{ utils.sejima() }}
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-weight: var(--heavy-font-weight);
    margin-bottom: var(--sejima-margin);
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row;
}

.cm-training-card__avatar {
    width: 40px;
    margin-right: 15px;
}
