{% import '../utils/utils.css' as utils %}

.utilities-menu {
  display: flex;
  align-items: center;
  gap: var(--space-4);
}

.utilities-menu > a {
  color: var(--shark);
  display: inline-block;
  transition: color 0.2s;
  text-decoration: none;
  font-size: var(--natus-font-size);
  font-weight: var(--middle-font-weight);
  letter-spacing: 0.02em;
  line-height: var(--natus-line-height);
}

.utilities-menu > a:focus,
.utilities-menu > a:hover {
  color: var(--persimmon);
}

.utilities-menu > a.active-item {
  position: relative;
}

.utilities-menu > a.active-item:after {
  background-color: var(--persimmon);
  bottom: -2px;
  content: "";
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
}

{% call utils.small_and_medium() %}
  .utilities-menu > a {
    display: none;
  }
{% endcall %}

/* LANGUAGE SELECTOR START */

.language-selector__button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--shark);
  text-transform: uppercase;
  transition: color .5s;
}

.language-selector__button:before {
  content: "\f0ac";
  font-family: 'line awesome free';
  position: relative;
  font-weight: 900;
  top: 0.05em;
}

.language-selector__button:focus,
.language-selector__button:hover,
.language-selector a:focus,
.language-selector a:hover {
  text-decoration: none;
  color: var(--persimmon);
}

{% call utils.large_and_extra_large() %}
  .language-selector__button,
  .language-selector a {
    font-size: var(--natus-font-size);
    font-weight: var(--middle-font-weight);
    letter-spacing: 0.02em;
    line-height: var(--natus-line-height);
  }
{% endcall %}

{% call utils.small_and_medium() %}
  .website-header--open .language-selector {
    display: none;
  }

  .language-selector {
    position: absolute;
    right: 78px;
    top: 25px;
  }

  .language-selector__button,
  .language-selector a {
    {{ utils.base() }}
    font-weight: var(--middle-font-weight);
  }
{% endcall %} 

/* LANGUAGE SELECTOR END */