{% import '../utils/utils.css' as utils %}

.utilities-menu {
  height: 100%;
}

.utilities-menu ul {
  list-style:none;
  margin-top: 0;
  margin-bottom: 0;
}

.utilities-menu a {
  color: var(--shark);
  display: inline-block;
  transition: color 0.2s;
  text-decoration: none;
  font-size: var(--natus-font-size);
  font-weight: var(--middle-font-weight);
  letter-spacing: 0.02em;
  line-height: var(--natus-line-height);
}

.utilities-menu a:focus,
.utilities-menu a:hover {
  color: var(--persimmon);
}