{% import '../utils/utils.css' as utils %}

.card-collection {
  margin-left: auto;
  margin-right: auto;
}

.promoted-videos {
  padding-bottom: 4em;
}

{% call utils.small_and_medium() %}
  .card-collection__inner-wrapper {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
{% endcall %}

.card-collection__heading-wrapper {
  color: var(--shark);
  flex-grow: 1;
  font-size: var(--dudler-font-size);
  font-weight: var(--heavy-font-weight);
  line-height: var(--dudler-line-height);
  margin-bottom: var(--dudler-margin);
}

{% call utils.small() %}
  .card-collection__heading-wrapper {
    width: 100%;
  }
{% endcall %}

.card-collection__search-results-heading {
  display: none;
}

.card-collection-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  column-gap: 1.25em;
  row-gap: 1.25em;
}

{% call utils.small_and_medium() %}
  .card-collection-results {
    position: relative;
    left: 0px;
  }
  .card-collection-results.animating {
    transition: left 0.3s ease;
  }
{% endcall %}

/* Card Item Styles */

.card-item {
  box-shadow: 5px 10px 18px var(--woodsmoke--10);
}

.card-item__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-item__image {
  aspect-ratio: 16/9;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.card-item__text-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  background-color: white;
  justify-content: space-between;
}

.card-item__text-container-inner {
  flex-grow: 1;
  margin-bottom: 1.5rem;
  max-height: 11.3rem;
  overflow: hidden;
  position: relative;
}
.card-item__text-container-inner.truncated::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: var(--natus-line-height);
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

.card-item__header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-item__metadata {
  {{ utils.sejima() }}
  display: inline-block;
  text-transform: uppercase;
}

.card-item__metadata--date {
  padding-right: 5px;
  flex-grow: 1;
}

.card-item__metadata--internal::before,
.card-item__metadata--new::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--tango);
  margin-right: 5px;
  display: inline-block;
}

.card-item__metadata--internal::before {
  background-color: var(--tango);
}

.card-item__metadata--new::before {
  background-color: var(--java);
}

.card-item__title {
  {{ utils.base() }}
  font-weight: var(--heavy-font-weight);
  display: block;
  width: 100%;
  margin-top: calc(var(--base-margin) / 2);
  margin-bottom: var(--base-margin);
}

.card-item__description {
  {{ utils.natus() }}
  color: var(--mid-gray);
}

.card-item__button {
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.7rem 1rem;
  text-align: center;
  cursor: pointer;
}
.card-item__button > a:hover,
.card-item__button > a:focus {
  text-decoration: none;
}

.card-item__button--solid {
  background-color: var(--persimmon);
}
.card-item__button--solid:hover,
.card-item__button--solid:focus {
  background-color: var(--persimmon--dark);
}
.card-item__button--solid > a {
  color: white;
}

.card-item__button--outlined {
  background-color: white;
  border: 1px solid var(--persimmon);
}
.card-item__button--outlined:hover,
.card-item__button--outlined:focus {
  border: 1px solid var(--persimmon--dark);
}
.card-item__button--outlined:hover > a {
  color: var(--persimmon--dark);
}

.card-item__video-button {
  padding-right: 1.2em;
}

.icon-gated::after {
  content: '\f30b'; 
}
.icon-ungated::after {
  content: '\f04b';
}

.icon-gated::after,
.icon-ungated::after{
  font-family: 'line awesome free';
  font-size: 1.2em;
  position: relative;
  top: 0.1em;
}


.card-item__button-container [class*="button"] {
  width: 100%;
  max-width: var(--button-max-width);
}

.card-item__image-container {
  position: relative;
  width: 100%;
  height: 155px;
  background-size: cover;
  background-position: center;
}

{% call utils.small() %}
  .card-item__image-container {
    height: 100px;
  }
{% endcall %}

{% set label_position = '10px' %}
.card-item__label {
  {{ utils.sejima() }}
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 20px var(--woodsmoke--20);
  padding: 0.05em 0.4em;
  position: absolute;
  text-transform: uppercase;
  top: {{label_position}};
}

.card-item__label--type {
  left: {{label_position}};
}

.card-item__label--duration {
  right: {{label_position}};
}

.card-item__label--duration::before {
  content: '\f017';
  position: relative;
  top: 0.03em;
  font-family: 'line awesome free';
}

.card-item__label--internal {
  {{ utils.sejima() }}
  align-items: center;
  bottom: {{label_position}};
  display: flex;
  left: {{label_position}};
  top: auto;
}

.card-item__label--internal::before {
  background-color: var(--tango);
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 0.5em;
  margin-right: 0.3em;
  width: 0.5em;
}

{% call utils.small_and_medium() %}
  .card-collection-newsletter-wrapper{
    display: none;
  }
{% endcall %}

/* Card animations when shown/hidden */
.card-collection,
.card-collection__heading-wrapper {
  transition: all 
    var(--fading-animation-duration) 
    ease-in-out;
}

.card-collection.fade-animation,
.card-collection.fade-animation .card-collection__heading-wrapper {
  height: 0;
  margin: 0 !important;
}

.card-item {
  transition: opacity 
    var(--fading-animation-duration) 
    ease-in-out;
}

.no-results-message {
  transition: opacity 
    var(--fading-animation-duration) 
    ease-in-out;
}

.no-results-message > p {
  {{ utils.freed() }}
  
  max-width: var(--freed-max-width);
}