{% import '../utils/utils.css' as utils %}

.videos-hubdb {
    max-width: var(--content-max-width);
    margin-inline: auto;
}

.video-hubdb__iframe {
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: 10px;
}

.video-hubdb__title {
    {{ utils.freed() }}
    margin-top: var(--freed-margin);
    margin-bottom: 0.25em;
}

.video-hubdb__description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.video-hubdb__date {
    {{ utils.natus() }}
    font-weight: var(--heavy-font-weight);
    text-transform: uppercase;
}

{% call utils.medium_large_and_extra_large() %}
    .videos-hubdb {
        display: flex;
        gap: 1em;
    }

    .video-hubdb {
        flex-basis: 100%;
    }
{% endcall %}

{% call utils.small() %}
    .video-hubdb {
        margin-bottom: 2em;
    }
{% endcall %}