{% import '../utils/utils.css' as utils %}

{% call utils.small() %}
  .cm-service-line__webinar-teaser {
    box-shadow: 0 1px 3px rgba(255,255,255,0.12), 0 1px 10px var(--woodsmoke--10)
  }
{% endcall %}

.cm-webinar-image-position-left,
.cm-webinar-image-position-right {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  position: relative;
}
.cm-webinar-image-position-left .cm-webinar_image {
  background-position: left center;
}
.cm-webinar_image {
  background-color: #aaa;
  background-size: cover;
}
.cm-webinar_content {
  background-color: white;
  padding-bottom: 40px;
  padding-top: 40px;
}

.cm-webinar_content-type {
  font-size: var(--natus-font-size);
  line-height: var(--natus-line-height);
  text-transform: uppercase;
}
{% call utils.medium_large_and_extra_large() %}
  .cm-webinar_content-type {
    color: var(--persimmon);
    font-weight: var(--heavy-font-weight);
    letter-spacing: 0.1em;
  }
{% endcall %}
{% call utils.small() %}
  .cm-webinar_content-type {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 20px var(--woodsmoke--20);
    font-weight: var(--welter-font-weight);
    left: 10px;
    padding: .05em .4em;
    position: absolute;
    text-transform: uppercase;
    top: 10px;
  }
{% endcall %}

.cm-webinar_title {
  {{ utils.freed() }}
  margin-bottom: var(--freed-margin);
  margin-top: calc(var(--freed-margin) / 2);
}
{% call utils.medium_large_and_extra_large() %}
  .cm-webinar_title {
    font-weight: var(--heavy-font-weight);
  }
{% endcall %}
{% call utils.small() %}
  .cm-webinar_title {
    text-align: center;
  }
{% endcall %}

.cm-webinar_description {
  {{ utils.base() }}
  margin-bottom: var(--base-margin);
  max-width: var(--base-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
{% call utils.small() %}
  .cm-webinar_description {
    text-align: center;
  }
{% endcall %}

{% call utils.medium_large_and_extra_large() %}
  .cm-webinar-image-position-left:after,
  .cm-webinar-image-position-right:after{
    background-color: var(--persimmon--dark);
    background-size: cover;
    content: "";
    position: absolute;
  }
  .cm-webinar_content {
    position: relative;
    z-index: 20;
  }
  .cm-webinar_image {
    position: absolute;
    z-index: 10;
  }
{% endcall %}

{% call utils.large_and_extra_large() %}
  .cm-webinar-image-position-left:after,
  .cm-webinar-image-position-right:after{
    bottom: 25px;
    top: 40px;
  }
  .cm-webinar-image-position-left:after{
    left: 100px;
    right: 50%;
  }
  .cm-webinar-image-position-right:after {
    left: 50%;
    right: 100px;
  }
  .cm-webinar-image-position-right .cm-webinar_content {
    margin-right: 43%;
  }
  .cm-webinar-image-position-right .cm-webinar_image {
    left: auto;
    right: 50px;
  }
  .cm-webinar-image-position-right .cm-webinar_image {
    background-position: right center;
  }
  .cm-webinar-image-position-right .cm-webinar_content {
    margin-right: 43%;
  }
  .cm-webinar_content {
    box-shadow: var(--woodsmoke--10) 0 0 8px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .cm-webinar-image-position-left .cm-webinar_content {
    margin-left: 43%;
  }
  .cm-webinar-image-position-left .cm-webinar_image {
    left: 50px;
  }
  .cm-webinar_image {
    bottom: 40px;
    top: 0;
    width: calc(57% - 100px);
  }
  .cm-webinar-image-position-left, .cm-webinar-image-position-right {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
  }
{% endcall %}

{% call utils.small_and_medium() %}
  .cm-webinar_image {
    position: absolute;
    background-color: var(--mid-gray);
    background-size: cover;
    z-index: 10;
    bottom: 0;
    top: 0;
    width: calc(60% - 50px);
  }
  .cm-webinar-image-position-left .cm-webinar_content {
    margin-left: 40%;
  }
  .hero-teaser--image-position-left .cm-webinar_image {
    background-position: left center;
  }
  .hero-teaser--image-position-left .cm-webinar_image {
    left: 25px;
  }
  .hero-teaser--image-position-left,
  .hero-teaser--image-position-right {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .cm-webinar_content {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 40%;
    background-color: white;
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .cm-webinar_image {
    bottom: 0;
    top: 0;
    width: calc(60% - 5px);
  }
  .cm-webinar-image-position-left .cm-webinar_image{
    background-position: left center;
  }
  .cm-webinar-image-position-left {
    padding: 40px 0;
  }
{% endcall %}

{% call utils.medium() %}
  .cm-webinar-image-position-left:after {
    left: 50%;
    right: -25px;
    bottom: 15px;
    top: 15px;
  }
{% endcall %}

{% call utils.small() %}
  .cm-webinar_image {
    height: 0;
    padding-top: 63.8888888889%;
    width: 100%;
    position: static;
    z-index: 0;
  }
  .cm-webinar_content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .cm-webinar-image-position-left .cm-webinar_content {
    margin-left: 0;
  }
  .cm-webinar_title {
    margin: 0 0 20px;
  }
  .cm-webinar-image-position-left {
    padding: 0;
  }
  .cm-webinar_content{
    margin-left:0;
  }
{% endcall %}

.cm-webinar-image-position-right h3.cm-webinar_title {
  font-weight: 700;
  font-size: 21px;
  line-height: 33px;
}

{% call utils.small() %}
  .cm-webinar_content [class*="button"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--button-max-width);
    width: 100%;
  }
{% endcall %}