{{ require_css(get_asset_url("../../css/modules/interview-process.css")) }}

<div class="custom-interview-process">
  <ul class="custom-interview-process__item-list">

    {% for item in module.interview_process_items %}
      <li class="custom-interview-process__item">
        <div class="custom-interview-process__icon-container">
          <i class="las {{ item.icon_class }}"></i>
        </div>
        <div class="custom-interview-process__check-container">
          <i class="las la-check-circle"></i>
        </div>
        <div class="custom-interview-process__text-container">
          <h3 class="custom-interview-process__title">
            <span>{% if loop.index < 10 %}0{% endif %}{{ loop.index }}.</span>
            {{ item.title }}
          </h3>
          <div class="custom-interview-process__description" >
            {{ item.content }}
          </div>
        </div>
      </li>
    {% endfor %}

  </ul>
</div>

