{{ require_css(get_asset_url("../../css/modules/interview-process.css")) }}

{% set step_lang = "Step" %}
{% if locale == "es" %}
  {% set step_lang = "Paso" %}
{% elif locale == "pt" %}
  {% set step_lang = "Passo" %}
{% endif %}

<div class="custom-interview-process">
  <ul class="custom-interview-process__item-list">

    {% for item in module.interview_process_items %}
      <li class="custom-interview-process__item">
        <div class="custom-interview-process__icon-container">
          {% set resized_image = resize_image_url(item.icon_image.src, 60, 60) %}
          <img src="{{ resized_image }}" alt="" loading="lazy" width="60" height="60" />
        </div>
        <div class="custom-interview-process__text-container">
          <div class="custom-interview-process__step">
          
            <span>{{step_lang}} {{ loop.index }}</span>
          </div>
          <h3 class="custom-interview-process__title">
            {{ item.title }}
          </h3>
          <div class="custom-interview-process__description" >
            {{ item.content }}
          </div>
        </div>
      </li>
    {% endfor %}

  </ul>
</div>

