{{ require_css(get_asset_url("../../css/modules/lp-benefits-block.css")) }}

<div class="lp-benefits-block">
	<h2 class="lp-benefits-block__title">{{ module.title }}</h2>
	<div class="lp-benefits-block__content">
		{% for item in module.field_group %}
			<div class="lp-benefits-block-card">
        	<img src="{{ item.icon.src }}" alt="{{ item.icon.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>       
        	{% if item.link%}
	          <a href="{{ item.link }}" %} >Learn More</a><i class="las la-arrow-right"></i>
         {% endif %}
        	<p class="lp-benefits-block-text">{{item.content}}</p>
	</div>
		{% endfor %}
</div>