/* ******************************************************************************
*********************************************************************************
This file contains all the neccessary styles for your blog. The styles included
are for the listing and post templates, featured images and pagination.
Also for the post meta infromation like tags, author and published date
*********************************************************************************
****************************************************************************** */
{% import './utils/utils.css' as utils %}

a.tags {
  {{ utils.sejima() }}
  border-radius: 50px;
  border: 1px solid var(--mid-gray);
  color: var(--mid-gray);
  display: inline-block;
  padding-bottom: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  text-decoration: none;
  text-align: center;
  transition: all .3s ease;
}

a.tags:hover {
  background-color: var(--mid-gray);
  color: white;
  text-decoration: underline;
}

.align-content-end {
  -ms-flex-line-pack: end!important;
  align-content: flex-end!important;
}
.justify-content-center {
  -ms-flex-pack: center!important;
  justify-content: center!important;
}
.flex-wrap {
  -ms-flex-wrap: wrap!important;
  flex-wrap: wrap!important;
}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

figure {
  margin: 0;
}
.u-icon-slide-up--hover .u-icon__elem-regular {
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
}
.u-icon-v1:hover, .u-icon-v2:hover, .u-icon-v3:hover, .u-icon-v4:hover {
  text-decoration: none;
}
.u-icon-v1 > i, .u-icon-v2 > i, .u-icon-v3 > i, .u-icon-v4 > span > i {
  position: relative;
  top: 50%;
  display: block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}

.u-icon__elem-regular, .u-icon__elem-hover {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  transition: all .3s ease-in-out;
}
.u-icon-v1, .u-icon-v2 {
  position: relative;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in-out;
}
.rounded-circle {
  border-radius: 50%!important;
}

.u-icon-slide-up--hover {
  overflow: hidden;
}
.u-icon__elem-regular,
.u-icon__elem-hover {
  width: 2.28571rem;
  height: 2.28571rem;
  font-size: 1.28571rem;
}

.u-icon__elem-hover {
  position: absolute !important;
}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

.u-icon-slide-up--hover:hover .u-icon__elem-regular {
  -webkit-transform: translateY(-110%);
  -ms-transform: translateY(-110%);
  transform: translateY(-110%);
}
.u-icon-slide-up--hover:hover .u-icon__elem-hover {
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
}

.u-icon-slide-up--hover .u-icon__elem-hover {
  -webkit-transform: translateY(110%);
  -ms-transform: translateY(110%);
  transform: translateY(110%);
}

.blog .js-cookie-message {
  display: none;
}
.overflow-h {
  overflow: hidden;
}

.hs-blog-post {
  overflow-x: hidden;
}

@media (min-width: 768px){
  .text-md-right {
    text-align: right!important;
  }

}
.u-icon-slide-up--hover, .u-icon-slide-down--hover, .u-icon-slide-left--hover, .u-icon-slide-right--hover {
  overflow: hidden;
}

.u-icon-slide-up--hover:hover .u-icon__elem-hover, .u-icon-block--hover:hover .u-icon-slide-up--hover .u-icon__elem-hover {
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
}
.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}
.u-icon-slide-up--hover:hover .u-icon__elem-regular, .u-icon-block--hover:hover .u-icon-slide-up--hover .u-icon__elem-regular {
  -webkit-transform: translateY(-110%);
  -ms-transform: translateY(-110%);
  transform: translateY(-110%);
}
.u-icon-v2 {
  border-width: 1px;
  border-style: solid;
}
.u-icon-slide-up--hover .u-icon__elem-hover {
  -webkit-transform: translateY(110%);
  -ms-transform: translateY(110%);
  transform: translateY(110%);
}
.u-icon-slide-up--hover .u-icon__elem-regular {
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
}

section.container.blog blockquote p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}
section.container.blog {
  padding-bottom: 3.57143rem;
}
section.container.blog blockquote {
  border-left: none;
  border: none;
  padding: 18px;
  background: #f3f3f3;
  border-left: solid 2px #666;
  margin: 0 0 1rem;
}

.u-icon__elem-regular, .u-icon__elem-hover {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  transition: all .3s ease-in-out;
}

.text-right {
  text-align: right!important;
}
.u-icon__elem-hover {
  position: absolute !important;
}

a.u-icon-v2 {
  text-decoration: none;
}
.blog h2 {
  font-size: 21px;
  line-height: 32px;
  margin-bottom: 10px;
}

.blog h2 a {
  color: #585f69;
  line-height: 32px;
}

.blog h2 a:hover {
  color: #72c02c;
  text-decoration: none;
}
.u-link-v2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-indent: -100%;
    white-space: nowrap;
    overflow: hidden;
    z-index: 2;
}
.blog .blog-img {
  margin: 20px 0;
}

@media (min-width: 768px){
  .text-md-left {
    text-align: left!important;
  }

}

@media (max-width: 767px) {
  .blog-author .blog-author-desc {
    margin: 10px 0 10px;
  }
}


