/* ******************************************************************************
*********************************************************************************
This file contains all the neccessary styles for your blog. The styles included
are for the listing and post templates, featured images and pagination.
Also for the post meta information like tags, author and published date
*********************************************************************************
****************************************************************************** */
{% import './utils/utils.css' as utils %}

a.tags {
  {{ utils.sejima() }}
  border-radius: 50px;
  border: 1px solid var(--mid-gray);
  color: var(--mid-gray);
  display: inline-block;
  padding-bottom: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  text-decoration: none;
  text-align: center;
  transition: all .3s ease;
}

a.tags:hover {
  background-color: var(--mid-gray);
  color: white;
  text-decoration: underline;
}

figure {
  margin: 0;
}

.hs-blog-post {
  overflow-x: hidden;
}


