:root {
  --cta-transition: all 0.3s ease;
  --button-max-width: 300px;
}

{% macro button() %}
  border-radius: 3px;
  display: inline-block;
  font-size: var(--natus-font-size);
  font-weight: var(--middle-font-weight);
  line-height: var(--natus-line-height);
  padding: 0.6em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: var(--cta-transition);
  white-space: nowrap;
{% endmacro %}

.button {
  {{ button() }}
}

.button-primary,
.hs-button.primary {
  {{ button() }}
  background: var(--persimmon);
  border: solid 2px var(--persimmon);
  color: white;
}

.button-primary:hover,
.button-primary:active,
.button-primary:focus,
.hs-button.primary:hover,
.hs-button.primary:active,
.hs-button.primary:focus {
  background: var(--persimmon--dark);
  border: solid 2px var(--persimmon--dark);
  color: white;
  text-decoration: none;
}

.button-primary-alternate {
  {{ button() }}
  background: var(--midnight-blue);
  border: solid 2px var(--midnight-blue);
  color: white;
}

.button-primary-alternate:hover,
.button-primary-alternate:active,
.button-primary-alternate:focus {
  background: var(--midnight-blue--dark);
  border: solid 2px var(--midnight-blue--dark);
  color: white;
  text-decoration: none;
}


.button-secondary {
  {{ button() }}
  background: transparent;
  border: solid 2px var(--persimmon);
  color: var(--persimmon);
}

.button-secondary:hover,
.button-secondary:active,
.button-secondary:focus {
  background: var(--persimmon--dark);
  border: solid 2px var(--persimmon--dark);
  color: white;
  text-decoration: none;
}


.text-cta,
.text-cta--right-arrow {
  color: var(--persimmon);
  display: inline-block;
  font-size: var(--natus-font-size);
  font-weight: var(--middle-font-weight);
  line-height: var(--natus-line-height);
  margin: 0.5rem 0;
  text-decoration: none;
  transition: var(--cta-transition);
}

.text-cta:hover,
.text-cta:active,
.text-cta:focus,
.text-cta--right-arrow:hover,
.text-cta--right-arrow:active,
.text-cta--right-arrow:focus  {
  color: var(--persimmon--dark);
  text-decoration: underline;
}


.text-cta--right-arrow i {
  transform: translate(0em, 0.047em);
  transition: var(--cta-transition);
}
.text-cta--right-arrow:hover i {
  transform: translate(0.15em, 0.047em);
}
