/* ******************************************************************************
*********************************************************************************
This file contains all the neccessary styles to control how your
footer looks when it comes to spacing and other general styles.
*********************************************************************************
****************************************************************************** */
{% import './utils/utils.css' as utils %}

.footer {
  background-color: var(--woodsmoke);
  color: var(--athens-gray);
}
[class^="cm-footer"] a {
  color: var(--athens-gray);
  font-weight: var(--light-font-weight);
}
[class^="cm-footer"] a:hover,
[class^="cm-footer"] a:active,
[class^="cm-footer"] a:focus,
[class^="cm-footer"] a:visited {
  color: white;
  text-decoration: none;
}
.footer__container {
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding-left: var(--centered-content-lateral-spacing);
  padding-right: var(--centered-content-lateral-spacing);
}

{% call utils.small() %}
  .footer__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
{% endcall %}

.hs-footer-top-container {
  padding-top: 4.28571rem;
  padding-bottom: 4.28571rem;
}
.hs-footer-top-container h2 {
  position: relative;
  margin: 0;
  border-bottom: 1px dotted var(--mid-gray);
  width: 100%;
  display: block;
  margin-bottom: 1.78571rem;
}
.hs-footer-top-container h2 span {
  border-bottom: 1px solid var(--mid-gray);
  color: var(--athens-gray);
  display: inline-block;
  font-size: var(--natus-font-size);
  font-weight: var(--heavy-font-weight);
  line-height: var(--natus-line-height);
  margin: 0;
  padding-bottom: 0.71429rem;
  position:relative;
  top: 1px;
}

.cm-footer-logo-group {
  order: 1;
}

.cm-footer-logo-group p {
  {{ utils.natus() }}
  margin-bottom: var(--base-margin);
}
.footer__copyright {
  font-family: {{ secondary_font_family }};
  font-size: .7rem;
  margin: .5rem 0;
}
.hs-footer-bottom-container {
  background-color: var(--woodsmoke);
  border-top: 1px solid var(--shark);
  color: var(--french-gray);
  font-size: 1rem;
  padding-bottom:1.42857rem;
  padding-top:1.42857rem;
}
.footer-logo {
  display: inline-block;
  fill: white;
  padding-bottom: 17px;
  margin-top: 2px;
  width: 125px;
  margin-bottom: 1rem;
}
.cm-footer-useful-links .hs-menu-wrapper > ul{
  margin: 0;
}

.cm-footer-useful-links .hs-menu-wrapper > ul > li > a {
  border-bottom: 1px dotted var(--mid-gray);
  color: var(--athens-gray);
  cursor:text;
  display:block;
  font-size: var(--natus-font-size);
  font-weight: var(--heavy-font-weight);
  line-height: var(--natus-line-height);
  margin-bottom: 1.4rem;
  padding-bottom: .8rem;
  padding-top: 0.21rem;
  width:100%;
}

.cm-footer-useful-links .hs-menu-wrapper > ul > li {
  width: 100%;
}

.cm-footer-useful-links .hs-menu-wrapper > ul > li > ul > li,
.cm-footer-contact-us li {
  width: 100%;
  padding-top: 0.71429rem ;
  padding-bottom: 0.71429rem ;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.cm-footer-useful-links .hs-menu-wrapper > ul > li > ul > li > a {
  {{ utils.natus() }}
  color: var(--athens-gray);
  position:relative;
  padding-top: 0;
  padding-bottom: 0;
}

.cm-footer-useful-links .hs-menu-wrapper > ul > li > ul > li > a:hover,
.cm-footer-contact-us li a:hover {
  text-decoration:underline;
}

.cm-footer-useful-links .hs-menu-wrapper > ul > li > ul > li > a:after,
.cm-footer-contact-us li a:after {
  right: 5px;
  content: "\f105";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50% !important;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-backface-visibility: hidden;
}

.cm-footer-contact-us p,
.cm-footer-contact-us li a {
  {{ utils.natus() }}
  margin-top: .21rem;
  color: var(--athens-gray);
  display: block;
}

.cm-footer-contact-us__email {
  text-decoration: underline;
}

.cm-footer-contact-us li {
  list-style: none;
  position: relative;
}

.hs-footer-bottom-container .responsive-page-width {
  display: -ms-flexbox;
  display: flex;
}
{% call utils.small_and_medium() %}
  .hs-footer-bottom-container .responsive-page-width {
    align-items: center;
    flex-direction: column;
  }
{% endcall %}

.hs-footer-bottom-left {
  color: var(--french-gray);
  font-size: var(--natus-font-size);
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}
{% call utils.large_and_extra_large() %}
  .hs-footer-bottom-left {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
{% endcall %}
{% call utils.small_and_medium() %}
  .hs-footer-bottom-left {
    text-align: center;
  }
{% endcall %}

.hs-footer-bottom-right {
  -ms-flex-item-align: center;
  align-self: center;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
{% call utils.large_and_extra_large() %}
  .hs-footer-bottom-right {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
{% endcall %}
{% call utils.small_and_medium() %}
  .hs-footer-bottom-right {
    text-align: center;
  }
{% endcall %}

.hs-footer-bottom-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: var(--natus-font-size);
}
{% call utils.large_and_extra_large() %}
  .hs-footer-bottom-right ul {
    text-align: right;
  }
{% endcall %}
{% call utils.small_and_medium() %}
  .hs-footer-bottom-right ul {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
{% endcall %}

.hs-footer-bottom-right ul li {
  margin-left: 0.71429rem;
  margin-right: 0.71429rem;
  display: inline-block;
  position:relative;
}

.hs-footer-bottom-right ul li a {
  color: var(--french-gray);
}

.hs-footer-bottom-right ul li a:hover {
  color: white;
}

.hs-footer-bottom-right ul li:first-child {
  margin-right: 7px;
}
footer.footer .hs-rss-byline {
  opacity: 1;
  font-size: 0;
}
footer.footer .hs-rss-item .hs-rss-author{
  font-size:12px;
  font-weight: 400;
}
footer.footer .hs-rss-item {
  border-bottom: var(--mid-gray) 1px solid;
  padding-bottom: 0.71429rem;
  margin-bottom: 0.71429rem;
}

footer.footer .hs-rss-item  a.hs-rss-title {
  {{ utils.natus() }}
  color: var(--french-gray);
}

footer.footer .hs-rss-item  a.hs-rss-title:hover {
  color: var(--athens-gray);
}

@media(min-width:768px) and (max-width:992px){
  .hs-footer-top-container .footer__container .container-fluid > .row-fluid > .span3 {
    width: 50%;
    margin-left: 0;
    float: none;
    display: inline-block;
    margin: 0 -2px;
    vertical-align: top;
    padding-left: 17px;
    padding-right: 0;
    margin-bottom:45.714px;
  }
  .hs-footer-top-container  .container-fluid > .row-fluid {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
  }
  .hs-footer-top-container .container-fluid > .row-fluid > .span3:nth-child(2n+2) {
    padding-left: 36px;
  }
  .hs-footer-top-container {
    padding-bottom: 22px;
  }

}

{% call utils.small() %}
  .hs-footer-bottom-left, .hs-footer-bottom-right {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    text-align: center;
  }
  .hs-footer-bottom-right ul {
    text-align: center;
  }
  .hs-footer-bottom-left {
    margin-bottom: 28px;
  }
  .hs-footer-bottom-container {
    font-size: 16px;
    padding-top: 23px;
    padding-bottom: 23px;
  }
  .hs-footer-top-container {
    padding-top: 68px;
    padding-bottom: 39px;
  }
  .hs-footer-top-container .container-fluid > .row-fluid > .span3{
    margin-bottom:45.714px;
  }
  .cm-footer-useful-links .hs-menu-wrapper > ul > li > a,
  .hs-footer-top-container h2 span {
    {{ utils.ponti() }}
    padding-bottom: 11px;
  }
  .cm-footer-useful-links .hs-menu-wrapper > ul > li > ul > li > a{
    {{ utils.ponti() }}
  }
  .hs-footer-top-container h2 {
    {{ utils.ponti() }}
    margin-bottom: 29px;
  }
  .cm-footer-useful-links .hs-menu-wrapper > ul > li > ul > li {
    padding-top: 11.857px;
    padding-bottom: 10.857px;
  }
  .hs-footer-bottom-right ul li {
    margin-left: 12px;
    margin-right: 11px;
  }
  .footer-logo {
    margin-bottom: 16px;
  }
  footer.footer.no-navigation .hs-footer-bottom-left {
    margin-bottom: 0;
  }

{% endcall %}
