/* ******************************************************************************
*********************************************************************************
This file contains all the neccessary styles to control how your headers look
when it comes to the logo, search field, language switcher and navigation.
You will also find the mobile menu styles below.
*********************************************************************************
****************************************************************************** */

{% include "../utils/utils.css" as utils %}

:root {
  --header-height: 71px;
}

header.header {
  {{ utils.card_shadow() }}
  background-color: white;
  position: fixed;
  transition: transform 0.5s, height 0.5s;
  width: 100%;
  z-index: 100;
}

.body-wrapper > div:first-child[data-global-resource-path],
header.header {
  height: var(--header-height);
}

.custom-logo img {
  max-width: 7.5rem;
  translate: 0 10%;
}

header.header.default {
  transform: translateY(0);
}

header.header.fixed {
  transform: translateY(-100%);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: {{ page_max_width }};
  margin-inline: auto;
  position: relative;
}

.header__wrapper > * {
  flex-grow: 1;
}

.mobile-trigger span:before,
.mobile-trigger span:after {
  content: "";
  height: 1.5px;
  left: 15px;
  position: absolute;
  background-color: #404040;
  width: 25px;
  transition: transform 0.5s, bottom 0.5s, background-color 0.5s;
}

.mobile-trigger span {
  display: block;
  position: relative;
}

.mobile-trigger span:before {
  bottom: 15px;
}

.mobile-trigger span:after {
  bottom: 25px;
}

#nav-toggle {
  display: none;
}

.mobile-trigger {
  display: none;
}

{% call utils.extra_large() %}
  .no-navigation {
    padding-bottom: 30px;
  }

  .header__wrapper {
    padding-top: 30px;
    padding-inline: var(--space-0);
  }
{% endcall %}

{% call utils.large_and_extra_large() %}
  :root {
    --header-height: 85px;
  }
{% endcall %}

{% call utils.large() %}
  :root {
    --header-height: 70px;
  }

  .body-wrapper > div:first-child[data-global-resource-path],
  header.header {
    --header-height: 70px;
  }

  .header__wrapper {
    padding-top: 25px;
    padding-inline: 25px;
  }
{% endcall %}

{% call utils.small_medium_and_large() %}
  .no-navigation {
    padding-bottom: 25px;
  }
{% endcall %}

{% call utils.small_and_medium() %}
  :root {
    --header-height: 71px;
  }

  header.header.fixed .website-header--open {
    transform: none;
  }

  header.header.website-header--open {
    --header-height: 100vh;
    color: var(--shark);
    top: 0;
  }

  .website-header--open .header__utilities {
    opacity: 0;
    visibility: hidden;
  }
  
  .custom-logo img {
    margin-top: -9px;
  }

  header.header:not(.website-header--open ) .custom-menu-primary nav {
    height: 0;
    overflow: hidden;
    padding-top: 0;
  }

  .header__wrapper {
    flex-direction: column;
    height: 100%;
  }

  .header__mobile-wrapper {
    position: relative;
    padding: 27px 20px 19px;
    background: white;
    z-index: 1;
  }

  .custom-menu-primary nav {
    height: calc(100vh - 70px);
    overflow-y: scroll;
    left: 0;
    margin: 0;
    position: absolute;
    top: var(--space-8);
    width: 200vw;
    transition: top .5s, left .5s,padding-top .5s,border-top-color .5s;
  }

  .website-header--has-open-submenu .custom-menu-primary nav {
    top: 70px;
    margin-top: -35px;
  }

  .mobile-trigger {
    display: block;
    background: 0;
    border: 0 none;
    cursor: pointer;
    height: 40px;
    width: 55px;
    position: absolute;
    right: 10px;
    top: 16px;
    z-index: 2;
  }

  .mobile-trigger span {
    display: block;
    position: relative;
    top: 42px;
  }

  .website-header--open .mobile-trigger span::before {
    transform: rotate(45deg);
    bottom: 22px;
  }

  .website-header--open .mobile-trigger span::after {
    transform: rotate(-45deg);
    bottom: 22px;
  }

{% endcall %} 

{% call utils.small() %}
  .header__wrapper form {
    max-width: 100%;
  }

  .custom-logo img {
    max-width: 125px;
    margin-top: 0;
  }
{% endcall %} 

