/* ******************************************************************************
*********************************************************************************
This file contains all the neccessary styles to control how your
system pages look. These pages include the error pages (404 and 500),
password protected content and search listing results.
*********************************************************************************
****************************************************************************** */

.error-page {
  padding: 10rem 0;
  text-align: center;
  position: relative;
}
.error-page:before {
  content: attr(data-error);
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: {{ secondary_font_family }};
  font-size: 40vw;
  font-weight: bold;
  color: #F3F6F9;
  z-index: -1;
}

.hs-404-error-layout .error-image {
  width: 100%;
}
.hs-404-error-layout .responsive-page-width {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom:15px;
}
@media screen and (min-width: 1100px) {
  .error-page:before {
    font-size: 20rem;
  }
}
.error-page_heading {
  margin-bottom: 1rem;
}
ul.no-list.hs-error-msgs {
  padding: 0;
}
.systems-page {
  padding: 3rem 20px;
}
.systems-page .success {
  display: inline-block;
  margin: 2rem 0;
  max-width: 650px;
  width:100%;
  background-color: #CDE3CC;
  border: 1.5px solid #4F7D24;
  border-radius: 6px;
  color: #4F7D24;
  padding: .1rem .75rem;
}

.email-prefs .item.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.email-prefs .item.disabled input:disabled {
  cursor: not-allowed;
}
.hs-404-error-layout .responsive-page-width p {
  margin-bottom: 31px;
}
input.email-edit.hs-input {
  width: 100% !important;
}

@media(min-width:768px){
  .hs-404-error-layout .responsive-page-width p {
    max-width: 66.666667%;
    margin-bottom: 31px;
  }
  .systems-page form {
    max-width: 600px;
  }
}

@media(max-width:480px){
  .hs-404-error-layout .error-image {
    width: 100%;
    padding: 20%;
  }
}