/* ******************************************************************************
*********************************************************************************
This file contains all the neccessary styles to control how your
fonts apppear throughout your site.
*********************************************************************************
****************************************************************************** */

@font-face {
  font-family: "education-48";
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/education-48.eot") format("embedded-opentype"),
    url({{ get_asset_url('../fonts/education-48.woff' ) }}) format("woff"),
    url({{ get_asset_url('../fonts/education-48.ttf' ) }}) format("ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "communication-48-x-48";
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/communication-48-x-48.eot") format("embedded-opentype"),
    url({{ get_asset_url('../fonts/communication-48-x-48.woff' ) }}) format("woff"),
    url({{ get_asset_url('../fonts/communication-48-x-48.ttf' ) }}) format("ttf");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: "proxima-nova";
  src: url("//use.typekit.net/af/705e94/00000000000000003b9b3062/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),
    url("//use.typekit.net/af/705e94/00000000000000003b9b3062/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),
    url("//use.typekit.net/af/705e94/00000000000000003b9b3062/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: auto;
}

@font-face {
  font-family: "proxima-nova";
  src: url("//use.typekit.net/af/576d53/00000000000000003b9b3066/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),
    url("//use.typekit.net/af/576d53/00000000000000003b9b3066/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),
    url("//use.typekit.net/af/576d53/00000000000000003b9b3066/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
  font-style: normal;
  font-weight: 600;
  font-display: auto;
}

@font-face {
  font-family: "proxima-nova";
  src: url("//use.typekit.net/af/949f99/00000000000000003b9b3068/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),
    url("//use.typekit.net/af/949f99/00000000000000003b9b3068/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),
    url("//use.typekit.net/af/949f99/00000000000000003b9b3068/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-style: normal;
  font-weight: 700;
  font-display: auto;
}

@font-face {
  font-family: "proxima-nova";
  src:url("https://use.typekit.net/af/8738d8/00000000000000007735e611/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"),
    url("https://use.typekit.net/af/8738d8/00000000000000007735e611/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"),
    url("https://use.typekit.net/af/8738d8/00000000000000007735e611/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'hs-icons';
  src:
    url({{ get_asset_url('../fonts/hs-icons.ttf' ) }}) format("ttf"),
    url({{ get_asset_url('../fonts/hs-icons.woff' ) }}) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cristmas";
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/cristmas.eot");
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/cristmas.eot?#iefix") format("embedded-opentype"),
    url({{ get_asset_url('../fonts/cristmas.woff' ) }}) format("woff"),
    url({{ get_asset_url('../fonts/cristmas.ttf' ) }}) format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "clothes";
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/clothes.eot");
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/clothes.eot?#iefix") format("embedded-opentype"),
    url({{ get_asset_url('../fonts/clothes.woff' ) }}) format("woff"),
    url({{ get_asset_url('../fonts/clothes.ttf' ) }}) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "electronics";
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/electronics.eot");
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/electronics.eot?#iefix") format("embedded-opentype"),
    url({{ get_asset_url('../fonts/electronics.woff' ) }}) format("woff"),
    url({{ get_asset_url('../fonts/electronics.ttf' ) }}) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "finance";
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/finance.eot");
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/finance.eot?#iefix") format("embedded-opentype"),
    url({{ get_asset_url('../fonts/finance.woff' ) }}) format("woff"),
    url({{ get_asset_url('../fonts/finance.ttf' ) }}) format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "food-48";
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/food-48.eot");
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/food-48.eot?#iefix") format("embedded-opentype"),
    url({{ get_asset_url('../fonts/food-48.woff' ) }}) format("woff"),
    url({{ get_asset_url('../fonts/food-48.ttf' ) }}) format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "furniture";
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/furniture.eot");
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/furniture.eot?#iefix") format("embedded-opentype"),
    url({{ get_asset_url('../fonts/furniture.woff' ) }}) format("woff"),
    url({{ get_asset_url('../fonts/furniture.ttf' ) }}) format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "hotel-restaurant";
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/hotel-restaurant.eot");
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/hotel-restaurant.eot?#iefix") format("embedded-opentype"),
    url({{ get_asset_url('../fonts/hotel-restaurant.woff' ) }}) format("woff"),
    url({{ get_asset_url('../fonts/hotel-restaurant.ttf' ) }}) format("truetype");;
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: "media";
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/media.eot");
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/media.eot?#iefix") format("embedded-opentype"),
    url({{ get_asset_url('../fonts/media.woff' ) }}) format("woff"),
    url({{ get_asset_url('../fonts/media.ttf' ) }}) format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "medical-and-health";
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/medical-and-health.eot");
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/medical-and-health.eot?#iefix") format("embedded-opentype"),
    url({{ get_asset_url('../fonts/medical-and-health.woff' ) }}) format("woff"),
    url({{ get_asset_url('../fonts/medical-and-health.ttf' ) }}) format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "music";
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/music.eot");
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/music.eot?#iefix") format("embedded-opentype"),
    url({{ get_asset_url('../fonts/music.woff' ) }}) format("woff"),
    url({{ get_asset_url('../fonts/music.ttf' ) }}) format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "real-estate";
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/real-estate.eot");
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/real-estate.eot?#iefix") format("embedded-opentype"),
    url({{ get_asset_url('../fonts/real-estate.woff' ) }}) format("woff"),
    url({{ get_asset_url('../fonts/real-estate.ttf' ) }}) format("truetype");
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: "science";
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/science.eot");
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/science.eot?#iefix") format("embedded-opentype"),
    url({{ get_asset_url('../fonts/science.woff' ) }}) format("woff"),
    url({{ get_asset_url('../fonts/science.ttf' ) }}) format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "sports-48-x-48";
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/sports-48-x-48.eot");
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/sports-48-x-48.eot?#iefix") format("embedded-opentype"),
    url({{ get_asset_url('../fonts/sports-48-x-48.woff' ) }}) format("woff"),
    url({{ get_asset_url('../fonts/sports-48-x-48.ttf' ) }}) format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "travel";
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/travel.eot");
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/travel.eot?#iefix") format("embedded-opentype"),
    url({{ get_asset_url('../fonts/travel.woff' ) }}) format("woff"),
    url({{ get_asset_url('../fonts/travel.ttf' ) }}) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "weather";
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/weather.eot");
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/weather.eot?#iefix") format("embedded-opentype"),
    url({{ get_asset_url('../fonts/weather.woff' ) }}) format("woff"),
    url({{ get_asset_url('../fonts/weather.ttf' ) }}) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "transport";
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/transport.eot");
  src: url("//f.hubspotusercontent10.net/hubfs/3042464/Codurance_September2020/fonts/transport.eot?#iefix") format("embedded-opentype"),
    url({{ get_asset_url('../fonts/transport.woff' ) }}) format("woff"),
    url({{ get_asset_url('../fonts/transport.ttf' ) }}) format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {

  -webkit-text-size-adjust: 100%;
}

body {
  font-size: {{ body_font_size }};
  color: var(--shark);
  line-height:1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Anchor Links */
a {
  color: var(--persimmon);
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}

/* Headings */

h1 {
  font-size: {{ h1_font_size }};
}

h2 {
  font-size: {{ h2_font_size }};
}

h3 {
  font-size: {{ h3_font_size }};
}

h4 {
  font-size: {{ h4_font_size }};
}

h5 {
  font-size: {{ h5_font_size }};
}

h6 {
  font-size: {{ h6_font_size }};
}

strong {
  font-weight: 700;
}

code {
  vertical-align: bottom;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul li,
ol li {
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-left: 2px solid #A9A9A9;
  padding-left: 15px;
}

/* Horizontal Rules */
hr {
  color: #ccc;
  background-color: #ccc;
  height: 1px;
  border: none;
}

sup,
sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

:focus {
  outline: auto;
  outline-color: green;
}

.disable-focus-styles :focus {
  outline: none;
}


