{% import './utils/_typography-utils.css' as utils %}

:root {
  --font-weight-light: 300;
  --font-weight-welter: 400;
  --font-weight-middle: 600;
  --font-weight-heavy: 800;

  --habib-font-size: 3.095rem;
  --habib-line-height: 3.47619rem;
  --habib-margin: 1.38095476rem;
  --habib-max-width: 20ch;

  --gaudi-font-size: 2.4285714rem;
  --gaudi-line-height: 2.7142857rem;
  --gaudi-margin: 1.3809524rem;
  --gaudi-max-width: 25ch;

  --eames-font-size: 1.952381rem;
  --eames-line-height: 2.047619rem;
  --eames-margin: 1.3809524rem;
  --eames-max-width: 31ch;

  --dudler-font-size: 1.5714286rem;
  --dudler-line-height: 2.047619rem;
  --dudler-margin: 1.3809524rem;
  --dudler-max-width: 38ch;

  --freed-font-size: 1.2380952rem;
  --freed-line-height: 1.5714rem;
  --freed-margin: 1.142857rem;
  --freed-max-width: 49ch;

  --base-font-size: 1rem;
  --base-line-height: 1.3809524rem;
  --base-margin: 1.3809524rem;
  --base-max-width: 50ch;

  --ponti-font-size: 1rem;
  --ponti-line-height: 1rem;

  --natus-font-size: 0.8rem;
  --natus-line-height: 1.095rem;

  --sejima-font-size: 0.6rem;
  --sejima-line-height: 0.9rem;

  --min-font-size: 110%;
  --max-font-size: 131.3%;

  --type-font-size: 110%;
}
@media (min-width: 37.03em) {
  :root {
    --type-font-size: 2.97vw;
  }
}
@media (min-width: 705px) {
  :root {
    --type-font-size: 131.3%;
  }
}

html {
  font-size: var(--type-font-size);
}

body {
  margin: 0;
  padding: 0;
  font-family: proxima-nova, serif;
  font-size: 1rem;
  font-weight: var(--font-weight-light);
  color: var(--shark);
  line-height: var(--base-line-height);
  text-rendering: optimizeLegibility;
}

p, ul, ol, pre, table, blockquote {
  {{ utils.base() }}
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

blockquote {
  border-left: 5px solid var(--woodsmoke);
  padding: 0.8em 1.6em;
  margin: 0;
  font-size: var(--freed-font-size);
  line-height: var(--freed-line-height);
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

hr {
  border: 1px solid;
  margin: -1px 0;
}

a, b, i, strong, em, small, code {
  line-height: 0;
}

a {
  text-decoration: none;
  color: var(--valencia--dark);
  font-weight: var(--font-weight-middle);
}
a:hover {
  text-decoration: underline;
}

i {
  font-style: italic;
}

strong {
  font-weight: var(--font-weight-heavy);
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}