/* ******************************************************************************
*********************************************************************************
This file contains all the neccessary styles to control how your landing pages
look if there is anything specific to your landing pages.
*********************************************************************************
****************************************************************************** */
{% import './utils/utils.css' as utils %}

iframe, embed, video {
  max-width:100%;
}

img {
  max-width:100%;
  height:auto;
}

/* ---------------------------------- 
  Services Inner Pages 
-------------------------------------- */

.hs-get-in-touch-section .dnd-section {
  max-width: 100%;
  padding-bottom:0;
}
.hs-get-in-touch-section .dnd-section > .row-fluid {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding-bottom: 100px;
}

.hs-get-in-touch-section h2 {
  {{ utils.dudler() }}
}

.hs-get-in-touch-section fieldset {
  max-width: none !important;
}

.hs-get-in-touch-section form {
  padding: 35px 35px 8px;
}

.hs-get-in-touch-section .actions {
  text-align: right;
  margin-top: 18px;
  padding: 7px 0px 0;
}

.hs-get-in-touch-section .hs-richtext p {
  {{ utils.natus() }}
  margin: var(--base-margin) 0px;
}

.page-header.section-header {
  max-width: var(--content-max-width);
  margin-inline: auto;
}

.hs-site-page .page-header.section-header {
  margin-bottom: var(--space-5);
}

.dnd-section .page-header.section-header h1,
.dnd-section .page-header.section-header h2 {
    {{ utils.dudler() }}
    font-weight: var(--heavy-font-weight);
    margin-bottom: var(--space-2);
}

{% call utils.small() %}
  .hs-site-page .page-header.section-header {
    margin-bottom: var(--space-4);
  }

  .dnd-section .page-header.section-header h1,
  .dnd-section .page-header.section-header h2 {
    {{ utils.freed() }}
    margin-bottom: var(--space-1);
    font-weight: var(--heavy-font-weight);
  }
{% endcall %}

.hs-get-in-touch-section .dnd-section > .row-fluid {
  position: relative;
}

.banner-section .row-fluid [class*="span"] {
  min-height: auto;
}

.hs-get-in-touch-section form {
  -webkit-font-smoothing: subpixel-antialiased;
}

.hs-website-layout main .dnd-section {
  padding-top: 100px;
}

.hbspt-form {
  height: 100% !important
}

small {
  font-size: 80%;
  font-weight: 400;
}

img {
  vertical-align: middle;
  border-style: none;
}

.hs-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hs-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hs-icon-arrow-bottom:before {
  content: "\e900";
}
.hs-icon-arrow-left:before {
  content: "\e901";
}
.hs-icon-arrow-right:before {
  content: "\e902";
}
.hs-icon-arrow-top:before {
  content: "\e903";
}
.hs-icon-close:before {
  content: "\e904";
}
.hs-icon-hamburger-2:before {
  content: "\e905";
}
.hs-icon-hamburger:before {
  content: "\e906";
}
.hs-icon-lula-kebab-h:before {
  content: "\e907";
}
.hs-icon-lula-kebab-v:before {
  content: "\e908";
}
.hs-icon-magnifier:before {
  content: "\e909";
}
.hs-icon-music:before {
  content: "\e90a";
}
.hs-icon-photo:before {
  content: "\e90b";
}
.hs-icon-play:before {
  content: "\e90c";
}
.hs-icon-plus:before {
  content: "\e90d";
}
.hs-icon-unzoom:before {
  content: "\e90e";
}
.hs-icon-video:before {
  content: "\e90f";
}
.hs-icon-zoom:before {
  content: "\e910";
}

@media (min-width: 768px){
  .hs-get-in-touch-section .dnd-section > .row-fluid {
    box-shadow: rgba(0,0,0,0.16) 0 0 8px;
    margin-top: -140px;
    padding-top: 60px;
  }

  .hs-get-in-touch-section h2 {
    margin-bottom: 15px;
  }

  .hs-contact-us-layout .hs-get-in-touch-section .dnd-section > .row-fluid{
    margin-top: -140px;
  }
}

@media (min-width: 1024px){
  .hs-get-in-touch-section .dnd-section > .row-fluid {
    max-width: 800px;
    width: calc(100% - (50px * 2));
  }
}

@media (max-width: 1023px){
  .hs-get-in-touch-section form {
    padding: var(--space-4);
  }

  .hs-get-in-touch-section .dnd-section > .row-fluid {
    max-width: 770px;
    width: calc(100% - (25px * 2));
  }
}

@media (max-width: 767px){
  .hs-website-layout main .dnd-section {
    padding-top: 50px;
  }

  .hs-get-in-touch-section .dnd-section > .row-fluid {
    padding-bottom: 83px;
    padding-top: 50px;
  }

  .hs-get-in-touch-section .dnd-section {
    padding: 0;
  }

  .hs-get-in-touch-section .dnd-section > div {
    padding: 0;
  }

  .hs-get-in-touch-section .dnd-section > .row-fluid {
    max-width: 100%;
    width: 100%;
  }
  
  .hs-get-in-touch-section .hs_cos_wrapper_type_rich_text p,
  .hs-get-in-touch-section .hs_cos_wrapper_type_rich_text h2 {
    text-align: inherit !important;
    padding-left: 0;
    padding-right: 0;
  }

  .hs-get-in-touch-section .hs_cos_wrapper_type_rich_text h2 {
    margin-bottom: 25px;
  }

  .hs-get-in-touch-section .hs_cos_wrapper_type_rich_text {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hs-get-in-touch-section form {
    padding: var(--space-3);
  }
  
  .hs-get-in-touch-section form .hs-input {
    width: 100% !important;
  }

  .hs-get-in-touch-section .form-columns-3 .hs-form-field,
  .hs-get-in-touch-section .form-columns-2 .hs-form-field {
    width: 100% !important;
    float: none !important;
  }

  .hs-get-in-touch-section form .inputs-list .hs-input {
    width: auto !important;
  }
}