{% import './utils/utils.css' as utils %}

.card-slider__event-inner {
  margin-inline: auto;
}

{% call utils.small_and_medium() %}
  .card-slider__event-inner {
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
{% endcall %}

.card-slider__header-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

{% call utils.small() %}
  .card-slider__header-wrapper {
    flex-wrap: wrap;
  }
{% endcall %}

.card-slider__heading {
  color: var(--shark);
  flex-grow: 1;
  font-size: var(--dudler-font-size);
  font-weight: var(--heavy-font-weight);
  line-height: var(--dudler-line-height);
  margin-bottom: var(--dudler-margin);
}

.recent-events-bg .card-slider__heading {
  color: white;
}

{% call utils.small() %}
  .card-slider__heading {
    width: 100%;
  }
{% endcall %}

{% call utils.large_and_extra_large() %}
  .card-slider__nav-button-wrapper {
    display: none;
  }
{% endcall %}

{% call utils.medium() %}
  .card-slider__nav-button-wrapper {
    display: flex;
    justify-content: right;
    width: 50%;
  }
{% endcall %}

{% call utils.small() %}
  .card-slider__nav-button-wrapper {
    display: none;
  }
{% endcall %}

.card-slider__nav-button {
  align-items: center;
  box-shadow: 0px 4px 5px var(--woodsmoke--10);
  background-color: white;
  border-radius: 50%;
  border: none;
  display: inline-flex;
  height: 35px;
  justify-content: center;
  width: 35px;
}

.card-slider__nav-button:first-of-type {
  margin-right: 20px;
}

.card-slider__nav-button > svg path {
  fill: none;
  stroke: #2b2c2d;
  stroke-width: 2;
  stroke-linejoin: round;
}

.card-slider__nav-button[disabled] > svg path {
  stroke: var(--mid-gray);
}

.card-slider__nav-button > svg {
  width: 8px;
}

.card-slider__translation-info {
  color: var(--shark);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5em;
  padding-bottom: 30px;
  width: 415px;
}

{% call utils.small_and_medium() %}
  .card-slider__translation-info {
    margin-top: -30px;
  }
{% endcall %}

.card-slider__translation-info i {
  font-size: 2.5rem;
}

.card-slider__translation-info small {
  font-size: 1rem;
  line-height: 1.1;
}

.card-slider-results {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: -15px;
}
{% call utils.large_and_extra_large() %}
  .card-slider-results {
    flex-wrap: wrap;
    margin-right: -15px;
  }
{% endcall %}

{% call utils.small_and_medium() %}
  .card-slider-results {
    padding-right: 50px;
    cursor: grab;
    position: relative;
    left: 0px;
  }
  .card-slider-results.animating {
    transition: left 0.3s ease;
  }
  .card-slider-results:active {
    cursor: grabbing;
  }
{% endcall %}

.card-slider-item {
  box-shadow: 5px 10px 18px var(--woodsmoke--10);
  -webkit-box-flex: 1;
  flex: 1 1 25%;
  margin: 0 15px 40px;
  min-width: 260px;
  {{ utils.card_border_radius() }}
  overflow: hidden;
}

{% call utils.extra_large() %}
  .card-slider-item {
    max-width: calc(25% - 30px);
  }
{% endcall %}

{% call utils.small_medium_and_large() %}
  .card-slider-item {
    max-width: calc(33% - 30px);
  }
{% endcall %}

{% call utils.small_and_medium() %}
  .card-slider-item:last-of-type {
    margin-right: 0;
  }
{% endcall %}

.card-slider-item__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-slider-item__text-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  background-color: white;
  justify-content: space-between;
}

.card-slider-item__text-container-inner {
  flex-grow: 1;
  margin-bottom: 1.5rem;
  max-height: 11.3rem;
  overflow: hidden;
  position: relative;
}
.card-slider-item__text-container-inner.truncated::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: var(--natus-line-height);
  width: 100%;
  opacity: ;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

.card-slider-item__header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-slider-item__metadata {
  {{ utils.sejima() }}
  display: inline-block;
  text-transform: uppercase;
}


.card-slider-item__title {
  {{ utils.base() }}
  font-weight: var(--heavy-font-weight);
  display: block;
  width: 100%;
  margin-top: calc(var(--base-margin) / 2);
  margin-bottom: var(--base-margin);
}

.card-slider-item__description {
  {{ utils.natus() }}
  color: var(--mid-gray);
}

.card-slider-item__button {
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.7rem 1rem;
  text-align: center;
  cursor: pointer;
}

.card-slider-item__button > a:hover,
.card-slider-item__button > a:focus {
  text-decoration: none;
}

.card-slider-item__button--solid {
  background-color: var(--persimmon);
}

.card-slider-item__button--solid:hover,
.card-slider-item__button--solid:focus {
  background-color: var(--persimmon--dark);
}

.card-slider-item__button--solid > a {
  color: white;
}

.card-slider-item__button--outlined {
  background-color: white;
  border: 1px solid var(--persimmon);
}

.card-slider-item__button--outlined:hover,
.card-slider-item__button--outlined:focus {
  border: 1px solid var(--persimmon--dark);
}

.card-slider-item__button--outlined:hover > a {
  color: var(--persimmon--dark);
}

.card-slider-item__video-button {
  padding-right: 1.2em;
}

.card-slider-item__video-button::after {
  content: '\f04b';
  font-family: 'line awesome free';
  font-size: 1.2em;
  position: relative;
  top: 0.1em;
}

.card-slider-item__button-container [class*="button"] {
  width: 100%;
}

.icon-gated::after {
  content: '\f30b'; 
}

.icon-ungated::after {
  content: '\f04b';
}

.icon-gated::after,
.icon-ungated::after{
  font-family: 'line awesome free';
  font-size: 1.2em;
  position: relative;
  top: 0.1em;
}

.card-slider-item__image-container {
  position: relative;
  width: 100%;
  height: 155px;
  background-color: var(--persimmon--dark);
  background-size: cover;
  background-position: center;
}

{% set label_position = '10px' %}

.card-slider-item__label {
  {{ utils.sejima() }}
  background-color: white;
  border-radius: 3px;
  {{ utils.card_shadow() }}
  padding: 0.05em 0.4em;
  position: absolute;
  text-transform: uppercase;
  top: {{ label_position }};
}

.card-slider-item__label--type {
  left: {{label_position}};
}

.card-slider-item__label--duration {
  right: {{label_position}};
}

.card-slider-item__label--duration::before {
  content: '\f017';
  position: relative;
  top: 0.03em;
  font-family: 'line awesome free';
}

.card-slider-item__label--internal {
  {{ utils.sejima() }}
  display: flex;
  align-items: center;
  top: auto;
  bottom: {{label_position}};
  left: {{label_position}};
}

.card-slider-item__label--internal::before {
  background-color: var(--tango);
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 0.5em;
  margin-right: 0.3em;
  width: 0.5em;
}

.card-slider-newsletter__icon {
  background-image: url({{ get_asset_url('../images/icon-newsletter.svg' ) }});
  height:70px;
  margin-bottom: 10px;
  width: 70px;
}

.card-slider-newsletter__header {
  {{ utils.dudler()}}
  font-weight: var(--heavy-font-weight);
  margin-bottom: var(--dudler-margin);
  text-align: center;
}

.card-slider-newsletter__cta {
  font-size: var(--base-font-size);
  font-weight: var(--middle-font-weight);
  line-height: var(--base-line-height);
}

.card-slider__watch-all-button {
  display: block;
  margin: 0 auto;
  max-width: var(--button-max-width);
  cursor: pointer;
  background: white;
}

.events-cta-card {
  background: url(https://f.hubspotusercontent10.net/hubfs/3042464/Events%20page/newsletter-cta-shape-1.svg) rgba(255,255,255, 0.7);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 25em;
  padding: 20px;
}

.community-cta-card {
  background: url(https://f.hubspotusercontent10.net/hubfs/3042464/Events%20page/newsletter-cta-shape-2.svg) rgba(255,255,255, 0.7);
  background-repeat: no-repeat;
  background-size: contain;
}


{% call utils.small_and_medium() %}
  .events-cta-card{
    display: none;
  }
{% endcall %}


.events-cta-card__icon {
  font-size: 3rem;
  margin-top: 1.3em;
}

.events-cta-card__title {
  text-align: center;
  {{ utils.freed() }}
  font-weight: var(--heavy-font-weight);
}

.events-cta-card__form{
  width: 90%;
}

.hs_cos_wrapper_type_form input[type="checkbox"] {
  opacity: 0;
  margin: 0.15rem 0.6rem 0.6rem;
}

.hs_cos_wrapper_type_form .hs-form-booleancheckbox-display {
  {{ utils.sejima() }}
  position: relative;
  max-width: 20em;
}

.hs_cos_wrapper_type_form .hs-form-booleancheckbox-display span {
  font-weight: var(--middle-font-weight);
  position: relative;
}

.hs_cos_wrapper_type_form .hs-form-booleancheckbox-display span::before {
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, .25);
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 1.25rem;
  left: -1.75rem;
  width: 1.25rem;
}

.hs_cos_wrapper_type_form input[type=checkbox]:focus + span:before {
  outline: rgb(0, 0, 0) auto 5px;
}

.hs_cos_wrapper_type_form .hs-form-booleancheckbox-display span::after {
  border-bottom: 2px solid;
  border-left: 2px solid;
  display: inline-block;
  height: 0.4rem;
  left: -1.45rem;
  position: absolute;
  top: 0.6rem;
  transform: rotate(-45deg);
  width: 0.7rem;
}
.hs_cos_wrapper_type_form input[type=checkbox]:checked + span::after {
  content: "";
}

.hs-form-field, .field{
  margin-bottom: 5px;
}

.hs_submit .hs-button {
  width: 100%;
  background: white;
  border: 1px solid var(--french-gray);
  color: var(--persimmon);
  margin-bottom: 0;
}

.hs_submit .hs-button:hover,
.hs_submit .hs-button:focus {
  border: solid 1px var(--persimmon--dark);
}

.hs_error_rollup {
  display: none;
}

.submitted-message {
  text-align: center;
  margin-bottom: 2.5em;
}

