.event-slider__event-inner {
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .event-slider__event-inner {
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.event-slider__header-wrapper {
  align-items: baseline;
  display: flex;
  flex-direction: row;
}

.event-slider__heading {
  color: white;
  flex-grow: 1;
  font-size: 1.867rem;
  font-weight: bold;
  margin: 0;
  padding-bottom: 85px;
}

.event-slider__nav-button {
  align-items: center;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.16);
  background-color: white;
  border-radius: 50%;
  border: none;
  display: inline-flex;
  height: 35px;
  justify-content: center;
  width: 35px;
}
.event-slider__nav-button:first-of-type {
  margin-right: 20px;
}
.event-slider__nav-button[disabled] > svg path {
  stroke: #bfbfbf;
}
.event-slider__nav-button > svg {
  width: 8px;
}
@media (min-width: 1024px) {
  .event-slider__nav-button {
    display: none;
  }
}
@media (max-width: 767px) {
  .event-slider__nav-button {
    display: none;
  }
}

.event-slider-results {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: -15px;
}
@media (min-width: 1024px) {
  .event-slider-results {
    flex-wrap: wrap;
    margin-right: -15px;
  }
}
@media (max-width: 1023px) {
  .event-slider-results {
    padding-right: 50px;
    cursor: grab;
    position: relative;
    left: 0px;
  }
  .event-slider-results.animating {
    transition: left 0.3s ease;
  }
  .event-slider-results:active {
    cursor: grabbing;
  }
}

.event-slider-item {
  box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.16);
  -webkit-box-flex: 1;
  flex: 1 1 25%;
  margin: 0 15px 40px;
  min-width: 260px;
}
@media (min-width: 1300px) {
  .event-slider-item {
    max-width: calc(25% - 30px);
  }
}
@media (max-width: 1299px) {
  .event-slider-item {
    max-width: calc(33% - 30px);
  }
}
@media (max-width: 1023px) {
  .event-slider-item:last-of-type {
    margin-right: 0;
  }
}

.event-slider-item__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.event-slider-item__text-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  background-color: white;
}

.event-slider-item__text-container-inner {
  flex-grow: 1;
  margin-bottom: 25px;
  max-height: 14.666rem;
  overflow: hidden;
}

.event-slider-item__header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}

.event-slider-item__metadata {
  display: inline-block;
  font-size: 0.75rem;
  letter-spacing: 0.003rem;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.event-slider-item__metadata--date {
  padding-right: 5px;
  flex-grow: 1;
}

.event-slider-item__metadata--internal {
}
.event-slider-item__metadata--internal::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ff7515;
  margin-right: 5px;
  display: inline-block;
}

.event-slider-item__title {
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
  width: 100%;
}

.event-slider-item__description {
  font-size: 1rem;
  color: #595959;
}

.event-slider-item__button {
  background-color: rgba(251, 114, 104, 1);
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.7rem 1rem;
  text-align: center;
  cursor: pointer;
}
.event-slider-item__button:hover,
.event-slider-item__button:focus {
  background-color: rgba(251, 142, 134, 1);
}
.event-slider-item__button > a {
  color: white;
}
.event-slider-item__button > a:hover,
.event-slider-item__button > a:focus {
  text-decoration: none;
}

.event-slider-item__video-link::after {
  border-bottom: 0.533rem solid transparent;
  border-left: 0.666rem solid white;
  border-top: 0.533rem solid transparent;
  content: '';
  display: inline-block;
  height: 0;
  margin-left: 10px;
  position: relative;
  top: 0.15rem;
  width: 0;
}

.event-slider-item__image-container {
  position: relative;
  width: 100%;
  height: 155px;
  background-color: rgba(251, 114, 104, 1);
  background-size: cover;
  background-position: center;
  color: white;
}

.event-slider-item__label {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.29);
  color: black;
  letter-spacing: 0.02em;
  padding: 0.05em 0.4em;
  position: absolute;
  text-transform: uppercase;
  top: 10px;
}

.event-slider-item__label--type {
  left: 10px;
}

.event-slider-item__label--duration {
  right: 10px;
}

.event-slider-item__label--duration::before {
  background-image: url('data:image/svg+xml;utf8,<svg id="Icon_-_Clock" data-name="Icon - Clock" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><path id="clock_face" data-name="clock face" d="M5,0a5,5,0,1,0,5,5A5.006,5.006,0,0,0,5,0ZM5,9.375A4.375,4.375,0,1,1,9.375,5,4.38,4.38,0,0,1,5,9.375Z" fill="%232b2c2d"/><path id="hands" d="M208.486,83.118h-.692v3.6l2.177,2.177.489-.489-1.974-1.974Z" transform="translate(-203.266 -81.462)" fill="%232b2c2d"/></svg>');
  background-position: center;
  background-size: cover;
  content: '';
  display: inline-block;
  height: 10px;
  margin-right: 2px;
  position: relative;
  top: 1px;
  width: 10px;
}

.event-slider__watch-all-button {
  background-color: white;
  border-radius: 5px;
  border: 2px solid #f44336;
  color: #f44336;
  display: block;
  font-size: 1.066rem;
  font-weight: bold;
  margin: 0 auto;
  max-width: 14rem;
  padding: 1.066rem 1.6rem;
  text-align: center;
  text-decoration: none;
}
.event-slider__watch-all-button:hover,
.event-slider__watch-all-button:focus {
  text-decoration: none;
}
