@charset "UTF-8";

[data-icon-media]:before {
	font-family: "media" !important;
	content: attr(data-icon-media);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-media"]:before,
[class*=" icon-media"]:before {
	font-family: "media" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-media-001:before {
	content: "a";
}
.icon-media-014:before {
	content: "b";
}
.icon-media-027:before {
	content: "c";
}
.icon-media-040:before {
	content: "d";
}
.icon-media-041:before {
	content: "e";
}
.icon-media-028:before {
	content: "f";
}
.icon-media-015:before {
	content: "g";
}
.icon-media-002:before {
	content: "h";
}
.icon-media-003:before {
	content: "i";
}
.icon-media-016:before {
	content: "j";
}
.icon-media-029:before {
	content: "k";
}
.icon-media-042:before {
	content: "l";
}
.icon-media-043:before {
	content: "m";
}
.icon-media-030:before {
	content: "n";
}
.icon-media-017:before {
	content: "o";
}
.icon-media-004:before {
	content: "p";
}
.icon-media-005:before {
	content: "q";
}
.icon-media-018:before {
	content: "r";
}
.icon-media-031:before {
	content: "s";
}
.icon-media-044:before {
	content: "t";
}
.icon-media-045:before {
	content: "u";
}
.icon-media-032:before {
	content: "v";
}
.icon-media-019:before {
	content: "w";
}
.icon-media-006:before {
	content: "x";
}
.icon-media-007:before {
	content: "y";
}
.icon-media-020:before {
	content: "z";
}
.icon-media-033:before {
	content: "A";
}
.icon-media-046:before {
	content: "B";
}
.icon-media-047:before {
	content: "C";
}
.icon-media-034:before {
	content: "D";
}
.icon-media-021:before {
	content: "E";
}
.icon-media-008:before {
	content: "F";
}
.icon-media-009:before {
	content: "G";
}
.icon-media-022:before {
	content: "H";
}
.icon-media-035:before {
	content: "I";
}
.icon-media-048:before {
	content: "J";
}
.icon-media-049:before {
	content: "K";
}
.icon-media-036:before {
	content: "L";
}
.icon-media-023:before {
	content: "M";
}
.icon-media-010:before {
	content: "N";
}
.icon-media-011:before {
	content: "O";
}
.icon-media-024:before {
	content: "P";
}
.icon-media-037:before {
	content: "Q";
}
.icon-media-050:before {
	content: "R";
}
.icon-media-063:before {
	content: "S";
}
.icon-media-064:before {
	content: "T";
}
.icon-media-051:before {
	content: "U";
}
.icon-media-038:before {
	content: "V";
}
.icon-media-025:before {
	content: "W";
}
.icon-media-012:before {
	content: "X";
}
.icon-media-013:before {
	content: "Y";
}
.icon-media-026:before {
	content: "Z";
}
.icon-media-039:before {
	content: "0";
}
.icon-media-052:before {
	content: "1";
}
.icon-media-065:before {
	content: "2";
}
.icon-media-062:before {
	content: "3";
}
.icon-media-061:before {
	content: "4";
}
.icon-media-060:before {
	content: "5";
}
.icon-media-059:before {
	content: "6";
}
.icon-media-058:before {
	content: "7";
}
.icon-media-057:before {
	content: "8";
}
.icon-media-056:before {
	content: "9";
}
.icon-media-055:before {
	content: "!";
}
.icon-media-054:before {
	content: "\"";
}
.icon-media-053:before {
	content: "#";
}
.icon-media-066:before {
	content: "$";
}
.icon-media-079:before {
	content: "%";
}
.icon-media-092:before {
	content: "&";
}
.icon-media-105:before {
	content: "'";
}
.icon-media-118:before {
	content: "(";
}
.icon-media-119:before {
	content: ")";
}
.icon-media-106:before {
	content: "*";
}
.icon-media-093:before {
	content: "+";
}
.icon-media-080:before {
	content: ",";
}
.icon-media-067:before {
	content: "-";
}
.icon-media-068:before {
	content: ".";
}
.icon-media-081:before {
	content: "/";
}
.icon-media-094:before {
	content: ":";
}
.icon-media-107:before {
	content: ";";
}
.icon-media-120:before {
	content: "<";
}
.icon-media-121:before {
	content: "=";
}
.icon-media-108:before {
	content: ">";
}
.icon-media-095:before {
	content: "?";
}
.icon-media-082:before {
	content: "@";
}
.icon-media-069:before {
	content: "[";
}
.icon-media-070:before {
	content: "]";
}
.icon-media-083:before {
	content: "^";
}
.icon-media-096:before {
	content: "_";
}
.icon-media-109:before {
	content: "`";
}
.icon-media-122:before {
	content: "{";
}
.icon-media-123:before {
	content: "|";
}
.icon-media-110:before {
	content: "}";
}
.icon-media-097:before {
	content: "~";
}
.icon-media-084:before {
	content: "\\";
}
.icon-media-071:before {
	content: "\e000";
}
.icon-media-072:before {
	content: "\e001";
}
.icon-media-085:before {
	content: "\e002";
}
.icon-media-098:before {
	content: "\e003";
}
.icon-media-111:before {
	content: "\e004";
}
.icon-media-124:before {
	content: "\e005";
}
.icon-media-125:before {
	content: "\e006";
}
.icon-media-112:before {
	content: "\e007";
}
.icon-media-099:before {
	content: "\e008";
}
.icon-media-086:before {
	content: "\e009";
}
.icon-media-073:before {
	content: "\e00a";
}
.icon-media-074:before {
	content: "\e00b";
}
.icon-media-087:before {
	content: "\e00c";
}
.icon-media-100:before {
	content: "\e00d";
}
.icon-media-113:before {
	content: "\e00e";
}
.icon-media-126:before {
	content: "\e00f";
}
.icon-media-127:before {
	content: "\e010";
}
.icon-media-114:before {
	content: "\e011";
}
.icon-media-101:before {
	content: "\e012";
}
.icon-media-088:before {
	content: "\e013";
}
.icon-media-075:before {
	content: "\e014";
}
.icon-media-076:before {
	content: "\e015";
}
.icon-media-089:before {
	content: "\e016";
}
.icon-media-090:before {
	content: "\e017";
}
.icon-media-077:before {
	content: "\e018";
}
.icon-media-078:before {
	content: "\e019";
}
.icon-media-091:before {
	content: "\e01a";
}
.icon-media-104:before {
	content: "\e01b";
}
.icon-media-103:before {
	content: "\e01c";
}
.icon-media-102:before {
	content: "\e01d";
}
.icon-media-115:before {
	content: "\e01e";
}
.icon-media-116:before {
	content: "\e01f";
}
.icon-media-117:before {
	content: "\e020";
}
.icon-media-130:before {
	content: "\e021";
}
.icon-media-129:before {
	content: "\e022";
}
.icon-media-128:before {
	content: "\e023";
}

/* medical-and-health */


[data-icon-medical]:before {
	font-family: "medical-and-health" !important;
	content: attr(data-icon-medical);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-medical"]:before,
[class*=" icon-medical"]:before {
	font-family: "medical-and-health" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-medical-001:before {
	content: "a";
}
.icon-medical-002:before {
	content: "b";
}
.icon-medical-015:before {
	content: "c";
}
.icon-medical-014:before {
	content: "d";
}
.icon-medical-027:before {
	content: "e";
}
.icon-medical-028:before {
	content: "f";
}
.icon-medical-029:before {
	content: "g";
}
.icon-medical-016:before {
	content: "h";
}
.icon-medical-003:before {
	content: "i";
}
.icon-medical-004:before {
	content: "j";
}
.icon-medical-017:before {
	content: "k";
}
.icon-medical-030:before {
	content: "l";
}
.icon-medical-031:before {
	content: "m";
}
.icon-medical-018:before {
	content: "n";
}
.icon-medical-005:before {
	content: "o";
}
.icon-medical-006:before {
	content: "p";
}
.icon-medical-019:before {
	content: "q";
}
.icon-medical-032:before {
	content: "r";
}
.icon-medical-033:before {
	content: "s";
}
.icon-medical-020:before {
	content: "t";
}
.icon-medical-007:before {
	content: "u";
}
.icon-medical-008:before {
	content: "v";
}
.icon-medical-021:before {
	content: "w";
}
.icon-medical-034:before {
	content: "x";
}
.icon-medical-035:before {
	content: "y";
}
.icon-medical-022:before {
	content: "z";
}
.icon-medical-009:before {
	content: "A";
}
.icon-medical-010:before {
	content: "B";
}
.icon-medical-023:before {
	content: "C";
}
.icon-medical-036:before {
	content: "D";
}
.icon-medical-037:before {
	content: "E";
}
.icon-medical-024:before {
	content: "F";
}
.icon-medical-011:before {
	content: "G";
}
.icon-medical-012:before {
	content: "H";
}
.icon-medical-025:before {
	content: "I";
}
.icon-medical-038:before {
	content: "J";
}
.icon-medical-039:before {
	content: "K";
}
.icon-medical-026:before {
	content: "L";
}
.icon-medical-013:before {
	content: "M";
}
.icon-medical-040:before {
	content: "N";
}
.icon-medical-053:before {
	content: "O";
}
.icon-medical-066:before {
	content: "P";
}
.icon-medical-079:before {
	content: "Q";
}
.icon-medical-092:before {
	content: "R";
}
.icon-medical-093:before {
	content: "S";
}
.icon-medical-080:before {
	content: "T";
}
.icon-medical-067:before {
	content: "U";
}
.icon-medical-054:before {
	content: "V";
}
.icon-medical-041:before {
	content: "W";
}
.icon-medical-042:before {
	content: "X";
}
.icon-medical-055:before {
	content: "Y";
}
.icon-medical-068:before {
	content: "Z";
}
.icon-medical-081:before {
	content: "0";
}
.icon-medical-094:before {
	content: "1";
}
.icon-medical-096:before {
	content: "2";
}
.icon-medical-082:before {
	content: "3";
}
.icon-medical-095:before {
	content: "4";
}
.icon-medical-069:before {
	content: "5";
}
.icon-medical-056:before {
	content: "6";
}
.icon-medical-043:before {
	content: "7";
}
.icon-medical-044:before {
	content: "8";
}
.icon-medical-057:before {
	content: "9";
}
.icon-medical-070:before {
	content: "!";
}
.icon-medical-083:before {
	content: "\"";
}
.icon-medical-084:before {
	content: "#";
}
.icon-medical-071:before {
	content: "$";
}
.icon-medical-058:before {
	content: "%";
}
.icon-medical-045:before {
	content: "&";
}
.icon-medical-046:before {
	content: "'";
}
.icon-medical-059:before {
	content: "(";
}
.icon-medical-098:before {
	content: ")";
}
.icon-medical-097:before {
	content: "*";
}
.icon-medical-085:before {
	content: "+";
}
.icon-medical-072:before {
	content: ",";
}
.icon-medical-073:before {
	content: "-";
}
.icon-medical-086:before {
	content: ".";
}
.icon-medical-099:before {
	content: "/";
}
.icon-medical-100:before {
	content: ":";
}
.icon-medical-087:before {
	content: ";";
}
.icon-medical-074:before {
	content: "<";
}
.icon-medical-060:before {
	content: "=";
}
.icon-medical-061:before {
	content: ">";
}
.icon-medical-047:before {
	content: "?";
}
.icon-medical-048:before {
	content: "@";
}
.icon-medical-049:before {
	content: "[";
}
.icon-medical-062:before {
	content: "]";
}
.icon-medical-075:before {
	content: "^";
}
.icon-medical-088:before {
	content: "_";
}
.icon-medical-089:before {
	content: "`";
}
.icon-medical-076:before {
	content: "{";
}
.icon-medical-063:before {
	content: "|";
}
.icon-medical-050:before {
	content: "}";
}
.icon-medical-051:before {
	content: "~";
}
.icon-medical-064:before {
	content: "\\";
}
.icon-medical-077:before {
	content: "\e000";
}
.icon-medical-090:before {
	content: "\e001";
}
.icon-medical-091:before {
	content: "\e002";
}
.icon-medical-078:before {
	content: "\e003";
}
.icon-medical-065:before {
	content: "\e004";
}
.icon-medical-052:before {
	content: "\e005";
}

/* Music */


[data-icon-music]:before {
	font-family: "music" !important;
	content: attr(data-icon-music);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-music"]:before,
[class*=" icon-music"]:before {
	font-family: "music" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-music-001:before {
	content: "a";
}
.icon-music-014:before {
	content: "b";
}
.icon-music-027:before {
	content: "c";
}
.icon-music-040:before {
	content: "d";
}
.icon-music-053:before {
	content: "e";
}
.icon-music-054:before {
	content: "f";
}
.icon-music-041:before {
	content: "g";
}
.icon-music-028:before {
	content: "h";
}
.icon-music-015:before {
	content: "i";
}
.icon-music-002:before {
	content: "j";
}
.icon-music-003:before {
	content: "k";
}
.icon-music-016:before {
	content: "l";
}
.icon-music-029:before {
	content: "m";
}
.icon-music-042:before {
	content: "n";
}
.icon-music-055:before {
	content: "o";
}
.icon-music-056:before {
	content: "p";
}
.icon-music-043:before {
	content: "q";
}
.icon-music-030:before {
	content: "r";
}
.icon-music-017:before {
	content: "s";
}
.icon-music-004:before {
	content: "t";
}
.icon-music-005:before {
	content: "u";
}
.icon-music-018:before {
	content: "v";
}
.icon-music-031:before {
	content: "w";
}
.icon-music-044:before {
	content: "x";
}
.icon-music-057:before {
	content: "y";
}
.icon-music-058:before {
	content: "z";
}
.icon-music-045:before {
	content: "A";
}
.icon-music-032:before {
	content: "B";
}
.icon-music-019:before {
	content: "C";
}
.icon-music-006:before {
	content: "D";
}
.icon-music-007:before {
	content: "E";
}
.icon-music-020:before {
	content: "F";
}
.icon-music-033:before {
	content: "G";
}
.icon-music-046:before {
	content: "H";
}
.icon-music-059:before {
	content: "I";
}
.icon-music-060:before {
	content: "J";
}
.icon-music-047:before {
	content: "K";
}
.icon-music-034:before {
	content: "L";
}
.icon-music-021:before {
	content: "M";
}
.icon-music-008:before {
	content: "N";
}
.icon-music-009:before {
	content: "O";
}
.icon-music-022:before {
	content: "P";
}
.icon-music-035:before {
	content: "Q";
}
.icon-music-048:before {
	content: "R";
}
.icon-music-061:before {
	content: "S";
}
.icon-music-062:before {
	content: "T";
}
.icon-music-036:before {
	content: "U";
}
.icon-music-023:before {
	content: "V";
}
.icon-music-010:before {
	content: "W";
}
.icon-music-011:before {
	content: "X";
}
.icon-music-024:before {
	content: "Y";
}
.icon-music-037:before {
	content: "Z";
}
.icon-music-049:before {
	content: "0";
}
.icon-music-050:before {
	content: "1";
}
.icon-music-051:before {
	content: "2";
}
.icon-music-038:before {
	content: "3";
}
.icon-music-025:before {
	content: "4";
}
.icon-music-012:before {
	content: "5";
}
.icon-music-013:before {
	content: "6";
}
.icon-music-026:before {
	content: "7";
}
.icon-music-039:before {
	content: "8";
}
.icon-music-052:before {
	content: "9";
}
.icon-music-065:before {
	content: "!";
}
.icon-music-064:before {
	content: "\"";
}
.icon-music-063:before {
	content: "#";
}
.icon-music-078:before {
	content: "$";
}
.icon-music-091:before {
	content: "%";
}
.icon-music-090:before {
	content: "&";
}
.icon-music-077:before {
	content: "'";
}
.icon-music-076:before {
	content: "(";
}
.icon-music-089:before {
	content: ")";
}
.icon-music-088:before {
	content: "*";
}
.icon-music-075:before {
	content: "+";
}
.icon-music-074:before {
	content: ",";
}
.icon-music-087:before {
	content: "-";
}
.icon-music-086:before {
	content: ".";
}
.icon-music-073:before {
	content: "/";
}
.icon-music-072:before {
	content: ":";
}
.icon-music-085:before {
	content: ";";
}
.icon-music-084:before {
	content: "<";
}
.icon-music-071:before {
	content: "=";
}
.icon-music-070:before {
	content: ">";
}
.icon-music-083:before {
	content: "?";
}
.icon-music-082:before {
	content: "@";
}
.icon-music-069:before {
	content: "[";
}
.icon-music-068:before {
	content: "]";
}
.icon-music-081:before {
	content: "^";
}
.icon-music-080:before {
	content: "_";
}
.icon-music-067:before {
	content: "`";
}
.icon-music-066:before {
	content: "{";
}
.icon-music-079:before {
	content: "|";
}
.icon-music-092:before {
	content: "}";
}
.icon-music-093:before {
	content: "~";
}
.icon-music-094:before {
	content: "\\";
}
.icon-music-095:before {
	content: "\e000";
}
.icon-music-096:before {
	content: "\e001";
}
.icon-music-097:before {
	content: "\e002";
}
.icon-music-098:before {
	content: "\e003";
}
.icon-music-099:before {
	content: "\e004";
}
.icon-music-100:before {
	content: "\e005";
}

/* Real Estate */

[data-icon-real-estate]:before {
	font-family: "real-estate" !important;
	content: attr(data-icon-real-estate);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-real-estate"]:before,
[class*=" icon-real-estate"]:before {
	font-family: "real-estate" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-real-estate-001:before {
	content: "a";
}
.icon-real-estate-014:before {
	content: "b";
}
.icon-real-estate-027:before {
	content: "c";
}
.icon-real-estate-040:before {
	content: "d";
}
.icon-real-estate-053:before {
	content: "e";
}
.icon-real-estate-066:before {
	content: "f";
}
.icon-real-estate-079:before {
	content: "g";
}
.icon-real-estate-080:before {
	content: "h";
}
.icon-real-estate-081:before {
	content: "i";
}
.icon-real-estate-082:before {
	content: "j";
}
.icon-real-estate-083:before {
	content: "k";
}
.icon-real-estate-084:before {
	content: "l";
}
.icon-real-estate-085:before {
	content: "m";
}
.icon-real-estate-086:before {
	content: "n";
}
.icon-real-estate-087:before {
	content: "o";
}
.icon-real-estate-088:before {
	content: "p";
}
.icon-real-estate-089:before {
	content: "q";
}
.icon-real-estate-090:before {
	content: "r";
}
.icon-real-estate-077:before {
	content: "s";
}
.icon-real-estate-078:before {
	content: "t";
}
.icon-real-estate-065:before {
	content: "u";
}
.icon-real-estate-064:before {
	content: "v";
}
.icon-real-estate-063:before {
	content: "w";
}
.icon-real-estate-076:before {
	content: "x";
}
.icon-real-estate-075:before {
	content: "y";
}
.icon-real-estate-062:before {
	content: "z";
}
.icon-real-estate-061:before {
	content: "A";
}
.icon-real-estate-074:before {
	content: "B";
}
.icon-real-estate-073:before {
	content: "C";
}
.icon-real-estate-059:before {
	content: "D";
}
.icon-real-estate-072:before {
	content: "E";
}
.icon-real-estate-060:before {
	content: "F";
}
.icon-real-estate-058:before {
	content: "G";
}
.icon-real-estate-071:before {
	content: "H";
}
.icon-real-estate-070:before {
	content: "I";
}
.icon-real-estate-057:before {
	content: "J";
}
.icon-real-estate-056:before {
	content: "K";
}
.icon-real-estate-069:before {
	content: "L";
}
.icon-real-estate-068:before {
	content: "M";
}
.icon-real-estate-055:before {
	content: "N";
}
.icon-real-estate-054:before {
	content: "O";
}
.icon-real-estate-067:before {
	content: "P";
}
.icon-real-estate-041:before {
	content: "Q";
}
.icon-real-estate-028:before {
	content: "R";
}
.icon-real-estate-015:before {
	content: "S";
}
.icon-real-estate-002:before {
	content: "T";
}
.icon-real-estate-003:before {
	content: "U";
}
.icon-real-estate-016:before {
	content: "V";
}
.icon-real-estate-029:before {
	content: "W";
}
.icon-real-estate-042:before {
	content: "X";
}
.icon-real-estate-043:before {
	content: "Y";
}
.icon-real-estate-030:before {
	content: "Z";
}
.icon-real-estate-017:before {
	content: "0";
}
.icon-real-estate-004:before {
	content: "1";
}
.icon-real-estate-005:before {
	content: "2";
}
.icon-real-estate-018:before {
	content: "3";
}
.icon-real-estate-031:before {
	content: "4";
}
.icon-real-estate-044:before {
	content: "5";
}
.icon-real-estate-045:before {
	content: "6";
}
.icon-real-estate-032:before {
	content: "7";
}
.icon-real-estate-019:before {
	content: "8";
}
.icon-real-estate-006:before {
	content: "9";
}
.icon-real-estate-008:before {
	content: "!";
}
.icon-real-estate-020:before {
	content: "\"";
}
.icon-real-estate-007:before {
	content: "#";
}
.icon-real-estate-021:before {
	content: "$";
}
.icon-real-estate-033:before {
	content: "%";
}
.icon-real-estate-034:before {
	content: "&";
}
.icon-real-estate-047:before {
	content: "'";
}
.icon-real-estate-046:before {
	content: "(";
}
.icon-real-estate-048:before {
	content: ")";
}
.icon-real-estate-035:before {
	content: "*";
}
.icon-real-estate-022:before {
	content: "+";
}
.icon-real-estate-009:before {
	content: ",";
}
.icon-real-estate-011:before {
	content: "-";
}
.icon-real-estate-023:before {
	content: ".";
}
.icon-real-estate-010:before {
	content: "/";
}
.icon-real-estate-024:before {
	content: ":";
}
.icon-real-estate-037:before {
	content: ";";
}
.icon-real-estate-036:before {
	content: "<";
}
.icon-real-estate-049:before {
	content: "=";
}
.icon-real-estate-050:before {
	content: ">";
}
.icon-real-estate-051:before {
	content: "?";
}
.icon-real-estate-038:before {
	content: "@";
}
.icon-real-estate-039:before {
	content: "[";
}
.icon-real-estate-052:before {
	content: "]";
}
.icon-real-estate-026:before {
	content: "^";
}
.icon-real-estate-025:before {
	content: "_";
}
.icon-real-estate-012:before {
	content: "`";
}
.icon-real-estate-013:before {
	content: "{";
}

/* Science */


[data-icon-science]:before {
	font-family: "science" !important;
	content: attr(data-icon-science);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-science"]:before,
[class*=" icon-science"]:before {
	font-family: "science" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-science-001:before {
	content: "a";
}
.icon-science-014:before {
	content: "b";
}
.icon-science-002:before {
	content: "c";
}
.icon-science-015:before {
	content: "d";
}
.icon-science-016:before {
	content: "e";
}
.icon-science-003:before {
	content: "f";
}
.icon-science-004:before {
	content: "g";
}
.icon-science-017:before {
	content: "h";
}
.icon-science-019:before {
	content: "i";
}
.icon-science-005:before {
	content: "j";
}
.icon-science-018:before {
	content: "k";
}
.icon-science-006:before {
	content: "l";
}
.icon-science-007:before {
	content: "m";
}
.icon-science-020:before {
	content: "n";
}
.icon-science-021:before {
	content: "o";
}
.icon-science-008:before {
	content: "p";
}
.icon-science-009:before {
	content: "q";
}
.icon-science-022:before {
	content: "r";
}
.icon-science-023:before {
	content: "s";
}
.icon-science-010:before {
	content: "t";
}
.icon-science-011:before {
	content: "u";
}
.icon-science-024:before {
	content: "v";
}
.icon-science-025:before {
	content: "w";
}
.icon-science-012:before {
	content: "x";
}
.icon-science-013:before {
	content: "y";
}
.icon-science-026:before {
	content: "z";
}
.icon-science-039:before {
	content: "A";
}
.icon-science-052:before {
	content: "B";
}
.icon-science-065:before {
	content: "C";
}
.icon-science-078:before {
	content: "D";
}
.icon-science-077:before {
	content: "E";
}
.icon-science-064:before {
	content: "F";
}
.icon-science-051:before {
	content: "G";
}
.icon-science-038:before {
	content: "H";
}
.icon-science-037:before {
	content: "I";
}
.icon-science-050:before {
	content: "J";
}
.icon-science-063:before {
	content: "K";
}
.icon-science-076:before {
	content: "L";
}
.icon-science-075:before {
	content: "M";
}
.icon-science-062:before {
	content: "N";
}
.icon-science-049:before {
	content: "O";
}
.icon-science-036:before {
	content: "P";
}
.icon-science-035:before {
	content: "Q";
}
.icon-science-048:before {
	content: "R";
}
.icon-science-061:before {
	content: "S";
}
.icon-science-074:before {
	content: "T";
}
.icon-science-073:before {
	content: "U";
}
.icon-science-060:before {
	content: "V";
}
.icon-science-047:before {
	content: "W";
}
.icon-science-034:before {
	content: "X";
}
.icon-science-033:before {
	content: "Y";
}
.icon-science-046:before {
	content: "Z";
}
.icon-science-059:before {
	content: "0";
}
.icon-science-072:before {
	content: "1";
}
.icon-science-071:before {
	content: "2";
}
.icon-science-058:before {
	content: "3";
}
.icon-science-045:before {
	content: "4";
}
.icon-science-032:before {
	content: "5";
}
.icon-science-031:before {
	content: "6";
}
.icon-science-044:before {
	content: "7";
}
.icon-science-057:before {
	content: "8";
}
.icon-science-070:before {
	content: "9";
}
.icon-science-069:before {
	content: "!";
}
.icon-science-056:before {
	content: "\"";
}
.icon-science-043:before {
	content: "#";
}
.icon-science-030:before {
	content: "$";
}
.icon-science-029:before {
	content: "%";
}
.icon-science-042:before {
	content: "&";
}
.icon-science-055:before {
	content: "'";
}
.icon-science-068:before {
	content: "(";
}
.icon-science-067:before {
	content: ")";
}
.icon-science-054:before {
	content: "*";
}
.icon-science-041:before {
	content: "+";
}
.icon-science-028:before {
	content: ",";
}
.icon-science-027:before {
	content: "-";
}
.icon-science-040:before {
	content: ".";
}
.icon-science-053:before {
	content: "/";
}
.icon-science-066:before {
	content: ":";
}
.icon-science-079:before {
	content: ";";
}
.icon-science-092:before {
	content: "<";
}
.icon-science-105:before {
	content: "=";
}
.icon-science-118:before {
	content: ">";
}
.icon-science-131:before {
	content: "?";
}
.icon-science-144:before {
	content: "@";
}
.icon-science-145:before {
	content: "[";
}
.icon-science-132:before {
	content: "]";
}
.icon-science-119:before {
	content: "^";
}
.icon-science-106:before {
	content: "_";
}
.icon-science-093:before {
	content: "`";
}
.icon-science-080:before {
	content: "{";
}
.icon-science-081:before {
	content: "|";
}
.icon-science-094:before {
	content: "}";
}
.icon-science-107:before {
	content: "~";
}
.icon-science-120:before {
	content: "\\";
}
.icon-science-133:before {
	content: "\e000";
}
.icon-science-146:before {
	content: "\e001";
}
.icon-science-147:before {
	content: "\e002";
}
.icon-science-134:before {
	content: "\e003";
}
.icon-science-121:before {
	content: "\e004";
}
.icon-science-108:before {
	content: "\e005";
}
.icon-science-095:before {
	content: "\e006";
}
.icon-science-082:before {
	content: "\e007";
}
.icon-science-083:before {
	content: "\e008";
}
.icon-science-096:before {
	content: "\e009";
}
.icon-science-109:before {
	content: "\e00a";
}
.icon-science-122:before {
	content: "\e00b";
}
.icon-science-135:before {
	content: "\e00c";
}
.icon-science-148:before {
	content: "\e00d";
}
.icon-science-149:before {
	content: "\e00e";
}
.icon-science-136:before {
	content: "\e00f";
}
.icon-science-123:before {
	content: "\e010";
}
.icon-science-110:before {
	content: "\e011";
}
.icon-science-097:before {
	content: "\e012";
}
.icon-science-084:before {
	content: "\e013";
}
.icon-science-085:before {
	content: "\e014";
}
.icon-science-098:before {
	content: "\e015";
}
.icon-science-111:before {
	content: "\e016";
}
.icon-science-124:before {
	content: "\e017";
}
.icon-science-137:before {
	content: "\e018";
}
.icon-science-150:before {
	content: "\e019";
}
.icon-science-151:before {
	content: "\e01a";
}
.icon-science-138:before {
	content: "\e01b";
}
.icon-science-125:before {
	content: "\e01c";
}
.icon-science-112:before {
	content: "\e01d";
}
.icon-science-099:before {
	content: "\e01e";
}
.icon-science-086:before {
	content: "\e01f";
}
.icon-science-087:before {
	content: "\e020";
}
.icon-science-100:before {
	content: "\e021";
}
.icon-science-113:before {
	content: "\e022";
}
.icon-science-126:before {
	content: "\e023";
}
.icon-science-139:before {
	content: "\e024";
}
.icon-science-152:before {
	content: "\e025";
}
.icon-science-153:before {
	content: "\e026";
}
.icon-science-140:before {
	content: "\e027";
}
.icon-science-127:before {
	content: "\e028";
}
.icon-science-114:before {
	content: "\e029";
}
.icon-science-101:before {
	content: "\e02a";
}
.icon-science-088:before {
	content: "\e02b";
}
.icon-science-089:before {
	content: "\e02c";
}
.icon-science-102:before {
	content: "\e02d";
}
.icon-science-115:before {
	content: "\e02e";
}
.icon-science-128:before {
	content: "\e02f";
}
.icon-science-141:before {
	content: "\e030";
}
.icon-science-154:before {
	content: "\e031";
}
.icon-science-155:before {
	content: "\e032";
}
.icon-science-142:before {
	content: "\e033";
}
.icon-science-129:before {
	content: "\e034";
}
.icon-science-116:before {
	content: "\e035";
}
.icon-science-103:before {
	content: "\e036";
}
.icon-science-090:before {
	content: "\e037";
}
.icon-science-091:before {
	content: "\e038";
}
.icon-science-104:before {
	content: "\e039";
}
.icon-science-117:before {
	content: "\e03a";
}
.icon-science-130:before {
	content: "\e03b";
}
.icon-science-143:before {
	content: "\e03c";
}
.icon-science-156:before {
	content: "\e03d";
}
.icon-science-157:before {
	content: "\e03e";
}
.icon-science-158:before {
	content: "\e03f";
}
.icon-science-159:before {
	content: "\e040";
}
.icon-science-160:before {
	content: "\e041";
}

/* Sport */


[data-icon-sport]:before {
	font-family: "sports-48-x-48" !important;
	content: attr(data-icon-sport);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-sport"]:before,
[class*="icon-sport"]:before {
	font-family: "sports-48-x-48" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-christmas"]:before,
[class*=" icon-christmas"]:before {
	font-family: "cristmas" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-sport-001:before {
	content: "a";
}
.icon-sport-014:before {
	content: "b";
}
.icon-sport-027:before {
	content: "c";
}
.icon-sport-028:before {
	content: "d";
}
.icon-sport-015:before {
	content: "e";
}
.icon-sport-002:before {
	content: "f";
}
.icon-sport-003:before {
	content: "g";
}
.icon-sport-016:before {
	content: "h";
}
.icon-sport-029:before {
	content: "i";
}
.icon-sport-030:before {
	content: "j";
}
.icon-sport-017:before {
	content: "k";
}
.icon-sport-004:before {
	content: "l";
}
.icon-sport-005:before {
	content: "m";
}
.icon-sport-018:before {
	content: "n";
}
.icon-sport-031:before {
	content: "o";
}
.icon-sport-032:before {
	content: "p";
}
.icon-sport-019:before {
	content: "q";
}
.icon-sport-006:before {
	content: "r";
}
.icon-sport-007:before {
	content: "s";
}
.icon-sport-020:before {
	content: "t";
}
.icon-sport-033:before {
	content: "u";
}
.icon-sport-034:before {
	content: "v";
}
.icon-sport-021:before {
	content: "w";
}
.icon-sport-008:before {
	content: "x";
}
.icon-sport-009:before {
	content: "y";
}
.icon-sport-022:before {
	content: "z";
}
.icon-sport-035:before {
	content: "A";
}
.icon-sport-036:before {
	content: "B";
}
.icon-sport-023:before {
	content: "C";
}
.icon-sport-010:before {
	content: "D";
}
.icon-sport-011:before {
	content: "E";
}
.icon-sport-024:before {
	content: "F";
}
.icon-sport-037:before {
	content: "G";
}
.icon-sport-038:before {
	content: "H";
}
.icon-sport-025:before {
	content: "I";
}
.icon-sport-012:before {
	content: "J";
}
.icon-sport-013:before {
	content: "K";
}
.icon-sport-026:before {
	content: "L";
}
.icon-sport-039:before {
	content: "M";
}
.icon-sport-040:before {
	content: "N";
}
.icon-sport-053:before {
	content: "O";
}
.icon-sport-066:before {
	content: "P";
}
.icon-sport-079:before {
	content: "Q";
}
.icon-sport-080:before {
	content: "R";
}
.icon-sport-067:before {
	content: "S";
}
.icon-sport-054:before {
	content: "T";
}
.icon-sport-041:before {
	content: "U";
}
.icon-sport-042:before {
	content: "V";
}
.icon-sport-055:before {
	content: "W";
}
.icon-sport-068:before {
	content: "X";
}
.icon-sport-081:before {
	content: "Y";
}
.icon-sport-082:before {
	content: "Z";
}
.icon-sport-069:before {
	content: "0";
}
.icon-sport-056:before {
	content: "1";
}
.icon-sport-043:before {
	content: "2";
}
.icon-sport-044:before {
	content: "3";
}
.icon-sport-057:before {
	content: "4";
}
.icon-sport-070:before {
	content: "5";
}
.icon-sport-083:before {
	content: "6";
}
.icon-sport-084:before {
	content: "7";
}
.icon-sport-071:before {
	content: "8";
}
.icon-sport-058:before {
	content: "9";
}
.icon-sport-045:before {
	content: "!";
}
.icon-sport-046:before {
	content: "\"";
}
.icon-sport-059:before {
	content: "#";
}
.icon-sport-072:before {
	content: "$";
}
.icon-sport-085:before {
	content: "%";
}
.icon-sport-086:before {
	content: "&";
}
.icon-sport-073:before {
	content: "'";
}
.icon-sport-060:before {
	content: "(";
}
.icon-sport-047:before {
	content: ")";
}
.icon-sport-048:before {
	content: "*";
}
.icon-sport-061:before {
	content: "+";
}
.icon-sport-074:before {
	content: ",";
}
.icon-sport-087:before {
	content: "-";
}
.icon-sport-075:before {
	content: ".";
}
.icon-sport-062:before {
	content: "/";
}
.icon-sport-049:before {
	content: ":";
}
.icon-sport-050:before {
	content: ";";
}
.icon-sport-063:before {
	content: "<";
}
.icon-sport-064:before {
	content: "=";
}
.icon-sport-051:before {
	content: ">";
}
.icon-sport-052:before {
	content: "?";
}
.icon-sport-065:before {
	content: "@";
}
.icon-sport-078:before {
	content: "[";
}
.icon-sport-091:before {
	content: "]";
}
.icon-sport-090:before {
	content: "^";
}
.icon-sport-077:before {
	content: "_";
}
.icon-sport-076:before {
	content: "`";
}
.icon-sport-089:before {
	content: "{";
}
.icon-sport-088:before {
	content: "|";
}
.icon-sport-092:before {
	content: "}";
}
.icon-sport-105:before {
	content: "~";
}
.icon-sport-118:before {
	content: "\\";
}
.icon-sport-131:before {
	content: "\e000";
}
.icon-sport-144:before {
	content: "\e001";
}
.icon-sport-145:before {
	content: "\e002";
}
.icon-sport-132:before {
	content: "\e003";
}
.icon-sport-119:before {
	content: "\e004";
}
.icon-sport-106:before {
	content: "\e005";
}
.icon-sport-093:before {
	content: "\e006";
}
.icon-sport-094:before {
	content: "\e007";
}
.icon-sport-107:before {
	content: "\e008";
}
.icon-sport-120:before {
	content: "\e009";
}
.icon-sport-133:before {
	content: "\e00a";
}
.icon-sport-146:before {
	content: "\e00b";
}
.icon-sport-147:before {
	content: "\e00c";
}
.icon-sport-134:before {
	content: "\e00d";
}
.icon-sport-121:before {
	content: "\e00e";
}
.icon-sport-108:before {
	content: "\e00f";
}
.icon-sport-095:before {
	content: "\e010";
}
.icon-sport-096:before {
	content: "\e011";
}
.icon-sport-109:before {
	content: "\e012";
}
.icon-sport-122:before {
	content: "\e013";
}
.icon-sport-135:before {
	content: "\e014";
}
.icon-sport-148:before {
	content: "\e015";
}
.icon-sport-149:before {
	content: "\e016";
}
.icon-sport-136:before {
	content: "\e017";
}
.icon-sport-123:before {
	content: "\e018";
}
.icon-sport-110:before {
	content: "\e019";
}
.icon-sport-097:before {
	content: "\e01a";
}
.icon-sport-098:before {
	content: "\e01b";
}
.icon-sport-111:before {
	content: "\e01c";
}
.icon-sport-124:before {
	content: "\e01d";
}
.icon-sport-137:before {
	content: "\e01e";
}
.icon-sport-150:before {
	content: "\e01f";
}
.icon-sport-151:before {
	content: "\e020";
}
.icon-sport-138:before {
	content: "\e021";
}
.icon-sport-125:before {
	content: "\e022";
}
.icon-sport-112:before {
	content: "\e023";
}
.icon-sport-099:before {
	content: "\e024";
}
.icon-sport-100:before {
	content: "\e025";
}
.icon-sport-113:before {
	content: "\e026";
}
.icon-sport-126:before {
	content: "\e027";
}
.icon-sport-139:before {
	content: "\e028";
}
.icon-sport-152:before {
	content: "\e029";
}
.icon-sport-153:before {
	content: "\e02a";
}
.icon-sport-140:before {
	content: "\e02b";
}
.icon-sport-127:before {
	content: "\e02c";
}
.icon-sport-114:before {
	content: "\e02d";
}
.icon-sport-101:before {
	content: "\e02e";
}
.icon-sport-102:before {
	content: "\e02f";
}
.icon-sport-115:before {
	content: "\e030";
}
.icon-sport-128:before {
	content: "\e031";
}
.icon-sport-141:before {
	content: "\e032";
}
.icon-sport-154:before {
	content: "\e033";
}
.icon-sport-155:before {
	content: "\e034";
}
.icon-sport-142:before {
	content: "\e035";
}
.icon-sport-129:before {
	content: "\e036";
}
.icon-sport-116:before {
	content: "\e037";
}
.icon-sport-103:before {
	content: "\e038";
}
.icon-sport-104:before {
	content: "\e039";
}
.icon-sport-117:before {
	content: "\e03a";
}
.icon-sport-130:before {
	content: "\e03b";
}
.icon-sport-143:before {
	content: "\e03c";
}
.icon-sport-156:before {
	content: "\e03d";
}
.icon-sport-157:before {
	content: "\e03e";
}
.icon-sport-170:before {
	content: "\e03f";
}
.icon-sport-183:before {
	content: "\e040";
}
.icon-sport-196:before {
	content: "\e041";
}
.icon-sport-197:before {
	content: "\e042";
}
.icon-sport-184:before {
	content: "\e043";
}
.icon-sport-171:before {
	content: "\e044";
}
.icon-sport-158:before {
	content: "\e045";
}
.icon-sport-159:before {
	content: "\e046";
}
.icon-sport-172:before {
	content: "\e047";
}
.icon-sport-185:before {
	content: "\e048";
}
.icon-sport-198:before {
	content: "\e049";
}
.icon-sport-199:before {
	content: "\e04a";
}
.icon-sport-186:before {
	content: "\e04b";
}
.icon-sport-173:before {
	content: "\e04c";
}
.icon-sport-160:before {
	content: "\e04d";
}
.icon-sport-174:before {
	content: "\e04e";
}
.icon-sport-187:before {
	content: "\e04f";
}
.icon-sport-200:before {
	content: "\e050";
}
.icon-sport-188:before {
	content: "\e051";
}
.icon-sport-175:before {
	content: "\e052";
}
.icon-sport-162:before {
	content: "\e053";
}
.icon-sport-163:before {
	content: "\e054";
}
.icon-sport-176:before {
	content: "\e055";
}
.icon-sport-189:before {
	content: "\e056";
}
.icon-sport-190:before {
	content: "\e057";
}
.icon-sport-177:before {
	content: "\e058";
}
.icon-sport-164:before {
	content: "\e059";
}
.icon-sport-165:before {
	content: "\e05a";
}
.icon-sport-178:before {
	content: "\e05b";
}
.icon-sport-191:before {
	content: "\e05c";
}
.icon-sport-192:before {
	content: "\e05d";
}
.icon-sport-179:before {
	content: "\e05e";
}
.icon-sport-166:before {
	content: "\e05f";
}
.icon-sport-167:before {
	content: "\e060";
}
.icon-sport-180:before {
	content: "\e061";
}
.icon-sport-193:before {
	content: "\e062";
}
.icon-sport-194:before {
	content: "\e063";
}
.icon-sport-181:before {
	content: "\e064";
}
.icon-sport-168:before {
	content: "\e065";
}
.icon-sport-169:before {
	content: "\e066";
}
.icon-sport-182:before {
	content: "\e067";
}
.icon-sport-195:before {
	content: "\e068";
}
.icon-sport-161:before {
	content: "\e069";
}

/* Travel */

[data-icon-travel]:before {
	font-family: "travel" !important;
	content: attr(data-icon-travel);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-travel"]:before,
[class*=" icon-travel"]:before {
	font-family: "travel" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-travel-001:before {
	content: "a";
}
.icon-travel-014:before {
	content: "b";
}
.icon-travel-015:before {
	content: "c";
}
.icon-travel-002:before {
	content: "d";
}
.icon-travel-003:before {
	content: "e";
}
.icon-travel-016:before {
	content: "f";
}
.icon-travel-017:before {
	content: "g";
}
.icon-travel-004:before {
	content: "h";
}
.icon-travel-005:before {
	content: "i";
}
.icon-travel-018:before {
	content: "j";
}
.icon-travel-019:before {
	content: "k";
}
.icon-travel-006:before {
	content: "l";
}
.icon-travel-007:before {
	content: "m";
}
.icon-travel-020:before {
	content: "n";
}
.icon-travel-021:before {
	content: "o";
}
.icon-travel-008:before {
	content: "p";
}
.icon-travel-009:before {
	content: "q";
}
.icon-travel-022:before {
	content: "r";
}
.icon-travel-023:before {
	content: "s";
}
.icon-travel-010:before {
	content: "t";
}
.icon-travel-011:before {
	content: "u";
}
.icon-travel-024:before {
	content: "v";
}
.icon-travel-025:before {
	content: "w";
}
.icon-travel-012:before {
	content: "x";
}
.icon-travel-013:before {
	content: "y";
}
.icon-travel-026:before {
	content: "z";
}
.icon-travel-039:before {
	content: "A";
}
.icon-travel-052:before {
	content: "B";
}
.icon-travel-065:before {
	content: "C";
}
.icon-travel-064:before {
	content: "D";
}
.icon-travel-051:before {
	content: "E";
}
.icon-travel-038:before {
	content: "F";
}
.icon-travel-037:before {
	content: "G";
}
.icon-travel-050:before {
	content: "H";
}
.icon-travel-063:before {
	content: "I";
}
.icon-travel-062:before {
	content: "J";
}
.icon-travel-049:before {
	content: "K";
}
.icon-travel-036:before {
	content: "L";
}
.icon-travel-035:before {
	content: "M";
}
.icon-travel-048:before {
	content: "N";
}
.icon-travel-061:before {
	content: "O";
}
.icon-travel-060:before {
	content: "P";
}
.icon-travel-047:before {
	content: "Q";
}
.icon-travel-034:before {
	content: "R";
}
.icon-travel-033:before {
	content: "S";
}
.icon-travel-046:before {
	content: "T";
}
.icon-travel-059:before {
	content: "U";
}
.icon-travel-058:before {
	content: "V";
}
.icon-travel-045:before {
	content: "W";
}
.icon-travel-032:before {
	content: "X";
}
.icon-travel-031:before {
	content: "Y";
}
.icon-travel-044:before {
	content: "Z";
}
.icon-travel-057:before {
	content: "0";
}
.icon-travel-056:before {
	content: "1";
}
.icon-travel-043:before {
	content: "2";
}
.icon-travel-030:before {
	content: "3";
}
.icon-travel-029:before {
	content: "4";
}
.icon-travel-042:before {
	content: "5";
}
.icon-travel-055:before {
	content: "6";
}
.icon-travel-054:before {
	content: "7";
}
.icon-travel-041:before {
	content: "8";
}
.icon-travel-028:before {
	content: "9";
}
.icon-travel-027:before {
	content: "!";
}
.icon-travel-040:before {
	content: "\"";
}
.icon-travel-053:before {
	content: "#";
}
.icon-travel-066:before {
	content: "$";
}
.icon-travel-079:before {
	content: "%";
}
.icon-travel-092:before {
	content: "&";
}
.icon-travel-105:before {
	content: "'";
}
.icon-travel-106:before {
	content: "(";
}
.icon-travel-093:before {
	content: ")";
}
.icon-travel-080:before {
	content: "*";
}
.icon-travel-067:before {
	content: "+";
}
.icon-travel-068:before {
	content: ",";
}
.icon-travel-081:before {
	content: "-";
}
.icon-travel-094:before {
	content: ".";
}
.icon-travel-107:before {
	content: "/";
}
.icon-travel-108:before {
	content: ":";
}
.icon-travel-095:before {
	content: ";";
}
.icon-travel-082:before {
	content: "<";
}
.icon-travel-069:before {
	content: "=";
}
.icon-travel-070:before {
	content: ">";
}
.icon-travel-083:before {
	content: "?";
}
.icon-travel-096:before {
	content: "@";
}
.icon-travel-109:before {
	content: "[";
}
.icon-travel-110:before {
	content: "]";
}
.icon-travel-097:before {
	content: "^";
}
.icon-travel-084:before {
	content: "_";
}
.icon-travel-071:before {
	content: "`";
}
.icon-travel-072:before {
	content: "{";
}
.icon-travel-085:before {
	content: "|";
}
.icon-travel-098:before {
	content: "}";
}
.icon-travel-111:before {
	content: "~";
}
.icon-travel-112:before {
	content: "\\";
}
.icon-travel-099:before {
	content: "\e000";
}
.icon-travel-086:before {
	content: "\e001";
}
.icon-travel-073:before {
	content: "\e002";
}
.icon-travel-074:before {
	content: "\e003";
}
.icon-travel-087:before {
	content: "\e004";
}
.icon-travel-100:before {
	content: "\e005";
}
.icon-travel-113:before {
	content: "\e006";
}
.icon-travel-114:before {
	content: "\e007";
}
.icon-travel-101:before {
	content: "\e008";
}
.icon-travel-088:before {
	content: "\e009";
}
.icon-travel-075:before {
	content: "\e00a";
}
.icon-travel-076:before {
	content: "\e00b";
}
.icon-travel-089:before {
	content: "\e00c";
}
.icon-travel-102:before {
	content: "\e00d";
}
.icon-travel-115:before {
	content: "\e00e";
}
.icon-travel-116:before {
	content: "\e00f";
}
.icon-travel-103:before {
	content: "\e010";
}
.icon-travel-090:before {
	content: "\e011";
}
.icon-travel-077:before {
	content: "\e012";
}
.icon-travel-091:before {
	content: "\e013";
}
.icon-travel-104:before {
	content: "\e014";
}
.icon-travel-117:before {
	content: "\e015";
}
.icon-travel-078:before {
	content: "\e016";
}
.icon-travel-130:before {
	content: "\e017";
}
.icon-travel-143:before {
	content: "\e018";
}
.icon-travel-142:before {
	content: "\e019";
}
.icon-travel-129:before {
	content: "\e01a";
}
.icon-travel-128:before {
	content: "\e01b";
}
.icon-travel-141:before {
	content: "\e01c";
}
.icon-travel-140:before {
	content: "\e01d";
}
.icon-travel-127:before {
	content: "\e01e";
}
.icon-travel-126:before {
	content: "\e01f";
}
.icon-travel-139:before {
	content: "\e020";
}
.icon-travel-138:before {
	content: "\e021";
}
.icon-travel-125:before {
	content: "\e022";
}
.icon-travel-124:before {
	content: "\e023";
}
.icon-travel-137:before {
	content: "\e024";
}
.icon-travel-150:before {
	content: "\e025";
}
.icon-travel-149:before {
	content: "\e026";
}
.icon-travel-136:before {
	content: "\e027";
}
.icon-travel-123:before {
	content: "\e028";
}
.icon-travel-122:before {
	content: "\e029";
}
.icon-travel-135:before {
	content: "\e02a";
}
.icon-travel-148:before {
	content: "\e02b";
}
.icon-travel-147:before {
	content: "\e02c";
}
.icon-travel-134:before {
	content: "\e02d";
}
.icon-travel-121:before {
	content: "\e02e";
}
.icon-travel-120:before {
	content: "\e02f";
}
.icon-travel-133:before {
	content: "\e030";
}
.icon-travel-146:before {
	content: "\e031";
}
.icon-travel-145:before {
	content: "\e032";
}
.icon-travel-132:before {
	content: "\e033";
}
.icon-travel-119:before {
	content: "\e034";
}
.icon-travel-118:before {
	content: "\e035";
}
.icon-travel-131:before {
	content: "\e036";
}
.icon-travel-144:before {
	content: "\e037";
}

/* Weather */

[data-icon-weather]:before {
	font-family: "weather" !important;
	content: attr(data-icon-weather);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-weather"]:before,
[class*=" icon-weather"]:before {
	font-family: "weather" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-weather-001:before {
	content: "a";
}
.icon-weather-014:before {
	content: "b";
}
.icon-weather-027:before {
	content: "c";
}
.icon-weather-040:before {
	content: "d";
}
.icon-weather-053:before {
	content: "e";
}
.icon-weather-054:before {
	content: "f";
}
.icon-weather-041:before {
	content: "g";
}
.icon-weather-028:before {
	content: "h";
}
.icon-weather-015:before {
	content: "i";
}
.icon-weather-002:before {
	content: "j";
}
.icon-weather-003:before {
	content: "k";
}
.icon-weather-016:before {
	content: "l";
}
.icon-weather-029:before {
	content: "m";
}
.icon-weather-042:before {
	content: "n";
}
.icon-weather-055:before {
	content: "o";
}
.icon-weather-056:before {
	content: "p";
}
.icon-weather-043:before {
	content: "q";
}
.icon-weather-030:before {
	content: "r";
}
.icon-weather-017:before {
	content: "s";
}
.icon-weather-004:before {
	content: "t";
}
.icon-weather-005:before {
	content: "u";
}
.icon-weather-018:before {
	content: "v";
}
.icon-weather-031:before {
	content: "w";
}
.icon-weather-044:before {
	content: "x";
}
.icon-weather-057:before {
	content: "y";
}
.icon-weather-058:before {
	content: "z";
}
.icon-weather-045:before {
	content: "A";
}
.icon-weather-032:before {
	content: "B";
}
.icon-weather-019:before {
	content: "C";
}
.icon-weather-006:before {
	content: "D";
}
.icon-weather-007:before {
	content: "E";
}
.icon-weather-020:before {
	content: "F";
}
.icon-weather-033:before {
	content: "G";
}
.icon-weather-046:before {
	content: "H";
}
.icon-weather-059:before {
	content: "I";
}
.icon-weather-060:before {
	content: "J";
}
.icon-weather-047:before {
	content: "K";
}
.icon-weather-034:before {
	content: "L";
}
.icon-weather-021:before {
	content: "M";
}
.icon-weather-008:before {
	content: "N";
}
.icon-weather-009:before {
	content: "O";
}
.icon-weather-022:before {
	content: "P";
}
.icon-weather-035:before {
	content: "Q";
}
.icon-weather-048:before {
	content: "R";
}
.icon-weather-049:before {
	content: "S";
}
.icon-weather-036:before {
	content: "T";
}
.icon-weather-023:before {
	content: "U";
}
.icon-weather-010:before {
	content: "V";
}
.icon-weather-011:before {
	content: "W";
}
.icon-weather-024:before {
	content: "X";
}
.icon-weather-037:before {
	content: "Y";
}
.icon-weather-050:before {
	content: "Z";
}
.icon-weather-051:before {
	content: "0";
}
.icon-weather-038:before {
	content: "1";
}
.icon-weather-025:before {
	content: "2";
}
.icon-weather-012:before {
	content: "3";
}
.icon-weather-013:before {
	content: "4";
}
.icon-weather-026:before {
	content: "5";
}
.icon-weather-039:before {
	content: "6";
}
.icon-weather-052:before {
	content: "7";
}

/* Transport */


[data-icon-transport]:before {
	font-family: "transport" !important;
	content: attr(data-icon-transport);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-transport"]:before,
[class*=" icon-transport"]:before {
	font-family: "transport" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-transport-001:before {
  content: "a";
}
.icon-transport-014:before {
  content: "b";
}
.icon-transport-015:before {
  content: "c";
}
.icon-transport-002:before {
  content: "d";
}
.icon-transport-003:before {
  content: "e";
}
.icon-transport-016:before {
  content: "f";
}
.icon-transport-017:before {
  content: "g";
}
.icon-transport-004:before {
  content: "h";
}
.icon-transport-005:before {
  content: "i";
}
.icon-transport-018:before {
  content: "j";
}
.icon-transport-019:before {
  content: "k";
}
.icon-transport-006:before {
  content: "l";
}
.icon-transport-007:before {
  content: "m";
}
.icon-transport-020:before {
  content: "n";
}
.icon-transport-021:before {
  content: "o";
}
.icon-transport-008:before {
  content: "p";
}
.icon-transport-009:before {
  content: "q";
}
.icon-transport-022:before {
  content: "r";
}
.icon-transport-023:before {
  content: "s";
}
.icon-transport-010:before {
  content: "t";
}
.icon-transport-024:before {
  content: "u";
}
.icon-transport-025:before {
  content: "v";
}
.icon-transport-012:before {
  content: "w";
}
.icon-transport-011:before {
  content: "x";
}
.icon-transport-013:before {
  content: "y";
}
.icon-transport-026:before {
  content: "z";
}
.icon-transport-039:before {
  content: "A";
}
.icon-transport-052:before {
  content: "B";
}
.icon-transport-051:before {
  content: "C";
}
.icon-transport-038:before {
  content: "D";
}
.icon-transport-037:before {
  content: "E";
}
.icon-transport-050:before {
  content: "F";
}
.icon-transport-049:before {
  content: "G";
}
.icon-transport-036:before {
  content: "H";
}
.icon-transport-035:before {
  content: "I";
}
.icon-transport-048:before {
  content: "J";
}
.icon-transport-047:before {
  content: "K";
}
.icon-transport-034:before {
  content: "L";
}
.icon-transport-033:before {
  content: "M";
}
.icon-transport-046:before {
  content: "N";
}
.icon-transport-045:before {
  content: "O";
}
.icon-transport-032:before {
  content: "P";
}
.icon-transport-031:before {
  content: "Q";
}
.icon-transport-044:before {
  content: "R";
}
.icon-transport-043:before {
  content: "S";
}
.icon-transport-030:before {
  content: "T";
}
.icon-transport-029:before {
  content: "U";
}
.icon-transport-042:before {
  content: "V";
}
.icon-transport-041:before {
  content: "W";
}
.icon-transport-028:before {
  content: "X";
}
.icon-transport-027:before {
  content: "Y";
}
.icon-transport-040:before {
  content: "Z";
}
.icon-transport-053:before {
  content: "0";
}
.icon-transport-066:before {
  content: "1";
}
.icon-transport-079:before {
  content: "2";
}
.icon-transport-092:before {
  content: "3";
}
.icon-transport-093:before {
  content: "4";
}
.icon-transport-080:before {
  content: "5";
}
.icon-transport-067:before {
  content: "6";
}
.icon-transport-054:before {
  content: "7";
}
.icon-transport-055:before {
  content: "8";
}
.icon-transport-068:before {
  content: "9";
}
.icon-transport-081:before {
  content: "!";
}
.icon-transport-094:before {
  content: "\"";
}
.icon-transport-095:before {
  content: "#";
}
.icon-transport-082:before {
  content: "$";
}
.icon-transport-069:before {
  content: "%";
}
.icon-transport-056:before {
  content: "&";
}
.icon-transport-057:before {
  content: "'";
}
.icon-transport-070:before {
  content: "(";
}
.icon-transport-083:before {
  content: ")";
}
.icon-transport-096:before {
  content: "*";
}
.icon-transport-097:before {
  content: "+";
}
.icon-transport-084:before {
  content: ",";
}
.icon-transport-071:before {
  content: "-";
}
.icon-transport-058:before {
  content: ".";
}
.icon-transport-059:before {
  content: "/";
}
.icon-transport-072:before {
  content: ":";
}
.icon-transport-085:before {
  content: ";";
}
.icon-transport-098:before {
  content: "<";
}
.icon-transport-099:before {
  content: "=";
}
.icon-transport-086:before {
  content: ">";
}
.icon-transport-073:before {
  content: "?";
}
.icon-transport-060:before {
  content: "@";
}
.icon-transport-061:before {
  content: "[";
}
.icon-transport-074:before {
  content: "]";
}
.icon-transport-087:before {
  content: "^";
}
.icon-transport-100:before {
  content: "_";
}
.icon-transport-088:before {
  content: "`";
}
.icon-transport-075:before {
  content: "{";
}
.icon-transport-076:before {
  content: "|";
}
.icon-transport-089:before {
  content: "}";
}
.icon-transport-090:before {
  content: "~";
}
.icon-transport-077:before {
  content: "\\";
}
.icon-transport-078:before {
  content: "\e000";
}
.icon-transport-091:before {
  content: "\e001";
}
.icon-transport-065:before {
  content: "\e002";
}
.icon-transport-064:before {
  content: "\e003";
}
.icon-transport-063:before {
  content: "\e004";
}
.icon-transport-062:before {
  content: "\e005";
}
