/* ******************************************************************************
*********************************************************************************
This file contains all the neccessary variables that control standard elements
in the pages. This is also the file that loads all of the other themed CSS
styleshets into just this one in each of themed templates.
*********************************************************************************
****************************************************************************** */

{# Configuration variables #}

{% set base_font_scale = 24 %}
{% set base_font_size = base_font_scale ~ 'px' %}
{% set body_font_size = '1rem' %}
{% set link_color = '#0270E0' %}
{% set primary_font_family = 'proxima-nova, Lato, sans-serif' %}
{% set secondary_font_family = 'Lato, sans-serif' %}

{% set headings_font_weight = '500' %}
{% set headings_color = '#494a52' %}
{% set h1_font_size = '2.1rem' %}
{% set h2_font_size = '1.6rem' %}
{% set h3_font_size = '1.25rem' %}
{% set h4_font_size = '1.175rem' %}
{% set h5_font_size = '1rem' %}
{% set h6_font_size = '.9rem' %}

{% set form_max_width = "100%" %}
{% set form_button_color = '#494A52' %}
{% set form_button_text_color = '#fff' %}
{% set form_button_color_hover = color_variant(form_button_color, -40) %}
{% set form_button_color_active = color_variant(form_button_color, 40) %}
{% set form_label_color = '#33475b' %}
{% set form_input_color = '#33475b' %}
{% set form_description_color = '#7c98b6' %}
{% set form_placeholder_color = '#bfbfbf' %}
{% set form_error_label_color = '#f2545b' %}
{% set form_error_border_color = '#c87872' %}
{% set form_error_focus_border_color = '#b9554d' %}

{% set dnd_accent_bg_color = '#F8FAFC' %}
{% set dnd_section_max_width = '1200px' %}

{% set page_max_width = '1200px' %}
{% set page_accent_bg_color = '#F8FAFC' %}
{% set page_logo_max_width = '200px' %}

{% set blog_default_featured_image = './images/grayscale-mountain.png' %}

{% include './_reset.css' %}
{% include './_normalize.css' %}
{% include './_dnd_areas.css' %}
{% include './_typography.css' %}
{% include './_forms.css' %}
{% include './_menus.css' %}
{% include './_tables.css' %}
{% include './_modules.css' %}
{% include './_landing.css' %}
{% include './_website.css' %}
{% include './animate.css' %}
{% include './_header.css' %}
{% include './_footer.css' %}
{% include './simple-line-icons.css' %}
{% include './_blog.css' %}
{% include './icons.css' %}
{% include './_system_pages.css' %}

html, body {
  color: #2b2c2d;
  font-family: proxima-nova;
  font-size: 15px;
}

h3 {
    font-family: proxima-nova;
    font-size: 1.75rem;
    font-weight: 400;
}