{% import './utils/utils.css' as utils %}

.hs-form {
    display: flex;
    align-items: stretch;
    position: relative;
}
@media (max-width: 480px) {
    .hs-form {
        flex-direction: column;
    }
}

.hs-form label {
    margin: 0;
}

.hs-form .actions,
.hs-form .hs-button {
    height: 100%;
    margin: 0;
}

.hs-form .actions {
    height: 100%;
}

.hs-email {
    display: inline-block;
    margin: 0;
}
@media (max-width: 480px) {
    .hs-email {
        margin-top: 10px;
        width: 100%;
    }
}
@media (min-width: 481px) {
    .hs-email {
        width: calc(100% - 8.61rem);
    }
}

.hs-error-msgs {
    position: absolute;
}
@media (max-width: 480px) {
    .hs-error-msgs {
        top: -3px;
        transform: translateY(-100%);
    }
}
@media (min-width: 481px) {
    .hs-error-msgs {
        bottom: -1.5rem;
    }
}

.hs_error_rollup {
    display: none;
}

.hs-submit {
    display: inline-block;
}

@media (max-width: 480px) {
    .hs-submit {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .hs-button {
        width: 100%;
    }
}

@media (max-width: 875px) {
    .newsletter-exit-popup__container .cta_newsletter_spanish input[type="email"] {
        {{ utils.base() }}
    }
}

.hs-email input {
    {{ utils.base() }}
    box-shadow: 0px 0px 20px #00000029;
    border: 1px white solid;
    background-color: white;
    padding: 1.3em;
    vertical-align: top;
    width: 100%;
}

@media (max-width: 480px) {
    .hs-email input {
        margin-bottom: 1.4rem;
    }
}

.submitted-message {
    display: none;
}

.cta_newsletter_spanish .hs-form .hs-fieldtype-booleancheckbox {
    position: absolute;
    top: 80px;
}

.cta_newsletter_spanish .hs_submit {
    width: 15em;
}

.cta_newsletter_spanish, ul.inputs-list label {
    {{ utils.natus() }}
}

.cta_newsletter_spanish .hs-input[type=checkbox] {
    opacity: 0;
    margin: 0.3em;
}

.cta_newsletter_spanish .hs-form-booleancheckbox-display span {
    font-weight: var(--middle-font-weight);
}

.cta_newsletter_spanish .hs-form-booleancheckbox-display span::before {
    content: "";
    display: inline-block;
    height: 25px;
    width: 25px;
    border: 1px solid rgba(0, 0, 0, .25);
}

.cta_newsletter_spanish .hs-form-booleancheckbox-display span::after {
    content: "";
    display: inline-block;
    height: 8px;
    width: 14px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
}

.cta_newsletter_spanish .hs-form-booleancheckbox-display {
    position: relative;
}

.cta_newsletter_spanish .hs-form-booleancheckbox-display span::before,
.cta_newsletter_spanish .hs-form-booleancheckbox-display span::after {
    position: absolute;
}

.cta_newsletter_spanish .hs-form-booleancheckbox-display span::before {
    border-radius: 3px;
}

.cta_newsletter_spanish .hs-form-booleancheckbox-display span::after {

}

.cta_newsletter_spanish .hs-form-booleancheckbox-display span {
    margin-left: 10px;
}

.cta_newsletter_spanish .hs-form-booleancheckbox-display .hs-input[type=checkbox] + span::after {
    content: none;
}

.cta_newsletter_spanish .hs-form-booleancheckbox-display .hs-input[type=checkbox]:checked + span::after {
    content: "";
    top: 0.3em;
}

.cta_newsletter_spanish .hs-form-booleancheckbox-display .hs-input[type=checkbox]:focus + span:before {
    outline: rgb(0, 0, 0) auto 5px;
}

@media(max-width: 480px) {
    .cta_newsletter_spanish .hs_submit {
        width: 100%;
    }
    
    .cta_newsletter_spanish .hs-form-booleancheckbox-display span::before {
        top: 6px;
    }

    .cta_newsletter_spanish .hs-form .hs-fieldtype-booleancheckbox {
        position: static;
    }

    .cta_newsletter_spanish .hs-form-booleancheckbox-display .hs-input[type=checkbox]:checked + span::after {
        top: 0;
    }
}
@media(min-width: 481px) {
    .newsletter-exit-popup__inner-modal .cta_newsletter_spanish {
        margin-bottom: 70px;
    }
}

@media (min-width: 481px) and (max-width: 630px) {
    .hs-error-msgs {
        bottom: -2.0rem;
    }
}
