/* ******************************************************************************
*********************************************************************************
Use this file to override any of the CSS styles preset in the themed
stylesheets or you can add your own custom styles.
*********************************************************************************
****************************************************************************** */

{% import './utils/utils.css' as utils %}

{## Table of contents

  1. _dnd_areas
  2. _typography
  3. _forms
  4. _tabels
  5. _header
  6. _footer
  7. _blog
  8. _system_pages
  9. _modules

##}

{###########################################################################}
{##############################   _dnd_areas   #############################}
{###########################################################################}

.dnd-section > .row-fluid {
  max-width: {{ theme.spacing.max_width }}px;
}

.dnd-section {
  padding-bottom: {{ theme.spacing.vertical_spacing }}px;
  padding-top: {{ theme.spacing.vertical_spacing }}px;
}

.body-container__homepage .dnd-section:nth-child(odd) {
  background-color: {{ theme.global_colors.secondary_color.color }};
}

{###########################################################################}
{###############################   _forms    ###############################}
{###########################################################################}

form,
.submitted-message {
  font-family: {{ body_font }};
  background-color: rgba({{ theme.forms.form_background_color.color|convert_rgb }}, {{ theme.forms.form_background_color.opacity * 0.01 }});
}

h3.form-title {
  background-color: rgba({{ theme.forms.header_background_color.color|convert_rgb }}, {{ theme.forms.header_background_color.opacity * 0.01 }});
  color: rgba({{ theme.forms.header_text_color.color|convert_rgb }}, {{ theme.forms.header_text_color.opacity * 0.01 }});
}

.hs-button,
.button--primary {
  background-color: rgba({{ theme.buttons.background_color.color|convert_rgb }}, {{ theme.buttons.background_color.opacity * 0.01 }});
  border-color: rgba({{ theme.buttons.border_color.color|convert_rgb }}, {{ theme.buttons.border_color.opacity * 0.01 }});
  border-radius: {{ theme.buttons.border_radius }}px;
  border-width: {{ theme.buttons.border_width }}px;
  color: rgba({{ theme.buttons.text_color.color|convert_rgb }}, {{ theme.buttons.text_color.opacity * 0.01 }});
  padding-left: {{ theme.buttons.horizontal_padding }}px;
  padding-right: {{ theme.buttons.horizontal_padding }}px;
  padding-top: {{ theme.buttons.vertical_padding }}px;
  padding-bottom: {{ theme.buttons.vertical_padding }}px;
}

.hs-button:hover,
.hs-button:focus,
.button--primary:hover,
.button--primary:focus {
  background-color: rgba({{ theme.buttons.background_hover_color.color|convert_rgb }}, {{ theme.buttons.background_hover_color.opacity * 0.01 }});
  border-color: rgba({{ theme.buttons.background_hover_color.color|convert_rgb }}, {{ theme.buttons.background_hover_color.opacity * 0.01 }});
  color: rgba({{ theme.buttons.text_hover_color.color|convert_rgb }}, {{ theme.buttons.text_hover_color.opacity * 0.01 }});
}

.hs-button:active,
.button--primary:active {
  background-color: rgba({{ color_variant(theme.buttons.background_color.color, 40)|convert_rgb }}, {{ theme.buttons.background_color.opacity * 0.01 }});
  border-color: rgba({{ color_variant(theme.buttons.border_color.color, 40)|convert_rgb }}, {{ theme.buttons.border_color.opacity * 0.01 }});
  color: rgba({{ theme.buttons.text_color.color|convert_rgb }}, {{ theme.buttons.text_color.opacity * 0.01 }});
}

.hs-form legend {
  color: rgba({{ theme.forms.help_text_color.color|convert_rgb }}, {{ theme.forms.help_text_color.opacity * 0.01 }});
}
input#hs-pwd-widget-password,
form input,
form select,
form textarea,
.hs-input {
  background-color: rgba({{ theme.forms.field_input_background_color.color|convert_rgb }}, {{ theme.forms.field_input_background_color.opacity * 0.01 }});
  border-color: rgba({{ theme.forms.field_border_color.color|convert_rgb }}, {{ theme.forms.field_border_color.opacity * 0.01 }});
  color: rgba({{ theme.forms.field_input_text_color.color|convert_rgb }}, {{ theme.forms.field_input_text_color.opacity * 0.01 }});
  border-radius: {{ theme.forms.field_border_radius }}px;
}
input#hs-pwd-widget-password:focus,
form input:focus,
form select:focus,
form textarea:focus,
.hs-input:focus {
  border-color: rgba({{ theme.forms.field_focus_border_color.color|convert_rgb }}, {{ theme.forms.field_focus_border_color.opacity * 0.01 }});
}

.fn-date-picker .pika-table thead th {
  color: rgba({{ theme.tables.header_text_color.color|convert_rgb }}, {{ theme.buttons.secondary.secondary.text_hover_color.opacity * 0.01 }});
}

.hs-input:-moz-placeholder,
.hs-input::-webkit-input-placeholder,
.hs-field-desc,
.hs-dateinput:before,
.hs-richtext {
  color: var(--shark);
}

.hs-richtext {
  font-size: {{ body_size }};
}

.hs-default-font-element,
.hs-main-font-element {
  font-family: {{ body_font }};
}

.fn-date-picker td.is-today .pika-button {
  color: {{ theme.global_colors.primary_color.color }};
}

.fn-date-picker td.is-selected .pika-button {
  background: {{ theme.global_colors.primary_color.color }};
}

.fn-date-picker td .pika-button:hover {
  background-color: {{ theme.global_colors.secondary_color.color }} !important;
}

{###########################################################################}
{###############################   _tables   ###############################}
{###########################################################################}

th,
td {
  background-color: rgba({{ theme.tables.body_background_color.color|convert_rgb }}, {{ theme.tables.body_background_color.opacity * 0.01 }});
  border: 1px solid rgba({{ theme.tables.border_color.color|convert_rgb }}, {{ theme.tables.border_color.opacity * 0.01 }});
  color: rgba({{ theme.tables.body_text_color.color|convert_rgb }}, {{ theme.tables.body_text_color.opacity * 0.01 }});
}

thead th,
thead td {
  background-color: rgba({{ theme.tables.header_background_color.color|convert_rgb }}, {{ theme.tables.header_background_color.opacity * 0.01 }});
  color: rgba({{ theme.tables.header_text_color.color|convert_rgb }}, {{ theme.tables.header_text_color.opacity * 0.01 }});
}

tfoot td {
  background-color: rgba({{ theme.tables.footer_background_color.color|convert_rgb }}, {{ theme.tables.footer_background_color.opacity * 0.01 }});
  color: rgba({{ theme.tables.footer_text_color.color|convert_rgb }}, {{ theme.tables.footer_text_color.opacity * 0.01 }});
}

table,
tbody + tbody {
  border-color: rgba({{ theme.tables.border_color.color|convert_rgb }}, {{ theme.tables.border_color.opacity * 0.01 }});
}

{###########################################################################}
{###############################   _header   ###############################}
{###########################################################################}

.header__container {
  max-width: {{ theme.spacing.max_width * 1.140 }}px;
}

body .custom-menu-primary .submenu.level-1 > li > a:hover,
body .custom-menu-primary .submenu.level-1 > li:focus > a,
.header__language-switcher-label-current:hover,
.header__language-switcher-label-current:focus,
.header__language-switcher .lang_list_class li:hover a,
.header__language-switcher .lang_list_class li a:focus {
  color: rgba({{ theme.header.menu_link_hover_color.color|convert_rgb }}, {{ theme.header.menu_link_hover_color.opacity * 0.01 }});
}

body .custom-menu-primary a.active-branch,
body .header__language-switcher-label-current:active,
body .header__language-switcher .lang_list_class li a:active,
.language-switcher ul li a.active-item{
  color: rgba({{ theme.header.active_menu_link_color.color|convert_rgb }}, {{ theme.header.active_menu_link_color.opacity * 0.01 }});
}

body .custom-menu-primary .navigation-primary>ul>li>a.menu-link.active-item:after{
  background-color: rgba({{ theme.header.active_menu_link_border_color.color|convert_rgb }}, {{ theme.header.active_menu_link_border_color.opacity * 0.01 }});
}



body .custom-menu-primary .submenu.level-1 > li.active-branch > a,
body .header__language-switcher-label-current:active,
body .header__language-switcher .lang_list_class li:active,
.custom-menu-primary .navigation-primary>ul>li>a.menu-link.active-item{
  background-color: rgba({{ theme.header.active_menu_link_background_color.color|convert_rgb }}, {{ theme.header.active_menu_link_background_color.opacity * 0.01 }});
}
body .custom-menu-primary .submenu.level-1 > li {
  background-color: rgba({{ theme.header.menu_link_background_color.color|convert_rgb }}, {{ theme.header.menu_link_background_color.opacity * 0.01 }});
}
body .custom-menu-primary .submenu.level-1 > li > a:hover,
body .custom-menu-primary .submenu.level-1 > li > a:focus {
  background-color: rgba({{ theme.header.menu_link_hover_background_color.color|convert_rgb }}, {{ theme.header.menu_link_hover_background_color.opacity * 0.01 }});
}
body .custom-menu-primary .submenu.level-1 > li > a.active-branch {
  color: rgba({{ theme.header.active_menu_link_color.color|convert_rgb }}, {{ theme.header.active_menu_link_color.opacity * 0.01 }});
}

body .custom-menu-primary .submenu.level-1 > li > a.active-branch:after {
  background-color: rgba({{ theme.header.active_menu_link_color.color|convert_rgb }}, {{ theme.header.active_menu_link_color.opacity * 0.01 }});
}
body .custom-menu-primary .submenu.level-2 > li > a,
.language-switcher ul li a{
  color: rgba({{ theme.header.child_menu_link_color.color|convert_rgb }}, {{ theme.header.child_menu_link_color.opacity * 0.01 }});
}
body .cm-header-group.website-header--has-open-submenu:before,
.language-switcher ul li a{
  background-color: rgba({{ theme.header.child_menu_background_color.color|convert_rgb }}, {{ theme.header.child_menu_background_color.opacity * 0.01 }});
}
body .custom-menu-primary .submenu.level-2 .triangle-container .triangle {
  background-color: rgba({{ theme.header.child_menu_background_color.color|convert_rgb }}, {{ theme.header.child_menu_background_color.opacity * 0.01 }});
}

body .custom-menu-primary .submenu.level-2 .menu-item .menu-link:hover,
body .custom-menu-primary .submenu.level-2 .menu-item .menu-link:focus,
body .header__language-switcher .lang_list_class li:hover,
body .custom-menu-primary .submenu.level-2 .triangle-container.level-2.hover .triangle,
.language-switcher ul li a:hover{
  background-color: rgba({{ theme.header.child_menu_link_hover_background_color.color|convert_rgb }}, {{ theme.header.child_menu_link_hover_background_color.opacity * 0.01 }});
  color: rgba({{ theme.header.child_menu_link_hover_color.color|convert_rgb }}, {{ theme.header.child_menu_link_hover_color.opacity * 0.01 }});
}

body .custom-menu-primary .submenu.level-2 .menu-item .menu-link.active-branch,
body .custom-menu-primary .submenu.level-2 .menu-item a.menu-link.active-item{
  color: rgba({{ theme.header.active_child_menu_link_color.color|convert_rgb }}, {{ theme.header.active_child_menu_link_color.opacity * 0.01 }});
  background-color: rgba({{ theme.header.active_child_menu_link_background_color.color|convert_rgb }}, {{ theme.header.active_child_menu_link_background_color.opacity * 0.01 }});
}

.header__language-switcher-label-current:after {
  border-top-color: rgba({{ theme.header.menu_link_color.color|convert_rgb }}, {{ theme.header.menu_link_color.opacity * 0.01 }});
}


@media(min-width: 1024px) {
  body .custom-menu-primary nav > ul > li.has-submenu>a[aria-expanded="true"]{
    color: rgba({{ theme.header.active_menu_link_color.color|convert_rgb }}, {{ theme.header.active_menu_link_color.opacity * 0.01 }});
  }
  body .custom-menu-primary nav > ul > li.has-submenu>a[aria-expanded="true"]:after{
    border-color: rgba({{ theme.header.active_menu_link_color.color|convert_rgb }}, {{ theme.header.active_menu_link_color.opacity * 0.01 }});
  }
}

@media(max-width: 767px) {
  .header__navigation {
    background-color: rgba({{ theme.header.background_color.color|convert_rgb }}, {{ theme.header.background_color.opacity * 0.01 }});
  }

  .header__navigation-toggle svg,
  .menu-arrow svg {
    fill: rgba({{ theme.header.menu_link_color.color|convert_rgb }}, {{ theme.header.menu_link_color.opacity * 0.01 }});
  }
}

{###########################################################################}
{################################   _blog   ################################}
{###########################################################################}

.content-wrapper {
  max-width: {{ theme.spacing.max_width }}px;
}

.blog-post__date {
  border-color: var(--shark);
}

.blog-tag-filter__menu-link,
.blog-post__tag-link,
.blog-card__tag-link,
.blog-post__author-name,
.blog-card__title a {
  color: var(--shark);
}

.blog-card__tag-link:hover,
.blog-card__title a:hover,
.blog-tag-filter__menu-link:hover,
.blog-post__tag-link:hover,
.blog-post__author-name:hover,
.blog-card__tag-link:focus,
.blog-card__title a:focus,
.blog-tag-filter__menu-link:focus,
.blog-post__tag-link:focus,
.blog-post__author-name:focus {
  color: var(--woodsmoke);
}

.blog-card__tag-link:active,
.blog-card__title a:active,
.blog-tag-filter__menu-link:active,
.blog-post__tag-link:active,
.blog-post__author-name:active {
  color: var(--mid-gray);
}

.blog-tag-filter__menu-link--active-item:after {
  background-color: {{ theme.global_colors.primary_color.color }};
}

.blog-pagination__link {
  color: var(--shark);
}

.blog-pagination__link--active:after,
.blog-pagination__prev-link:after,
.blog-pagination__next-link:after {
  background-color: {{ theme.global_colors.primary_color.color }};
}

.blog-post__title {
  color: {{ h2_color }};
  font-family:{{ h2_font }};
  font-size: {{ h2_size }}px;
  font-weight: {{ theme.typography.h2_font_weight }};
}

.blog-post__author {
  background-color: {{ theme.global_colors.secondary_color.color }};
}

#comments-listing .comment-reply-to {
  color: rgba({{ theme.typography.color|convert_rgb }}, {{ theme.typography.opacity * 0.01 }});
}

#comments-listing .comment-reply-to:hover,
#comments-listing .comment-reply-to:focus {
  color: rgba({{ color_variant(theme.typography.color, -40)|convert_rgb }}, {{ theme.typography.opacity * 0.01 }});
}

#comments-listing .comment-reply-to:active {
  color: rgba({{ color_variant(theme.typography.color, 40)|convert_rgb }}, {{ theme.typography.opacity * 0.01 }});
}

{###########################################################################}
{###########################   _system_pages   #############################}
{###########################################################################}


{###########################################################################}
{##############################   _modules   ###############################}
{###########################################################################}

body .icon svg {
  fill: {{ theme.global_colors.primary_color.color }};
}

body .tns-nav button.tns-nav-active {
  background-color: {{ theme.global_colors.primary_color.color }};
}

body .tns-nav button:hover,
body .tns-nav button:focus {
  background-color: {{ theme.global_colors.primary_color.color }};
}

body .social-links__icon {
  background-color: {{ theme.global_colors.primary_color.color }};
}

body .social-links__icon:hover svg,
body .social-links__icon:focus svg {
  fill: rgba({{ color_variant(theme.typography.color, -40)|convert_rgb }}, {{ theme.typography.opacity * 0.01 }});
}

body .social-links__icon:active svg {
  fill: rgba({{ color_variant(theme.typography.color, 40)|convert_rgb }}, {{ theme.typography.opacity * 0.01 }});
}

body .team-member__descripxion {
  background-color: {{ theme.global_colors.secondary_color.color }};
}

{###########################################################################}
{##############################   _overrides  ###############################}
{###########################################################################}

.hide {
    display: none;
}

.cm-training-card__secondary-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 20px 25px 40px;
    margin-bottom: 25px;
}


.cm-training-card:not(.cm-training-card--featured) .cm-training-card__primary-content {
    padding-bottom: 16px;
    padding-top: 25px;
}

@media (max-width: 767px) {
  .cm-training-card-group.mobile-slider .cm-training-inner-card {
      display: flex;
      flex-direction: column;
      box-shadow: rgba(0,0,0,0.16) 0 0 8px;
      width: 100%;
      margin-left: 0;
      height: calc(75vh - 60px);
  }
}