/* ******************************************************************************
*********************************************************************************
Use this file to override any of the CSS styles preset in the themed
stylesheets or you can add your own custom styles.
*********************************************************************************
****************************************************************************** */

{% import './utils/utils.css' as utils %}

{## Table of contents

  1. _dnd_areas
  2. _forms
  3. _tables
  4. _blog
  5. _modules

##}

{###########################################################################}
{##############################   _dnd_areas   #############################}
{###########################################################################}

.region .dnd-section:first-of-type {
  padding-top: 0;
}

.region .dnd-section:last-of-type {
  padding-bottom: 0;
}

.region .dnd-section + .dnd-section {
  margin-top: var(--space-5);
}

{% call utils.medium() %}
  .region .dnd-section + .dnd-section {
    margin-top: var(--space-6);
  }
{% endcall %} 

{% call utils.large_and_extra_large() %}
  .region .dnd-section + .dnd-section {
    margin-top: var(--space-7);
  }
{% endcall %} 

.dnd-section > .row-fluid {
  max-width: {{ theme.spacing.max_width }}px;
}

.dnd-section .widget-type-rich_text ul {
  margin-inline-start: 1em;
}

{###########################################################################}
{###############################   _forms    ###############################}
{###########################################################################}

form,
.submitted-message {
  font-family: {{ body_font }};
  background-color: rgba({{ theme.forms.form_background_color.color|convert_rgb }}, {{ theme.forms.form_background_color.opacity * 0.01 }});
}

h3.form-title {
  background-color: rgba({{ theme.forms.header_background_color.color|convert_rgb }}, {{ theme.forms.header_background_color.opacity * 0.01 }});
  color: rgba({{ theme.forms.header_text_color.color|convert_rgb }}, {{ theme.forms.header_text_color.opacity * 0.01 }});
}

.hs-button,
.button--primary {
  background-color: rgba({{ theme.buttons.background_color.color|convert_rgb }}, {{ theme.buttons.background_color.opacity * 0.01 }});
  border-color: rgba({{ theme.buttons.border_color.color|convert_rgb }}, {{ theme.buttons.border_color.opacity * 0.01 }});
  border-radius: {{ theme.buttons.border_radius }}px;
  border-width: {{ theme.buttons.border_width }}px;
  color: rgba({{ theme.buttons.text_color.color|convert_rgb }}, {{ theme.buttons.text_color.opacity * 0.01 }});
  padding-left: {{ theme.buttons.horizontal_padding }}px;
  padding-right: {{ theme.buttons.horizontal_padding }}px;
  padding-top: {{ theme.buttons.vertical_padding }}px;
  padding-bottom: {{ theme.buttons.vertical_padding }}px;
}

.hs-button:hover,
.hs-button:focus,
.button--primary:hover,
.button--primary:focus {
  background-color: rgba({{ theme.buttons.background_hover_color.color|convert_rgb }}, {{ theme.buttons.background_hover_color.opacity * 0.01 }});
  border-color: rgba({{ theme.buttons.background_hover_color.color|convert_rgb }}, {{ theme.buttons.background_hover_color.opacity * 0.01 }});
  color: rgba({{ theme.buttons.text_hover_color.color|convert_rgb }}, {{ theme.buttons.text_hover_color.opacity * 0.01 }});
}

.hs-button:active,
.button--primary:active {
  background-color: rgba({{ color_variant(theme.buttons.background_color.color, 40)|convert_rgb }}, {{ theme.buttons.background_color.opacity * 0.01 }});
  border-color: rgba({{ color_variant(theme.buttons.border_color.color, 40)|convert_rgb }}, {{ theme.buttons.border_color.opacity * 0.01 }});
  color: rgba({{ theme.buttons.text_color.color|convert_rgb }}, {{ theme.buttons.text_color.opacity * 0.01 }});
}

.hs-form legend {
  color: rgba({{ theme.forms.help_text_color.color|convert_rgb }}, {{ theme.forms.help_text_color.opacity * 0.01 }});
}
input#hs-pwd-widget-password,
form input,
form select,
form textarea,
.hs-input {
  background-color: rgba({{ theme.forms.field_input_background_color.color|convert_rgb }}, {{ theme.forms.field_input_background_color.opacity * 0.01 }});
  border-color: rgba({{ theme.forms.field_border_color.color|convert_rgb }}, {{ theme.forms.field_border_color.opacity * 0.01 }});
  color: rgba({{ theme.forms.field_input_text_color.color|convert_rgb }}, {{ theme.forms.field_input_text_color.opacity * 0.01 }});
  border-radius: {{ theme.forms.field_border_radius }}px;
}
input#hs-pwd-widget-password:focus,
form input:focus,
form select:focus,
form textarea:focus,
.hs-input:focus {
  border-color: rgba({{ theme.forms.field_focus_border_color.color|convert_rgb }}, {{ theme.forms.field_focus_border_color.opacity * 0.01 }});
}

.hs-input:-moz-placeholder,
.hs-input::-webkit-input-placeholder,
.hs-field-desc,
.hs-dateinput:before,
.hs-richtext {
  color: var(--shark);
}

.hs-richtext {
  font-size: {{ body_size }};
}

.hs-default-font-element,
.hs-main-font-element {
  font-family: {{ body_font }};
}

{###########################################################################}
{###############################   _tables   ###############################}
{###########################################################################}

th,
td {
  background-color: rgba({{ theme.tables.body_background_color.color|convert_rgb }}, {{ theme.tables.body_background_color.opacity * 0.01 }});
  border: 1px solid rgba({{ theme.tables.border_color.color|convert_rgb }}, {{ theme.tables.border_color.opacity * 0.01 }});
  color: rgba({{ theme.tables.body_text_color.color|convert_rgb }}, {{ theme.tables.body_text_color.opacity * 0.01 }});
}

thead th,
thead td {
  background-color: rgba({{ theme.tables.header_background_color.color|convert_rgb }}, {{ theme.tables.header_background_color.opacity * 0.01 }});
  color: rgba({{ theme.tables.header_text_color.color|convert_rgb }}, {{ theme.tables.header_text_color.opacity * 0.01 }});
}

tfoot td {
  background-color: rgba({{ theme.tables.footer_background_color.color|convert_rgb }}, {{ theme.tables.footer_background_color.opacity * 0.01 }});
  color: rgba({{ theme.tables.footer_text_color.color|convert_rgb }}, {{ theme.tables.footer_text_color.opacity * 0.01 }});
}

table,
tbody + tbody {
  border-color: rgba({{ theme.tables.border_color.color|convert_rgb }}, {{ theme.tables.border_color.opacity * 0.01 }});
}

{###########################################################################}
{################################   _blog   ################################}
{###########################################################################}

.content-wrapper {
  max-width: {{ theme.spacing.max_width }}px;
}

{###########################################################################}
{##############################   _modules   ###############################}
{###########################################################################}

body .icon svg {
  fill: {{ theme.global_colors.primary_color.color }};
}

.region .text-and-image__container {
  padding-top: 0;
  padding-bottom: 0;
}