{{ require_css(get_asset_url("../../css/modules/testimonial-slider-type-2.css")) }}

{% if item.image_field.src %}
  {% set sizeAttrs = 'width="{{ item.image_field.width }}" height="{{ item.image_field.height }}"' %}

  {% if item.image_field.size_type == 'auto' %}
    {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}

  {% elif item.image_field.size_type == 'auto_custom_max' %}
    {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ item.image_field.max_width }}px; max-height: {{ item.image_field.max_height }}px"' %}

  {% endif %}
{% endif %}

<div class="custom-testimonial-slider">
  <div class="custom-testimonial-slider__carousel-container">
    <div id="testimonials-carousel" class="custom-testimonial-slider__wrapper  carousel slide" data-ride="carousel">
      <ol class="custom-testimonial-slider__indicators">

        {% for item in module.testimonial_items %}
          <li data-target="#testimonials-carousel" data-slide-to="{{ loop.index - 1}}" class="custom-testimonial-slider__preview {% if loop.index == 1%}active{% endif %}">
            {% if item.image_field.src %}
              <img  class="custom-testimonial-slider__preview-image" src="{{ item.image_field.src }}" alt="{{ item.image_field.alt }}" {{ sizeAttrs }}>
            {% endif %}
          </li>
        {% endfor %}

      </ol>
      <div class="custom-testimonial-slider__inner">

        {% for item in module.testimonial_items %}
          <div class="custom-testimonial-slider__item carousel-item {% if loop.index == 1%}active{% endif %}">
            <div class="custom-testimonial-slider__picture-wrapper">
              <img class="custom-testimonial-slider__picture" src="{{ item.image_field.src }}" />
            </div>
            <div class="custom-testimonial-slider__text-wrapper">
              <div>
                <h3 class="custom-testimonial-slider__name">{{ item.name_ }}</h3>
                <div class="custom-testimonial-slider__underline"></div>
              </div>
              <div class="custom-testimonial-slider__body-text">
                <i class="las la-quote-left"></i>
                  {{ item.quote }}
                <i class="las la-quote-right"></i>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>

<script src="https://www.codurance.com/hubfs/Codurance_September2020/js/popper.min.js"></script>



