<div class="custom-testimonial-slider row">
  <div class="custom-col-lg-9 testimonials-carousel-container">
    <div id="testimonials-carousel" class="carousel slide" data-ride="carousel">
      <ol class="indicators custom-hidden-sm-down">
        {% for item in module.testimonial_items %}
        <li data-target="#testimonials-carousel" data-slide-to="{{ loop.index - 1}}" class="testimonial-preview {% if loop.index == 1%}active{% endif %}">
          {% if item.image_field.src %}
          {% set sizeAttrs = 'width="{{ item.image_field.width }}" height="{{ item.image_field.height }}"' %}
          {% if item.image_field.size_type == 'auto' %}
          {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
          {% elif item.image_field.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ item.image_field.max_width }}px; max-height: {{ item.image_field.max_height }}px"' %}
          {% endif %}
          <img  class="img-responsive" src="{{ item.image_field.src }}" alt="{{ item.image_field.alt }}" {{ sizeAttrs }}>
          {% endif %}
        </li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
        {% for item in module.testimonial_items %}
        <div class="carousel-item {% if loop.index == 1%}active{% endif %}">
          <div class="row">
            <div class="custom-col-lg-4 custom-col-md-4 custom-col-sm-4 custom-hidden-xs-down">
              <div class="testimonial-picture" style="background-image: url('{{ item.image_field.src }}')"></div>
            </div>
            <div class="custom-col-lg-8 custom-col-md-8 custom-col-sm-8 custom-col-xs-8">
              <div>
                <h5 class="h5 mb-1">{{ item.name_ }}</h5>
                <div class="d-inline-block custom-width-60 custom-height-1 custom-bg-orange mb-2"></div>
              </div>
              <div class="quote">
                <div class="curly-quotes">{{ item.quote }}</div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{{ require_js(get_asset_url("../../js/popper.min.js")) }}

  
  
