{% import '../../snippets/button-snippets.html' as snippets %}

{{ require_css(get_asset_url("../../css/modules/software-craftsmanship.css")) }}



{% if module.gradient_background %}
  <div class="cm-software-crafts">
{% endif %}


<div class="cm-software-crafts__content-wrapper">
  
  {% if module.cards_title%}
    <h3 class="cm-software-crafts__cards-title">{{ module.cards_title }}</h3>
  {%endif%}
  
  <div class="cm-software-crafts-group">
  
    {% for item in module.item %}
      <div class="cm-software-crafts__item">
        <div class="cm-software-crafts__image-wrapper" style="background-image:url({{ item.image_field.src }})"></div>
        <div class="cm-software-crafts__inner">
          <div class="cm-software-crafts__info-wrapper">
            <h4 class="cm-software-crafts__title">{{ item.heading }}</h4>
            <div class="cm-software-crafts__body-wrapper">
              <p class="cm-software-crafts__description">{{ item.content }}</p>
            </div>
          </div>
  
          {% set href = item.link_field.url.href %}
          {% set target = "" %}
          {% set rel = "" %}
          {% if item.link_field.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
          {% endif %}
          {% if item.link_field.open_in_new_tab %}
            {% set target = "_blank" %}
          {% endif %}
          {% if item.link_field.no_follow %}
            {% set rel = "nofollow" %}
          {% endif %}
  
          {{snippets.text_cta_right_arrow(
            url=href,
            text=item.button_text,
            classnames="cm-software-crafts__button",
            target=target,
            rel=rel
          )}}
  
        </div>
      </div>
  
    {% endfor %}
  </div>
</div>

{% if module.gradient_background %}
  </div>
{% endif %}

