<!--
templateType: page
isAvailableForNewContent: true
label: Assessment Page
-->

{% extends "./layouts/base.html" %}

{% require_head %}
  <link rel="preload" href="{{ get_asset_url("../css/pages/assessment.css") }}" as="style" />
{% end_require_head %}

{{ require_css(get_asset_url("../css/pages/assessment.css")) }}

{% color "assessment_color" 
  label="Choose the color for the assessment" 
  export_to_template_context=True
%}
{% set assessment_color_code = content.widgets.assessment_color.body.color %}

{% image_src "hero_background_image" 
  label="Choose background image for the hero section" 
  export_to_template_context=True 
%}

{% require_css %}
  <style>
    .gradient-container {
      background: transparent linear-gradient(0deg, {{ assessment_color_code }} 0%, #FF585100 100%) 0% 0% no-repeat padding-box;
    }

    {% if widget_data.hero_background_image.src %}
      .hero {
        background: url({{ widget_data.hero_background_image.src }});
        background-position: center;
        background-size: cover;
      }
    {% endif %}
    
    .solution .features-listing__item,
    .benefits .features-listing__item {
      border-left-color: {{ assessment_color_code }};
    }
  </style>
{% end_require_css %}

{% block body %}

{% boolean "show_testimonials" label='Show testimonials?' value='True' export_to_template_context=True %}
{% boolean "show_case_studies" label='Show case studies?' value='True' export_to_template_context=True %}
{% boolean "show_modules" label='Show modules?' value='True' export_to_template_context=True %}
{% boolean "show_engagement_models" label='Show engagement models?' value='True' export_to_template_context=True %}

<main>
  <section class="hero">
    {% module "hero_content" path="../modules/Text-and-image.module" label="Hero section" %}

    <div class="gradient-container"></div>
  </section>

  <section class="solution region">
		<div class="responsive-page-width lateral-spacing">
      <div class="solution__text-and-image">
        <div class="solution__questions">
          {% module "solution_header" path="@hubspot/header" label="Solution header" extra_classes="solution__header" %}
          {% module "solution_questions" path="../modules/Features-Listing.module" label="Solution questions" %}
        </div>
        {% module "solution_image" 
          path="@hubspot/linked_image" 
          label="Solution image" 
          extra_classes="solution__image" 
        %}
      </div>

      {% module "solution_text" path="@hubspot/text" label="Solution text" extra_classes="solution__text" %}			
		</div>	
  </section>
  
  {% if widget_data.show_modules.value %}
    <section class="modules region">
      {% module "modules_header" path="@hubspot/section_header" label="Modules header" extra_classes="lateral-spacing" %}
      
      <div class="modules__cards-wrapper">
        <div class="modules__cards-background">
          <div class="gradient-container"></div>
        </div>

        {% module "module_cards"
          path="../modules/Simple-Card.module"
          label="Modules listing"
          extra_classes="modules__cards"
        %}
      </div>
    </section>
  {% endif %}

  <section class="benefits region">
    <div class="benefits__wrapper lateral-spacing">
      <div class="benefits__text">
        {% module "benefits_header"
          path="@hubspot/header"
          label="Benefits header"
          extra_classes="benefits__header"
        %}
        {% module "benefits_listing" 
          path="../modules/Features-Listing.module" 
          label="Benefits listing" 
          extra_classes="benefits__listing" 
        %}
      </div>
      {% module "benefits_image"
        path="@hubspot/linked_image"
        label="Benefits image"
        extra_classes="benefits__image"
      %}
    </div>
  </section>

  {% if widget_data.show_testimonials.value %}
    <section class="testimonials">
      {% module "testimonials_listing"
        label="Testimonials"
        path="../modules/Landing Page Modules/LP-testimonial-slider.module"
      %}
    </section>
  {% endif %}

  <section>{% module "cta" path="../modules/LP-cta-block.module" label="CTA" %}</section>

  <section class="how-it-works-section">
    <div class="how-it-works-section__wrapper region">
      {% module "how_it_works_header"
        path="@hubspot/section_header"
        label="How it works header"
        extra_classes="how-it-works-section__header lateral-spacing"
      %}
      {% module "how_it_works" path="../modules/How-It-Works.module" label="How it works steps" %}
      {% module "how_it_works_cta" path="../modules/Text-and-image.module" label="How it works CTA" %}
    </div>
  </section>

  {% if widget_data.show_case_studies.value %}
    <section class="case-studies region">
      {% module "case_studies" 
        label="Case studies list" 
        path="../modules/Case Study Card Collection.module"
      %}
    </section>
  {% endif %}

  {% if widget_data.show_engagement_models.value %}
    <section class="models region">
      {% module "models_header" 
        path="@hubspot/section_header" 
        label="Engagement models header" 
        extra_classes="lateral-spacing" 
      %}
      {% module "engagement_models" path="../modules/Engagement-Models.module" %}
      
      <div class="models__text-container lateral-spacing">
        {% module "models_text"
          path="@hubspot/text"
          label="Engagement models text"
          extra_classes="models__text lateral-spacing"
        %}
      </div>
    </section>
  {% endif %}

  <section>{% module "cta" path="../modules/LP-cta-block.module" label="CTA" %}</section>

  <section class="assessments region">
    {% module "assessments_header" 
      path="@hubspot/header" 
      label="Assessments header" 
      extra_classes="assessments__header lateral-spacing"
    %}

    {% module "assessments_listing" 
      path="../modules/How-It-Works.module" 
      label="Assessments listing" 
      extra_classes="assessments__listing"
    %}

    <div class="gradient-container"></div>
  </section>

  <section class="related-posts region">
    {% module "related_posts_header"
      path="@hubspot/header"
      label="Related posts header"
      extra_classes="related-posts__header lateral-spacing"
    %}
    {% module "related_posts"
      path="../modules/Recent-posts-V2.module"
      label="Related posts"
      extra_classes="related-posts__listing"
    %}
  </section>
      
  <section id="contact-form">
    {% module "contact_form"
      label="Contact form"
      path="../modules/Service-Line-Form.module"
    %}

    <div class="gradient-container"></div>
  </section>
</main>

{% endblock body %}
