<!--
templateType: page
isAvailableForNewContent: true
label: Observability Survey Page ES
-->

{% extends "./layouts/base.html" %}

{% require_head %}
  <link rel="preload" href="{{ get_asset_url("../css/pages/assessment.css") }}" as="style" />
{% end_require_head %}

{{ require_css(get_asset_url("../css/pages/assessment-survey.css")) }}

{% block body %}

<main>
  <section class="hero">
    {% module "hero_content" path="../modules/Text-and-image.module" label="Hero section" %}
  </section>

  <section class="assessment-form lateral-spacing">
    {% module "assessment-form-observability-es" path="../modules/Assessment-Form-Observability-es.module" label="Observability Assessment form ES" %}
  </section>
</main>

{% endblock body %}
