<!--
templateType: page
isAvailableForNewContent: true
label: Become A Craftsperson
-->
{% extends "./layouts/base.html" %}

{% block body %}


<div class="custom-body-container custom-body-container-2 body-container-become-a-craftsperson ">


  {% dnd_area "row1" class='custom-become-a-craftsperson-row1 ', label='Row1' %}
  {% dnd_section vertical_alignment='MIDDLE' %}

  {% end_dnd_section %}
  {% end_dnd_area %}



  {% dnd_area "row2" class='custom-become-a-craftsperson-row2 custom-py-50 custom-section-header-row', label='Row2' %}
  {% dnd_section vertical_alignment='MIDDLE' %}

  {% end_dnd_section %}
  {% end_dnd_area %}


  {% dnd_area "row3" class='custom-become-a-craftsperson-row3 ', label='Row3' %}
  {% dnd_section vertical_alignment='MIDDLE' %}

  {% end_dnd_section %}
  {% end_dnd_area %}

  {% dnd_area "row4" class='custom-become-a-craftsperson-row4 custom-container-wrapper custom-container-row custom-col-width-row custom-py-50 custom-bg-gray-light-v5 custom-section-header-row', label='Row4' %}
  {% dnd_section vertical_alignment='MIDDLE' %}

  {% end_dnd_section %}
  {% end_dnd_area %}

  {% dnd_area "row5" class='custom-become-a-craftsperson-row5  custom-container-wrapper custom-container-row custom-py-50 custom-pb-100 custom-section-header-row', label='Row5' %}
  {% dnd_section vertical_alignment='MIDDLE' %}

  {% end_dnd_section %}
  {% end_dnd_area %}

</div>









{% endblock body %}
