<!--
templateType: page
isAvailableForNewContent: true
label: Become A Craftsperson In Training
-->
{% import './refactor/refactored-pages.html' as refactor %}

{% extends "./layouts/base.html" %}

<head>
  <meta charset="utf-8">
  <title>{{ page_meta.html_title }}</title>
  {% if site_settings.favicon_src %}
  <link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />
  {% endif %}
  <meta name="description" content="{{ page_meta.meta_description }}">
  {{ require_css(get_asset_url("../css/layout.css")) }}
  {{ require_css(get_asset_url("../css/main.css")) }}
  {% if refactor.refactored_pages is containing content.name|striptags|lower %}
    {{ require_css(get_asset_url("../css/main-2021.css")) }}
  {% endif %}

  {{ require_css(get_asset_url("../css/pages/become-a-craftsperson-in-training.css")) }}

  {{ require_js(get_asset_url("../js/main.js")) }}
  {{ standard_header_includes }}
  {{ require_css(get_asset_url("../css/FontAwesome.css")) }}
  {{ require_css(get_asset_url("../css/theme-overrides.css")) }}
</head>

{% block body %}


<div class="body-container-become-craftsperson-in-training ">

  {% dnd_area "row1" class='become-a-craftsperson-in-banner-section', label='Row1' %}
  {% dnd_section vertical_alignment='MIDDLE' %}

  {% end_dnd_section %}
  {% end_dnd_area %}


  {% dnd_area "row2" class='become-a-craftsperson-in-how-work-section', label='Row2' %}
  {% dnd_section vertical_alignment='MIDDLE' %}

  {% end_dnd_section %}
  {% end_dnd_area %}


  {% dnd_area "row3" class='become-a-craftsperson-in-required-skills-section custom-container-wrapper', label='Row3' %}
    {% dnd_section vertical_alignment='MIDDLE' %}

    {% end_dnd_section %}
  {% end_dnd_area %}

  {% dnd_area "row4" class='become-a-craftsperson-in-midpage-banner-section', label='Row4' %}
    {% dnd_section vertical_alignment='MIDDLE' %}

    {% end_dnd_section %}
  {% end_dnd_area %}

  {% dnd_area "row5" class='become-a-craftsperson-in-testimonial-section', label='Row5' %}
    {% dnd_section vertical_alignment='MIDDLE' %}

    {% end_dnd_section %}
  {% end_dnd_area %}

  {% dnd_area "row6" class='become-a-craftsperson-in-interview-process-section', label='Row6' %}
    {% dnd_section vertical_alignment='MIDDLE' %}

    {% end_dnd_section %}
  {% end_dnd_area %}

</div>


{% endblock body %}
