<!--
templateType: blog
isAvailableForNewContent: true
label: Blog Post
-->
{% import '../snippets/button-snippets.html' as snippets %}
{% import '../config/config.html' as config %}

{% set newsletter_copy = config.newsletter_cta[locale] %}
{% set cta_banner = config.blog_banner_cta[locale] %}

{% set isKatalystBlog = blog.name == "Katalyst" %}

{% extends "./layouts/base.html" %}

{{ require_css(get_asset_url("../css/pages/blog-post.css")) }}
{{ require_css(get_asset_url("../css/partials/blog-card.css")) }}
{{ require_css(get_asset_url("../css/partials/social-icons.css")) }}

{% block body %}

  <section
    class="blog-header"
    {% if content.featured_image %}
      style="background-image: url('{{ content.featured_image }}');"
    {% endif %}
  >
    <h1 class="blog-header__title blog-max-width lateral-spacing">
      {{ content.name }}
    </h1>
  </section>
  <section class="blog-meta blog-max-width">
    <div class="blog-meta__inner">
      <div class="blog-meta__info">
      {% if !isKatalystBlog %}
        <span class="info__publish-date">{{ content.publish_date_localized }}</span>

          {% module 'Date Picker' 
                      module_id='date-picker', 
                      path='../modules/Date-Picker.module',
                      label="Updated date",
                      no_wrapper=True
          %}
      {% endif %}

      </div>
      {% if content.tag_list %}
      <ul class="blog-meta__tag-list {% if isKatalystBlog %}tag-list--katalyst{% endif %}">
          {% for tag in content.tag_list %}
            <li class="blog-meta__tag-item">
              <a class="tags" href="{{ blog_tag_url(group.id, tag.slug) }}"
                >{{ tag.name }}</a
              >
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </section>
  <section class="blog-author-info blog-max-width">
    <div class="blog-author-info__text-container">
      {# Where No Author Avatar Exists Enter Name -
      http://codurance-azurewebsites-net-3042464.hs-sites.com/publications/2020/05/20/promises-and-lies?hs_preview=AUgGVFjm-35494023046
      -
      http://codurance-azurewebsites-net-3042464.hs-sites.com/publications/videos/2012-12-01-ugtastic-interviews-sandro-mancuso-2012
      #}
      {% if content.blog_post_author.avatar == NULL ||
      content.blog_post_author.avatar.src == "(unknown)" ||
      content.blog_post_author.avatar == "" %}
        <h2 class="blog-author-info__name">
          {{ content.blog_post_author.display_name }}
        </h2>
            <a
              class="blog-author-info__author-link"
              href="{{ group.absolute_url }}/author/{{ content.blog_post_author.slug }}"
              >
              {% if locale == 'es' %}
                Ver biografía y publicaciones del autor
              {% elif locale == 'pt' %}
                Veja a biografia e as publicações do autor
              {% else %}
                See author's bio and posts
              {% endif %} 
            </a>
      {% else %}
        <div class="blog-author-info__outer">
          {% set avatar_image = resize_image_url(content.blog_post_author.avatar, 70, 70) %}
          <img
            class="blog-author-info__author-image"
            src="{{ avatar_image }}"
            alt="{{ content.blog_post_author.display_name }}"
            loading="lazy"
            width="70"
            height="70"
          />
          <div class="blog-author-info__inner">
            <h2 class="blog-author-info__name">
              {{ content.blog_post_author.display_name }}
            </h2>
            <a
              class="blog-author-info__author-link"
              href="{{ group.absolute_url }}/author/{{ content.blog_post_author.slug }}"
              >
              {% if locale == 'es' %}
                Ver biografía y publicaciones del autor
              {% elif locale == 'pt' %}
                Veja a biografia e as publicações do autor
              {% else %}
                See author's bio and posts
              {% endif %} 
            </a>
          </div>
        </div>
      {% endif %}
    </div>
    <ul class="blog-social-icons__list">
      <li>
        <a
          class="blog-social-icons__icon"
          href="http://www.facebook.com/sharer/sharer.php?u={{ content.absolute_url }}&amp;title={{ page_meta.name }}"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="lab la-facebook-f"></i>
        </a>
      </li>
      <li>
        <a
          class="blog-social-icons__icon"
          href="https://twitter.com/intent/tweet?text={{ page_meta.name }}&amp;url={{ content.absolute_url }}&amp;hashtags=specialist expertise,metrics,automation,Technical Debt,silos"
          target="_blank"
          rel="noopener noreferrer"
        >
        <img class="custom-our-people-modal__social-icon twitter-x-logo" 
          src="https://3042464.fs1.hubspotusercontent-na1.net/hubfs/3042464/Logos/Social%20icons_logo_X_shark.svg"  width="auto" alt="Twitter X logo" 
          loading="lazy"
          height="20"
          width="20"
        />
        </a>
      </li>
      <li>
        <a
          class="blog-social-icons__icon"
          href="http://www.linkedin.com/shareArticle?mini=true&amp;title={{ page_meta.name }}&amp;summary=&amp;url={{ content.absolute_url }}"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="lab la-linkedin-in"></i>
        </a>
      </li>
      <li>
        <a
          class="blog-social-icons__icon"
          href="http://www.reddit.com/submit?url={{ content.absolute_url }}&amp;title={{ page_meta.name }}"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="lab la-reddit"></i>
        </a>
      </li>
    </ul>
  </section>

  <section class="blog-content blog-max-width">
    {% if content.text_to_audio_file_id != null %}
      {% if locale == "es" %}
        {% set default_intro = "<p>Si en vez de leer prefieres escuchar, dale al play.</p>" %}
      {% else %}
        {% set default_intro = "<p>Prefer listening over reading? Press play and enjoy</p>" %}
      {% endif %}

      {% module "blog_post_intro" 
        path="@hubspot/rich_text" 
        label="Blog post intro" 
        html={{default_intro}} 
        extra_classes="blog-content__post-intro" 
      %}
    {% endif %}
    {% module "blog_post_audio" 
      path="@hubspot/blog_audio", 
      overrideable=False,
      extra_classes="blog-content__post-audio" 
    %}
    
    <div class="blog-content__inner">
      {{ content.post_body }}
    </div>
  </section>

  <section class="blog-banner blog-max-width" aria-label="Newsletter" >
    {% choice "CTA_or_newsletter_form" 
      label='Choose between CTA banner and Newsletter form', 
      value='Newsletter-Form', 
      choices='Newsletter-Form, Cloud, Compass, Contact-Us, Software-Modernisation, Custom', 
      export_to_template_context=True 
    %}

    {% set cta_or_newsletter = widget_data.CTA_or_newsletter_form.value %}

    {% if cta_or_newsletter == "Newsletter-Form" %}
      {% module 'newsletter_form_card'
        path='../modules/Newsletter-Form-Card.module',
        label="Newsletter Form card", 
        no_wrapper=True,
        title="{{ newsletter_copy.pending.header }}",
        subtitle="{{ newsletter_copy.pending.text }}",
        newsletter_form={ form_id: "{{ newsletter_copy.form_id }}", message: "{{ newsletter_copy.success_text }}" }
      %}
    {% else %}
      {% cta 'cta_banner' label='CTA Banner' guid='{{cta_banner[cta_or_newsletter]}}' no_wrapper=True %}
    {% endif %}
  </section>
  
  {% include "./partials/related-posts.html" %}

  {% module "newsletter_footer_form",
    path="../modules/Newsletter Footer Form.module",
    label="Newsletter footer form", 
    title="{{ newsletter_copy.pending.header }}",
    subtitle="{{ newsletter_copy.pending.text }}",
    sign_up_form={ form_id: "{{ newsletter_copy.form_id }}", message: "{{ newsletter_copy.success_text }}" },
    no_wrapper=True
  %}

  {% if locale != "es" %}
    {% module "newsletter_exit_popup"
      path="../modules/Newsletter Exit Popup.module",
      label="Newsletter exit popup", 
      title="{{ newsletter_copy.pending.header }}",
      subtitle="{{ newsletter_copy.pending.text }}",
      sign_up_form={ form_id: "{{ newsletter_copy.form_id }}", message: "{{ newsletter_copy.success_text }}" },
      no_wrapper=True
    %}
  {% endif %}
{% endblock body %}
