<!--
templateType: page
isAvailableForNewContent: true
label: Careers
-->
{% extends "./layouts/base.html" %}

<head>
  <meta charset="utf-8">
  <title>{{ page_meta.html_title }}</title>
  {% if site_settings.favicon_src %}
  <link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />
  {% endif %}
  <meta name="description" content="{{ page_meta.meta_description }}">
  {{ require_css(get_asset_url("../css/layout.css")) }}
  {{ require_css(get_asset_url("../css/main.css")) }}
  {{ require_css(get_asset_url("../css/base/base-styles.css")) }}


  {{ require_css(get_asset_url("../css/pages/careers.css")) }}

  {{ require_js(get_asset_url("../js/main.js")) }}
  {{ standard_header_includes }}
  {{ require_css(get_asset_url("../css/FontAwesome.css")) }}
  {{ require_css(get_asset_url("../css/theme-overrides.css")) }}
</head>

{% block body %}


<div class="body-container-career">


  {% dnd_area "row1" class='custom-career-page-header-section', label='Row1' %}
  {% dnd_section vertical_alignment='MIDDLE' %}

  {% end_dnd_section %}
  {% end_dnd_area %}


  {% dnd_area "row2" class='custom-career-about-us-section custom-container-wrapper custom-col-width-row custom-section-header-row', label='Row2' %}
  {% dnd_section vertical_alignment='MIDDLE' %}

  {% end_dnd_section %}
  {% end_dnd_area %}


  {% dnd_area "row3" class='custom-career-about-you-section custom-container-wrapper custom-container-row custom-col-width-row custom-section-header-row', label='Row3' %}
  {% dnd_section vertical_alignment='MIDDLE' %}

  {% end_dnd_section %}
  {% end_dnd_area %}

<div id="our_roles">
    {% dnd_area "row4" class='custom-career-our-roles-section custom-container-wrapper custom-container-row custom-col-width-row custom-section-header-row', label='Row4' %}
  {% dnd_section vertical_alignment='MIDDLE' %}

  {% end_dnd_section %}
  {% end_dnd_area %}

  </div>
   {% dnd_area "row5" class='custom-career-life-codurance-section custom-container-row custom-col-width-row custom-section-header-row', label='Row5' %}
  {% dnd_section vertical_alignment='MIDDLE' %}

  {% end_dnd_section %}
  {% end_dnd_area %}

   {% dnd_area "row6" class='custom-career-questions-section  custom-container-row custom-col-width-row custom-section-header-row', label='Row6' %}
  {% dnd_section vertical_alignment='MIDDLE' %}

  {% end_dnd_section %}
  {% end_dnd_area %}

</div>


{% endblock body %}
