<!--
templateType: page
isAvailableForNewContent: true
label: Careers
-->
{% extends "./layouts/base.html" %}

{% block body %}


<div class="custom-body-container custom-body-container-2 body-container-career">


  {% dnd_area "row1" class='custom-career-row1', label='Row1' %}
  {% dnd_section vertical_alignment='MIDDLE' %}

  {% end_dnd_section %}
  {% end_dnd_area %}
  
  
  {% dnd_area "row2" class='custom-career-row2 custom-container-wrapper custom-col-width-row custom-py-50 custom-bg-gray-light-v5 custom-section-header-row', label='Row2' %}
  {% dnd_section vertical_alignment='MIDDLE' %}

  {% end_dnd_section %}
  {% end_dnd_area %}
  
  
  {% dnd_area "row3" class='custom-career-row3 custom-py-50 custom-container-wrapper custom-container-row custom-col-width-row custom-section-header-row', label='Row3' %}
  {% dnd_section vertical_alignment='MIDDLE' %}

  {% end_dnd_section %}
  {% end_dnd_area %}
  
<div id="our_roles">
    {% dnd_area "row4" class='custom-career-row4 custom-bg-gray-light-v5 custom-py-50 custom-container-wrapper custom-container-row custom-col-width-row custom-section-header-row', label='Row4' %}
  {% dnd_section vertical_alignment='MIDDLE' %}

  {% end_dnd_section %}
  {% end_dnd_area %}
  
  </div>
   {% dnd_area "row5" class='custom-career-row5  custom-py-50 custom-container-row custom-col-width-row custom-section-header-row', label='Row5' %}
  {% dnd_section vertical_alignment='MIDDLE' %}

  {% end_dnd_section %}
  {% end_dnd_area %}
  
   {% dnd_area "row6" class='custom-career-row6 custom-bg-gray-light-v5 custom-container-row custom-col-width-row custom-section-header-row', label='Row6' %}
  {% dnd_section vertical_alignment='MIDDLE' %}

  {% end_dnd_section %}
  {% end_dnd_area %}

</div>


{% endblock body %}
