<!--
templateType: page
isAvailableForNewContent: true
label: Careers v2

-->
{% extends "./layouts/base.html" %}

{{ require_css(get_asset_url("../css/pages/careers-v2.css")) }}


{% block body %}

<main class="careers-container">
  <section class="careers-hero">
    <div class="careers-hero__container">
        <div class="careers-hero__text">
          {% module 'rich_text' 
              html="
              <h1>Careers</h1>
              <h2>Codurance equips you with the tools, support and professional development opportunities to advance your career and become a master of your craft.</h2>
              <p>By joining you get the opportunity to work as part of a high performing multifunctional team on a variety of challenging and rewarding projects.</p>
              ",
              path='@hubspot/rich_text'%}
        </div>
          <div class="careers-hero__image">
          {% module 'linked_image',
                path="@hubspot/linked_image",
                img={
                  "src": "https://f.hubspotusercontent10.net/hubfs/3042464/Careers%20Page/Overview/header-image-XL-careers-overview.png",
                  "width": auto,
                },
                label="Hero Image", 
                no_wrapper=True        
          %}
        </div>
      </div>
  </section>

  <section class="craftspeople-banner">
    {% module 'Craftspeople Banner' path='../modules/LP-cta-block.module' label="Why we call our..." %}
  </section>

  <section class="why-join-us">
    {% module 'Why join us' 
        path='../modules/Text-and-image.module' 
        label="Why join us section" 
    %}
  </section>

  <section class="testimonials">
    {% module 'testimonials' label="Testimonials Video"  class="video__embeded" path='../modules/Embedded Video.module'%}
  </section>

  <section class="academy-training">
    {% module 'academy' path='../modules/Text-and-image.module' label="Academy Training section" %}
  </section>

  <section class="locations">
    <div class="locations__container">
      {% module 'Locations' path='../modules/Locations.module' label="Locations Section"  no_wrapper=True %}
    </div>
  </section>

  <section class="benefits">
    {% module "Benefits" label="Benefits Section" path='../modules/Benefits.module' no_wrapper=True %}
  </section>

  <section class="current-roles-cta cta-light">
    {% module 'Current roles CTA light' path='../modules/LP-cta-block.module' label="Current Roles CTA (light)" %}
  </section>

  <section class="video" >
      <div class="video-wrapper">
        <div class="video__title">
          {% module 'text' label="Video title" path='@hubspot/text'%}
        </div>
        <div class="video__embed">
          {% module 'video' label="Embeded Video", video_type="embed", class="video__embeded" path='@hubspot/video'%}
        </div>
      </div>    
  </section>

  <section class="life-codurance">
    <div class="life-codurance__container">
      <div class="life-codurance__content">
        <h2 class="life-codurance__title">
          {% module 'text title' path="@hubspot/text" label="Title Life at Codurance" no_wrapper=True%}
        </h2>
        <p class="life-codurance__subtitle">
          {% module 'text subtitle' path="@hubspot/text" label="Subtitle Life at Codurance" no_wrapper=True%}
        </p>
      </div>
      {% module 'Software-craftsmanship-V2' path='../modules/Software-craftsmanship-V2.module' label="Life at Codurance" no_wrapper=True%}
    </div>
  </section>
  
   <section class="current-roles-cta cta-dark">
    {% module 'current roles cta dark' path='../modules/LP-cta-block.module' label="Current Roles CTA (dark)" %}
  </section>
</main>


{% endblock body %}
