
<!--
templateType: page
isAvailableForNewContent: true
label: NEW Case Study Template
-->


{% extends "./layouts/base.html" %}
<head>
  <meta charset="utf-8">
  <title>{{ page_meta.html_title }}</title>
  {% if site_settings.favicon_src %}
    <link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />
  {% endif %}

  <meta name="description" content="{{ page_meta.meta_description }}">
  {{ require_css(get_asset_url("../css/layout.css")) }}
  {{ require_css(get_asset_url("../css/main.css")) }}
  {{ require_css(get_asset_url("../css/base/base-styles.css")) }}

  {{ require_css(get_asset_url("../css/pages/case-study-template-v2.css")) }}

  {{ require_js(get_asset_url("../js/main.js")) }}
  {{ standard_header_includes }}
  {{ require_css(get_asset_url("../css/FontAwesome.css")) }}
  {{ require_css(get_asset_url("../css/theme-overrides.css")) }}
</head>

{% block body %}

<div class="case-study">

{# Header Section #}
<header class="case-study-header">
  <div class="case-study-header__text-block">
    <span class="case-study-header__tag">
      Case Study
    </span>

    <p class="case-study-header__industry">
      {% module "industry_text" 
        label="Industry Text",
        path="@hubspot/text",
        value="Health Sector" 
        no_wrapper=True 
      %}
    </p>

    {% section_header 'my_section_header' 
      header='ClinicalWorks Transform the Electronic Medical Records Software', 
      subheader='Modernising legacy software through innovative techniques',
      label="Case Study Header",
      no_wrapper=True 
    %}

    {% module 'button_module' 
      path='../modules/button.module', 
      label="Case Study Download", 
      no_wrapper=True 
    %}
  </div>

  {% module 'case_study_icon'
    label="Case Study Icon",
    path='@hubspot/linked_image',
    img={
      "src": "https://www.codurance.com/hubfs/New%20Case%20Study%20Landing%20Pages%20Test/CS_header_icon.png",
      "alt": "Case Study Icon"
    },
    no_wrapper=True 
  %}
</header>
{# End Header Section #}

{# Menu Section #}
<nav class="case-study-menu" role="navigation" aria-label="Secondary Menu">
  {% module_block simple_menu "case_study_menu",
    no_wrapper=True,
    overrideable=True, 
    orientation="horizontal", 
    label="Case Study Menu"
  %}
    {% module_attribute "menu_tree" is_json=True %}
      [{"contentType": null, "subCategory": null, "pageLinkName": null, "pageLinkId": null, "isPublished": false, "categoryId": null, "linkParams": null, "linkLabel": "Anchor 1", "linkTarget": null, "linkUrl": "#anchor-1", "children": [], "isDeleted": false}, 
        {"contentType": null, "subCategory": null, "pageLinkName": null, "pageLinkId": null, "isPublished": false, "categoryId": null, "linkParams": null, "linkLabel": "Anchor 2", "linkTarget": null, "linkUrl": "#anchor-2", "children": [], "isDeleted": false},
        {"contentType": null, "subCategory": null, "pageLinkName": null, "pageLinkId": null, "isPublished": false, "categoryId": null, "linkParams": null, "linkLabel": "Anchor 3", "linkTarget": null, "linkUrl": "#anchor-2", "children": [], "isDeleted": false}
      ]
    {% end_module_attribute %}
  {% end_module_block %}
</nav>
{# End Menu Section #}




{% dnd_area 'main', label="Main Section" %}

  {# Intro Section #}
    {% include_dnd_partial path='./sections/text-module-section.html' context={} %}
  

  {# Video Section  #}
    {% include_dnd_partial path='./sections/video-section.html' context={} %}


  {# Text Section  #}
  {% include_dnd_partial path='./sections/text-module-section.html' context={} %}


  {# Testimonial Section #}
    {% include_dnd_partial path='./sections/testimonial-section.html' context={} %}


{% end_dnd_area %}
</div>  


{% endblock body %}

