
<!--
templateType: page
isAvailableForNewContent: true
label: Case study template
-->
{% extends "./layouts/base.html" %}

{{ require_css(get_asset_url("../css/pages/case-study-template.css")) }}


{% block body %}

<div class="case-study">
  {% module "Main Banner" path="../modules/LP-cta-block", 
          label="" %}
   <section>
     <div class="form__wrapper">
       <div class="form__text">
         {% module "case_study_description" path="@hubspot/rich_text"
             label="Case Study Description" no_wrapper=True %}
       </div>
        <div class="form__fields">
          {% module "form" path="@hubspot/form" %}
        </div>
      </div>
   </section>

   </div>  
{% endblock body %}

