<!--
templateType: page
isAvailableForNewContent: true
label: CIP (Continuous Improvement Program) Page
-->

{% extends "./layouts/base.html" %}

{{ require_css(get_asset_url("../css/pages/cip.css")) }}

{% block body %}

<main>
  <section class="hero region">
    {% module "hero_content" path="../modules/Text-and-image.module" %}
  </section>
  
  <section class="infographic region responsive-page-width lateral-spacing">
    {% module "infographic" path="../modules/CIP-Infographic.module" %}
  </section>
</main>

{% endblock body %}
