<!--
templateType: page
isAvailableForNewContent: true
label: CIP (Continuous Improvement Program) Page
-->

{% extends "./layouts/base.html" %}

{{ require_css(get_asset_url("../css/pages/cip.css")) }}

{% block body %}

<main>
  <section class="hero region">
    {% module "hero_content" path="../modules/Text-and-image.module" %}
  </section>
  
  <section class="infographic region responsive-page-width lateral-spacing">
    <figure>
      <img src="https://3042464.fs1.hubspotusercontent-na1.net/hubfs/3042464/Service%20Line%20Pages/Packaged%20Solutions/CIP%20Page/CIP_graphic.svg" />
      <span class="tooltip">1</span>
      <span class="tooltip">2</span>
      <span class="tooltip">3</span>
      <span class="tooltip">4</span>
      <span class="tooltip">5</span>
      <span class="tooltip">6</span>
      <span class="tooltip">7</span>
    </figure>
  </section>
</main>

{% endblock body %}
