<!--
templateType: page
isAvailableForNewContent: true
label: Clients
-->
{% extends "./layouts/base.html" %}

{{ require_css(get_asset_url("../css/pages/clients.css")) }}

{% block body %}
    <section>
      {% module "page_hero_slice" path="../modules/Hero Slice.module" label="Hero Slice" no_wrapper=True %}
    </section>
    
    <section>
      {% module "filtered_clients" path="../modules/Filtered Clients.module"
        label="Filtered Clients" no_wrapper=True %}
    </section>
{% endblock body %}
