<!--
templateType: page
isAvailableForNewContent: true
label: Contact Us Page
-->
{% extends "./layouts/base.html" %}

{{ require_css(get_asset_url("../css/pages/contact-us.css")) }}


{% block body %}
<div class="hs-contact-us-layout">
  <main class="body-container-wrapper">
  <section>
  {% module "simple-hero-slice" path="../modules/simple-hero-slice.module" label="" no_wrapper=True %}
  </section>
    {% dnd_area "dnd_area1" class='hs-contact-us-section1', label='Section 1' %}
    {% end_dnd_area %}
    <div class="hs-get-in-touch-section" id="get-in-touch">
      {% dnd_area "dnd_area4" class='hs-contact-us-section2', label='Section 2' %}
      {% end_dnd_area %}
    </div>
  </main>
</div>
{% endblock body %}
