<!--
templateType: page
isAvailableForNewContent: true
label: Contact Us Page
-->
{% import './refactor/refactored-pages.html' as refactor %}

{% extends "./layouts/base.html" %}

<head>
  <meta charset="utf-8">
  <title>{{ page_meta.html_title }}</title>
  {% if site_settings.favicon_src %}
  <link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />
  {% endif %}
  <meta name="description" content="{{ page_meta.meta_description }}">
  {{ require_css(get_asset_url("../css/layout.css")) }}
  {{ require_css(get_asset_url("../css/main.css")) }}
  {% if refactor.refactored_pages is containing content.name|striptags|lower %}
    {{ require_css(get_asset_url("../css/main-2021.css")) }}
  {% endif %}

  {{ require_css(get_asset_url("../css/pages/contact-us.css")) }}

  {{ require_js(get_asset_url("../js/main.js")) }}
  {{ standard_header_includes }}
  {{ require_css(get_asset_url("../css/FontAwesome.css")) }}
  {{ require_css(get_asset_url("../css/theme-overrides.css")) }}
</head>

{% block body %}
<div class="hs-contact-us-layout">
  <main class="body-container-wrapper">
    {% dnd_area "dnd_area1" class='hs-contact-us-section1', label='Section 1' %}
    {% end_dnd_area %}
    <div class="hs-get-in-touch-section" id="get-in-touch">
      {% dnd_area "dnd_area4" class='hs-contact-us-section2', label='Section 2' %}
      {% end_dnd_area %}
    </div>
  </main>
</div>
{% endblock body %}
