<!--
templateType: page
isAvailableForNewContent: true
label: Cookies Website page
-->
{% extends "./layouts/base.html" %}

<head>
  <meta charset="utf-8">
  <title>{{ page_meta.html_title }}</title>
  {% if site_settings.favicon_src %}
    <link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />
  {% endif %}

  <meta name="description" content="{{ page_meta.meta_description }}">
  {{ require_css(get_asset_url("../css/layout.css")) }}
  {{ require_css(get_asset_url("../css/main.css")) }}
  {{ require_css(get_asset_url("../css/main-2021.css")) }}

  {{ require_css(get_asset_url("../css/pages/cookie-policy.css")) }}
  {{ require_js(get_asset_url("../js/main.js")) }}
  {{ standard_header_includes }}
  {{ require_css(get_asset_url("../css/FontAwesome.css")) }}
  {{ require_css(get_asset_url("../css/theme-overrides.css")) }}
</head>

{% block body %}
<div class="body-container-cookie-policy">
  {% dnd_area "row1" class='custom-events-row1', label='Row1' %}
    {% dnd_section vertical_alignment='MIDDLE' %}

    {% end_dnd_section %}
  {% end_dnd_area %}

  {% dnd_area "row2" class='custom-cookie-policy-header-section', label='Row2' %}
    {% dnd_section vertical_alignment='MIDDLE' %}

    {% end_dnd_section %}
  {% end_dnd_area %}

  {% dnd_area "row3" class='custom-cookie-policy-cookie-details-section', label='Row3' %}
    {% dnd_section vertical_alignment='MIDDLE' %}

    {% end_dnd_section %}
  {% end_dnd_area %}
</div>
{% endblock body %}
