<!--
    templateType: page
    isAvailableForNewContent: true
    label: Events
-->
{% extends "./layouts/base.html" %}

{{ require_css(get_asset_url("../css/pages/event-page.css")) }}

{% block body %}

{% module 'youtube_popup' 
  path='../modules/YouTube-Video-Popup.module',
  no_wrapper=True 
%}

{% include "./partials/event-modal.html" %}

<section class="events-header lateral-spacing">
  <div class="events-header-wrapper">
    <div class="events-header__text">
      <h1>{% module 'header_title' path='@hubspot/text' label="Page Hero Title" no_wrapper=True %}</h1>
      <p>{% module 'header_subtitle' path='@hubspot/text' label="Page Hero Subtitle" no_wrapper=True %}</p>
    </div>
    <div class="events-header__image">
      {% module 'header_image' path='@hubspot/image' no_wrapper=True %}
    </div>
  </div>
</section>

<main class="main-container"> 
  <section class="card-slider">
    <div class="card-slider__events-wrapper">
      {% module "events" path="../modules/Upcoming Events Listing.module"
      label="Upcoming Events" %}
    </div>
  </section>

  <section class="card-slider">
    <div class="card-slider__events-wrapper">
      {% module "community_events" path="../modules/Upcoming Events Listing.module"
      label="Community Events" %}
    </div>
  </section>  
  
  <section class="card-slider recent-events-bg">
    <div class="card-slider__events-wrapper">
      {% module "recent_events" path="../modules/Recent-Events-Listing.module"
      label="Recent Events" %}
    </div>
  </section>
</main>

{% endblock body %}
