<!--
    templateType: page
    isAvailableForNewContent: true
    label: Events
-->
{% extends "./layouts/base.html" %}


<head>
  <meta charset="utf-8">
  <title>{{ page_meta.html_title }}</title>
  {% if site_settings.favicon_src %}
  <link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />
  {% endif %}
  <meta name="description" content="{{ page_meta.meta_description }}">
  {{ require_css(get_asset_url("../css/layout.css")) }}
  {{ require_css(get_asset_url("../css/main.css")) }}
  {{ require_css(get_asset_url("../css/base/base-styles.css")) }}

  {{ require_css(get_asset_url("../css/pages/event-page.css")) }}

  {{ require_js(get_asset_url("../js/main.js")) }}
  {{ standard_header_includes }}
  {{ require_css(get_asset_url("../css/FontAwesome.css")) }}
  {{ require_css(get_asset_url("../css/theme-overrides.css")) }}
</head>

{% block body %}

<section class="events-header-slice responsive-page-width ">
  {% module "page_hero_slice" path="../modules/Hero Slice.module" 
  label="Page Hero Slice" no_wrapper=True %}
</section>


<main class="main-container">
    <section class="events-description responsive-page-width">
      <div class="events-description__wrapper">
      {% module "events_description_banner" path="@hubspot/rich_text" 
      label="Events Description" no_wrapper=True %}
      </div>
    </section>
   
     
  <section class="card-slider">
    <div class="card-slider__events-wrapper">
      {% module "events" path="../modules/Upcoming Events Listing.module"
      label="Upcoming Events" no_wrapper=True %}
    </div>
  </section>

  <section class="card-slider">
    <div class="card-slider__events-wrapper">
      {% module "comunity_events" path="../modules/Community-events-listing.module"
      label="Community Events" no_wrapper=True %}
    </div>
  </section>  
  
  <section class="card-slider recent-events-bg">
    <div class="card-slider__events-wrapper">
      {% module "recent_events" path="../modules/Recent-Events-Listing.module"
      label="Recent Events" no_wrapper=True %}
    </div>
  </section>
</main>

{% endblock body %}
