<!--
templateType: page
isAvailableForNewContent: true
label: FAQ template
-->
{% extends "./layouts/base.html" %}

<head>
  <meta charset="utf-8">
  <title>{{ page_meta.html_title }}</title>
  {% if site_settings.favicon_src %}
  <link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />
  {% endif %}
  <meta name="description" content="{{ page_meta.meta_description }}">
  {{ require_css(get_asset_url("../css/layout.css")) }}
  {{ require_css(get_asset_url("../css/main.css")) }}
  {{ require_css(get_asset_url("../css/base/base-styles.css")) }}

  {{ require_css(get_asset_url("../css/pages/faq.css")) }}

  {{ require_js(get_asset_url("../js/main.js")) }}
  {{ standard_header_includes }}
  
</head>


{% block body %}

<section class="faq-header">
    {% include "./partials/header-hero.html" %}
</section>

<main>  

  {% module 'FAQ questions' 
    path="../modules/Accordion.module" 
    label="FAQ questions" 
    no_wrapper=True %}
    
</main>

{% endblock body %}
