<!--
templateType: page
isAvailableForNewContent: true
label: FAQ template
-->
{% extends "./layouts/base.html" %}

{% require_head %}
  <link rel="preload" href="{{ get_asset_url("../css/pages/faq.css") }}" as="style" />
{% end_require_head %}

{{ require_css(get_asset_url("../css/pages/faq.css")) }}

{% block body %}

<section class="faq-header">
    {% include "./partials/header-hero.html" %}
</section>

<main>  

  {% module 'FAQ questions' 
    path="../modules/Accordion.module" 
    label="FAQ questions" 
    no_wrapper=True %}
    
</main>

{% endblock body %}
