<!--
    templateType: page
    label: Service Line Hub Template
    isAvailableForNewContent: true
-->

{% extends "./layouts/base.html" %}

{% require_head %}
  <link rel="preload" href="{{ get_asset_url("../css/pages/hub-page-template.css") }}" as="style" />
{% end_require_head %}

{{ require_css(get_asset_url("../css/pages/hub-page-template.css")) }}

{% block body %}

<section class="hub-header">
  <div class="hub-header__wrapper">
    <h1 class="hub-header__title">{% module 'title' path='@hubspot/text' label="Header Title" no_wrapper=True %}</h1>
    <p class="hub-header__subtitle">
      {% module 'subtitle'  path='@hubspot/text' label="Header Subtitle" no_wrapper=True %}
    </p>
    {% module 'button'  path='../modules/button.module' label="Header button" no_wrapper=True %}
  </div>

  {% module 'links_hub' path="../modules/Links-Hub.module" label="Hub Menu" no_wrapper=True %}   
</section>

<main>
  <section class="clients-section">
    {% module "clients_section" path='../modules/Clients-logos.module' label="Clients Section" no_wrapper=True %}
  </section>
  
  {% include "./partials/feature-section.html" %}
  
  <section id="form-section" class="form-section">
    {% module "form_section" path='../modules/Service-Line-Form.module' label="Form Section" %}
  </section>
</main>

{% endblock body %}
