<!--
    templateType: page
    label: Service Line Hub Template
    isAvailableForNewContent: true
-->

{% extends "./layouts/base.html" %}

<head>
  <meta charset="utf-8">
  <title>{{ page_meta.html_title }}</title>
  {% if site_settings.favicon_src %}
  <link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />
  {% endif %}
  <meta name="description" content="{{ page_meta.meta_description }}">
  {{ require_css(get_asset_url("../css/layout.css")) }}
  {{ require_css(get_asset_url("../css/main.css")) }}
  {{ require_css(get_asset_url("../css/base/base-styles.css")) }}

  {{ require_css(get_asset_url("../css/pages/homepage-v2.css")) }}

  {{ require_js(get_asset_url("../js/main.js")) }}
  {{ standard_header_includes }}
  {{ require_css(get_asset_url("../css/FontAwesome.css")) }}
  {{ require_css(get_asset_url("../css/theme-overrides.css")) }}
</head>

{% block body %}


<section>
  {% module "clients_section"path='../modules/Clients-logos.module' label="Clients Section" no_wrapper=True %}
</section>
<section>
  {% module "compass_section" path='../modules/Compass.module' label="Compass Section" no_wrapper=True %}
</section>
<section>
  {% module "form_section" path='../modules/Service-Line-Form.module' label="Form Section" %}
</section>

{% endblock body %}
