<!--
templateType: page
isAvailableForNewContent: true
label: Industry Page
-->
{% extends "./layouts/base.html" %}

{{ require_css(get_asset_url("../css/pages/industry.css")) }}

{% block body %}

<section class="header">
  <div class="header__text-container responsive-page-width lateral-spacing">
    <div class="breadcrumbs">
      {% menu "breadcrumbs" 
        label="Breadcrumbs"
        root_type="breadcrumb" 
        no_wrapper=True 
      %}
    </div>

    <div class="header-title">
      {% header "header_title" 
        label="Header Title" 
      %}
    </div>
  </div>

  <div class="header__image-container">
    {% image "header_image"
      label="Header Image"
    %}
  </div>
</section>

<main>
  <section class="above-the-fold">
    {% module "above_the_fold"
      path="../modules/Text-and-image.module" 
      label="Above the fold section"
      no_wrapper=True 
    %}
  </section>

  <section class="case-studies">
    {% dnd_area "case_studies"
      label="Case studies"
    %}
      {% dnd_section %}
        {% dnd_column %}
          {% dnd_row %}

            {% dnd_module path="@hubspot/logo" %}
            {% end_dnd_module %}

          {% end_dnd_row %}
          {% dnd_row %}

            {% dnd_module path="@hubspot/rich_text" %}
            {% end_dnd_module %}

          {% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_section %}
    {% end_dnd_area %}
  </section>

  <section class="promotion">
    {% module "promotion"
      path="../modules/Text-and-image.module" label="Promotional section"
      no_wrapper=True %}
  </section>

  <section class="cta-banner">
    {% module 'cta_banner' label="CTA Banner"
      path='../modules/LP-cta-block.module'
    %}
  </section>
</main>

{% endblock body %}
