<!--
    templateType: page
    isAvailableForNewContent: true
    label: Insights Podcasts
-->

{% extends "./layouts/base.html" %}
{{ require_css(get_asset_url("../css/pages/insights-podcasts.css")) }}

{% block body %}
<main>
  <section class="hero">
    {% include "./partials/header-insights.html" %}
  </section>

  <section class="latest-episode region">
    <div class="latest-episode__wrapper lateral-spacing">
      {% module "latest_episode_header" 
        path="@hubspot/header" 
        label="Latest Episode Header" 
        extra_classes="latest-episode__header" 
      %}
      {% module "latest_episode" 
        path="../modules/Latest-PodBean-Episode" 
        label="Latest Podcast Episode" 
      %}
    </div>
  </section>

  <section class="podcasts-listing region">
    <div class="podcasts-listing__wrapper lateral-spacing">
      {% module 'codurance_talks_header'
        path='../modules/Text-and-image.module'
        label="Codurance Talks Header"
      %}
    </div>
  </section>

  <section class="fireside-chats podcasts-listing region">
  <div class="podcasts-listing__wrapper lateral-spacing">
    {% module 'fireside_chats_header'
      path='../modules/Text-and-image.module'
      label="Fireside Chats Header"
    %}
  </div>
</section>

  {% module "codurance_talks_listing" path="../modules/PodBean-Episodes-Listing" label="Codurance Talks Listing" %}
</main>
{% endblock body %}