<!--
templateType: page
isAvailableForNewContent: true
label: Jetbrains
-->
{% extends "./layouts/base.html" %}

{% block body %}


<div class="custom-body-container custom-body-container-2 body-container-jetbrains content-lg">


  {% dnd_area "row1" class='custom-jetbrains-row1', label='Row1' %}
  {% dnd_section vertical_alignment='MIDDLE' %}

  {% end_dnd_section %}
  {% end_dnd_area %}
  
  
  {% dnd_area "row2" class='custom-jetbrains-row2 custom-container-row margin-bottom-60', label='Row2' %}
  {% dnd_section vertical_alignment='MIDDLE' %}

  {% end_dnd_section %}
  {% end_dnd_area %}
  
  
  {% dnd_area "row3" class='custom-jetbrains-row3 custom-container-wrapper custom-title-v1', label='Row3' %}
  {% dnd_section vertical_alignment='MIDDLE' %}

  {% end_dnd_section %}
  {% end_dnd_area %}
  
  {% dnd_area "row4" class='custom-jetbrains-row4 custom-container-wrapper', label='Row4' %}
  {% dnd_section vertical_alignment='MIDDLE' %}

  {% end_dnd_section %}
  {% end_dnd_area %}

</div>


{% endblock body %}
