<!--
    templateType: page
    isAvailableForNewContent: true
    label: Job Listing Page
-->
{% extends "./layouts/base.html" %}
  
{{ require_css(get_asset_url("../css/pages/job-listing-page.css")) }}


{% block body %}

<section class="job-listing-hero">
  <div class="job-listing-hero__container">
    <div class="job-listing-hero__text">
      {% module_block module "rich_text" path="@hubspot/rich_text" label="Hero Copy" no_wrapper=True %}
          {% module_attribute "html" %}
              <h1>Current Roles</h1>
              <p>If you are passionate about quality software, best practices and want to continuously learn, we want to hear from you.</p>
          {% end_module_attribute %}
      {% end_module_block %} 
    </div>
      <div class="job-listing-hero__image">
      {% module 'linked_image',
            path="@hubspot/linked_image",
            img={
              "src": "https://f.hubspotusercontent10.net/hubfs/3042464/Careers%20Page/Current%20Roles/header-image-XL-careers-current-roles.png"
            },
            label="Hero Image", 
            no_wrapper=True        
      %}
    </div>
  </div>
</section>

<main>
  <section class="locations">
    <div class="locations__container">
      {% module 'locations' path='../modules/locations.module' label="Locations Section" no_wrapper=True%}
    </div>
  </section>
          

  {% if content.widgets.featured_jobs.body.featured_role.hide_module %}
    <section class="featured-job">
      {% module 'featured jobs' path='../modules/Featured-Jobs.module' label="Featured Jobs Section" no_wrapper=True%}
    </section>
  {% endif %}
      
  <section class="job-listing-page-filter ">    
    {% module 'Filtered Jobs' path='../modules/Filtered-Jobs.module' label="Filtered Jobs Section" no_wrapper=True%}
  </section>
    
  <section class="job-listing__cta-block">
    {% module 'CTA block' path='../modules/LP-cta-block.module' label="Cta block section" %}
  </section>
</main>

{% endblock body %}

