<!--
templateType: page
isAvailableForNewContent: true
label: Job Description Page
-->
{% extends "./layouts/base.html" %}

{{ require_css(get_asset_url("../css/pages/job-description-page.css")) }}

{% block header %}
{% endblock header %}

{% block body %}

<div class="job-description-page">
  {% module "job_description_header_banner" path="../modules/Job Description Header Banner.module" label="Page Header" no_wrapper=True %}

  <div class="job-desription-container">
    {% module "job_description_body" path="@hubspot/rich_text" label="Job Description"  %}
  </div>

  <div class="job-button-container">
    {% module "job_description_button" path="../modules/Button.module" label="Button to Application" no_wrapper=True %}
  </div>


</div>


{% endblock body %}
