<!--
    templateType: page
    isAvailableForNewContent: true
    label: Job Listing Page
-->
{% extends "./layouts/base.html" %}


<head>
  <meta charset="utf-8">
  <title>{{ page_meta.html_title }}</title>
  {% if site_settings.favicon_src %}
  <link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />
  {% endif %}
  <meta name="description" content="{{ page_meta.meta_description }}">
  {{ require_css(get_asset_url("../css/layout.css")) }}
  {{ require_css(get_asset_url("../css/main.css")) }}
  {{ require_css(get_asset_url("../css/base/base-styles.css")) }}

  {{ require_css(get_asset_url("../css/pages/job-listing-page.css")) }}

  {{ require_js(get_asset_url("../js/main.js")) }}
  {{ standard_header_includes }}
  {{ require_css(get_asset_url("../css/FontAwesome.css")) }}
  {{ require_css(get_asset_url("../css/theme-overrides.css")) }}

</head>

{% block body %}

<section class="job-listing-hero">
  <div class="job-listing-hero__container">
    <div class="job-listing-hero__text">
      {% module_block module "rich_text" path="@hubspot/rich_text" label="Hero Copy" no_wrapper=True %}
          {% module_attribute "html" %}
              <h1>Current Roles</h1>
              <p>If you are passionate about quality software, best practices and want to continuously learn, we want to hear from you.</p>
          {% end_module_attribute %}
      {% end_module_block %} 
    </div>
      <div class="job-listing-hero__image">
      {% module 'linked_image',
            path="@hubspot/linked_image",
            img={
              "src": "https://f.hubspotusercontent10.net/hubfs/3042464/Careers%20Page/Current%20Roles/header-image-XL-careers-current-roles.png"
            },
            label="Hero Image", 
            no_wrapper=True        
      %}
    </div>
  </div>
</section>

<section class="locations">
      <div class="locations__container">
        {% module 'locations' path='../modules/locations.module' label="Locations Section" no_wrapper=True%}
      </div>
</section>

<main>
  <div class="job-listing-page-cards-container">
    <section class="job-listing-page-cards responsive-page-width lateral-spacing">
     
                
    </section>
  </div>
</main>

{% endblock body %}

