<!--
    templateType: page
    isAvailableForNewContent: true
    label: Job Listing Page
-->
{% extends "./layouts/base.html" %}


<head>
  <meta charset="utf-8">
  <title>{{ page_meta.html_title }}</title>
  {% if site_settings.favicon_src %}
  <link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />
  {% endif %}
  <meta name="description" content="{{ page_meta.meta_description }}">
  {{ require_css(get_asset_url("../css/layout.css")) }}
  {{ require_css(get_asset_url("../css/main.css")) }}
  {{ require_css(get_asset_url("../css/base/base-styles.css")) }}
  {{ require_css(get_asset_url("../css/pages/job-listing-page.css")) }}
  {{ require_css(get_asset_url("../css/pages/job-listing-card.css")) }}

  {{ require_js(get_asset_url("../js/main.js")) }}
  {{ standard_header_includes }}
  {{ require_css(get_asset_url("../css/FontAwesome.css")) }}
  {{ require_css(get_asset_url("../css/theme-overrides.css")) }}
</head>

{% block body %}

  <section class="job-listing-page-header-banner responsive-page-width lateral-spacing">
    {% module "page_header_slice" path="../modules/Header Slice.module" label="Page Header Slice" no_wrapper=True %}
  </section>


<main>
  <section class="job-card">
    {% module "job_listing_card" path="../modules/Job Listing Card.module" label="Job Listing Card" no_wrapper=True %}
  </section>
</main>

{% endblock body %}
