<!--
templateType: blog
isAvailableForNewContent: true
label: Blog Listing
-->
{% extends "./layouts/base.html" %}

{% import '../snippets/button-snippets.html' as snippets %}

{% import '../config/config.html' as config %}
{% set form = config.newsletter_cta.en %}

<head>
  <meta charset="utf-8">
  <title>{{ page_meta.html_title }}</title>
  {% if site_settings.favicon_src %}
  <link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />
  {% endif %}
  <meta name="description" content="{{ page_meta.meta_description }}">
  {{ require_css(get_asset_url("../css/layout.css")) }}
  {{ require_css(get_asset_url("../css/main.css")) }}
  {{ require_css(get_asset_url("../css/base/base-styles.css")) }}

  {{ require_css(get_asset_url("../css/pages/blog-index.css")) }}
  {{ require_css(get_asset_url("../css/partials/blog-card.css")) }}

  {{ require_js(get_asset_url("../js/main.js")) }}
  {{ standard_header_includes }}
  {{ require_css(get_asset_url("../css/FontAwesome.css")) }}
  {{ require_css(get_asset_url("../css/theme-overrides.css")) }}
</head>

{% block body %}
{% if blog_author %}

  {% include "./partials/author-page.html" %}

{% else %}

<div>
	<h3>Difficulty</h3>
	<ul>
		<li>
			<a
                		class="custom-blog-listing__filter-link"
                		href="/katalyst/tag/novice"
                		data-target="blog-index-filter-link"
              	>
                	Novice
              	</a>
		</li>
		<li>
			<a
                		class="custom-blog-listing__filter-link"
                		href="/katalyst/tag/beginner"
                		data-target="blog-index-filter-link"
              	>
                	Beginner
              	</a>
		</li>
		<li>
			<a
                		class="custom-blog-listing__filter-link"
                		href="/katalyst/tag/competent"
                		data-target="blog-index-filter-link"
              	>
                	Competent
              	</a>
		</li>
		<li>
			<a
                		class="custom-blog-listing__filter-link"
                		href="/katalyst/tag/expert"
                		data-target="blog-index-filter-link"
              	>
                	Expert
              	</a>
		</li>
	</ul> 
</div>
<div>
	<h3>Difficulty</h3>
 	<ul>
            <li>
              <a
                class="custom-blog-listing__filter-link"
                href="/katalyst"
                data-target="blog-index-filter-link"
              >
                All
              </a>
            </li>
            <li>
              <a
                class="custom-blog-listing__filter-link"
                href="/katalyst/tag/test-driven-development"
                data-target="blog-index-filter-link"
              >
                Test Driven Development
              </a>
            </li>
            <li>
              <a
                class="custom-blog-listing__filter-link"
                href="/katalyst/tag/data-structures"
                data-target="blog-index-filter-link"
              >
                Data Structures
              </a>
            </li>
            <li>
              <a
                class="custom-blog-listing__filter-link"
                href="/katalyst/tag/object-oriented-design"
                data-target="blog-index-filter-link"
              >
                Object Oriented Design
              </a>
            </li>
            <li>
              <a
                class="custom-blog-listing__filter-link"
                href="/katalyst/tag/algorithm-design"
                data-target="blog-index-filter-link"
              >
                Algorithm Design
              </a>
            </li>
            <li>
              <a
                class="custom-blog-listing__filter-link"
                href="/katalyst/tag/outside-in-tdd"
                data-target="blog-index-filter-link"
              >
                Outside-In TDD
              </a>
            </li>
            <li>
              <a
                class="custom-blog-listing__filter-link"
                href="/katalyst/tag/design-patterns"
                data-target="blog-index-filter-link"
              >
                Design Patterns
              </a>
            </li>
            <li>
              <a
                class="custom-blog-listing__filter-link"
                href="/katalyst/tag/classicist-tdd"
                data-target="blog-index-filter-link"
              >
                Classicist TDD
              </a>
            </li>
            <li>
              <a
                class="custom-blog-listing__filter-link"
                href="/katalyst/tag/property-based-testing"
                data-target="blog-index-filter-link"
              >
                Property Based Testing
              </a>
            </li>
            <li>
              <a
                class="custom-blog-listing__filter-link"
                href="/katalyst/tag/legacy-code"
                data-target="blog-index-filter-link"
              >
                Legacy Code
              </a>
            </li>
          </ul>
</div>

  <div class="custom-blog-listing custom-bg-gray-light-v5">
    <div class="page-center container custom-py-50">
      <div class="masonry-grid row custom-mb-70">
        <div class="masonry-grid-sizer"></div>
        {% for content in contents %}
            <div class="custom-blog-listing__post-wrapper masonry-grid-item" >
              <article class="custom-blog-listing__post">
                {% if content.featured_image %}
                <a href="{{ content.absolute_url }}">
                  <img class="custom-bg-white img-fluid w-100" src="{{ content.featured_image }}" alt="{{ content.name }}">
                </a>
                {% endif %}
                <div class="custom-bg-white custom-pa-30">
                  <ul class="list-inline custom-color-gray-dark-v4 custom-font-weight-600 custom-font-size-12">
                    <li class="list-inline-item mr-0">By {{ content.blog_post_author.display_name }}</li>
                    <li class="list-inline-item mx-2">·</li>
                    <li class="list-inline-item">Posted {{ content.publish_date_localized }}</li>
                  </ul>
                  <h5 class="h5 custom-color-black custom-font-weight-600 mb-4">
                    <a class="custom-blog-listing__title-link" href="{{ content.absolute_url }}">
                      {{ content.name }}</a>
                  </h5>

                  {% if content.tag_list %}
                  <ul class="list-inline custom-font-size-12 mb-0">
                    {% for tag in content.tag_list %}
                    <li class="list-inline-item custom-mb-10">
                      <a class="tags custom-blog-listing__tag" href="{{ blog_tag_url(group.id, tag.slug) }}">{{ tag.name }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </div>
              </article>
            </div>
        {% endfor %}
      </div>

      {% if contents.total_page_count > 1 %}
      <nav class="blog-pagination text-center" role="navigation" aria-label="Pagination Navigation">
        <ul>
        {% set page_list = [-8,-7,-6,-5,-4,-3,-2, -1, 0, 1, 2,3,4,5,6,7,8] %}
        {% if contents.total_page_count - current_page_num == 1 %}{% set offset = -1 %}
        {% elif contents.total_page_count - current_page_num == 0 %}{% set offset = -2 %}
        {% elif current_page_num == 2 %}{% set offset = 1 %}
        {% elif current_page_num == 1 %}{% set offset = 2 %}
        {% else %}{% set offset = 0 %}{% endif %}
        {% if last_page_num %}
          <li class="previous-page-button">
            <a class="u-pagination-v1__item u-pagination-v1-4 custom-brd-gray-light-v3 custom-rounded-50 custom-pa-7-16 custom-hidden-xs-down {{ "blog-pagination__prev-link--disabled" if !last_page_num }}" href="{{ blog_page_link(last_page_num) }}">
              <i class="fa fa-angle-left custom-mr-5"></i>
              Previous
            </a>
          </li>
        {% endif %}
        <div class="pagination-wrapper">
          {% for page in page_list %}
            {% set this_page = current_page_num + page + offset %}
            {% if this_page > 0 and this_page <= contents.total_page_count %}
                <li>
                <a  aria-label="Goto Page {{this_page}}"
                {% if this_page == current_page_num %} 
                  aria-label="Current Page, {{this_page}}"
                  aria-current="true" 
                {% endif %}
                  class="u-pagination-v1__item u-pagination-v1-4 custom-rounded-50 custom-pa-7-14 
                  {{ "u-pagination-v1-4--active" if this_page == current_page_num }}" 
                  href="{{ blog_page_link(this_page) }}">{{ this_page }}</a>
                </li>
            {% endif %}
          {% endfor %}
          {% if contents.total_page_count > 4 %}
              <li><a class="custom-pa-7-14"  rel="noopener noreferrer">...</a></li>
              <li><a aria-label="Goto Last Page" 
                     class="u-pagination-v1__item u-pagination-v1-4 custom-rounded-50 custom-pa-7-14" 
                     href="{{ blog_page_link(contents.total_page_count) }}">{{ contents.total_page_count }}</a></li>
          {% endif %}
        </div>
        {% if next_page_num %}
        <li class="next-page-button">
          <a class="u-pagination-v1__item custom-hidden-xs-down u-pagination-v1-4 custom-brd-gray-light-v3 custom-rounded-50 custom-pa-7-16 
          {{ "blog-pagination__next-link--disabled" if !next_page_num }}" 
          href="{{ blog_page_link(current_page_num + 1) }}">
            Next
            <i class="fa fa-angle-right custom-ml-5"></i>
            </a>
        </li>
        {% endif %}
        </ul>
       </nav> {# end pagination navigation #}
      {% endif %}
    </div>
  </div>

{% endif %}
{{ require_js(get_asset_url("../js/imageLoaded.js")) }}
{{ require_js(get_asset_url("../js/masonary.js")) }}

<script>
  document.onreadystatechange = () => {
    if (document.readyState === 'complete') {
      const masonryGrid = document.querySelector('.masonry-grid');

      const masonryOptions = {
        columnWidth: '.masonry-grid-sizer',
        itemSelector: '.masonry-grid-item',
        percentPosition: true
      };

      const makeMasonry = function() {
        new Masonry(masonryGrid, masonryOptions);
      }

      imagesLoaded( masonryGrid, makeMasonry );
    }
  };
</script>

{% endblock body %}
