<!--
templateType: page
isAvailableForNewContent: true
label: Landing Page With Menu
-->
{% extends "./layouts/base.html" %}

{% set url_redirection = "https://www.codurance.com/" %}               

{% if locale == 'es' %}
    {% set url_redirection = "https://www.codurance.com/es" %} 
{% elif locale == 'pt' %}
    {% set url_redirection = "https://www.codurance.com/pt" %} 
{% endif %}

{{ require_css(get_asset_url("../css/pages/landing-page-template.css")) }}


{% block body %}
    
    <section>
        {% dnd_area "dnd-main-section", label='Main Section' %}
            {% dnd_section max_width=1300  %}
        
            {% end_dnd_section %}   
        {% end_dnd_area %}
    </section>

    <section>
        {% dnd_area "dnd-section1", label='Section 1' %}
            {% dnd_section max_width=1300  %}
                
            {% end_dnd_section %}   
        {% end_dnd_area %}
    </section>

    <section>
        {% dnd_area "dnd-section2", label='Section 2' %}
            {% dnd_section max_width=1300  %}
                
            {% end_dnd_section %}   
        {% end_dnd_area %}
    </section>

    <section>
        {% dnd_area "dnd-section3", label='Section 3' %}
            {% dnd_section max_width=1300  %}
                
            {% end_dnd_section %}   
        {% end_dnd_area %}
    </section>

    <section>
        {% dnd_area "dnd-section4", label='Section 4' %}
            {% dnd_section max_width=1300  %}
                
            {% end_dnd_section %}   
        {% end_dnd_area %}
    </section>

    <section>
        {% dnd_area "dnd-section5", label='Section 5' %}
            {% dnd_section max_width=1300  %}
                
            {% end_dnd_section %}   
        {% end_dnd_area %}
    </section>

{% endblock body %}