<!--
templateType: page
isAvailableForNewContent: true
label: Newsletter Sign Up
-->
{% extends "./layouts/base.html" %}


{% if locale == 'es' %}
    {% set title = "Únete a nuestra newsletter "  %}
    {% set subtitle = "para que podamos hacerte llegar consejos y casos prácticos inspiradores" %}
{% elif locale == 'pt' %}
    {% set title = "Junte-se à nossa newsletter "  %}
    {% set subtitle = "para dicas de especialistas e estudos de caso inspiradores" %}
{% else %}
      {% set title = "Join our newsletter "  %}
      {% set subtitle = "for expert tips and inspirational case studies"%}
    {% endif %}

{{ require_css(get_asset_url("../css/pages/newsletter-sign-up.css")) }}

{% block body %}


<div class="body-container-sign-up">
    <section class="newsletter-sign-up__container">
      <h1 class="newsletter-sign-up-container__title">
        {% module "title" label="Title" path="@hubspot/text" value="{{ title }}" extra_classes="bolded-text" %}
        {% module "subtitle" label="Subtitle" path="@hubspot/text" value="{{ subtitle }}" %}
      </h1>

      <div class="form-wrapper-class"> 
        {% form "email_form" form_to_use="78f833ae-cc13-4e66-b887-6d9e08899522" no_title %} 
      </div>
      <i class="newsletter-sign-up_container__icon las la-envelope"></i>
    </section>
</div>


{% endblock body %}
