<!--
templateType: page
isAvailableForNewContent: true
label: Our People
-->
{% extends "./layouts/base.html" %}

<head>
  <meta charset="utf-8">
  <title>{{ page_meta.html_title }}</title>
  {% if site_settings.favicon_src %}
  <link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />
  {% endif %}
  <meta name="description" content="{{ page_meta.meta_description }}">
  {{ require_css(get_asset_url("../css/layout.css")) }}
  {{ require_css(get_asset_url("../css/main.css")) }}
  {{ require_css(get_asset_url("../css/base/base-styles.css")) }}

  {{ require_css(get_asset_url("../css/pages/our-people.css")) }}

  {{ require_js(get_asset_url("../js/main.js")) }}
  {{ standard_header_includes }}
  {{ require_css(get_asset_url("../css/FontAwesome.css")) }}
  {{ require_css(get_asset_url("../css/theme-overrides.css")) }}
</head>

{% block body %}

  {% set path = request.path|truncate(3, true, '') %}
  {% if path is string_containing 'es' %}
    {% set header_title = 'Nuestro equipo' %}
    {% set footer_heading = 'Buscamos talento' %}
    {% set footer_text = '¿Quieres trabajar con autonomía y tienes el propósito de mejorar día a día en tu carrera profesional? Nos gustaría conocerte y compartir contigo nuestros valores de pragmatismo, profesionalidad y transparencia.' %}
    {% set footer_href = 'https://www.codurance.com/es/careers/' %}    
    {% set footer_cta = 'Infórmate' %}    
  {% else %}
    {% set header_title = 'Our People' %}
    {% set footer_heading = 'We are hiring' %}
    {% set footer_text = 'Are you looking for autonomy, mastery and purpose in your career? We are looking for people that share the same values of pragmatism, professionalism and transparency that we do.' %}
    {% set footer_href = 'https://www.codurance.com/careers/' %}
    {% set footer_cta = 'Learn More' %}
  {% endif %}

  <section>
    {% module "simple-hero-slice" path="../modules/simple-hero-slice.module" label="" no_wrapper=True %}
  </section>

  {% module "our_people" path="../modules/Our People.module"
      label="Our People" no_wrapper=True %}

  <div class="our-people__footer">
    <div class="our-people__footer-wrapper page-center">
      <div class="our-people__hiring-info">
        <h2>{{ footer_heading }}</h2>
        <p>{{ footer_text }}</p>
      </div>
      <a class="button-primary our-people__hiring-cta" href={{ footer_href }}>{{ footer_cta }}</a>
    </div>
  </div>
  
{% endblock body %}
