<!--
templateType: page
isAvailableForNewContent: true
label: Our People
-->
{% extends "./layouts/base.html" %}

{% block body %}


<div class="custom-body-container body-container-our-people">


  {% dnd_area "row1" class='custom-our-people-row1', label='Row1' %}
  {% dnd_section vertical_alignment='MIDDLE' %}

  {% end_dnd_section %}
  {% end_dnd_area %}
  
  
  {% dnd_area "row2" class='custom-our-people-row2 ', label='Row2' %}
  {% dnd_section vertical_alignment='MIDDLE' %}

  {% end_dnd_section %}
  {% end_dnd_area %}
  
  
  {% dnd_area "row3" class='custom-our-people-row3 custom-section custom-color-white custom-container-wrapper custom-container-row ', label='Row3' %}
  {% dnd_section vertical_alignment='MIDDLE' %}

  {% end_dnd_section %}
  {% end_dnd_area %}
  

</div>


{% endblock body %}
