<!--
templateType: page
isAvailableForNewContent: true
label: Our Story
-->
{% extends "./layouts/base.html" %}

{{ require_css(get_asset_url("../css/pages/our-story.css")) }}


{% block body %}
  <div class="our-story-page">
  <section>
  {% module "simple-hero-slice" path="../modules/simple-hero-slice.module" label="" no_wrapper=True %}
  </section>

  <div class="our-story-container">
      {% module "our_story_body" path="@hubspot/rich_text" label="Our Story"  %}
  </div>

</div>


{% endblock body %}
