<!--
templateType: page
isAvailableForNewContent: true
label: Our People
-->
{% extends "./layouts/base.html" %}

{% require_head %}
	<link rel="preload" href="{{ get_asset_url("../css/pages/our-people.css") }}" as="style" />
{% end_require_head %}

{{ require_css(get_asset_url("../css/pages/our-people.css")) }}

{% block body %}
  {% include "./partials/header-hero.html" %}

  <main>
    {% module "our_people_listing" 
      path="../modules/Our-People-Listing.module"
      label="Our People Listing" 
    %}
  </main>

  <section class="cta-to-careers">
    {% module "skinny_banner" 
      path="../modules/LP-cta-block.module"
      label="CTA to careers page" 
    %}
  </section>
  
{% endblock body %}
