<!--
templateType: page
isAvailableForNewContent: true
label: Promotional Landing Page
-->

{% extends "./layouts/base.html" %}

{{ require_css(get_asset_url("../css/pages/promotional-landing.css")) }}

{% require_css %}
	<style>
    body {
      background-color: {% color "background_color" label="Background color", color="#293341", no_wrapper=True %};
      background-image: url({% image_src "background_image" label="Background image", no_wrapper=True %});
    }
	</style>
{% end_require_css %}

{% block header %}
  <div class="header-container">
    <header class="header">
      <div class="cm-header-group">
        <div class="header__wrapper no-navigation">
          <div class="custom-logo">
              <a href={{ url_redirection }}>
                  <img src="https://www.codurance.com/hubfs/raw_assets/public/Codurance_September2020/images/Logo.svg" class="hs-image-widget " style="width:719px;border-width:0px;border:0px;" width="719" alt="Codurance" title="Codurance">
              </a>
          </div>
        </div>
      </div>
    </header>
  </div>
{% endblock header %}

{% block body %}
  <div class="landing-two-col lateral-spacing">
    <div class="landing-two-col__col">   
      {% widget_container "module_1585129544422283" overrideable='True', per_widget_wrapper_html='', wrapping_html='', label='Flexible column' no_wrapper="True" %}

      {% end_widget_container %}
    </div>

    <div class="landing-two-col__col">
      <div class="form-wrapper">
        {% widget_container "module_1585129566593286" overrideable=False, per_widget_wrapper_html='', wrapping_html='', label='Flexible column' no_wrapper="True" %}

        {% end_widget_container %}    
      </div>      
    </div>
  </div>

{% endblock body %}
