<!--
templateType: page
isAvailableForNewContent: true
label: Rainbow roles template
-->
{% extends "./layouts/base.html" %}

{% require_head %}
  <link rel="preload" href="{{ get_asset_url("../css/pages/rainbow-roles.css") }}" as="style" />
{% end_require_head %}

{{ require_css(get_asset_url("../css/pages/rainbow-roles.css")) }}

{% block body %}

<section class="header">
    {% include "./partials/header-hero.html" %}
</section>

<main>  
  <section class="roles">
    {% module 'clickable_listing' path='../modules/Clickable-Listing.module' label="Roles listing" no_wrapper=True %}
  </section>

  <section class="cta">
    {% module 'cta_block' path='../modules/LP-cta-block.module' label="CTA block" %}
  </section>
</main>

{% endblock body %}
