<!--
templateType: page
isAvailableForNewContent: true
label: Services Inner Page
-->
{% extends "./layouts/base.html" %}

{% require_head %}
  <link rel="preload" href="{{ get_asset_url("../css/pages/services-inner.css") }}" as="style" />
{% end_require_head %}

{{ require_css(get_asset_url("../css/pages/services-inner.css")) }}

{% block body %}
<div class="cm-services-inner-layout type1">
  <div class="banner-section">
    {% dnd_area "DND_banner" class='banner-area', label='Banner Section' %}
      {% dnd_section full_width=true %}
        {% dnd_module path='../modules/Advanced Banner', width=12, offset=0, label="" %}
        {% end_dnd_module %}
      {% end_dnd_section %}
    {% end_dnd_area %}
  </div>
  <main class="body-container-wrapper">
    <section>
      {% dnd_area "dnd_area1" label='Section 1' %}
      {% end_dnd_area %}
    </section>

    <section class="working-with-us">
      {% dnd_area "dnd_area2" label='Working with us' %}
      {% end_dnd_area %}
    </section>

    <section>
      {% dnd_area "dnd_area3" label='Section 3' %}
      {% end_dnd_area %}
    </section>

    <section class="section-4">
      {% global_partial path="./partials/partners-section.html" %}
    </section>

    <section class="cm-services-inner-bottom-wrap" id="get-in-touch">
      {% dnd_area "dnd_area5" label='Section 5' %}
      {% end_dnd_area %}
    </section>
  </main>
</div>
{% endblock body %}
