<!--
templateType: page
isAvailableForNewContent: true
label: Software Quality Assessment Packaged Solution Page
-->

{% extends "./layouts/base.html" %}

{{ require_css(get_asset_url("../css/pages/sqa.css")) }}

{% block body %}

<main>
  <section class="hero">
    {% module "hero_content" path="../modules/Text-and-image.module" label="Hero section" %}
  </section>

  <section class="solution"></section>

  <section class="modules"></section>

  <section class="benefits"></section>

  {# CTA #}

  <section class="how-it-works"></section>

  {% module "testimonials" 
    label="Testimonials listing" 
    path="../modules/Landing Page Modules/LP-testimonial-slider.module"
    extra_classes="testimonials-slider"
  %}

  <section class="models"></section>

  {# CTA #}
      
  {% module "contact_form"
    label="Contact form"
    path="../modules/Service-Line-Form.module"
  %}
</main>

{% endblock body %}
