<!--
templateType: page
isAvailableForNewContent: true
label: Software Quality Assessment Packaged Solution Page
-->

{% extends "./layouts/base.html" %}

{{ require_css(get_asset_url("../css/pages/sqa.css")) }}

{% block body %}

<main>
  <section class="hero">
    {% module "hero_content" path="../modules/Text-and-image.module" label="Hero section" %}
  </section>

  <section class="solution region">
		<div class="responsive-page-width lateral-spacing">
      <div class="solution__text-and-image">
        <div class="solution__questions">
          {% module "solution_header" path="@hubspot/header" label="Solution header" extra_classes="solution__header" %}
          {% module "solution_questions" path="../modules/Features-Listing.module" label="Solution questions" %}
        </div>
        {% module "solution_image" 
          path="@hubspot/linked_image" 
          label="Solution image" 
          extra_classes="solution__image" 
        %}
      </div>

      {% module "solution_text" path="@hubspot/text" label="Solution text" extra_classes="solution__text" %}			
		</div>	
  </section>

  <section class="modules region">
    {% module "modules_header" path="@hubspot/section_header" label="Modules header" extra_classes="lateral-spacing" %}
    
    <div class="modules__cards-wrapper">
      <div class="modules__cards-background"></div>
      {% module "module_cards"
        path="../modules/Simple-Card.module"
        label="Modules listing"
        extra_classes="modules__cards"
      %}
    </div>
  </section>

  <section class="benefits region">
    {% module "benefits" path="../modules/Benefits.module" %}
  </section>

  <section>{% module "cta" path="../modules/LP-cta-block.module" label="CTA" %}</section>

  <section class="how-it-works region">
    {% module "how_it_works_header" 
      path="@hubspot/section_header" 
      label="How it works header" 
      extra_classes="how-it-works__header lateral-spacing" 
    %}
    {% module "how_it_works" path="../modules/Interview Process.module" label="How it works steps" %}
    {% module "how_it_works_cta" path="../modules/Text-and-image.module" label="How it works CTA" %} 
  </section>

  {% boolean "show_testimonials" 
    label='Show testimonials?' 
    value='False'
    export_to_template_context=True 
  %}

  {% if widget_data.show_testimonials.value == True %}
    <section class="testimonials">
      {% module "testimonials"
        label="Testimonials listing"
        path="../modules/Landing Page Modules/LP-testimonial-slider.module"
        extra_classes="testimonials-slider"
      %}
    </section>
  {% endif %}

  <section class="models region">
    {% module "models_header" 
      path="@hubspot/section_header" 
      label="Engagement models header" 
      extra_classes="lateral-spacing" 
    %}
    {% module "engagement_models" path="../modules/Engagement-Models.module" %}
    <div class="lateral-spacing">
      {% module "models_text"
        path="@hubspot/text"
        label="Engagement models text"
        extra_classes="models__text"
      %}
    </div>
  </section>

  <section>{% module "cta" path="../modules/LP-cta-block.module" label="CTA" %}</section>
      
  <section id="contact-form">
    {% module "contact_form"
      label="Contact form"
      path="../modules/Service-Line-Form.module"
    %}
  </section>
</main>

{% endblock body %}
