<!--
templateType: page
isAvailableForNewContent: true
label: Software Quality Assessment Packaged Solution Page
-->

{% extends "./layouts/base.html" %}

{{ require_css(get_asset_url("../css/pages/sqa.css")) }}

{% block body %}

<main>
  <section class="hero">
    {% module "hero_content" path="../modules/Text-and-image.module" label="Hero section" %}
  </section>

  <section class="solution region">
		<div class="responsive-page-width lateral-spacing">
			{% module "solution_diagram" path="../modules/Cards-Diagram.module" label="Solution diagram" %}
      {% module "solution_text" path="@hubspot/text" label="Solution text" extra_classes="solution__text" %}			
		</div>	
  </section>

  <section class="modules region">
    {% module "modules_header" path="@hubspot/section_header" label="Modules header" %}          
  </section>

  <section class="benefits region"></section>

  {# CTA #}

  <section class="how-it-works region"></section>

  {% module "testimonials" 
    label="Testimonials listing" 
    path="../modules/Landing Page Modules/LP-testimonial-slider.module"
    extra_classes="testimonials-slider"
  %}

  <section class="models region"></section>

  {# CTA #}
      
  {% module "contact_form"
    label="Contact form"
    path="../modules/Service-Line-Form.module"
  %}
</main>

{% endblock body %}
