<!--
templateType: page
isAvailableForNewContent: true
label: Topic Pillar Page
-->
{% extends "./layouts/base.html" %}

{{ require_css(get_asset_url("../css/pages/topic-pillar-page.css")) }}


{% block body %}

{# This module need refactor to fit our needs #}
{% module "simple_hero_slice" 
  path="../modules/simple-hero-slice.module" label="Header Slice" 
  no_wrapper=True %}

{# Downloadable document section above the fold #}
{% module "above_the_fold" 
  path="../modules/Text-and-image.module" label="Above the fold section" 
  no_wrapper=True %}

{# Demistifying series section #}
{% module "dc_text_and_image" 
  path="../modules/Text-and-image.module" label="Heading Demistifiying" 
  no_wrapper=True %}

{% module "dc_text_and_image" 
  path="../modules/Videos-From-HubDB.module" label="Videos Demistifiying" 
  no_wrapper=True %}

{# CTA banner link section #}
{% module "banner_link" 
  path="../modules/Banner-Link.module" label="Banner Link" 
  no_wrapper=True %}

{# Simple Cards Section with case studies/downloads/articles. A refactor on the module needed #}
{% module "promo_cards" 
  path="../modules/Simple-card.module" label="Promotional cards" 
  no_wrapper=True %}

{# Newsletter Banner form #}
{% module "newsletter_form" 
  path="../modules/Newsletter-Form-Card.module" label="Promotional cards" 
  no_wrapper=True %}


{# Simple Cards Section with case studies/downloads/articles. A refactor on the module needed #}
{% module "promo_cards_2" 
  path="../modules/Simple-card.module" label="Promotional cards 2" 
  no_wrapper=True %}


{# Case Study dedicated cards #}
{% module "case_studies" 
  path="../modules/Case Study Card Collection.module" label="Case Studies" 
  no_wrapper=True %}


{# Form call to action #}
{# Rename the module to be more flexible everywhere #}
{% module "form" 
  path="../modules/Service-Line-Form.module" label="Form" 
  no_wrapper=True %}


{% endblock body %}
