<!--
templateType: page
isAvailableForNewContent: true
label: Training Inner Page
-->
{% import './refactor/refactored-pages.html' as refactor %}

{% extends "./layouts/base.html" %}

<head>
  <meta charset="utf-8">
  <title>{{ page_meta.html_title }}</title>
  {% if site_settings.favicon_src %}
  <link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />
  {% endif %}

  <meta name="description" content="{{ page_meta.meta_description }}">
  {{ require_css(get_asset_url("../css/layout.css")) }}
  {{ require_css(get_asset_url("../css/main.css")) }}

  {% if refactor.refactored_pages is containing content.name|striptags|lower %}
    {{ require_css(get_asset_url("../css/main-2021.css")) }}
  {% endif %}

  {{ require_css(get_asset_url("../css/pages/training-inner.css")) }}
  {{ require_js(get_asset_url("../js/main.js")) }}
  {{ standard_header_includes }}
  {{ require_css(get_asset_url("../css/FontAwesome.css")) }}
  {{ require_css(get_asset_url("../css/theme-overrides.css")) }}
</head>

{% block header %}
{% endblock header %}
{% block body %}
<div class="container">
  <div class="banner-section">
    {% dnd_area "DND_banner" class='', label='Banner Section' %}
    {% dnd_section full_width=true %}
    {% dnd_module path='../modules/Crafting code banner', width=12, offset=0, label="" %}
    {% end_dnd_module %}
    {% end_dnd_section %}   
    {% end_dnd_area %}
  </div>
  <main class="body-container-wrapper">
    {% dnd_area "dnd_area1" class='course-details-section', label='Section 1' %}
    {% end_dnd_area %}
    {% dnd_area "dnd_area2" class='course-instructor-bio-section', label='Section 2' %}
    {% end_dnd_area %}
    {% dnd_area "dnd_area3" class='client-logo-section', label='Section 2' %}
    {% end_dnd_area %}
    <div class="bottom-container" id="get-in-touch">
      {% dnd_area "dnd_area4" class='form-section', label='Section 4' %}
      {% end_dnd_area %}  
    </div>
  </main>
</div>
{% endblock body %}
{% block footer %}
{% global_partial path="./partials/footer_v2.html" %}
{% endblock footer %}
