<!--
templateType: page
isAvailableForNewContent: true
label: Training Page
-->
{% import './refactor/refactored-pages.html' as refactor %}

{% extends "./layouts/base.html" %}

<head>
  <meta charset="utf-8">
  <title>{{ page_meta.html_title }}</title>
  {% if site_settings.favicon_src %}
      <link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />
  {% endif %}

  <meta name="description" content="{{ page_meta.meta_description }}">
  {{ require_css(get_asset_url("../css/layout.css")) }}
  {{ require_css(get_asset_url("../css/main.css")) }}
  {{ require_css(get_asset_url("../css/base/base.css")) }}

  {{ require_css(get_asset_url("../css/pages/training.css")) }}
  {{ require_js(get_asset_url("../js/main.js")) }}
  {{ standard_header_includes }}
  {{ require_css(get_asset_url("../css/FontAwesome.css")) }}
  {{ require_css(get_asset_url("../css/theme-overrides.css")) }}
</head>

{% block body %}
<div class="container">
  <div class="banner-section">
    {% dnd_area "DND_banner" class='banner-area', label='Banner Section' %}
      {% dnd_section full_width=true %}
        {% dnd_module path='../modules/Advanced Banner', width=12, offset=0, label="" %}
        {% end_dnd_module %}
      {% end_dnd_section %}
    {% end_dnd_area %}
  </div>
  <main class="body-container">
    {% dnd_area "dnd_area1" class='featured-training-card-section', label='Section 1' %}
    {% end_dnd_area %}
    {% dnd_area "dnd_area2" class='training-card-section', label='Section 2' %}
    {% end_dnd_area %}
    <div class="hs-get-in-touch-section" id="get-in-touch">
      {% dnd_area "dnd_area7" class='', label='Section 7' %}
      {% end_dnd_area %}
    </div>
  </main>
</div>
{% endblock body %}
