<!--
    templateType: page
    isAvailableForNewContent: true
    label: Videos Page
-->
{% extends "./layouts/base.html" %}

{% require_head %}
  <link rel="preload" href="{{ get_asset_url("../css/pages/videos.css") }}" as="style" />
{% end_require_head %}

{{ require_css(get_asset_url("../css/pages/videos.css")) }}

{% block body %}
  {% module 'youtube_popup'
    path='../modules/YouTube-Video-Popup.module',
    no_wrapper=True,
    overrideable=False 
  %}
  
  {% include "./partials/header-insights.html" %} 
    
  {% module 'Videos-Filter' 
    path='../modules/Videos-Filter.module',
    no_wrapper=True
  %}

  <main class="main-container"> 
    {% module 'Videos-Listing'
      label="Videos Listing",
      path='../modules/Videos-Listing.module',
      no_wrapper=True
    %}
  </main>
{% endblock body %}
