<!--
    templateType: page
    isAvailableForNewContent: true
    label: Videos Page
-->
{% extends "./layouts/base.html" %}

<head>
  <meta charset="utf-8">
  <title>{{ page_meta.html_title }}</title>
  {% if site_settings.favicon_src %}
  <link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />
  {% endif %}
  <meta name="description" content="{{ page_meta.meta_description }}">
  {{ require_css(get_asset_url("../css/layout.css")) }}
  {{ require_css(get_asset_url("../css/main.css")) }}
  {{ require_css(get_asset_url("../css/base/base-styles.css")) }}

  {{ require_css(get_asset_url("../css/pages/videos.css")) }}

  {{ require_js(get_asset_url("../js/main.js")) }}
  {{ standard_header_includes }}
</head>

{% block body %}
  {% module 'youtube_popup'
    path='../modules/YouTube-Video-Popup.module',
    no_wrapper=True,
    overrideable=False 
  %}
  
  {% include "./partials/header-insights.html" %} 
    
  {% module 'Videos-Filter' 
    path='../modules/Videos-Filter.module',
    no_wrapper=True
  %}

  <main class="main-container"> 
    {% module 'Videos-Listing'
      label="Video Sections",
      path='../modules/Videos-Listing.module',
      no_wrapper=True
    %}
  </main>
{% endblock body %}
