<!--
 templateType: section
 label: Service Line Hero Section
 description: "Initial section on Service Line pages"
 isAvailableForNewContent: true
-->

{% dnd_section 
    background_linear_gradient={
        "direction": "to bottom",
        "colors": [
            "#0F0F0F",
            "#59BCCC"
        ]
    },
    full_width=true 
%}
    {% dnd_column %}
        {% dnd_row %}
            {% dnd_module
                path="../../modules/Text-and-image",
                offset=0,
                width=12,
                title="Learning & Development",
                image_field={ 
                    src:"https://www.codurance.com/hubfs/Service%20Line%20Pages/06_Learning%20and%20development/LD-illu-hero.png"
                }
            %}
                {% module_attribute "description_text" %}
                    <p>Improve the skills of your teams and promote their technical excellence, to achieve better results in your business.</p>
                {% end_module_attribute %}
            {% end_dnd_module %}
        {% end_dnd_row %}

        {% dnd_row %}
            {% dnd_module
                path="@hubspot/section_header",
                offset=0,
                width=12,
                header="Empower your technology teams with focused training from our world class experts",
                heading_level="h2",
                subheader="Enhance your team’s skillset with our industry leading training courses. We create bespoke training plans adapted to your business needs."
            %}
            {% end_dnd_module %}
        {% end_dnd_row %}

        {% dnd_row %}
            {% dnd_module
                path="../../modules/Course-Cards",
                offset=0,
                width=12
            %}
            {% end_dnd_module %}
        {% end_dnd_row %}

        {% dnd_row %}
            {% dnd_module
                path="../../modules/Clients-Logos",
                offset=0,
                width=12,
                logos_group=[ {
                    "logo" : {
                        "alt" : "Envoy-logo",
                        "height" : 190,
                        "loading" : "lazy",
                        "max_height" : 190,
                        "max_width" : 579,
                        "size_type" : "auto",
                        "src" : "https://14557846.fs1.hubspotusercontent-na1.net/hubfs/14557846/Imported%20sitepage%20images/Envoy-logo.png",
                        "width" : 579
                    }
                } ]
            %}
            {% end_dnd_module %}
        {% end_dnd_row %}
    {% end_dnd_column %}
{% end_dnd_section %}