{{ require_css(get_asset_url("../../css/modules/header-slim.css")) }}

<style>
  {% set bg_color = module.style.gradient.colors[0].color %}

  .header-slim {
    {% if module.style.choice == "bg_img" %}
      background-image: url({{ module.style.bg_image.src }});
      background-repeat: no-repeat;
      background-size: cover;
    {% else %}
      background-color: rgb({{ bg_color.r }}, {{ bg_color.g }}, {{ bg_color.b }});     
      background: {{ module.style.gradient.css }};  
    {% endif %}
  }
  
  
  .header-slim-container {
    color: {{ module.style.text_color.color }};
  }
</style>

<div class="header-slim">
	<div class="header-slim-container responsive-page-width lateral-spacing">
		<div class="header-slim__text">
      <h1>{{ module.title }}</h1>
      {% if module.subtitle %}
        <p>{{ module.subtitle }}</p>
      {% endif %}
    </div>

		{% if module.image.src %}
			<img class="header-slim__image" src="{{ module.image.src }}" alt=""/>
		{% endif %}

	</div>
</div>

