{{ require_css(get_asset_url("../../css/modules/header-slim.css")) }}

<style>
  .header-slim {
    {% if module.style.choice == "bg_img" %}
      background-image: url({{ module.style.bg_image.src }});
      background-repeat: no-repeat;
      background-size: cover;
    {% else %}   
      background: {{ module.style.gradient.css }};  
    {% endif %}
  }
</style>

<div class="header-slim">
	<div class="header-slim__text-container responsive-page-width lateral-spacing">
		<h1 class="header-slim__title">{{ module.title }}</h1>
    <p class="header-slim__subtitle">{{ module.subtitle }}</p>

		{% if module.image %}
			<img class="header-slim__image" src="{{ module.image.src }}" alt=""/>
		{% endif %}
	</div>
</div>

