{% require_head %}
  {% if module.style.choice == "bg_img" %}
    <link rel="preload" href="https://f.hubspotusercontent10.net/hubfs/3042464/Homepage/Header%20Section/header-x-large-homepage.png" as="image" />
  {% endif %}

  <link rel="preload" href="{{ module.image.src }}" as="image" />
  <link rel="preload" href="{{ get_asset_url("../../css/modules/header-slim.css") }}" as="style" />
{% end_require_head %}

{{ require_css(get_asset_url("../../css/modules/header-slim.css")) }}

<style>
  {% set bg_color = module.style.gradient.colors[0].color %}

  .header-slim {
    {% if module.style.choice == "bg_img" %}
      background-image: url({{ module.style.bg_image.src }});
      background-repeat: no-repeat;
      background-size: cover;
    {% else %}
      background-color: rgb({{ bg_color.r }}, {{ bg_color.g }}, {{ bg_color.b }});     
      background: {{ module.style.gradient.css }};  
    {% endif %}
  }
  
  .header-slim-container {
    color: {{ module.style.text_color.color }};
  }
</style>

<div class="header-slim">
	<div class="header-slim-container responsive-page-width lateral-spacing">
		<div class="header-slim__text">
      <h1>{{ module.title }}</h1>
      {% if module.subtitle %}
        <p>{{ module.subtitle }}</p>
      {% endif %}
    </div>

		{% if module.image.src %}
      {% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}"' %}
			<img class="header-slim__image" src="{{ module.image.src }}" alt="" {{ sizeAttrs }} />
		{% endif %}

	</div>
</div>

