{% import '../../snippets/button-snippets.html' as button_snippets %}

{{ require_css(get_asset_url("../../css/modules/secondary-clients-cards.css")) }}

<div class="secondary-clients-cards-wrapper lateral-spacing">
  {% for client in module.clients_listing %}
    <article class="secondary-clients__card">
      <img width=100px src="{{ resize_image_url( client.columns.logo.url, 100) }}" alt="{{ post.name }}" />
      <p class="card-description">{{ client.columns.promotion }}</p>

      {% if client.columns.case_study %}
        {{ button_snippets.text_cta_right_arrow(
          url=client.columns.case_study,
          text=module.button_text,
          aria_label_text="{{ client.columns.name }} logo"
        )
        }}
      {% endif %}
    </article>
  {% endfor %}
</div>


