<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
{% macro button_primary(url, classnames, text, target, rel, aria_label_text) %}
  <a
    href="{{ url }}"
    class="{% for classname in classnames %}{{classname}}&#32{% endfor %}button-primary"
    {% if target %}target="{{target}}"{% endif %}
    {% if rel %}rel="{{rel}}"{% endif %}
     role="link"
     aria-label="{{aria_label_text}}"
  >
    {{ text }}
  </a>
{% endmacro %}

{% macro button_primary_alternate(url, classnames, text, target, rel) %}
  <a
    href="{{ url }}"
    class="{% for classname in classnames %}{{classname}}&#32{% endfor %}button-primary-alternate"
    {% if target %}target="{{target}}"{% endif %}
    {% if rel %}rel="{{rel}}"{% endif %}
  >
    {{ text }}
  </a>
{% endmacro %}

{% macro button_secondary(url, classnames, text, target, rel) %}
  <a
    href="{{ url }}"
    class="{% for classname in classnames %}{{classname}}&#32{% endfor %}button-secondary"
    {% if target %}target="{{target}}"{% endif %}
    {% if rel %}rel="{{rel}}"{% endif %}
  >
      {{ text }}
  </a>
{% endmacro %}

{% macro text_cta(url = 'javascript:;', classnames, text, target, rel) %}
  <a
    href="{{ url }}"
    class="{% for classname in classnames %}{{classname}}&#32{% endfor %}text-cta-primary"
    {% if target %}target="{{target}}"{% endif %}
    {% if rel %}rel="{{rel}}"{% endif %}
  >
      {{ text }}
  </a>
{% endmacro %}

{% macro text_cta_left_arrow(url, classnames, text, target, rel) %}
  <a
    href="{{ url }}"
    class="{% for classname in classnames %}{{classname}}&#32{% endfor %}text-cta-primary&#32text-cta--left-arrow"
    {% if target %}target="{{target}}"{% endif %}
    {% if rel %}rel="{{rel}}"{% endif %}
  >
    <i class="las la-arrow-left"></i>{{ text }}
  </a>
{% endmacro %}

{% macro text_cta_right_arrow(url, classnames, text, target, rel, aria_label_text) %}
  <a
    href="{{ url }}"
    class="{% for classname in classnames %}{{classname}}&#32{% endfor %}text-cta-primary&#32text-cta--right-arrow"
    {% if target %}target="{{target}}"{% endif %}
    {% if rel %}rel="{{rel}}"{% endif %}
  >
      {{ text }}<i class="las la-arrow-right"></i>
  </a>
{% endmacro %}

{% macro text_cta_plus(url, classnames, text, target, rel) %}
  <a
    href="{{ url }}"
    class="{% for classname in classnames %}{{classname}}&#32{% endfor %}text-cta-primary&#32text-cta--plus"
    {% if target %}target="{{target}}"{% endif %}
    {% if rel %}rel="{{rel}}"{% endif %}
  >
      {{ text }}<i class="las la-plus"></i>
  </a>
{% endmacro %}