{% macro button_primary(url, classnames, text, target, rel) %}
  <a
    href="{{ url }}"
    class="{% for classname in classnames %}{{classname}}&#32{% endfor %}button-primary"
    {% if target %}target="{{target}}"{% endif %}
    {% if rel %}rel="{{rel}}"{% endif %}
  >
    {{ text }}
  </a>
{% endmacro %}

{% macro button_secondary(url, classnames, text) %}
  <a
    href="{{ url }}"
    class="{% for classname in classnames %}{{classname}}&#32{% endfor %}button-secondary">
      {{ text }}
  </a>
{% endmacro %}
