<div class="embed-video">
  <h2 class="embed-video__heading">{{module.title}}</h2>
  {% if module.subtitle %}
    <p class="embed-video__sub-heading">{{module.subtitle}}</p>
  {% endif %}
  <div class="embed-video__video">
    <div class="embed-video__video-inner">
      {{module.video_embed_code}}
    </div>
  </div>
  {% if module.description %}
    <p class="embed-video__description">{{module.description}}</p>
  {% endif %}
  {% if module.button_type == 'Standard' %}
    {% set href = module.link_field.url.href %}
    {% if module.link_field.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
    {% endif %}
      <a href="{{ href }}" class="cta--primary-coral" {% if module.link_field.open_in_new_tab %}target="_blank"{% endif %} {% if module.link_field.no_follow %}rel="nofollow"{% endif %} {% if !module.description%}style="margin-top: 50px;"{% endif %}>
        {{ module.button_text }}
      </a>
  {% else %}
    {% cta guid="{{ module.cta_field }}" %}
  {% endif %}
</div>
