.cm-event-card-top-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cm-event-card-top-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cm-event-card-group h3, 
.cm-event-card-group {
  color: #555;
}
.cm-event-card-group h1 {
  color: #555;
}
.cm-event-card-group {
  padding: 80px 5px 40px;
}
.cm-event-card-bottom-group ul li a:hover .u-icon__elem-hover {
  transform: translateY(-50px);
}
.cm-event-card-bottom-group ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cm-event-card-bottom-group ul li {
  margin-left: 0.14286rem;
  margin-right: 0.14286rem;
  display: inline-block;
}
.cm-event-card-bottom-group ul li a {
  color: #777;
  width: 2.57143rem;
  height: 2.57143rem;
  font-size: 1.42857rem;
  position: relative;
  display: inline-block;
  text-decoration:none !important;
  text-align: center;
  transition: all .2s ease-in-out;
  width: 2.57143rem;
  height: 2.57143rem;
  overflow: hidden;
}
.cm-event-card-bottom-inner h3 {
  font-weight: 600;
  text-align: center;
  line-height: 1.4;
  font-size: 1rem;
  text-transform: uppercase;
  color: #000;
}
.cm-event-card-bottom-inner {
  display: inline-block;
}
.cm-event-card-top-group li a {
  color: #e67e22;
}
.cm-event-card-bottom-group ul li a i {
  position: relative;
  top: 50%;
  display: block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
  font-size: 1rem;
  width: 2.57143rem;
  height: 2.57143rem;
  transition: all .3s ease-in-out;
}
.cm-color-facebook--hover:hover {
  color: #3b5998 !important;
}
.cm-color-twitter--hover:hover {
  color: #00acee !important;
}
.cm-color-linkedin--hover:hover {
  color: #0e76a8 !important;
}
.cm-color-reddit--hover:hover {
  color: #ff4301 !important;
}
.cm-event-card-bottom-group ul li a .u-icon__elem-regular {
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
}

.cm-event-card-bottom-group ul li a:hover .u-icon__elem-regular {
  -webkit-transform: translateY(-110%);
  -ms-transform: translateY(-110%);
  transform: translateY(-110%);
}
.cm-event-card-bottom-group ul li a i.u-icon__elem-hover {
  margin-top: 60px;
}
.cm-event-card-bottom-group ul li a:hover i.u-icon__elem-hover {
  margin-top: 40px;
}

@media(min-width:576px){
  .cm-event-card-left {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .cm-event-card-right {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .cm-event-card-bottom-group {
    padding:0 15px 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media(max-width:767px){
  .cm-event-card-right{
    margin: 10px 0 10px;
  }
  .cm-event-card-group .cm-event-card-top-group h3 {
    font-size: 1.5rem;
  }
}

@media(max-width:575px){
  .cm-event-card-group .cm-event-card-top-group h3 {
    font-size: 1.75rem;
  }
  .cm-event-card-left {
    width: 100%;
  }
  .cm-event-card-group {
    padding: 81px 20px 40px;
  }
  .cm-event-card-left img {
    width: 100%;
  }
}