{% import '../utils/utils.css' as utils %}

.recent-blog-posts {
    margin-bottom: -3rem;
}

{% call utils.medium() %}
    .insights-overview-hero .header-insights, .recent-blog-posts .cm-recent-post, .editors-pick .cm-editors-pick__container, .insights-overview-cta .banner, .insights-overview-videos .cm-codurance-in-motion__container {
        padding-inline: 2rem;
        }

    .recent-blog-posts .cm-recent-post {
        padding-right: 0;
        }
    .recent-blog-posts .cm-recent-post .cm-recent-post__group {
        margin-right: 0;
        }
{% endcall %}

{% call utils.small() %}
    .insights-overview-hero .header-insights, .recent-blog-posts .cm-recent-post,.editors-pick .cm-editors-pick__container, .insights-overview-cta .banner, .insights-overview-videos .cm-codurance-in-motion__container {
        padding-inline: 1.5rem;
        }
    .recent-blog-posts .cm-recent-post {
        padding-right: 0;
        margin: 0;
        }
    .recent-blog-posts .cm-recent-post .cm-recent-post__group {
        margin-right: 0;
        }
{% endcall %}

.insights-overview-hero .header-insights__text  {
    padding-left: 0;
}
    
{% call utils.extra_large() %}
    .insights-overview-hero .header-insights__text  {
        margin-bottom: 5rem;
        }
{% endcall %}

{% call utils.medium() %}
    .insights-overview-hero .header-insights__text  {
        margin-bottom: 4em;
        padding-top: 2rem;
        }
{% endcall %}

{% call utils.small() %}
    .insights-overview-hero .header-insights__text  {
        margin-bottom: 2rem;
        transform: translateY(-4rem);
        }
{% endcall %}
        
{% call utils.extra_large() %}
.insights-overview-hero .header-insights__text h1 {
    width: var(--gaudi-max-width);
    }
{% endcall %}

.recent-blog-posts .cm-recent-post {
    transform: translateY(-3rem);
}
   
.recent-blog-posts .cm-recent-post .cm-recent-post__group {
    /*padding-bottom: 0.5rem;*/
    transform: translateY(-1rem);
    /*padding-inline: 2rem;
    margin-inline: -2rem;*/
}

.recent-blog-posts .cm-recent-post .cm-recent-post__item:first-child {
    margin-left: 0;
}

.editors-pick, .insights-overview-videos {
    background: linear-gradient(180deg, rgba(252,224,206,0.6) 0%, rgba(255,255,255,1) 45%);
    padding-top: 3rem;
    padding-bottom: 3rem;
}
    
{% call utils.small_and_medium() %}
    .editors-pick, .insights-overview-videos {
        padding-top: 2rem;
        padding-bottom: 3rem;
        }
    {% endcall %}

.insights-overview-cta {
    /*max-width: var(--content-max-width);*/
    padding-inline: 0;
    padding-block: 2rem;
    color: #FFF;
    {{ utils.slate_to_woodsmoke() }}
}
           
{% call utils.large_and_extra_large() %}
    .insights-overview-cta {
        padding-inline: 2rem;
    }
{% endcall %}

.insights-overview-cta .banner {
    max-width: var(--content-max-width);
    }
                
{% call utils.small() %}
    .insights-overview-cta .banner {
        justify-content: left;
    }
{% endcall %}
