{% import '../utils/utils.css' as utils %}

.recent-blog-posts .cm-recent-post {
    transform: translateY(-5rem);
}

.editors-pick {
    background: linear-gradient(180deg, rgba(252,224,206,0.6) 0%, rgba(255,255,255,1) 45%);
    padding: 1rem;
}

.insights-overview-cta {
    padding: 1rem;
    color: #FFF;
    {{ utils.color1_to_color2('271deg', '#1D233C', '#0C0C0D)') }}
}

.insights-overview-cta .banner {
    max-width: var(--content-max-width) !important;
}

{% call utils.small() %}
    .banner {
        justify-content: left !important;
    }
{% endcall %}
