{{ require_css(get_asset_url("../../css/modules/company-logos.css")) }}

<div class="cm-company-logos-group">
  <h2 class="cm-company-logos-group__heading">{{ module.heading }}</h2>
  <div class="cm-company-logos-inner-group">
    {% for item in module.logo_item %}
    {% if item.logo.src %}
    {% set sizeAttrs = 'width="{{ item.logo.width }}" height="{{ item.logo.height }}"' %}
    {% if item.logo.size_type == 'auto' %}
    {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
    {% elif item.logo.size_type == 'auto_custom_max' %}
    {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ item.logo.max_width }}px; max-height: {{ item.logo.max_height }}px"' %}
    {% endif %}
    <img src="{{ item.logo.src }}" alt="{{ item.logo.alt }}" {{ sizeAttrs }}>
    {% endif %}
    {% endfor %}
  </div>
</div>

