.info-v3-2::before {
    content: "";
    position: absolute;
    top: 1.42857rem;
    right: 1.42857rem;
    bottom: 1.42857rem;
    left: 1.42857rem;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 1;



}

article.custom-view-all-roles {
    background-position: center;
}
article.custom-view-all-roles {
   height: 100%;
}
