{% import '../../snippets/button-snippets.html' as snippets %}

{{ require_css(get_asset_url("../../css/modules/view-all-roles.css")) }}

<article
  class="custom-view-all-roles"
  data-bg-img-src="{{ module.background_image.src }}"
  style="background-image: url('{{ module.background_image.src}}');"
>
  <h3 class="custom-view-all-roles__title">
    {{ module.heading }}
  </h3>
  <em class="custom-view-all-roles__description">
    {{ module.sub_heading }}
  </em>

  {% if module.button.button_type == "std" %}
    {% set href = module.button.link_field.url.href %}

    {% if module.button.link_field.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
    {% endif %}

    {% if module.button.link_field.open_in_new_tab %}
      {% set target = "_blank" %}
    {% endif %}

    {% if module.button.link_field.no_follow %}
      {% set rel = "nofollow" %}
    {% endif %}

    {{snippets.button_primary(
      classnames=module.button.module_setting.custom_class,
      url="{{href}}{% if module.button.bookmark_id  %}#{{ module.button.bookmark_id }}{% endif %}",
      target=target,
      rel=rel,
      text=module.button.text_field
    )}}

  {% elif module.button.button_type == "cta" %}
    {% cta guid="{{ module.button.cta_field }}" %}
  {% endif %}

</article>
