<article class="custom-view-all-roles h-100 text-center info-v3-2 custom-flex-middle custom-bg-cover custom-bg-size-cover custom-bg-black-opacity-0_2--after custom-color-white text-uppercase custom-py-210 custom-px-30"
         data-bg-img-src="{{ module.background_image.src }}"
         style="background-image: url('{{ module.background_image.src}}');"
         >
  <div class="flex-align-baseline custom-pos-rel custom-z-index-2">
    <h3 class="custom-font-weight-700 custom-letter-spacing-3 custom-mb-20">
      {{ module.heading }}</h3>
  </div>
  <div class="custom-flex-middle-item custom-pos-rel custom-z-index-2">
    <em class="d-block custom-letter-spacing-3 custom-font-weight-300 custom-font-style-normal custom-mb-40">
      {{ module.sub_heading }}
    </em>
  </div>
  <div class="flex-align-bottom custom-pos-rel custom-z-index-2">
    {% if module.button.button_type == "std" %}
    {% set href = module.button.link_field.url.href %}
    {% if module.button.link_field.url.type is equalto "EMAIL_ADDRESS" %}
    {% set href = "mailto:" + href %}
    {% endif %}
    <a class="{{ module.button.module_setting.custom_class }}" href="{{ href }}{% if module.button.bookmark_id  %}#{{ module.button.bookmark_id }} {% endif %}"
       {% if module.button.link_field.open_in_new_tab %}target="_blank"{% endif %}
       {% if module.button.link_field.no_follow %}rel="nofollow"{% endif %}
       >
      {{ module.button.text_field }}
    </a>
    {% elif module.button.button_type == "cta" %}
    {% cta guid="{{ module.button.cta_field }}" %}
    {% endif %}
  </div>
</article>
