.newsletter-footer-form__container {
    max-width: 825px;
    position: relative;
}
@media (max-width: 480px) {
    .newsletter-footer-form__container {
        margin: 45px 25px;
    }
}
@media (min-width: 481px) {
    .newsletter-footer-form__container {
        display: flex;
        flex-direction: row;
        margin: 45px auto;
        width: 75%;
    }
}
@media (max-width: 767px) and (min-width: 481px) {
    .newsletter-footer-form__container {
        width: 80%;
    }
}

.newsletter-footer-form__heading {
 font-size: 1.87rem;
 font-weight: 700;
}

.newsletter-footer-form__container p {
    font-size: 1.4rem;
    margin-bottom: 1.67rem;
    padding-right: 30px;
}

@media (min-width: 481px) {
    .newsletter-footer-form__wrapper {
        width: calc(100% - 230px);
    }
}
@media (max-width: 767px) and (min-width: 481px) {
    .newsletter-footer-form__wrapper {
        width: 100%;
        margin-top: 150px;
    }
}

.hs_email {
    margin: 0;
}
@media (max-width: 480px) {
    .hs_email {
        width: 100%;
    }
}
@media (min-width: 481px) {
    .hs_email {
        width: calc(100% - 8.037rem);
    }
}

@media (max-width: 480px) {
    .hs_submit {
        width: 100%;
    }
}

.hs-button {
    vertical-align: top;
    margin: 0;
}
@media (max-width: 480px) {
    .hs-button {
        width: 100%;
    }
}

.newsletter-footer-form__container input[type="email"] {
    box-shadow: 0px 0px 20px #00000029;
    box-sizing: border-box;
    border: 1px #F0F0F1 solid;
    background-color: white;
    font-size: 1.2rem;
    height: 3.2rem;
    padding: 15px 20px;
    vertical-align: top;
    width: 100%;
}

.newsletter-footer-form__container input[type="submit"] {
    padding: 12px 20px;
}

.newsletter-footer-form__image {
    background-image: url(https://f.hubspotusercontent10.net/hubfs/3042464/Newsletter%20Sign-Up%20Form/newsletter-graphic.svg);
}
@media (max-width: 767px) {
    .newsletter-footer-form__image {
        background-size: 175px 135px;
        height: 135px;
        width: 175px;
    }
}
@media (min-width: 768px) {
    .newsletter-footer-form__image {
        height: 200px;
        margin-left: -30px;
        width: 260px;
        z-index: -1;
    }
}
@media (max-width: 767px) and (min-width: 481px) {
    .newsletter-footer-form__image {
        margin: 0;
        z-index:-1;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media (max-width: 480px) {
    .newsletter-footer-form__image {
        margin: 0;
        z-index:-1;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}