{% import '../../snippets/button-snippets.html' as snippets %}
{% import '../../css/utils/utils.css' as utils %}

{{ require_css(get_asset_url("../../css/modules/recent-posts-v2.css")) }}

<div class="cm-recent-post lateral-spacing">
  {% set recent_posts = blog_recent_posts(module.select_blog, module.number_of_posts) %}
  <div class="cm-recent-post__group">
    {% for post in recent_posts %}
      <div class="cm-recent-post__item">
        {% set style = post.featured_image ? "background-image:url({{ post.featured_image }})" : "{{ utils.tango_to_white() }}" %}
        <div class="cm-recent-image-wrapper" style="{{ style }}"></div>
        <div class="cm-recent-post__inner">
          <div class="cm-recent-post__info-wrapper">
            <small class="cm-recent-post__meta-info">{{ post.publish_date_local_time|datetimeformat("%d %b %Y") }} - {{ post.blog_post_author.display_name }}</small>
            {% if post.name %}
              <h4 class="cm-recent-post__title">{{ post.name }}</h4>
            {% endif %}
            {% if post.post_summary %}
              <div class="cm-recent-post__body-wrapper">
                <p class="cm-recent-post__description">{{ post.post_list_content|safe|striptags|truncatehtml(200, ' ...' , false) }}</p>
              </div>
            {% endif %}
          </div>
          {{
            snippets.text_cta_right_arrow(
              url=post.absolute_url,
              text='{{ module.item_button_text }}',
              classnames="cm-recent-post__link"
            )
          }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>