
.announcement-slice {

  background-size: cover;
  color: white;
  line-height: 28px;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
  width: 100%
}
.announcement-slice a.cta_button {
    font-family: proxima-nova;
    font-weight: 700;
    border-bottom: 1px solid #fb7268;
    color: white;
    font-size: 15px;
    padding: 0;
    white-space: nowrap;
    text-decoration: none;
}
.announcement-slice a {
  margin-left: 5px
}

.announcement-slice__inner {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px
}

@media (max-width: 767px) {
  .announcement-slice__icon {
    display:none
  }
}

@media (min-width: 768px) {
 .announcement-slice__icon {
    fill: transparent;
    float: left;
    margin-right: 15px;
    stroke-width: 5px;
    stroke: white;
    width: 25px;
    height: 28.7px;
}
}