
<div class="announcement-slice" style="background-image:url('{{ module.background_image.src }}');">
  <div class="announcement-slice__inner">
    {% if module.image_field.src %}
    {% set sizeAttrs = 'width="{{ module.image_field.width }}" height="{{ module.image_field.height }}"' %}
    {% if module.image_field.size_type == 'auto' %}
    {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
    {% elif module.image_field.size_type == 'auto_custom_max' %}
    {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ module.image_field.max_width }}px; max-height: {{ module.image_field.max_height }}px"' %}
    {% endif %}
    <img class="announcement-slice__icon" src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ sizeAttrs }}>
    {% endif %}
    {{ module.title }}

    {% if module.button_type == "std" %}
    {% set href = module.link_field.url.href %}
    {% if module.link_field.url.type is equalto "EMAIL_ADDRESS" %}
    {% set href = "mailto:" + href %}
    {% endif %}
    <a class="{{ module.module_setting.custom_class }}" href="{{ href }}{% if module.bookmark_id  %}#{{ module.bookmark_id }} {% endif %}"
       {% if module.link_field.open_in_new_tab %}target="_blank"{% endif %}
       {% if module.link_field.no_follow %}rel="nofollow"{% endif %}
       >
      {{ module.text_field }}
    </a>
    {% elif module.button_type == "cta" %}
    {% cta guid="{{ module.cta_field }}" %}
    {% endif %}

  </div>
</div>

