.custom-how-we-work__icon {
  color: var(--persimmon);
}

.no-border, i.no-border {
    border: none;
}
i.icon-color-red {
    color: #e74c3c;

}
i.icon-color-u, i.icon-color-red, i.icon-color-sea, i.icon-color-dark, i.icon-color-grey, i.icon-color-blue, i.icon-color-green, i.icon-color-yellow, i.icon-color-orange, i.icon-color-purple, i.icon-color-aqua, i.icon-color-brown, i.icon-color-dark-blue, i.icon-color-light-grey, i.icon-color-light-green {
    background: none;
}

.custom-how-we-work.row h3 {
    margin-top: 0;
    margin-bottom: 1rem;
}
.custom-how-we-work.row .custom-col-sm-6.custom-col-md-4 {

}

.custom-how-we-work.row .custom-col-sm-6.custom-col-md-4 .block-centered {
    display: block;
    text-align: center;
      margin: 0;
    padding: 20px;
    border: 1px solid rgb(221, 221, 221);
   margin: 15px 0;

}