{% import '../../snippets/button-snippets.html' as snippets %}

{{ require_css(get_asset_url("../../css/modules/codurance-in-motion.css")) }}

<div class="cm-codurance-in-motion">
    <div class="cm-codurance-in-motion__container">
        <div class="cm-codurance-in-motion__heading-container">
            {% if module.heading %}
                <h2 class="cm-codurance-in-motion__heading">{{ module.heading }}</h2>
            {% endif %}

            {% if module.summary %}
                <div class="cm-codurance-in-motion__summary">
                    {{ module.summary }}
                </div>
            {% endif %}
            <div class="cm-codurance-in-motion__cta">
                {{
                    snippets.button_primary(
                    url=videos_url,
                    text="{{ module.cta_text }}"
                    )
                }}
            </div>
        </div>
        {% for video in module.videos %}
            <div class="cm-codurance-in-motion__video">
                {% set youtube_video_id = video.columns.video|split("/")|last %}
                {% set youtube_embed_url = "https://www.youtube.com/embed/{{ youtube_video_id }}" %}
                {% widget_block rich_text "rich_text" overrideable=False %}
                    {% widget_attribute "html" %}
                        <div class="cm-codurance-in-motion__video-container">
                            <iframe src="{{ youtube_embed_url }}" allowfullscreen></iframe>
                        </div>
                        <div class="cm-codurance-in-motion__video-title">
                            {{ video.columns.name }}
                        </div>
                    {% end_widget_attribute %}
                {% end_widget_block %}
            </div>
        {% endfor %}
    </div>
</div>
