{% import '../../snippets/button-snippets.html' as snippets %}
{{ require_css(get_asset_url("../../css/modules/videos-listing.css")) }}

{% macro card_collection(videos_listing, copy) %}
  <section class="{{ copy.card_collection_class }} card-collection">
    <div 
    class="card-collection__inner-wrapper responsive-page-width lateral-spacing">
      <h2 class="card-collection__heading-wrapper">
        <span class="card-collection__title">
          {{ copy.heading }}
        </span>
        {% if copy.search_results_heading %}
          <span class="card-collection__search-results-title hidden">
            {{ copy.search_results_heading }}
          </span>
        {% endif %}
      </h2>
      <div class="card-collection-results">
        {% for video in videos_listing %}
          {% set video_thumb_desktop = resize_image_url(video.thumbnail.url, 0, 0, 375) %}
          {% set video_thumb_mobile = resize_image_url(video.thumbnail.url, 0, 0, 260) %}
            
          <article class="card-item" data-video-topic="{{ video.topic.name }}">
            <div class="card-item__content">
              <div class="card-item__image-container">
                <img class="card-item__image" alt=""
                  {% if video.thumbnail.url %}
                    srcset="{{video_thumb_mobile}} 260w,
                            {{video_thumb_desktop}} 375w"
                    sizes="(max-width: 425px) 260px, 375px"
                    src="{{video_thumb_desktop}}"
                  {% endif %}
                />

                <small
                  class="card-item__label card-item__label--type"
                >
                  {{ video.type.name }}
                </small>
                <small
                  class="card-item__label card-item__label--duration"
                >
                  {{ video.duration }}
                </small>
                {% if video.internal %}
                  <small
                    class="card-item__label card-item__label--internal"
                  >
                    Internal
                  </small>
                {% endif %}
              </div>
              <div class="card-item__text-container">
                <div class="card-item__text-container-inner truncated">
                  <header class="card-item__header">
                    <time
                      class="card-item__metadata"
                      datetime="{{ video.date | format_date('d MMM yyyy') }}"
                    >
                      {{ video.date | format_date('d MMM yyyy') }}
                    </time>
                    <h4 class="card-item__title">
                      {{ video.name }}
                    </h4>
                  </header>
                  <p class="card-item__description">
                    {{ video.description }}
                  </p>
                </div>
                <div class="card-item__button-container">
                  {% if locale == "es" %}
                    {% set button = { icon: "icon-ungated",
                                      text: "Ver ahora",
                                      target: "" 
                                    }
                    %}
                    {% if video.video is string_containing 'livestorm' %}
                      {% set button = { icon: "icon-gated",
                                        text: "Regístrate gratis para ver",
                                        target: "_blank" 
                                      }
                      %}
                    {% endif %}
                  {% elif locale == "pt" %}
                    {% set button = { icon: "icon-ungated",
                                      text: "Assista agora",
                                      target: "" 
                                    }
                    %}
                    {% if video.video is string_containing 'livestorm' %}
                      {% set button = { icon: "icon-gated",
                                        text: "Cadastrar grátis para ver",
                                        target: "_blank" 
                                      }
                      %}
                    {% endif %}
                  {% else %}
                    {% set button = { icon: "icon-ungated",
                                      text: "Watch now",
                                      target: "" 
                                    }
                    %}
                    {% if video.video is string_containing 'livestorm' %}
                      {% set button = { icon: "icon-gated",
                                        text: "Register for free to watch",
                                        target: "_blank" 
                                      }
                      %}
                    {% endif %}
                  {% endif %}            

                  {{ snippets.button_primary(
                    classnames="card-item__video-button {{button.icon}}",
                    url=video.video,
                    target= button.target,
                    text= button.text
                  ) }}

                </div>
              </div>
            </div>
          </article>
        {% endfor %}
    </div>
  </section>
{% endmacro %}
  
{% if module.promoted_videos_row %}
  {% set promoted_videos_listing = [] %}
  
  {% for promoted_video in module.promoted_videos.hubdb %}
    {% do promoted_videos_listing.append(promoted_video.columns) %}
  {% endfor %}

  {% set copy = { 
    heading: module.promoted_videos.heading,
    card_collection_class: "promoted-videos"
  } %}

  {{ card_collection(promoted_videos_listing, copy) }}
{% endif %}

{% if module.videos.hubdb_table %}
  {% set language_filter = "" %}
    
  {% if locale == "en" or locale == "pt" %}
    {% set language_filter = "&language=English" %}
  {% else if locale == "es" %}
    {% set language_filter = "&language=Spanish" %}
  {% endif %}

  {% set past_videos_filter = "&orderBy=-date" %} 
  {% set past_videos_listing = hubdb_table_rows(module.videos.hubdb_table, past_videos_filter + language_filter ) %}
  
  {% set copy = { 
      heading: module.videos.heading,
      card_collection_class: "videos",
      search_results_heading: module.search_results_heading
    } 
  %}
  
  {{ card_collection(past_videos_listing, copy) }}

  <div class="no-results-message hidden fade-animation responsive-page-width lateral-spacing">
    {{ module.no_results_message }}
  </div>
{% endif %}

