{% import '../../snippets/button-snippets.html' as snippets %}

{{ require_css(get_asset_url("../../css/modules/life-at-codurance.css")) }}

{% set href = module.link_field.url.href %}
{% if module.link_field.url.type is equalto "EMAIL_ADDRESS" %}
  {% set href = "mailto:" + href %}
{% endif %}
{% if module.link_field.open_in_new_tab %}
  {% set target = "_blank" %}
{% endif %}
{% if module.link_field.no_follow %}
  {% set rel = "nofollow" %}
{% endif %}

<article class="custom-life-at-codurance">
  <figure class="custom-life-at-codurance__image-container">
    {% if module.image_field.src %}
      <img class="custom-life-at-codurance__image" src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ sizeAttrs }}>
    {% endif %}
  </figure>

  <div class="text-center custom-pa-40">
    <h3 class="custom-life-at-codurance__title">
      {{ module.heading }}
    </h3>

    {{snippets.text_cta_right_arrow(
      url=href,
      rel=rel,
      target=target,
      text="Read More",
      classnames="custom-life-at-codurance__link"
    )}}
  </div>
</article>