{{ require_css(get_asset_url("../../css/modules/filtered-clients.css")) }}

{% set clients = hubdb_table_rows(module.clients_table, 'orderBy=-video') %}

{% set allIndustries = [] %}
{% set allProblems = [] %}

{% for client in clients %}
  {% do allIndustries.append(client.industry.name) %}
  {% for problem in client.problems %}
    {% do allProblems.append(problem.name) %}
  {% endfor %}
{% endfor %}

{% set allIndustries = allIndustries|unique %}
{% set allProblems = allProblems|unique %}

<div class="clients-filter-selectors__container">
  <div class="clients-filter-selector__input">
    <select data-select-industry>
      <option value="" disabled selected hidden>Filter by industry</option>
      {% for industry in allIndustries %}
        <option data-industry-option="{{industry}}">{{industry}}</option>
      {% endfor %}
    </select>
    <i class="las la-caret-down clients-filter__problem-icon"></i>
  </div>
  <div class="clients-filter-selector__input">
    <select data-select-problem value="">
      <option value="" disabled selected hidden>Filter by problem</option>
      {% for problem in allProblems %}
        <option data-problem-option="{{problem}}">{{problem}}</option>
      {% endfor %}
    </select>
    <i class="las la-caret-down clients-filter__problem-icon"></i>
  </div>
</div>

<div class="clients-applied-filters__container">
  {% for industry in allIndustries %}
    <div class="clients-applied-filters__pill hidden" data-applied-industry-filter="{{industry}}">{{industry}}<i class="clients-applied-filters__remove-button las la-times" data-remove-industry-filter="{{industry}}"></i></div>
  {% endfor %}
  {% for problem in allProblems %}
    <div class="clients-applied-filters__pill hidden" data-applied-problem-filter="{{problem}}">{{problem}}<i class="clients-applied-filters__remove-button las la-times" data-remove-problem-filter="{{problem}}"></i></div>
  {% endfor %}
</div>

<div class="clients-grid__container">
  <div class="clients-grid__sizer"></div>
  <div class="clients-grid__gutter-sizer"></div>
  {% for client in clients %}
    {% set problems = [] %}
    {% for problem in client.problems %}
      {% do  problems.append(problem.name) %}
    {% endfor %}

    {% if client.description %}
      {% set class = "clients-grid__card--wide" %}
    {% else %}
      {% set class = "" %}
    {% endif %}

    <div class="clients-grid__card {{class}}" data-client-industry="{{client.industry.name}}" data-client-problems="{{problems|join(',')}}">
      <div class="client-card__container">
        {% if client.logo %}
          <div class="client-card__image" style="background-image: url({{client.logo.url}})">
          </div>
        {% endif %}
        <h3 class="client-card__name">{{client.name}}</h3>
        {% if client.description %}
          <p>{{client.description}}</p>
        {% endif %}
        <ul>
          <li><i class="client-card__icon las la-wrench"></i><a href="">{{client.industry.name}}</a></li>
          {% for problem in client.problems %}
            <li><i class="client-card__icon las la-briefcase"></i><a href="">{{problem.name}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    {% if client.testimonial %}
      <div class="clients-grid__card" data-client-industry="{{client.industry.name}}" data-client-problems="{{problems|join(',')}}">
        <div class="client-card__container">
          <h3 class="client-card__name">{{client.name}}</h3>
          <p>"{{client.testimonial}}"</p>
          <p class="client-card__testimonial-author">John Doe, Head of Product at {{client.name}}</p>
        </div>
      </div>
    {% endif %}

    {% if client.video %}
      <div class="clients-grid__card clients-grid__card--v-wide"  data-client-industry="{{client.industry.name}}" data-client-problems="{{problems|join(',')}}">
        <h3 class="client-card__name">{{client.name}}</h3>
        <div class="client-card__video">
          <div class="client-card__video-inner">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/cL3DaHZ88ZQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    {% endif %}
 {% endfor %}
</div>

{{ require_js(get_asset_url("../js/imageLoaded.js")) }}
{{ require_js(get_asset_url("../../js/isotope.js"), "footer") }}
{{ require_js(get_asset_url("../../js/isotopePackery.js"), "footer") }}
