{{ require_css(get_asset_url("../../css/modules/filtered-clients.css")) }}
{{ require_css(get_asset_url("../../css/partials/clients-page-cards.css")) }}
{% import '../../partials/clients-page-cards.html' as cards %}

{% set clients = hubdb_table_rows(module.clients_table, 'orderBy=-testimonial&orderBy=-video&orderBy=description') %}

{% set allIndustries = [] %}
{% set allProblems = [] %}
{% set allServices = [] %}

{% for client in clients %}
  {% do allIndustries.append(client.industry.name) %}
  {% for service in client.services %}
    {% do allServices.append(service.name) %}
  {% endfor %}
  {% for problem in client.problems %}
    {% do allProblems.append(problem.name) %}
  {% endfor %}
{% endfor %}

{% set allIndustries = allIndustries|unique %}
{% set allProblems = allProblems|unique %}
{% set allServices = allServices|unique %}

<section class="clients-header__section">
  <div class="clients-header__container responsive-page-width lateral-spacing">
    <h1>Our Clients</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue arcu dictum tortor egestas facilisis. Nam pellentesque efficitur leo, vel lacinia felis tristique id. Proin convallis ornare accumsan. In efficitur mauris dapibus tellus sollicitudin, sit amet sodales justo aliquam. Pellentesque odio purus, commodo id luctus ac, dictum tincidunt ligula. Suspendisse euismod non risus ac ornare. Praesent quam metus, laoreet eget libero et, condimentum imperdiet orci.</p>
  </div>
</section>

<div class="clients__filter">
  <div class="clients__filter-toggle">
    <button data-filter-toggle>
      Filter
      <i class="clients__filter-toggle-icon las la-plus" data-filter-toggle-icon>
      </i>
    </button>
  </div>
  <div class="clients__filter-dropdown-wrapper hidden" data-filters-wrapper>
    <div class="clients__filter-dropdown-container">
      <button class="clients__filter-dropdown-button" data-dropdown-button="industry">
        Industry
        <i class="clients__filter-dropdown-icon las la-angle-down" data-dropdown-icon="industry">
        </i>
      </button>
      <div class="clients__filter-dropdown-options hidden" data-dropdown-container="industry">
        {% for industry in allIndustries %}
          <button class="clients__filter-dropdown-option" data-industry-option="{{industry}}">
            {{industry}}
            <i class="clients__filter-dropdown-option-selected-icon las la-check-circle hidden"
              data-industry-option-selected="{{industry}}"></i>
          </button>
        {% endfor %}
      </div>
    </div>
    <div class="clients__filter-dropdown-container">
      <button class="clients__filter-dropdown-button" data-dropdown-button="problem">
        Problem
        <i class="clients__filter-dropdown-icon las la-angle-down" data-dropdown-icon="problem">
        </i>
      </button>
      <div class="clients__filter-dropdown-options hidden" data-dropdown-container="problem">
        {% for problem in allProblems %}
          <button class="clients__filter-dropdown-option" data-problem-option="{{problem}}">
            {{problem}}
            <i class="clients__filter-dropdown-option-selected-icon las la-check-circle hidden"
              data-problem-option-selected="{{problem}}"></i>
          </button>
        {% endfor %}
      </div>
    </div>
    <div class="clients__filter-dropdown-container">
      <button class="clients__filter-dropdown-button" data-dropdown-button="service">
        Service
        <i class="clients__filter-dropdown-icon las la-angle-down" data-dropdown-icon="service"></i>
      </button>
      <div class="clients__filter-dropdown-options hidden" data-dropdown-container="service">
        {% for service in allServices %}
          <button class="clients__filter-dropdown-option" data-service-option="{{service}}">
            {{service}}
            <i class="clients__filter-dropdown-option-selected-icon las la-check-circle hidden"
              data-service-option-selected="{{service}}"></i>
          </button>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="clients-applied-filters__container">
  {% for industry in allIndustries %}
    <div class="clients-applied-filters__pill hidden" data-applied-industry-filter="{{industry}}">
      {{industry}}
      <i class="clients-applied-filters__remove-button las la-times" data-remove-industry-filter="{{industry}}"></i>
    </div>
  {% endfor %}
  {% for problem in allProblems %}
    <div class="clients-applied-filters__pill hidden" data-applied-problem-filter="{{problem}}">
      {{problem}}
      <i class="clients-applied-filters__remove-button las la-times" data-remove-problem-filter="{{problem}}"></i>
    </div>
  {% endfor %}
  {% for service in allServices %}
    <div class="clients-applied-filters__pill hidden" data-applied-service-filter="{{service}}">
      {{service}}
      <i class="clients-applied-filters__remove-button las la-times" data-remove-service-filter="{{service}}"></i>
    </div>
  {% endfor %}
</div>

<div class="clients-grid__container" data-grid-container>
  <div class="clients-grid__sizer"></div>
  <div class="clients-grid__gutter-sizer"></div>
    {% for client in clients %}
      {% if client.testimonial_text %}
        {{
          cards.testimonial_card(
            client=client,
            classnames="clients-grid__card clients-grid__card--medium"
          )
        }}
      {% endif %}
      {% if client.promotion %}
        {{
          cards.promotional_card(
            client=client,
            classnames="clients-grid__card clients-grid__card--medium"
          )
        }}
      {% else %}
        {{
          cards.case_study_card(
            client=client,
            classnames="clients-grid__card clients-grid__card--medium"
          )
        }}
      {% endif %}
    {% endfor %}
</div>

{{ require_js(get_asset_url("../js/imageLoaded.js")) }}
{{ require_js(get_asset_url("../../js/isotope.js"), "footer") }}
{{ require_js(get_asset_url("../../js/isotopePackery.js"), "footer") }}
