.clients-filter-selectors__container {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
    background-color: #33475b;
}

.clients-filter-selector__input {
    margin: 0 10%;
}

.clients-filter-selector__input select {
    background-color: #33475b;
    border: none;
    color: white;
}

.clients-applied-filters__container {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
    background-color: #2b3342;
}

.clients-applied-filters__pill {
    background-color: rgba(251,114,104,0.8);
    position: relative;
    color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 5px 10px;
}

.clients-applied-filters__remove-button {
    background: none;
    height: 15px;
    position: absolute;
    right: 8px;
    top: 5px;
    width: 15px;
}

.clients-applied-filters__remove-button:hover {
    cursor: pointer;
}

.clients-applied-filters__remove-button::after {
    color: white;
    content: 'x';
    margin-left: 9px;
}


.clients-grid__container {
    margin: 50px auto;
    width: 70%;
}

.clients-grid__sizer {
    width: 33%;
}

.clients-grid__gutter-sizer {
    width: 4%;
}

.clients-grid__card {
    background-color: pink;
    border: 1px solid #c6c6c6;
    float: left;
    min-height: 200px;
    margin-bottom: 10px;
    padding: 20px;
    width: 30%;
    min-width: 300px;
    display: flex;
    align-items: center;
}

.clients-grid__card--wide {
    width: 60%;
    min-width: 600px;
}

.clients-grid__card--v-wide {
    width: 100%;
}

.client-card__l-container {
    width: 300px;
}

.client-card__r-container {
    margin-left: 5%;
    width: 66%;
}

.client-card__image {
    align-items: center;
    background-size: 120px;
    height: 200px;
    width: 100%;
}

.client-card__testimonial-author {
    font-weight: 700;
}

.client-card__video {
    padding: 20px;
}

.client-card__video-inner {
    width: 100%;
    height: 500px;
}
