

{{ require_css(get_asset_url("../../css/modules/filtered-katas.css")) }}

{% set blogPosts = contents %}

{% set difficulties = ["Novice", "Beginner", "Competent", "Expert"] %}
{% set topicObjects = blog_tags("default", 100) %}
{% set topics = [] %}
{% for topic in topicObjects %}
  {% if !difficulties.contains(topic.name) %}
    {% do topics.append(topic.name) %}
  {% endif %}
{% endfor %}

{% set filter = { title: "Filter",
  difficulties: "Difficulty",
  topics: "Topics"
}
%}
{% set infoMessage = { header: "We’re sorry, your search returned no results",
    paragraph: "Try adjusting your filters to find what you’re looking for."
  }
%}


<main class="katas-page__main">
  <div class="katas__filter">
    <div class="katas__filter-toggle">
      <button data-filter-toggle>
        {{filter.title}}
        <i class="katas__filter-toggle-icon las la-plus" data-filter-toggle-icon>
        </i>
      </button>
    </div>
    <div class="katas__filter-dropdown-wrapper hidden" data-filters-wrapper>
      <div class="katas__filter-dropdown-container">
        <button class="katas__filter-dropdown-button" data-dropdown-button="difficulties">
          <i class="katas__filter-icon las la-tachometer-alt"></i>
          {{filter.difficulties}}
          <i class="katas__filter-dropdown-icon las la-angle-down" data-dropdown-icon="difficulties">
          </i>
        </button>
        <div class="katas__filter-dropdown-options hidden" data-dropdown-container="difficulties">
          {% for difficulty in difficulties %}
          <button class="katas__filter-dropdown-option" data-difficulty-option="{{difficulty}}">
            {{difficulty}}
            <i class="katas__filter-dropdown-option-selected-icon las la-check hidden"
               data-difficulty-option-selected="{{difficulty}}"></i>
          </button>
          {% endfor %}
        </div>
      </div>
      <div class="katas__filter-dropdown-container">
        <button class="katas__filter-dropdown-button" data-dropdown-button="topics">
          <i class="katas__filter-icon las la-tag"></i>
          {{filter.topics}}
          <i class="katas__filter-dropdown-icon las la-angle-down" data-dropdown-icon="topics">
          </i>
        </button>
        <div class="katas__filter-dropdown-options hidden" data-dropdown-container="topics">
          {% for topic in topics|sort(False,False) %}
          <button class="katas__filter-dropdown-option" data-topic-option="{{topic}}">
            {{topic}}
            <i class="katas__filter-dropdown-option-selected-icon las la-check hidden"
               data-topic-option-selected="{{topic}}"></i>
          </button>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="katas-applied-filters__container">
    {% for difficulty in difficulties %}
    <div class="katas-applied-filters__pill hidden" data-applied-difficulty-filter="{{difficulty}}">
      {{difficulty}}
      <i class="katas-applied-filters__remove-button las la-times" data-remove-difficulty-filter="{{difficulty}}"></i>
    </div>
    {% endfor %}
    {% for topic in topics %}
    <div class="katas-applied-filters__pill hidden" data-applied-topic-filter="{{topic}}">
      {{topic}}
      <i class="katas-applied-filters__remove-button las la-times" data-remove-topic-filter="{{topic}}"></i>
    </div>
    {% endfor %}
  </div>

  <div class="custom-kata-listing">
    <div class="page-center container custom-py-1">
      <div class="masonry-grid row custom-mb-70">
        <div class="katas-grid__container" >
          {% for content in blogPosts %}
              <article class="custom-kata-listing__post" blogTags="{{content.tag_list}}">
                {% if content.featured_image %}
                  <a href="{{ content.absolute_url }}">
                    <img class="custom-bg-white img-fluid w-100" src="{{ content.featured_image }}" alt="{{ content.name }}">
                  </a>
                {% endif %}
                <div class="custom-bg-white custom-pa-15">
                  <div class="list-inline custom-color-gray-dark-v4 custom-font-weight-600 custom-font-size-12 list-inline-item mr-0">
                    By {{ content.blog_post_author.display_name }}
                  </div>
                  <h5 class="h5 custom-color-black custom-font-weight-600 mb-2">
                    <a class="custom-kata-listing__title-link" href="{{ content.absolute_url }}">
                      {{ content.name }}</a>
                  </h5>

                  {% if content.tag_list %}
                    <ul class="list-inline custom-font-size-12 mb-0 custom-mt-20">
                      {% for tag in content.tag_list %}
                        {% if difficulties.contains(tag.name) %}
                          <li class="list-inline-item custom-mb-5">
                            <a class="tags custom-kata-listing__tag" data-difficulty-option="{{tag.name}}" style="cursor:pointer">{{ tag.name }}</a>
                          </li>
                        {% endif %}
                      {% endfor %}
                      {% for tag in content.tag_list %}                        
                        {% if !difficulties.contains(tag.name) %}
                          <li class="list-inline-item custom-mb-5">
                            <a class="tags custom-kata-listing__tag" data-topic-option="{{tag.name}}" style="cursor:pointer">{{ tag.name }}</a>
                          </li>  
                        {% endif %}                        
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
              </article>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</main>



