{% import '../utils/utils.css' as utils %}

.academy-hero,
.banner-cta {
    {{ utils.tango_to_white() }}
}

.academy-hero .custom-btn {
    margin-top: 2em;
    width: fit-content;
}

.skills {
    padding: 2rem;
}



