{% import '../utils/utils.css' as utils %}

.academy-hero,
.banner-cta {
    {{ utils.tango_to_white() }}
}

.academy-hero .custom-btn {
    margin-top: 2em;
    width: fit-content;
}

.how-it-works__wrapper > div {
    max-width: var(--content-inner-max-width);
    margin-inline: auto;
}

.how-it-works__wrapper {
    {{ utils.white_to_tango() }}
    padding-top: 6em;
    padding-bottom: 6em;
}

{% call utils.small() %}
    .how-it-works__wrapper {
        padding-top: 3em;
        padding-bottom: 3em;
    }
{% endcall %}

.how-it-works__wrapper .cm-text-img__container {
    margin-top: 0;
    margin-bottom: 1.6em;
}

.skills {
    padding: 2rem;
}



