{% import '../utils/utils.css' as utils %}

/* General styles */
:root {
  scroll-behavior: smooth;
  --card-img-height: 6rem;
}

.section-header h2 {
    {{ utils.freed() }}
    font-weight: var(--heavy-font-weight);
}

div.responsive-page-width,
section.responsive-page-width {
    max-width: var(--content-inner-max-width);
    margin-inline: auto;
}

.gradient-container {
    height: 19rem;
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* Hero section */
.hero {
    {{ utils.slate_to_woodsmoke() }}
    color: white;
    position: relative;
}

.hero .text-and-image__container {
    max-width: var(--content-max-width);
    justify-content: flex-start;
    z-index: 1;
    position: relative;
}

.hero .text-and-image__copy p {
    {{ utils.base() }}
    font-weight: var(--light-font-weight);
}

.hero .gradient-container {
    height: 8.5rem;
}

{% call utils.medium_large_and_extra_large() %}
    .hero .text-and-image__copy {
        max-width: 57.5%;
        text-wrap: balance;    
    }

    .hero .text-and-image__image > img {
        object-fit: cover;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        max-width: 42.5%;
    }
{% endcall %}

{% call utils.large_and_extra_large() %}
    .hero .text-and-image__copy p {
        {{ utils.freed() }}
        font-weight: var(--light-font-weight);
    }
{% endcall %}

{% call utils.large() %}
    .hero .text-and-image__container {
        padding-left: 50px;
        padding-right: 50px;
    }
{% endcall %}

{% call utils.small() %}
    .hero .text-and-image__container {
        padding-top: unset;
    }
{% endcall %}

/* Solution section */
.solution {
    {{ utils.white_to_tango() }}
}

.solution__header {
    {{ utils.freed() }}
    text-wrap: balance;
    font-weight: var(--heavy-font-weight);
}

.solution__text-and-image {
    display: flex;
}

.solution .features-listing {
    margin-top: var(--space-4);
}

.solution__text {
    {{ utils.card_shadow_large() }}
    {{ utils.card_border_radius() }}
    background: white;
    padding: var(--space-3);
    font-weight: var(--heavy-font-weight);
}

{% call utils.large_and_extra_large() %}
    .solution .features-listing {
        margin-left: -0.5rem;
    }
{% endcall %}

{% call utils.medium_large_and_extra_large() %}
    .solution__image {
        display: flex;
        flex: 1 0 38%;
        align-items: center;
    }

    .solution__text {
        padding-inline: var(--space-5);
    }
{% endcall %}

{% call utils.medium_and_large() %}
    .solution__text {
        margin-top: var(--space-4);
    }
{% endcall %}

{% call utils.small() %}
    .solution__text-and-image {
        flex-direction: column;
    }
{% endcall %}

/* Modules section */
.modules .page-header.section-header {
    max-width: var(--content-inner-max-width);
}

.modules .section-header p {
    margin-top: var(--space-3);
}

.modules__cards-wrapper {
    position: relative;
}

.modules__cards-background {
    position: absolute;
    top: var(--card-img-height);
    z-index: -1;
    height: 100%;
    width: 100%;
    {{ utils.slate_to_woodsmoke() }}
}

.modules__cards {
    max-width: var(--content-max-width);
    margin-inline: auto;
}

.modules .card__img {
    object-fit: cover;
    max-height: var(--card-img-height);
}

.modules .card__info h3 {
    {{ utils.base() }}
    font-weight: var(--heavy-font-weight);
}

{% call utils.medium_large_and_extra_large() %}
    section.modules {
        padding-bottom: unset;
    }

    .modules__cards-background {
        height: calc(100% - var(--card-img-height) * 2);
    }
{% endcall %}

/* Benefits section */
.benefits {
    {{ utils.white_to_tango() }}
}

.benefits__wrapper {
    max-width: var(--content-inner-max-width);
    margin-inline: auto;
    display: flex;
    gap: var(--space-3);
    align-items: center;
}

.benefits__header {
    {{ utils.freed() }}
    font-weight: var(--heavy-font-weight);
    max-width: var(--dudler-max-width);
}

.benefits__listing {
    margin-top: var(--space-3);
}

.benefits__image {
    flex: 1 0 37%;
}

{% call utils.small() %}
    .benefits__wrapper {
        flex-direction: column;
    }

    .benefits__image {
        margin-inline: var(--space-3);
    }
{% endcall %}

/* Testimonials section */
.testimonials {
    padding-bottom: var(--space-2);
    padding-top: var(--space-5);
}

/* CTAs */
div.cta-block {
    background-position-x: left;
}

{% call utils.small() %}
    .cta-block {
        background-color: var(--slate);
        background-blend-mode: soft-light;
    }
{% endcall %}

/* How it works section */
.how-it-works-section {
    {{ utils.white_to_tango() }}
}

.how-it-works-section__header {
    max-width: var(--content-inner-max-width);
    margin-inline: auto;
}

.how-it-works-section .section-header p {
    {{ utils.freed() }}
    font-weight: var(--heavy-font-weight);
}

.how-it-works-section .how-it-works {
    padding-top: unset;
}

.how-it-works-section .text-and-image__container {
    max-width: var(--content-max-width);
    justify-content: center;
}

.how-it-works-section .text-and-image__title {
    font-weight: var(--heavy-font-weight);
    text-wrap: balance;
}

.how-it-works-section .text-and-image__copy p {
    {{ utils.base() }}
}

{% call utils.medium_large_and_extra_large() %}
    .how-it-works-section__wrapper {
        background-image: url("https://www.codurance.com/hubfs/Service%20Line%20Pages/Packaged%20Solutions/SQA%20Page/Assets%20new/SQA%20page_steps_bg.svg");
        background-position: center center;
        background-repeat: no-repeat;
    }

    .how-it-works-section .text-and-image__copy {
        align-self: end;
        max-width: 60%;
    }

    .how-it-works-section .text-and-image__title {
        {{ utils.dudler() }}
        font-weight: var(--heavy-font-weight);
    }

    .how-it-works-section .text-and-image__copy p {
        {{ utils.freed() }}
        font-weight: var(--light-font-weight);
    }
{% endcall %}

/* Case studies section */
.case-studies.region {
    padding-bottom: unset;
}

{% call utils.medium_large_and_extra_large() %}
    .case-studies .case-study-card-collection__cards {
        padding-bottom: var(--space-6);
    }

    .case-studies .case-study-card-collection__header > p {
        {{ utils.freed() }}
        font-weight: normal;
        max-width: 42ch;
    }
{% endcall %}

/* Models section */
.models {
    max-width: var(--content-inner-max-width);
    margin-inline: auto;
}

.models div.page-header.section-header {
    margin-bottom: unset;
}

.models__text {
    {{ utils.card_border_radius() }}
    {{ utils.card_shadow_large() }}
    font-weight: var(--heavy-font-weight);
    padding: var(--space-3) var(--space-5);
}

{% call utils.large() %}
    .models__text-container.lateral-spacing {
        padding-left: unset;
        padding-right: unset;
    }
{% endcall %}

/* Assessments section */
.assessments {
    {{ utils.slate_to_woodsmoke() }}
    color: white;
    position: relative;
}

.assessments__header,
.assessments__listing {
    margin-inline: auto;
}

.assessments__header {
    max-width: 54ch;
    text-wrap: pretty;
    {{ utils.dudler() }}
    font-weight: var(--heavy-font-weight);
}

.assessments__listing {
    max-width: var(--content-max-width);
}

.assessments .how-it-works {
    padding-bottom: unset;
}

.assessments .how-it-works__icon-container img {
    filter: unset;
}

.assessments .how-it-works__step {
    display: none;
}

.assessments .how-it-works__icon-container::before,
.assessments .how-it-works__icon-container::after {
    display: none;
}

.assessments .how-it-works__description {
    {{ utils.base() }}
}

{% call utils.medium_large_and_extra_large() %}
    .assessments .how-it-works__item {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
{% endcall %}

{% call utils.small() %}
    .assessments .how-it-works__item-list {
        gap: var(--space-0);
    }
    
    .assessments .how-it-works__title {
        max-width: 17ch;
    }

    .assessments .how-it-works__description {
        margin-left: -70px;
        margin-top: var(--space-1);
    }
{% endcall %}

/* Related posts section */
.related-posts {
    {{ utils.tango_to_white() }}
}

.related-posts__header,
.related-posts__listing {
    max-width: var(--content-inner-max-width);
    margin-inline: auto;
}

.related-posts__header {
    {{ utils.dudler() }}
    font-weight: var(--heavy-font-weight);
}

.related-posts__listing {
    margin-top: var(--space-0);
}

.related-posts .cm-recent-post {
    transform: unset;
}

{% call utils.large() %}
    .related-posts__header.lateral-spacing {
        padding: unset;
    }

    .related-posts .cm-recent-post {
        padding: unset;
    }
{% endcall %}

/* Contact form section */
#contact-form {
    position: relative;
}

#contact-form .cm-form-wrapper {
    z-index: 1;
    position: relative;
}