{% import '../utils/utils.css' as utils %}

.become-a-craftsperson-in-banner-section.custom-become-a-craftsperson-row1 .custom-py-120 {
  padding-top: 8.57143rem !important;
  padding-bottom: 8.57143rem !important;
}

.become-a-craftsperson-in-required-skills-section .span6 {
  width: 50%;
  margin: 0;
  padding: 0 15px;
  text-align: left;
}

{% call utils.small_and_medium() %}
  .become-a-craftsperson-in-required-skills-section .span6 {
    width: 100%;
  }
{% endcall %}

{% call utils.small() %}
  .become-a-craftsperson-in-required-skills-section .span6 {
    width: 100%;
    padding: 0;
  }
{% endcall %}

.body-container-become-craftsperson-in-training .dnd-section {
  padding-bottom: 0;
  padding-top: 0;
}

.body-container-become-craftsperson-in-training .custom-section-header-row.become-a-craftsperson-in-required-skills-section .span6 .hs_cos_wrapper_type_rich_text {
  margin: 0;
  text-align: left;
}

.body-container-become-craftsperson-in-training .custom-section-header-row.become-a-craftsperson-in-required-skills-section .span6 .hs_cos_wrapper_type_rich_text h5 {
  color: #555;
  position: relative;
  margin-bottom: 30px;
  padding-left: 40px;
}

.body-container-become-craftsperson-in-training .custom-section-header-row.become-a-craftsperson-in-required-skills-section .span6 .hs_cos_wrapper_type_rich_text ul {
  margin-top: 0;
  margin-bottom: 1rem;
}


.body-container-become-craftsperson-in-training .custom-section-header-row.become-a-craftsperson-in-required-skills-section .span6 .hs_cos_wrapper_type_rich_text ul li {
  display: inline-block;
  height: 20px;
  margin: 10px 0;
  background: url({{ get_asset_url("../images/circled-tick.png")}});
  background-repeat: no-repeat;
  background-size: 20px 20px;
  list-style: none;
  padding-left: 30px;
  line-height: 20px;
}

.body-container-become-craftsperson-in-training .custom-section-header-row:not(.become-a-craftsperson-in-interview-process-section) .hs_cos_wrapper_type_rich_text p {
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: inherit;
  max-width: 100%;
  margin-top: 1.5rem;
  padding-bottom: 16px;
}

.body-container-become-craftsperson-in-training .custom-section-header-row:not(.become-a-craftsperson-in-interview-process-section) .hs_cos_wrapper_type_rich_text {
  margin-bottom: 60px;
}

{% call utils.small() %}
  .body-container-become-craftsperson-in-training .custom-section-header-row.become-a-craftsperson-in-required-skills-section .span6 .hs_cos_wrapper_type_rich_text ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 15px;
  }

  .body-container-become-craftsperson-in-training .custom-section-header-row:not(.become-a-craftsperson-in-interview-process-section) .hs_cos_wrapper_type_rich_text p {
    padding-left: 20px;
    padding-right: 20px;
  }
{% endcall %}