{% import '../utils/utils.css' as utils %}

/*------------------------------------*\
  #General styles
\*------------------------------------*/  
.custom-btn {
  margin-top: 1.5em;
}

.custom-btn > a {
  margin: 0;
}

{% call utils.small_and_medium() %}
  .craftsperson-skills .custom-btn > a,
  .craftsperson-info .custom-btn > a {
    width: fit-content;
  }
{% endcall %}

{% call utils.medium() %}
  .craftsperson-cta .cta-block {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

  .craftsperson-cta .cta-block__title {
    max-width: none;
  }
{% endcall %}

{% call utils.small() %}
  .craftsperson-cta .cta-block {
    background-position-x: 70%;
  }
{% endcall %}

.text-and-image__container .text-and-image__copy p {
  {{ utils.base() }}
}

.text-and-image__container .text-and-image__copy h2 {
  {{ utils.dudler() }}
  font-weight: initial;
}

/*------------------------------------*\
  #Hero section
\*------------------------------------*/

.craftsperson-hero {
  {{ utils.tango_to_white() }}

  overflow: hidden;
}

.craftsperson-hero__container {
  display: flex;
  flex-direction: column-reverse;
  padding: 1em;
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.craftsperson-hero__text {
  margin-top: 1em;
  max-width: 48ch;
  align-self: center;
}

{% call utils.medium_large_and_extra_large() %}
    .craftsperson-hero__container{
      flex-direction: row;
      padding-left: 2.5em;
    }

    .craftsperson-hero__image {
      align-self: start;
    }

    .craftsperson-hero__text {
      max-width: 50%;
    }
{% endcall %}

{% call utils.large_and_extra_large() %}
  .craftsperson-hero__text h1 {
      {{ utils.eames() }}
      font-weight: var(--heavy-font-weight);
  }

  .craftsperson-hero__text p {
    {{ utils.freed() }}
    font-weight: var(--light-font-weight);
  }

  .craftsperson-hero__image {
    transform: translateX(10%);
  }
{% endcall %}

{% call utils.small_and_medium() %}
  .craftsperson-hero__image {
    --translate-img: translate(27.5%,-25%);

    transform: var(--translate-img);
  }
{% endcall %}

{% call utils.extra_large() %}
    .craftsperson-hero__container{
        overflow: initial;
        padding: 1em 0;
    }
{% endcall %}

{% call utils.medium() %}
  .craftsperson-hero__text h1 {
    {{ utils.dudler() }}
    font-weight: var(--heavy-font-weight);
  }

  .craftsperson-hero__image {
    transform: var(--translate-img) scale(1.2);
  }
{% endcall %}

{% call utils.small() %}
  .craftsperson-hero__container {
    padding-top: 0;
  }

  .craftsperson-hero__text {
    margin-top: -4.5em;
  }

  .craftsperson-hero__text h1 {
    {{ utils.freed() }}
    font-weight: var(--heavy-font-weight);
  }

  .craftsperson-hero__text p {
    {{ utils.natus() }}
  }
{% endcall %}

/*------------------------------------*\
  #Craftsperson Videos section
\*------------------------------------*/

.craftsperson-videos {
  {{ utils.white_to_tango() }}
  padding-top: 1em;
  padding-bottom: 4em;
}

{% call utils.medium_and_large() %}
  .craftsperson-videos > .mosaic-collection {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
{% endcall %}

{% call utils.small() %}
  .craftsperson-videos > .mosaic-collection {
    padding-left: 1em;
    padding-right: 1em;
  }
{% endcall %}

/*------------------------------------*\
  #Skills section
\*------------------------------------*/

.craftsperson-skills {
  --background-img: url("https://www.codurance.com/hubfs/Careers%20Page/Software%20Craftsperson/skills-image-XL-careers-software-craftsperson.svg");
  --background-gradient: linear-gradient(180deg, rgba(255,252,250,1) 0%, rgba(252,224,206,1) 100%);

  background: var(--tango-400);
  background: var(--background-gradient);
}

{% call utils.medium_large_and_extra_large() %}
  .craftsperson-skills {
    background: var(--background-img) right calc(100% - 4em) no-repeat, var(--background-gradient);
  }
{% endcall %}

{% call utils.medium() %}
  .craftsperson-skills > .craftsperson-skills__wrapper {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
{% endcall %}

.craftsperson-skills__wrapper {
  margin-inline: auto;
  max-width: var(--content-inner-max-width);
  padding: 4em 1em;
}

.craftsperson-skills__title {
  {{ utils.dudler() }}

  font-weight: var(--light-font-weight);
  margin-bottom: 0.5em;
}

{% call utils.small() %}
  .craftsperson-skills__title {
    {{ utils.freed() }}
    font-weight: initial;
  }
{% endcall %}

.craftsperson-skills__wrapper ul {
  margin-left: 1em;
}

{% call utils.large_and_extra_large() %}
  .craftsperson-skills__wrapper ul {
    columns: 2;
    column-gap: 4em;
  }

  .craftsperson-skills__wrapper li {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
  }
{% endcall %}

{% call utils.medium() %}
  .craftsperson-skills__wrapper li {
    max-width: var(--freed-max-width);
  }
{% endcall %}

.craftsperson-skills__wrapper li {
  padding-left: 0.4em;
  list-style-type: "\f058";
}

.craftsperson-skills__wrapper li:not(:first-child) {
  margin-top: 0.5em;
}

.craftsperson-skills__wrapper li::marker {
  font-family: "line awesome free";
}

{% call utils.small() %}
  .craftsperson-skills__wrapper li {
    {{ utils.natus() }}
  }
{% endcall %}

/*------------------------------------*\
  #Craftsperson Info section
\*------------------------------------*/
.craftsperson-info {
  background: linear-gradient(180deg,#fff, 80%, #fce0ce);
  padding-bottom: 1.25em;
}

.craftsperson-info .text-and-image__container {
  gap: 3.5em;
  padding-bottom: 0;
  padding-top: 1em;
}

.craftsperson-info .text-and-image__copy {
  align-self: center;
}

.craftsperson-info .text-and-image__image > img {
  transform: none;
}

{% call utils.medium() %}
  .craftsperson-info .text-and-image__container {
    padding-top: 3em;
  }

  .craftsperson-info .container--img-left {
    padding-left: 0;
    padding-right: 2.5em;
  }

  .craftsperson-info .text-and-image__image {
    align-self: flex-start;
  }

  .craftsperson-info .container--img-left .text-and-image__image  {
    transform: scale(1.5) translateX(-2.5em);
  }

  .craftsperson-info .container--img-right {
    padding-left: 2.5em;
    padding-right: 0;
    padding-bottom: 3em;
  }
{% endcall %}

{% call utils.small() %}
  .craftsperson-info .text-and-image__container {
    gap: 0;
    padding-top: 0;
  }

  .craftsperson-info .text-and-image__copy h2 {
    {{ utils.freed() }}
    font-weight: initial;
  }

  .craftsperson-info .text-and-image__copy p {
    {{ utils.natus() }}
  }

  .craftsperson-info .text-and-image__image {
    max-width: 80%;
  }

  .craftsperson-info .container--img-left .text-and-image__image {
    align-self: flex-start;
    transform: translateX(-4.5em);
  }

  .craftsperson-info .container--img-right .text-and-image__image {
    transform: translateX(2em);
  }
{% endcall %}

/*------------------------------------*\
  #Interview section
\*------------------------------------*/
{% call utils.large_and_extra_large() %}
  .interview {
    padding: 2.5em 0;
  }

  .interview .text-and-image__container {
    gap: 5em;
  }

  .interview .text-and-image__image {
    align-self: flex-start;
  }
{% endcall %}

{% call utils.medium() %}
  .interview .text-and-image__container {
    padding: 4em 2.5em 0 0;
  }

  .interview .text-and-image__image {
    align-self: flex-start;
    transform: translateX(-2.5em);
  }
{% endcall %}

{% call utils.small() %}
  .interview .text-and-image__container {
    padding-top: 4em;
    padding-bottom: 0;
  }

  .interview .text-and-image__image {
    display: none;
  }

  .interview .text-and-image__copy h2 {
    {{ utils.freed() }}
    font-weight: initial;
  }

  .interview .text-and-image__copy p {
    {{ utils.natus() }}
  }
{% endcall %}