{% import '../utils/utils.css' as utils %}

.custom-btn {
  margin-top: 1.5em;
}

.craftsperson-hero,
.craftsperson-video {
  {{ utils.color1_to_color2("180deg", 
    "rgba(253,237,226,1) 0%", 
    "rgba(255,255,255,1) 85%") 
  }}
}

/*------------------------------------*\
  #Hero section
\*------------------------------------*/

.craftsperson-hero {
  overflow: hidden;
}

.craftsperson-hero__container {
  display: flex;
  flex-direction: column-reverse;
  padding: 1em;
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.craftsperson-hero__text {
  margin-top: 1em;
  max-width: 48ch;
  align-self: center;
}

.craftsperson-hero__text h1 {
  {{utils.eames()}}
  font-weight: var(--heavy-font-weight);
}

.craftsperson-hero__image {
    transform: translate(15%, 5%);
}

{% call utils.medium_large_and_extra_large() %}
    .craftsperson-hero__container {
        flex-direction:row;
    }
    .craftsperson-hero__image {
        transform: translateX(10%);
        align-self: start;
        scale: 1.2;
    }
    .craftsperson-hero__text{
        max-width: 50%;
    }
    .craftsperson-hero__text h1{
        {{utils.eames()}}
    }
    .craftsperson-hero__text p{
        {{utils.freed()}}
        font-weight: var(--light-font-weight);
    }
{% endcall %}

{% call utils.large_and_extra_large() %}
    .craftsperson-hero__container{
        padding-left: 2.5em;
    }
{% endcall %}

{% call utils.extra_large() %}
    .craftsperson-hero__container{
        overflow: initial;
        padding: 1em 0;
    }
{% endcall %}

/*------------------------------------*\
  #Skills section
\*------------------------------------*/

.craftsperson-skills {
  --background-img: url("https://www.codurance.com/hubfs/Careers%20Page/Software%20Craftsperson/skills-image-XL-careers-software-craftsperson.svg");
  --background-gradient: linear-gradient(180deg, rgba(255,252,250,1) 0%, rgba(252,224,206,1) 100%);

  background: var(--tango-400);
  background: var(--background-gradient);
}

{% call utils.extra_large() %}
  .craftsperson-skills {
    background: var(--background-img) right calc(100% - 4em) no-repeat, var(--background-gradient);
  }
{% endcall %}

.craftsperson-skills__wrapper {
  margin-inline: auto;
  max-width: var(--content-inner-max-width);
  padding: 4em 1em;
}

.craftsperson-skills__title {
  {{ utils.dudler() }}

  font-weight: var(--light-font-weight);
  margin-bottom: 1.5em;
}

.craftsperson-skills__wrapper ul {
  margin-left: 1em;
}

{% call utils.medium_large_and_extra_large() %}
  .craftsperson-skills__wrapper ul {
    columns: 2;
    column-gap: 4em;
  }

  .craftsperson-skills__wrapper li {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
  }
{% endcall %}

.craftsperson-skills__wrapper li {
  padding-left: 0.4em;
  list-style-type: "\f058";
}

.craftsperson-skills__wrapper li:not(:first-child) {
  margin-top: 0.5em;
}

.craftsperson-skills__wrapper li::marker {
  font-family: "line awesome free";
}

/*------------------------------------*\
  #Craftsperson Info section
\*------------------------------------*/
.craftsperson-info {
  {{ utils.white_to_tango() }}
}