{% import '../utils/utils.css' as utils %}


.body-container-become-craftsperson-in-training .dnd-section {
  padding-bottom: 0;
  padding-top: 0;
}

.become-a-craftsperson-in-banner-section .row-number-1 .row-fluid {
  padding-left: 0;
  padding-right: 0;
}

.become-a-craftsperson-in-how-work-section .row-number-1 .row-fluid {
  max-width: var(--centered-content-max-width);
}

.become-a-craftsperson-in-how-work-section .row-number-2 h2,
.become-a-craftsperson-in-required-skills-section .row-number-2 h2 {
  font-size: var(--dudler-font-size);
  font-weight: var(--heavy-font-weight);
  line-height: var(--dudler-line-height);
  margin-bottom: var(--base-margin);
  text-align: center;
}

.become-a-craftsperson-in-how-work-section .row-number-2 p,
.become-a-craftsperson-in-required-skills-section .row-number-2 p {
  {{ utils.natus() }}
  display: block;
  margin-bottom: var(--base-margin);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--natus-max-width);
  padding-bottom: 20px;
  text-align: center;
}

.become-a-craftsperson-in-how-work-section,
.become-a-craftsperson-in-required-skills-section {
  padding-bottom: 3.57143rem;
  padding-top: 3.57143rem;
}

.become-a-craftsperson-in-required-skills-section {
  background-color: var(--athens-gray);
}

.become-a-craftsperson-in-required-skills-section .row-number-3 {
  margin-top: 1rem;
}

.become-a-craftsperson-in-required-skills-section .row-number-3 .row-fluid {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}
{% call utils.medium_large_and_extra_large() %}
  .become-a-craftsperson-in-required-skills-section .row-number-3 .row-fluid {
    flex-direction: row;
  }
{% endcall %}
{% call utils.small() %}
  .become-a-craftsperson-in-required-skills-section .row-number-3 .row-fluid {
    flex-direction: column;
  }
{% endcall %}

.become-a-craftsperson-in-required-skills-section .row-number-3 .dnd-column {
  padding-left: 1.4rem;
}
{% call utils.medium_large_and_extra_large() %}
  .become-a-craftsperson-in-required-skills-section .row-number-3 .dnd-column {
    width: 50%;
  }
{% endcall %}
{% call utils.small() %}
  .become-a-craftsperson-in-required-skills-section .row-number-3 .dnd-column {
    width: 100%;
  }
{% endcall %}

{% call utils.medium_large_and_extra_large() %}
  .become-a-craftsperson-in-required-skills-section .row-number-3 .dnd-column + .dnd-column {
    margin-left: 3rem;
  }
{% endcall %}
{% call utils.small() %}
  .become-a-craftsperson-in-required-skills-section .row-number-3 .dnd-column + .dnd-column {
    margin-left: 0;
    margin-top: 2rem;
  }
{% endcall %}

.become-a-craftsperson-in-required-skills-section .row-number-4 h3,
.become-a-craftsperson-in-required-skills-section .row-number-5 h3 {
  {{ utils.base() }}
  font-weight: var(--middle-font-weight);
  margin-bottom: var(--base-margin);
}

.become-a-craftsperson-in-required-skills-section .row-number-4 li,
.become-a-craftsperson-in-required-skills-section .row-number-5 li {
  {{ utils.natus() }}
  display: inline-block;
  height: 20px;
  list-style: none;
  margin: 10px 0;
  position: relative;
}

.become-a-craftsperson-in-required-skills-section .row-number-4 li::before,
.become-a-craftsperson-in-required-skills-section .row-number-5 li::before {
  color: var(--tango);
  content: "\f058";
  font-family: "line awesome free";
  font-size: 1.2em;
  left: -1.5em;
  position: absolute;
}

.become-a-craftsperson-in-midpage-banner-section .row-fluid {
  padding-left: 0;
  padding-right: 0;
}



{#
.become-a-craftsperson-in-required-skills-section .span6 {
  width: 50%;
  margin: 0;
  padding: 0 15px;
  text-align: left;
}

{% call utils.small_and_medium() %}
  .become-a-craftsperson-in-required-skills-section .span6 {
    width: 100%;
  }
{% endcall %}

{% call utils.small() %}
  .become-a-craftsperson-in-required-skills-section .span6 {
    width: 100%;
    padding: 0;
  }
{% endcall %}



.body-container-become-craftsperson-in-training .custom-section-header-row.become-a-craftsperson-in-required-skills-section .span6 .hs_cos_wrapper_type_rich_text {
  margin: 0;
  text-align: left;
}

.body-container-become-craftsperson-in-training .custom-section-header-row.become-a-craftsperson-in-required-skills-section .span6 .hs_cos_wrapper_type_rich_text h5 {
  color: #555;
  position: relative;
  margin-bottom: 30px;
  padding-left: 40px;
}

.body-container-become-craftsperson-in-training .custom-section-header-row.become-a-craftsperson-in-required-skills-section .span6 .hs_cos_wrapper_type_rich_text ul {
  margin-top: 0;
  margin-bottom: 1rem;
}


.body-container-become-craftsperson-in-training .custom-section-header-row.become-a-craftsperson-in-required-skills-section .span6 .hs_cos_wrapper_type_rich_text ul li {
  display: inline-block;
  height: 20px;
  margin: 10px 0;
  background: url({{ get_asset_url("../images/circled-tick.png")}});
  background-repeat: no-repeat;
  background-size: 20px 20px;
  list-style: none;
  padding-left: 30px;
  line-height: 20px;
}

.body-container-become-craftsperson-in-training .custom-section-header-row:not(.become-a-craftsperson-in-interview-process-section) .hs_cos_wrapper_type_rich_text p {
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: inherit;
  max-width: 100%;
  margin-top: 1.5rem;
  padding-bottom: 16px;
}

.body-container-become-craftsperson-in-training .custom-section-header-row:not(.become-a-craftsperson-in-interview-process-section) .hs_cos_wrapper_type_rich_text {
  margin-bottom: 60px;
}

{% call utils.small() %}
  .body-container-become-craftsperson-in-training .custom-section-header-row.become-a-craftsperson-in-required-skills-section .span6 .hs_cos_wrapper_type_rich_text ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 15px;
  }

  .body-container-become-craftsperson-in-training .custom-section-header-row:not(.become-a-craftsperson-in-interview-process-section) .hs_cos_wrapper_type_rich_text p {
    padding-left: 20px;
    padding-right: 20px;
  }
{% endcall %}

.become-a-craftsperson-in-banner-section.custom-become-a-craftsperson-row1 .custom-py-120 {
  padding-top: 8.57143rem !important;
  padding-bottom: 8.57143rem !important;
} #}