{% import '../utils/utils.css' as utils %}

/*------------------------------------*\
  #General styles
\*------------------------------------*/  

.custom-btn {
  margin-top: 1.5em;
}

.custom-btn > a {
  margin: 0;
}

{% call utils.small_and_medium() %}
  .craftsperson-skills .custom-btn > a,
  .craftsperson-info .custom-btn > a {
    width: fit-content;
  }
{% endcall %}

{% call utils.medium() %}
  .craftsperson-cta .cta-block {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

  .craftsperson-cta .cta-block__title {
    max-width: none;
  }
{% endcall %}

{% call utils.small() %}
  .craftsperson-cta .cta-block {
    background-position-x: 70%;
  }
{% endcall %}

/*------------------------------------*\
  #Hero section
\*------------------------------------*/

.header-hero {
  {{ utils.tango_to_white() }}

  overflow: hidden;
}

{% call utils.small_and_medium() %}
  .craftsperson-container .header-hero__image {
    --translate-img: translate(27.5%,-25%);

    transform: var(--translate-img);
  }
{% endcall %}

{% call utils.medium() %}
  .craftsperson-container .header-hero__image {
    transform: var(--translate-img) scale(1.2);
  }
{% endcall %}

{% call utils.small() %}
  .craftsperson-container .header-hero__text {
    margin-top: -4.5em;
  }
{% endcall %}

/*------------------------------------*\
  #Craftsperson Videos section
\*------------------------------------*/

.craftsperson-videos {
  {{ utils.white_to_tango() }}
  padding-top: 1em;
  padding-bottom: 4em;
}

{% call utils.medium_and_large() %}
  .craftsperson-videos > .mosaic-collection {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
{% endcall %}

{% call utils.small() %}
  .craftsperson-videos > .mosaic-collection {
    padding-left: 1em;
    padding-right: 1em;
  }
{% endcall %}

/*------------------------------------*\
  #Skills section
\*------------------------------------*/

.craftsperson-skills {
  --background-img: url("https://www.codurance.com/hubfs/Careers%20Page/Software%20Craftsperson/skills-image-XL-careers-software-craftsperson.svg");
  --background-gradient: linear-gradient(180deg, rgba(255,252,250,1) 0%, rgba(252,224,206,1) 100%);

  background: var(--tango-400);
  background: var(--background-gradient);
}

{% call utils.medium_large_and_extra_large() %}
  .craftsperson-skills {
    background: var(--background-img) right calc(100% - 4em) no-repeat, var(--background-gradient);
  }
{% endcall %}

{% call utils.medium() %}
  .craftsperson-skills > .craftsperson-skills__wrapper {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
{% endcall %}

.craftsperson-skills__wrapper {
  margin-inline: auto;
  max-width: var(--content-inner-max-width);
  padding: 4em 1em;
}

.craftsperson-skills__title {
  {{ utils.dudler() }}

  font-weight: var(--light-font-weight);
  margin-bottom: 0.5em;
}

{% call utils.small() %}
  .craftsperson-skills__title {
    {{ utils.freed() }}
    font-weight: initial;
  }
{% endcall %}

.craftsperson-skills__wrapper ul {
  margin-left: 1em;
}

{% call utils.large_and_extra_large() %}
  .craftsperson-skills__wrapper ul {
    columns: 2;
    column-gap: 4em;
  }

  .craftsperson-skills__wrapper li {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
  }
{% endcall %}

{% call utils.medium() %}
  .craftsperson-skills__wrapper li {
    max-width: var(--freed-max-width);
  }
{% endcall %}

.craftsperson-skills__wrapper li {
  padding-left: 0.4em;
  list-style-type: "\f058";
}

.craftsperson-skills__wrapper li:not(:first-child) {
  margin-top: 0.5em;
}

.craftsperson-skills__wrapper li::marker {
  font-family: "line awesome free";
}

{% call utils.small() %}
  .craftsperson-skills__wrapper li {
    {{ utils.natus() }}
  }
{% endcall %}

/*------------------------------------*\
  #Craftsperson Info section
\*------------------------------------*/

.craftsperson-info {
  background: linear-gradient(180deg,#fff, 80%, #fce0ce);
  padding-bottom: 1.25em;
}

{% call utils.small() %}
  .craftsperson-info .container--img-left .text-and-image__image {
    transform: scale(1.2) translateX(-4.5em);
  }
{% endcall %}

{% call utils.medium() %}
  .craftsperson-info .container--img-left .text-and-image__image {
    transform: scale(1.5) translateX(-2.5em);
  }
{% endcall %}

{% call utils.large() %}
  .craftsperson-info {
    padding: 0 1em 1.25em 1em;
  }
{% endcall %}

/*------------------------------------*\
  #Interview section
\*------------------------------------*/

.interview {
  padding: 2.5em 1em;
}
