{% import '../utils/utils.css' as utils %}

{% import '../partials/blog-card.css' %}

.blog-max-width {
  font-size:  var(--base-font-size);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--base-max-width) !important;
  padding-left: 2rem;
  padding-right: 2rem;
}

.blog-post__title {
  {{ utils.eames() }}
  color: white;
}

.blog-meta__inner {
  {{ utils.card_shadow() }}
  align-items: center;
  background-color: white;
  display: flex;
  margin-top: -2rem;
  padding: 1em;
  position: relative;
  z-index: 2;
}
{% call utils.small() %}
  .blog-meta__inner {
    flex-direction: column;
  }
{% endcall %}


.blog-meta__info {
  {{ utils.natus() }}
  white-space: nowrap;
  display: flex;
  gap: 0.3em;
}
{% call utils.medium_large_and_extra_large() %}
  .blog-meta__info {
    flex-direction: column;
  }
  
  .info__dot{
    display: none;
  }

{% endcall %}


.blog-meta__tag-list {
  list-style: none;
  margin-bottom: 0;
}
{% call utils.medium_large_and_extra_large() %}
  .blog-meta__tag-list {
    margin-left: auto;
    margin-top: 0;
    text-align: right;
  }

  .tag-list--left {
    margin-left: 0;
  }

{% endcall %}

{% call utils.small() %}
  .blog-meta__tag-list {
    margin-top: 0.5em;
    text-align: center;
}
{% endcall %}

{% set tag_margin = '0.3em' %}
.blog-meta__tag-item {
  display: inline-block;
  margin-bottom: {{ tag_margin }};
}

.blog-meta__tag-item + .blog-meta__tag-item {
  margin-left: {{ tag_margin }};
}

.blog-author-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  margin-top: 2rem;
}
{% call utils.small() %}
  .blog-author-info {
    flex-direction: column;
  }
{% endcall %}

{% call utils.small() %}
  .blog-author-info__text-container {
    text-align: center;
  }
{% endcall %}

.blog-author-info__outer {
  display: flex;
  align-items: center;
}
{% call utils.small() %}
  .blog-author-info__outer {
    flex-direction: column;
  }
{% endcall %}


{% set author_image_margin = '0.6rem' %}
.blog-author-info__author-image {
  max-width: 70px;
  border-radius: 50%;
  height: auto;
}
{% call utils.medium_large_and_extra_large() %}
  .blog-author-info__author-image {
    margin-right: {{ author_image_margin }};
  }
{% endcall %}
{% call utils.small() %}
  .blog-author-info__author-image {
    margin-bottom: {{ author_image_margin }};
  }
{% endcall %}

.blog-author-info__name {
  {{ utils.base() }}
  font-weight: var(--middle-font-weight);
}

.blog-author-info__author-link {
  {{ utils.natus() }}
}

.blog-content p {
  {{ utils.base() }}
  {{ utils.base_margin() }}
}

.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5 {
  {{ utils.freed() }}
  margin-bottom: var(--freed-margin);
  margin-top: calc(var(--freed-margin) * 2);
}

.blog-content h1 > span,
.blog-content h2 > span,
.blog-content h3 > span,
.blog-content h4 > span,
.blog-content h5 > span,
.blog-content p > span {
  font-size: inherit !important;
  color: inherit !important;
}

.blog-content blockquote {
  {{ utils.freed_margin() }}
}

.blog-content code {
  {{ utils.natus() }}
  font-family: monospace;
}

.newsletter .newsletter-wrapper {
  margin-top: 2.4em;
  margin-bottom: 2.4em;
}

{% call utils.extra_large() %}
  .newsletter .newsletter-wrapper {
    max-width: var(--base-max-width);
  }

  .newsletter-wrapper .newsletter-inner {
    flex-flow: column;
    max-width: 30rem;
  }

  .newsletter-text-content__title {
    max-width: 20ch;
  }

  .newsletter__form {
    align-self: flex-end;
  }

  .newsletter .newsletter__form .hs-form {
    align-items: unset;
  }
{% endcall %}

.related-blog-section {
  background-color: var(--athens-gray);
}

.related-blog-section__inner {
  padding: 2rem 1rem;
}

.related-blog-section__title {
  font-size: var(--dudler-font-size);
  line-height: var(--dudler-line-height);
  text-align: center;
}

.related-blog-section__tag-container {
  margin-bottom: 3rem;
}

.blog-subscribe-banner {
  background-color: var(--midnight-blue);
  color: white;
  font-size: var(--freed-font-size);
  padding: 2rem 1rem;
}

.blog-subscribe-banner__inner.page-center {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
{% call utils.small() %}
  .blog-subscribe-banner__inner.page-center {
    flex-direction: column;
  }
{% endcall %}

{% call utils.small() %}
  .blog-subscribe-banner__text-container {
    text-align: center;
    width: 100%;
  }
{% endcall %}
{% call utils.medium_large_and_extra_large() %}
  .blog-subscribe-banner__text-container {
    margin-right: 2rem;
  }
{% endcall %}

.blog-subscribe-banner__text {
  {{ utils.freed() }}
  color: white;
}

{% call utils.small() %}
  .blog-subscribe-banner__button-container {
    margin-top: 2rem;
    width: 100%;
  }
  .blog-subscribe-banner__button-container [class*="button"] {
    width: 100%;
    max-width: var(--button-max-width);
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
{% endcall %}