{% import '../utils/utils.css' as utils %}

.blog-listing {
  background: var(--athens-gray);
}

.blog-listing__inner-wrapper {
  padding-top: var(--space-4);
  padding-bottom: var(--space-6);
}

.blog-listing__intro {
  margin-bottom: 2em;
  max-width: 800px;
  margin-inline: auto;
}

.blog-listing__posts {
  display: grid;
  gap: var(--space-4);
}

{% call utils.large_and_extra_large() %}
  .blog-listing__posts {
    grid-template-columns: repeat(3, 1fr);
  }
{% endcall %}

{% call utils.medium() %}
  .blog-listing__posts {
    grid-template-columns: repeat(2, 1fr);
  }
{% endcall %}

/* PAGINATION STYLES OVERRIDES */
.u-pagination-v1-4 {
  color: var(--shark);
}

.u-pagination-v1-4:hover {
  color: var(--shark);
  border-color: var(--persimmon);
}

.u-pagination-v1-4--active {
  background-color: var(--persimmon);
  border-color: var(--persimmon--dark);
}

.blog-pagination {
  margin-top: var(--space-7);
  text-align: center;
}

.blog-pagination ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-evenly;
}

.pagination-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--space-3);
  justify-content: center;
}

.blog-pagination a {
  color: var(--shark);
  padding: var(--space-0) var(--space-2);
  border: 1px solid transparent;
  border-radius: 50px;
  transition: all .3s ease;
}

.blog-pagination a:hover {
  border-color: var(--persimmon);
  text-decoration: none;
}

{% call utils.small() %}
  .previous-page-button,
  .next-page-button {
    display: none;
  }
{% endcall %}

.previous-page-button a,
.next-page-button a {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--mid-gray);
}

.previous-page-button i {
  margin-right: var(--space-0);
}

.next-page-button i {
  margin-left: var(--space-0);
}



