{% import '../utils/utils.css' as utils %}

.blog-listing {
  background: var(--athens-gray);
}

.blog-listing__inner-wrapper {
  padding-top: var(--space-4);
  padding-bottom: var(--space-6);
}

.blog-listing__intro {
  margin-bottom: 2em;
  max-width: 800px;
  margin-inline: auto;
}

.masonry-grid-sizer,
.blog-listing__post-wrapper {
  --gutter: var(--space-4);
  width: 100%;
}

.blog-listing__post-wrapper {
  margin-bottom: var(--gutter); 
}

{% call utils.medium() %}
  .masonry-grid-sizer,
  .blog-listing__post-wrapper {
    --card-width: calc((100% - var(--gutter)) / 2);
    width: var(--card-width);
  }

  .blog-listing__post-wrapper--featured {
    width: 100%;
  }

{% endcall %}

{% call utils.large_and_extra_large() %}
  .masonry-grid-sizer,
  .blog-listing__post-wrapper {
    --gutter-xl: var(--space-6);
    --card-width: calc((100% - var(--gutter-xl)) / 3 );
    width: var(--card-width);
  }

  .blog-listing__post-wrapper--featured {
    --featured-card-width:calc(var(--card-width) * 2);

    width: calc(var(--featured-card-width) + var(--gutter));
  }
{% endcall %}

.masonry-grid .widget-module ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-top: 0;
}
.masonry-grid .hs_cos_wrapper_type_post_filter h3 {
  margin: 0;
  padding: 0;
}

/* PAGINATION STYLES OVERRIDES */

.custom-ml-5 {
  margin-left: 0.35714rem !important;
}
.custom-mr-5 {
  margin-right: 0.35714rem !important;
}

.u-pagination-v1-4 {
  color: var(--shark);
}

.u-pagination-v1-4:hover {
  color: var(--shark);
  border-color: var(--persimmon);
}

.u-pagination-v1-4--active {
  background-color: var(--persimmon);
  border-color: var(--persimmon--dark);
}

.blog-pagination {
  margin-top: var(--space-7);
  text-align: center;
}

.blog-pagination ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-evenly;
}

.pagination-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--space-3);
  justify-content: center;
}

.blog-pagination a {
  color: var(--shark);
  padding: var(--space-0) var(--space-2);
  border: 1px solid transparent;
  border-radius: 50px;
  transition: all .3s ease;
}

.blog-pagination a:hover {
  border-color: var(--persimmon);
  text-decoration: none;
}

{% call utils.small() %}
  .previous-page-button,
  .next-page-button {
    display: none;
  }
{% endcall %}

.previous-page-button a,
.next-page-button a {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--mid-gray);
}

.previous-page-button i {
  margin-right: var(--space-0);
}

.next-page-button i {
  margin-left: var(--space-0);
}



