{% import '../utils/utils.css' as utils %}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 100px);
}  

body {
  max-width: unset;
}

.case-study-header {
  background: url("https://3042464.fs1.hubspotusercontent-na1.net/hubfs/3042464/Case%20Study%20Landing%20Pages/case-study-LP-header-bg-img.svg");
  background-position: top right;
  background-size: 70%;
  background-repeat: no-repeat;
  padding-top: var(--space-6);
  max-width: 1300px;
  margin-inline: auto;
}

.case-study-header__wrapper {
  display: flex;
}

.case-study-header__tag {
  background-image: url("https://3042464.fs1.hubspotusercontent-na1.net/hubfs/3042464/Case%20Study%20Landing%20Pages/Case%20Studie%20Label.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;

  color: white;
  font-weight: var(--middle-font-weight);
  padding: 1.2em;

  position: absolute;
  top: calc(var(--space-5) * -1);
}

.case-study-header__breadcrumbs {
  margin-top: var(--space-4);
}

.hs-breadcrumb-label,
.hs-breadcrumb-menu-divider:before {
  color: var(--shark);
}

.case-study-header__text-block .page-header.section-header h1 {
  {{ utils.eames() }}
  font-weight: var(--heavy-font-weight);
  margin-top: var(--space-0);
}

.case-study-header__text-block .page-header.section-header p {
  line-height: var(--base-line-height);
  margin-top: var(--space-0);
}

.case-study-header__text-block {
  max-width: 45%;
  position: relative;
  margin-top: var(--space-0);
}

.case-study-header__text-block .custom-btn {
  margin-top: 1.8em;
  max-width: fit-content;
}

.case-study-header__image {
  margin-left: auto;
  margin-right: 2em;
}

.secondary-menu {
  margin-top: var(--space-2);
}

{% call utils.medium() %}
  .case-study-header {
    background-position-x: 130%;
  }
{% endcall %}

{% call utils.small() %}
  .case-study-header{
    padding-top: 1em;
    background-position-x: 130%;
    background-size: 80%;

  }

  .case-study-header__wrapper{
    flex-direction: column-reverse;
    align-items: start;
  }

  .case-study-header__text-block{
    max-width: none;
    margin-top: unset;
  }

  .case-study-header__text-block .page-header.section-header h1 {
    {{ utils.freed() }}
    font-weight: var(--heavy-font-weight);
    max-width: var(--dudler-max-width);
  }

  .case-study-header__text-block .page-header.section-header p {
    {{ utils.natus() }}
  }

  .case-study-header__image{
    margin-right: 1em;
    max-width: 50%;
  }
{% endcall %}

/* ================================
  General styles for dnd_sections 
=================================== */

.dnd-section h2 {
  {{ utils.dudler() }}
  font-weight: var(--heavy-font-weight);

}
  
.dnd-section p {
  {{ utils.base() }}
}

{% call utils.small_and_medium() %}
  .dnd-section {
    padding-inline: var(--space-3);
  }
{% endcall%} 

{% call utils.small() %}
  .dnd-section h2 {
    {{utils.freed()}}
    font-weight: var(--heavy-font-weight);
  }

  .dnd-section p {
    {{utils.natus()}}
  }

{% endcall %}
