{% import '../utils/utils.css' as utils %}

/* Hero section */
.hero {
    {{ utils.color1_to_color2(
        "94deg", 
        "var(--woodsmoke)", 
        "var(--purple)"
    ) }}

    color: white;
}

.hero .text-and-image__container {
    max-width: var(--content-max-width);
}

.hero .text-and-image__copy h2 {
    {{ utils.freed() }}
    font-weight: var(--heavy-font-weight);
}

{% call utils.large_and_extra_large() %}
    .hero .text-and-image__copy {
        flex: 1 1;
        max-width: unset;
    }

    .hero .hs_cos_wrapper_type_inline_rich_text {
        margin-left: auto;
        max-width: var(--freed-max-width);
    }
{% endcall %}

{% call utils.large() %}
    .hero .text-and-image__container {
        padding-left: 50px;
        padding-right: 50px;
    }
{% endcall %}

/* Infographic section */
.infographic h2 {
    {{ utils.freed() }}
    font-weight: var(--heavy-font-weight);
}

#hs_cos_wrapper_infographic {
    margin-top: var(--space-4);
}

.infographic .benefits-wrapper {
    max-width: var(--content-max-width);
    padding: 0;
}

.infographic .custom-benefits-we-offer__icon {
    filter: drop-shadow(0px 3px 10px #00000029);
}

.infographic .custom-benefits-we-offer__text-container h3 {
    {{ utils.natus() }}
    font-weight: var(--heavy-font-weight);
}

{% call utils.medium_large_and_extra_large() %}
    .infographic .benefits-container {
        display: block;
    }

    .infographic .benefits-container article {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
    }
{% endcall %}

{% call utils.large_and_extra_large() %}
    .infographic .benefits-container {
        columns: 3;
    }
{% endcall %}

{% call utils.medium() %}
    .infographic .benefits-container {
        columns: 2;
    }
{% endcall %}
