{% import '../utils/utils.css' as utils %}


.contact-us__wrapper {
  display: flex;
  gap: var(--space-6);
  margin-top: var(--space-5);
  margin-bottom: var(--space-5);
  max-width: var(--content-max-width);
  margin-inline: auto;
}

.hs-get-in-touch-section {
  max-width: 600px;
  height: 100%;
  background-color: white;
  {{ utils.card_shadow() }}
  {{ utils.card_border_radius() }}
}

.hs-get-in-touch-section h3 {
  {{ utils.freed() }}
  padding-inline: var(--space-4);
  padding-top: var(--space-5);
}

.hs-get-in-touch-section .hs-button.primary {
  width: 100%;
}

.hs-get-in-touch-section form {
  padding: var(--space-5);
}


{% call utils.small_and_medium() %}
  .contact-us__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
{% endcall %}
