{% import '../utils/utils.css' as utils %}


.contact-us__wrapper {
  display: flex;
  gap: var(--space-6);
  margin-top: var(--space-5);
  margin-bottom: var(--space-5);
  max-width: var(--content-max-width);
  margin-inline: auto;
}


.hs-get-in-touch-section {
  position: sticky;
  top: var(--space-5);
  max-width: 600px;
  height: 100%;
  background-color: white;
  {{ utils.card_shadow() }}
  {{ utils.card_border_radius() }}

}

.hs-get-in-touch-section form {
  padding: var(--space-5);
}

