{% import '../utils/utils.css' as utils %}

/* .hs-contact-us-section1 .dnd-section {
  padding-top: 50px;
}

.hs-contact-us-section1 .dnd-section > .row-fluid {
  flex-direction: row;
  max-width: 1340px;
  padding-left: 50px;
  padding-right: 50px;
}

.hs-contact-us-section1 .dnd-section > .row-fluid > .span4 {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0;
  max-width: 33.3333%;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

{% call utils.medium_large_and_extra_large() %}
  .hs-contact-us-section1 .dnd-section {
    padding-bottom: 200px;
  }
{% endcall %}

{% call utils.large() %}
  .hs-contact-us-section1 .dnd-section > .row-fluid {
    padding-left: 30px;
    padding-right: 50px;
  }
{% endcall %}

{% call utils.small_and_medium() %}
  .hs-contact-us-section1 .dnd-section > .row-fluid {
    flex-wrap: wrap;
  }
  .hs-contact-us-section1 .dnd-section>.row-fluid > .span4 {
    margin-bottom: 19px;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
{% endcall %}

{% call utils.medium() %}
  .hs-contact-us-section1 .dnd-section > .row-fluid {
    padding-left: 25px;
    padding-right: 25px;
  }
  .hs-contact-us-section1 .dnd-section {
    padding-bottom: 180px;
  }
{% endcall %}

{% call utils.small() %}
  .hs-contact-us-section1 .dnd-section > .row-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hs-contact-us-section1 .dnd-section {
    padding-bottom: 70px;
  }
{% endcall %} */


.contact-us__wrapper {
  display: flex;
  justify-content: center;
  gap: var(--space-6);
}


.hs-get-in-touch-section {
  max-width: 700px !important;
  translate: 0 calc(-1 * var(--space-5));
  height: 100%;
  background-color: white;
  {{ utils.card_shadow() }}
  {{ utils.card_border_radius() }}

}

.hs-get-in-touch-section form {
  padding: var(--space-5);
}

