{% import '../utils/utils.css' as utils %}

{% set overlap = 200 %}
{% set ultimate_max_width = 1800 %}

.events-header-slice {
  max-width: none;
  {{ utils.card_shadow() }}
}


.main-container {
  background: linear-gradient(337deg, rgba(239,119,38,0.3967787798713235) 0%, 
                                      rgba(255,208,0,0.1026611328125) 77%, 
                                      rgba(255,255,255,1) 100%) fixed;
  padding-top: 3em;
  padding-bottom: 5em;
}

.events-description{
  margin: 0 auto;
}

.events-description__wrapper{
  background: white;
  margin: 0 2.5em;
  padding: 2.5em 7.5em;
  text-align: center;
  {{ utils.card_shadow() }}
}

@media (max-width: 1023px){
  .events-description__wrapper{
  margin: 0 1.5em;
  padding: 2.5em 1.5em;
  }
}

.events-description h2{
  font-weight: var(--heavy-font-weight);
}

.card-slider {
  max-width: {{ultimate_max_width}}px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

.card-slider__heading-wrapper {
  background-position: top center;
  background-size: cover;
  padding-bottom: {{overlap}}px;
}
@media (max-width: 767px) {
  .card-slider__heading-wrapper {
    padding-top: 40px;
  }
}
@media (min-width: 768px) {
  .card-slider__heading-wrapper {
    padding-top: 100px;
  }
}

@media (min-width: 768px) {
  {% set bottom_card_spacing = 30 %}
  
}