{% set overlap = 200 %}
{% set ultimate_max_width = 1800 %}

.events-header-slice {
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

main {
  margin-bottom: 100px;
}

.card-slider {
  max-width: {{ultimate_max_width}}px;
  margin-left: auto;
  margin-right: auto;
}

.card-slider__heading-wrapper {
  background-position: top center;
  background-size: cover;
  padding-bottom: {{overlap}}px;
}
@media (max-width: 767px) {
  .card-slider__heading-wrapper {
    padding-top: 40px;
  }
}
@media (min-width: 768px) {
  .card-slider__heading-wrapper {
    padding-top: 100px;
  }
}

@media (max-width: 767px) {
  
}
@media (min-width: 768px) {
  {% set bottom_card_spacing = 30 %}
  
}