{% import '../utils/utils.css' as utils %}

html{
    scroll-behavior: smooth;
}

body{
    max-width: none;
}

.hub-header,
.clients-section,
.feature-section{
       padding: 3em 1em;   
}

{% call utils.medium_large_and_extra_large() %}
    .hub-header,
    .clients-section,
    .compass-section,
    .feature-section{
           padding: 5em 3em;   
    }    
{% endcall %}

.hub-header {
    --image-background-top-right: url("https://www.codurance.com/hubfs/Service%20Line%20Pages/00_Hubpage/Header/HP_Background_Top-Right-Corner.svg");
    --image-background-bottom-left: url("https://www.codurance.com/hubfs/Service%20Line%20Pages/00_Hubpage/Header/HP_Background_Bottom-Left-Corner.svg");
    --image-background-bottom-right: url("https://www.codurance.com/hubfs/Service%20Line%20Pages/00_Hubpage/Header/HP_Background_Bottom-Right-Corner.svg");
    {{ utils.slate_to_woodsmoke() }}

    background: var(--image-background-top-right), 
        var(--image-background-bottom-left),
        var(--image-background-bottom-right),
        var(--slate-to-woodsmoke);
    background-position: top right, bottom left, bottom right;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 25em, 12em, 6em, cover;
    color: white;
    padding-top: 5em;
}

{% call utils.small_and_medium() %}
    .hub-header {
        background: var(--image-background-top-right), var(--slate-to-woodsmoke);
        background-size: 8em, cover;
        background-position: top right;
        background-repeat: no-repeat;
    } 
{% endcall %}

{% call utils.medium() %}
    .hub-header {
        background-size: 13em, cover;
    } 
{% endcall %}

.hub-header__title{
    {{ utils.dudler() }}
    var(--heavy-font-weight)
}

.hub-header__subtitle{
    {{ utils.freed_margin() }}
    max-width: var(--habib-max-width);
}

.hub-header .custom-btn{
    max-width: fit-content;
}

.compass-section{
    --gradient-main: #ecf8f8;
   {{ utils.color1_to_color2("to top", "var(--gradient-main)", "white") }}
    padding-left: 1em;   
    padding-right: 1em;   
}


{% call utils.medium_large_and_extra_large() %}
    .hub-header__title{
        {{ utils.gaudi() }}
    }

    .hub-header__subtitle{
        {{ utils.freed() }}
        font-weight: var(--light-font-weight);
        max-width: var(--freed-max-width);
        margin-top: var(--sejima-margin);
        margin-bottom: 1.7em;
    }

{% endcall %}

{% call utils.large_and_extra_large() %}
    .hub-header{
        background-size: auto, cover;
    }
    
{% endcall %}