{% import '../utils/utils.css' as utils %}

html{
    scroll-behavior: smooth;
}

body{
    max-width: none;
}

.hub-header,
.clients-section,
.feature-section{
       padding: 3em 1em;   
}

{% call utils.medium_large_and_extra_large() %}
    .hub-header,
    .clients-section,
    .compass-section,
    .feature-section{
           padding: 5em 3em;   
    }    
{% endcall %}


.hub-header__title{
    {{ utils.dudler() }}
    var(--heavy-font-weight)
}

.hub-header__subtitle{
    {{ utils.freed_margin() }}
    max-width: var(--habib-max-width);
}

.hub-header .custom-btn{
    max-width: fit-content;
}

.compass-section{
    --gradient-main: #ecf8f8;
   {{ utils.color1_to_color2("to top", "var(--gradient-main)", "white") }}
    padding-left: 1em;   
    padding-right: 1em;   
}

