.header {
    display: flex;
    flex-direction: column;
}

.breadcrumbs {
    margin-top: 2.5em;
    margin-inline: auto;
    width: 100%;
}

.breadcrumbs .first-crumb {
    padding-left: 0;
}

.header-title {
    margin-inline: auto;
    width: 100%;
}

.header-title {
    margin-top: 3.5em;
    margin-bottom: 6em;
}