{% import "../utils/utils.css" as utils %}

.header {
    {{ utils.color1_to_color2("to right", "var(--slate)", "var(--woodsmoke)") }}
    position: relative;
}

.header__text-container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    width: 100%;
    position: relative;
    z-index: 1;
}

.breadcrumbs {
    margin-top: 3.5em;
}

.breadcrumbs .first-crumb {
    padding-left: 0;
}

.hs-breadcrumb-label {
    {{ utils.natus() }}
}

.header-title {
    margin-top: .5em;
    margin-bottom: 4em;
}

.header-title h1 {
    {{ utils.eames() }}
}

.header__image-container {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
}

.header__image-container img {
    object-fit: cover;
    height: 100%;
}

.header__image-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    background-image: linear-gradient(90deg, var(--slate), transparent 40%);
}