{% import '../utils/utils.css' as utils %}

.hero .header-insights__container {
  gap: var(--space-5);
  min-height: 23rem;
}

.downloadable-assets.region {
  padding-top: unset;
}

.downloadable-assets__wrapper {
  max-width: var(--content-max-width);
  margin-inline: auto;
}

.downloadable-assets__listing {
  margin-top: -50px;
}

{% call utils.medium_large_and_extra_large() %}
  .downloadable-assets__listing {
    margin-top: -75px;
  }
{% endcall %}

{% call utils.small() %}  
  .hero .header-insights {
    min-height: 30rem;
  }
{% endcall %}