{% import '../utils/utils.css' as utils %}

/* Hero section */
.hero .header-insights__text h1 {
  font-weight: bold;
}

{% call utils.large_and_extra_large() %}
  .hero .header-insights__text {
    max-width: 52.5ch;
    text-wrap: pretty;
  }
{% endcall %}

{% call utils.medium_large_and_extra_large() %}
  .header-insights__container {
    gap: var(--space-5);
  }
{% endcall %}

{% call utils.small() %}
  .hero .hs-image-widget {
    max-height: 17rem;
  }
{% endcall %}

/* Latest episode section */
.latest-episode {
  {{ utils.white_to_tango() }}
}

.latest-episode__wrapper {
  max-width: var(--content-inner-max-width);
  margin-inline: auto;
}

.latest-episode__header {
  {{ utils.dudler() }}
  font-weight: bold;
}

.latest-podbean-episode {
  margin-top: var(--space-3);
}