.job-listing-page-header-banner {
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.job-listing-page-cards-container {
  background-color: var(--athens-gray);
}

.job-listing-page-cards {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  margin-left:auto;
  margin-right:auto;
  position: relative;
  top: -2rem;
}

.job-listing-page-cards >.job-card:not(:first-child) {
  margin-left: 0.7rem;
}
.job-listing-page-cards >.job-card:not(:last-child) {
  margin-right: 0.7rem
}