{% import '../utils/utils.css' as utils %}

.masonry-grid.row.custom-mb-70 {
  margin: 0;
}

.list-inline-item {
  {{ utils.natus() }}
  display: inline-block;
}

.list-inline-item:not(:last-child) {
  margin-right: 5px;
}