{% import '../utils/utils.css' as utils %}

.banner-area {
  color: white;
} 

/* Overrides the default padding 0 */
.banner-area .dnd-section {
  padding-top: var(--space-4) !important;
  padding-bottom: var(--space-7) !important;
}

.dnd-row:not(:first-child) {
  margin-top: var(--space-7);
}

.banner-area .dnd-column > .dnd-row:first-child .text-and-image__container {
  max-width: var(--content-max-width);
}

.banner-area .dnd-column > .dnd-row:first-child .text-and-image__copy {
  max-width: unset;
  flex: 1 1;
}

.banner-area .dnd-column > .dnd-row:first-child h2 {
  {{ utils.eames() }}
}

.banner-area .dnd-column > .dnd-row:first-child p {
  {{ utils.freed() }}
  font-weight: var(--light-font-weight);
}

.banner-area .page-header.section-header {
  max-width: var(--content-inner-max-width);
}

.banner-area .page-header.section-header h2 {
  max-width: var(--eames-max-width);
}

.banner-area .page-header.section-header p {
  max-width: var(--freed-max-width);
}

.banner-area .widget-type-header h2 {
  max-width: var(--content-inner-max-width);
  margin-inline: auto;
}

{% call utils.small() %}
  .banner-area .dnd-row {
    padding-left: 20px;
    padding-right: 20px;
  }
{% endcall %}

{% call utils.medium() %}
  .banner-area .dnd-row {
    padding-left: 25px;
    padding-right: 25px;
  }
{% endcall %}

{% call utils.large() %}
    .banner-area .dnd-row {
      padding-left: 50px;
      padding-right: 50px;
    }
{% endcall %}

{% call utils.extra_large() %}
  .banner-area .dnd-row {
      max-width: var(--content-max-width);
      margin-inline: auto;
  }
{% endcall %}