{% import '../utils/utils.css' as utils %}

 .body-container-become_newsletter-sign-up {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
 }


.newsletter-sign-up__container {
    padding: 4rem;
    {{ utils.card_shadow() }};
    max-width: 90%;
    margin: 4rem auto;
}

.newsletter-sign-up-container__title {
    font-size: var(--dudler-font-size);
    line-height: var(--dudler-line-height);
    margin-bottom: var(--dudler-margin);
}

.newsletter-sign-up_container__icon {
    font-size: 3rem;
    color: var(--french-gray);
    border-radius: 50%;
    padding: 0.75rem;
    {{ utils.card_shadow() }};
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 1.5rem;
    z-index: 1;
    background: white;

}

.form-wrapper-class .hs-button {
    width: 100%;
    color: white;
    background: var(--persimmon);
    padding: 8px 15px;
    text-align: center;
    display: inline-block;
    font-size: var(--natus-font-size);
    font-weight: var(--heavy-font-weight);
    line-height: var(--natus-line-height);
    border-radius: 3px;

}


{% call utils.medium_large_and_extra_large() %}
    .newsletter-sign-up-container__title {
        font-size: var(--habib-font-size);
        line-height: var(--habib-line-height);
        max-width: 80%; 
        margin-bottom: 4rem; 
    }

    .form-wrapper-class form {
        display: flex;
        align-items: baseline;
        max-width: 80%;
    }

    .form-wrapper-class form div {
        flex: 1;
    }
    

{% endcall %} 

