{% import '../utils/utils.css' as utils %}
   
    .body-wrapper {
        background: rgb(239,119,38);
        background: linear-gradient(0deg, rgba(239,119,38,0.7329306722689075) 0%, rgba(255,255,255,1) 100%);
        background: url('https://f.hubspotusercontent10.net/hubfs/3042464/newsletter%20sign%20up%20page/background-image-newsletter-sign-up-x-large.png');
    }

    .body-container-thank-you {
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;
     }
   
   .newsletter-thank-you__container {
       background: white;
       margin: 4rem auto;
       max-width: 90%;
       padding: 4rem 2rem 2rem 2rem;
       position: relative;
       {{ utils.card_shadow() }};
   }

   .bolded-text {
    font-weight: var(--heavy-font-weight);
    }
   
   .newsletter-thank-you-container__title {
       font-size: var(--dudler-font-size);
       line-height: var(--dudler-line-height);
       margin-bottom: var(--dudler-margin);
   }
   
   .newsletter-thank-you_container__icon {
       background: white;
       border-radius: 50%;
       border: 2px solid var(--java);
       color: var(--java);
       font-size: 3rem;
       left: 50%;
       padding: 0.75rem;
       position: absolute;
       top: -8%;
       transform: translate(-50%);
       z-index: 1;
       {{ utils.card_shadow() }};
   }

   .bolded-text {
    font-weight: var(--heavy-font-weight);
}
   
   .form-wrapper-class .hs-button {
       background: var(--persimmon);
       border-radius: 3px;
       color: white;
       display: inline-block;
       font-size: var(--natus-font-size);
       font-weight: var(--heavy-font-weight);
       line-height: var(--natus-line-height);
       padding: 8px 15px;
       text-align: center;
       width: 100%;
   }

 
{% call utils.medium() %}
   .newsletter-thank-you__container {
       max-width: 70%;    
       padding: 4rem 3rem 3rem 3rem;
   }
   .form-wrapper-class form {
       margin-top: 2rem;
   }
{% endcall %} 

{% call utils.large() %}
   .newsletter-thank-you__container {
       max-width: 50%;    
       padding: 6rem 5rem 5rem 5rem;
   }
   .form-wrapper-class form {
       margin-top: 2rem;
   }
{% endcall %} 

{% call utils.extra_large() %}

   .newsletter-thank-you__container {
       max-width: 90%;    
       padding: 5rem 5rem 3rem 5rem;
   }

   .form-wrapper-class form {
       align-items: baseline;
       display: flex;
       max-width: 90%;
   }

   .form-wrapper-class form div {
       flex: 1;
   }
{% endcall %} 


   