{% import '../utils/utils.css' as utils %}

 .body-container-become_newsletter-sign-up {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
 }


.newsletter-sign-up__container {
    margin: 4rem auto;
    max-width: 90%;
    padding: 4rem 2rem 2rem 2rem;
    position: relative;
    {{ utils.card_shadow() }};
}

.newsletter-sign-up-container__title {
    font-size: var(--dudler-font-size);
    line-height: var(--dudler-line-height);
    margin-bottom: var(--dudler-margin);
}

.newsletter-sign-up_container__icon {
    background: white;
    border-radius: 50%;
    color: var(--french-gray);
    font-size: 3rem;
    left: 50%;
    top: -8%;
    padding: 0.75rem;
    position: absolute;
    transform: translate(-50%);
    z-index: 1;
    {{ utils.card_shadow() }};
}

.form-wrapper-class .hs-button {
    background: var(--persimmon);
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-size: var(--natus-font-size);
    font-weight: var(--heavy-font-weight);
    line-height: var(--natus-line-height);
    padding: 8px 15px;
    text-align: center;
    width: 100%;
}


{% call utils.medium_large_and_extra_large() %}

    .newsletter-sign-up-container__title {
        font-size: var(--habib-font-size);
        line-height: var(--habib-line-height);
        margin-bottom: 4rem; 
        max-width: 80%; 
    }

    .form-wrapper-class form {
        align-items: baseline;
        display: flex;
        max-width: 80%;
    }

    .form-wrapper-class form div {
        flex: 1;
    }
    
    .newsletter-sign-up_container__icon {
        top: 92%;
        left: 50%;
        position: absolute;
        transform: translate(-50%);
    }
    .newsletter-sign-up__container {
        padding: 4rem;
    }

{% endcall %} 

