{% import '../utils/utils.css' as utils %}

.our-people__heading-wrapper {
  {{ utils.gaudi() }}
  background-image: url(https://f.hubspotusercontent10.net/hubfs/3042464/Our%20People%20Page/our-people-header.jpg);
  background-size: cover;
  height: 300px;
  margin-bottom: -150px;
  padding-top: 100px;
}

.our-people__header {
  padding-left: 15px;
}

.our-people__footer {
  background-color: var(--midnight-blue);
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

.our-people__footer-wrapper {
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

{% call utils.medium_large_and_extra_large() %}
  .our-people__footer-wrapper {
    display: flex;
  }
{% endcall %}
{% call utils.small() %}
  .our-people__footer-wrapper {
    display: block;
  }
{% endcall %}

{% call utils.medium_large_and_extra_large() %}
  .our-people__hiring-info {
    width: 66%;
  }
{% endcall %}

.our-people__hiring-info h2 {
  {{ utils.dudler() }}
  margin-bottom: var(--dudler-margin);
}

.our-people__hiring-info p {
  margin-bottom: var(--base-margin);
}

.our-people__hiring-cta {
  margin: 0 auto;
}
@media (max-width: 480px) {
  .our-people__hiring-cta {
    width: 100%;
  }
}