.our-story-header-banner-section .banner .banner-content h1 {
  letter-spacing: 0.07143rem;
}

.our-story-body-copy-section .hs_cos_wrapper_type_rich_text h2 {
  display: inline-block;
  margin: 10px 0 24px 0;
  border-bottom: 2px solid #e67e22;
  font-size: 22px;
  padding-bottom: 10px;
  display: inline-block;
  position: relative;
}

.our-story-body-copy-section .dnd-row:last-child .hs_cos_wrapper_type_rich_text {
  margin-bottom: 0;
}

.our-story-body-copy-section .hs_cos_wrapper_type_rich_text h2:after {
  border-bottom: 1px dotted #e4e9f0;
  content: "";
  display: block;
  width: 1000%;
  margin-bottom: -6px;
  z-index: -1;
  position: relative;
  top: 5px;
}

.our-story-body-copy-section .hs_cos_wrapper_type_rich_text {
  display: block;
  overflow: hidden;
  margin-bottom: 14px;
}