{% import '../utils/utils.css' as utils %}

.our-people__heading-wrapper {
  {{ utils.eames() }}
  background-color: pink;
  height: 300px;
  margin-bottom: -150px;
  padding-top: 100px;
}

.our-people__header {
  padding-left: 15px;
}

.our-people__footer {
  background-color: var(--midnight-blue);
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

.our-people__footer-wrapper {
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

{% call utils.medium_large_and_extra_large() %}
  .our-people__footer-wrapper {
    display: flex;
  }
{% endcall %}
{% call utils.small() %}
  .our-people__footer-wrapper {
    display: block;
  }
{% endcall %}

{% call utils.medium_large_and_extra_large() %}
  .our-people__hiring-info {
    width: 66%;
  }
{% endcall %}

.our-people__hiring-info h2 {
  {{ utils.dudler() }}
  margin-bottom: var(--dudler-margin);
}

.our-people__hiring-info p {
  margin-bottom: var(--base-margin);
}

.our-people__hiring-cta {
  margin: 0 auto;
}
@media (max-width: 480px) {
  .our-people__hiring-cta {
    width: 100%;
  }
}

.our-people-bottom-banner-section .row-fluid .span8,
.our-people-bottom-banner-section .row-fluid .span4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0;
}

.our-people-bottom-banner-section .dnd-section {
  padding: 0;
}

.our-people-bottom-banner-section p {
  font-size: 1.3em;
  max-width: 750px;
  margin: auto;
}
.our-people-bottom-banner-section {
  background-color: var(--midnight-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}

.our-people-bottom-banner-section .widget-span .widget-span {
  display: flex;
  justify-content: center;
}
{% call utils.medium_large_and_extra_large() %}
  .our-people-bottom-banner-section .widget-span .widget-span {
    align-items: center;
    flex-direction: row;
  }
{% endcall %}
{% call utils.small() %}
  .our-people-bottom-banner-section .widget-span .widget-span {
    display: block;
  }
{% endcall %}

.our-people-bottom-banner-section .row-number-2 {
  margin-right: 4rem;
}

.our-people-bottom-banner-section .row-fluid .span8 {
  -ms-flex-item-align: center!important;
  align-self: center!important;
}

.our-people-bottom-banner-section h1,
.our-people-bottom-banner-section h2,
.our-people-bottom-banner-section h3 {
  {{ utils.dudler() }}
  color: white;
  margin-bottom: var(--freed-margin);
}

.our-people-bottom-banner-section p {
  {{ utils.base() }}
  color: white;
}

{% call utils.medium_large_and_extra_large() %}
  .our-people-bottom-banner-section .row-fluid .span8 {
    width: 75%;
  }
  .our-people-bottom-banner-section .row-fluid .span4 {
    width: 25%;
    text-align: right!important;
  }
{% endcall %}

{% call utils.small() %}
  .our-people-bottom-banner-section p {
    margin-bottom: 1.42857rem !important;
  }
{% endcall %}
