{% import '../utils/utils.css' as utils %}

.body-container-our-story .dnd-section {
  padding-bottom: 0;
  padding-top: 0;
}

.our-story-body-copy-section .hs_cos_wrapper_type_rich_text {
  display: block;
  overflow: hidden;
  margin-bottom: 14px;
}

.our-story-body-copy-section .hs_cos_wrapper_type_rich_text h2 {
  {{ utils.dudler() }}
  margin-bottom: var(--dudler-margin);
  font-weight: var(--heavy-font-weight);
}

.our-story-body-copy-section .hs_cos_wrapper_type_rich_text p {
  {{ utils.natus() }}
  {{ utils.base_margin() }}
}

.our-story-body-copy-section .dnd-row:last-child .hs_cos_wrapper_type_rich_text {
  margin-bottom: 0;
}
.our-story-how-we-work-section {
  margin-top: 3rem;
}