{% import '../utils/utils.css' as utils %}
 
.body-wrapper {
  overflow-x: hidden;
}

.filters-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 3em;
  margin-inline: auto;
  margin-top: -1em;
}

{% call utils.small() %}
  .filters-wrapper {
    flex-direction: column;
    margin-bottom: 1em;
  }
{% endcall %}

.main-container {
  margin: auto;
  padding-bottom: 5em;
  padding-top: 4em;
}