{% import '../utils/utils.css' as utils %}

.body-container-privacy-policy h1 {
    {{ utils.dudler() }}
    font-weight: var(--heavy-font-weight);
    margin-bottom: var(--dudler-margin);
}

.body-container-privacy-policy h2 {
    {{ utils.freed() }}
    font-weight: var(--middle-font-weight);
    margin-bottom: var(--freed-margin);
    margin-top: calc(var(--freed-margin) * 2);
}

.body-container-privacy-policy p {
    margin-bottom: var(--base-margin);
}

.body-container-privacy-policy p, li {
    {{ utils.base() }}
    max-width: var(--base-max-width);
}

.body-container-privacy-policy li {
    line-height: var(--base-line-height);
    margin: 1rem 0;
}

.body-container-privacy-policy ul {
    padding-left: 1rem;
}