{% import "../utils/utils.css" as utils %}

.cta-banner {
  {{ utils.slate_to_woodsmoke() }}
}

.cta-banner .cta-block {
  padding-top: var(--space-6);
  padding-bottom: var(--space-6);
}

.cta-banner .cta-block__wrapper {
  max-width: var(--content-max-width);
}

.cta-banner .cta-block__title {
  max-width: none;
}

.related-services {
  max-width: var(--content-max-width);
  margin-inline: auto;
}

.related-services h2 {
  {{ utils.dudler() }}
  {{ utils.dudler_margin() }}
  font-weight: bold;
  max-width: var(--dudler-max-width);
}

.partners {
  max-width: var(--content-inner-max-width);
  margin-inline: auto;
  padding-bottom: var(--space-7);
}

.partners h2 {
  {{ utils.freed() }}
  {{ utils.freed_margin() }}
  max-width: var(--freed-max-width);
}

.partners h3 {
  {{ utils.base() }}
  {{ utils.base_margin() }}
  font-weight: var(--heavy-font-weight);
  max-width: var(--base-max-width);
  margin-top: var(--space-5);
}

.partners p:not(:first-child) {
  margin-top: var(--space-4);
}

.promotion .text-and-image__copy {
  align-self: center;
}