{% import "../utils/utils.css" as utils %}

.cta-banner .cta-block {
  padding-top: var(--space-6);
  padding-bottom: var(--space-6);
}

.cta-banner .cta-block__wrapper {
  max-width: var(--content-max-width);
}

.cta-banner .cta-block__title {
  max-width: none;
}

.related-services {
  max-width: var(--content-max-width);
  margin-inline: auto;
}

.related-services h2 {
  {{ utils.freed() }}
  margin-bottom: var(--freed-margin);
  font-weight: var(--heavy-font-weight);
  max-width: var(--freed-max-width);
}

.partners {
  max-width: var(--content-inner-max-width);
  margin-inline: auto;
  padding-bottom: var(--space-7);
}

.partners__header {
  max-width: 55ch;
}

.partners h2 {
  {{ utils.freed() }}
  {{ utils.freed_margin() }}
  font-weight: var(--heavy-font-weight);
}

.partners h3 {
  {{ utils.base() }}
  {{ utils.base_margin() }}
  font-weight: var(--heavy-font-weight);
  margin-top: var(--space-7);
}

.partners p:not(:first-child) {
  margin-top: var(--base-margin);
}

.partners .cm-partners-logo-group {
  justify-content: flex-start;
  gap: var(--space-4);
}

{% call utils.large_and_extra_large() %}
  .partners .cm-partners-logo-group {
    flex-wrap: nowrap;
  }
{% endcall %}

{% call utils.small_and_medium() %}
  .partners p {
    {{ utils.natus() }}
  }
{% endcall %}

{% call utils.small() %}
  .partners .cm-partners-logos-item {
    flex: 1 1 45%;
  }
{% endcall %}

.case-studies .section-header h2 {
  {{ utils.dudler() }}
}

.case-studies .section-header p {
  {{ utils.freed() }}
  font-weight: var(--light-font-weight);
}

.case-studies .text-and-image__copy h2 {
  {{ utils.freed() }}
}

.contact-us-banner {
  {{ utils.slate_to_woodsmoke() }}
  color: white;
}

.recommended-insights {
  background: white;
}

.recommended-insights__header {
  max-width: var(--freed-max-width);
}

.recommended-insights__header h2 {
  {{ utils.freed() }}
  margin-bottom: var(--freed-margin);
  font-weight: var(--heavy-font-weight);
}

.promotion .text-and-image__copy {
  align-self: center;
}