{% import '../utils/utils.css' as utils %}

.roles {
    {{ utils.tango_to_white() }}
    padding-top: 2em;
    padding-bottom: 4em;
}

.video-roles {
    max-width: var(--content-inner-max-width);
    margin: 4em auto;
}