{% import '../utils/utils.css' as utils %}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 8em;
}

{% call utils.large() %}
  html {
    scroll-padding-top: 4em;
  }
{% endcall %}

{% call utils.large_and_extra_large() %}
  .header-hero > .header-hero__container {
    padding-top: 0;
  }
{% endcall %}

{% call utils.small() %}
  .header-hero > .header-hero__container {
    padding-bottom: 4em;
  }
{% endcall %}

.roles {
  {{ utils.tango_to_white() }}
  padding-top: 2em;
  padding-bottom: 4em;
}