{% import '../utils/utils.css' as utils %}

html{
    scroll-behavior: smooth;
}

.cm-services-inner-layout .dnd-section,
.hs-training-inner-layout .dnd-section {
    max-width: var(--max-page-width);
    margin: 0px auto;
}

.cm-services-inner-layout.type1 .cm-services-inner-section6 .pbtg-hero-post__wrapper {
    padding-left: 10px;
    padding-right: 10px;
}
.cm-services-inner-layout.type1 .cm-services-inner-section6 .pbtg-hero-post__wrapper .cm-webinar_image {
    width: calc(57% - 56px);
    right: 10px;
}

.cm-services-inner-section1 .dnd-section > .row-fluid {
    padding: 0;
}

.cm-services-inner-section2 .dnd-section .widget-type-rich_text h2 {
    font-size: var(--dudler-font-size);
    line-height: var(--dudler-line-height);
    margin-bottom: var(--base-margin);
    font-weight: var(--heavy-font-weight);
    text-align: center;
}

.cm-services-inner-section2 .dnd-section .widget-type-rich_text p {
    font-size: var(--freed-font-size);
    line-height: var(--freed-line-height);
    margin-bottom: var(--freed-margin);
    margin-left: auto;
    margin-right: auto;
    max-width: var(--freed-max-width);
    padding-bottom: 20px;
    text-align: center;
}

.cm-services-inner-section2 .dnd-section .widget-type-rich_text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: calc(100% - (50px * 2));
    color: white;
}

.cm-services-inner-section2 .dnd-section{
    padding-top:100px;
    padding-bottom:100px;
}
.cm-services-inner-section2 .dnd-section > .row-fluid {
    max-width: 1320px;
    padding-left: 50px;
    padding-right: 50px;
}
{% call utils.large() %}
    .cm-services-inner-section2 .dnd-section > .row-fluid {
        max-width: 740px;
    }
{% endcall %}
.cm-services-inner-section2 .dnd-section > .row-fluid .span3 {
    width: 25%;
    margin-left: 0;
}

.cm-services-inner-section3 .row-number-1.dnd-section {
    padding-top: 0;
    padding-bottom: 0;
}

.cm-services-inner-section3 .dnd-section > .row-fluid {
    padding: 0;
    max-width: 100%;
}

{% call utils.large_and_extra_large() %}
    .cm-testimonials-slider-wrapper {
        margin-top: 5em;
        margin-bottom: 5em;
    }
{% endcall %}

{% call utils.medium() %}
    .cm-testimonials-slider-wrapper {
        margin-top: 4em;
        margin-bottom: 4em;
    }
{% endcall %}


{% call utils.small() %}
    .cm-testimonials-slider-wrapper{
        margin-top: 3em;
        margin-bottom: 3em;
    }
{% endcall %}



.section-5 .row-fluid {
    padding:0;
}


.cm-services-inner-section5 .hs_cos_wrapper_type_rich_text h2 {
    {{ utils.dudler() }}
    font-weight: var(--heavy-font-weight);
    margin-bottom: var(--dudler-margin);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.cm-services-inner-section5 .hs_cos_wrapper_type_rich_text p {
    font-size: var(--freed-font-size);
    line-height: var(--freed-line-height);
    margin-bottom: var(--freed-margin);
    margin-left: auto;
    margin-right: auto;
    max-width: var(--freed-max-width);
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.cm-services-inner-section5 .row-number-1 > .row-fluid {
    padding-top: 3.88rem;
}

.cm-services-inner-section7 {
    padding-bottom: 250px;
    padding-top: 200px;
    max-width: 100%;
    background-color: lightblue;
    margin-top: -250px;
}
{% call utils.small() %}
    .cm-services-inner-section7 {
        padding-bottom: 90px;
        padding-top: 210px;
        max-width: 100%;
        background-color: transparent;
        margin-top: -250px;
    }
{% endcall %}

{% call utils.large_and_extra_large() %}
    .cm-services-inner-section2 .dnd-section .widget-type-rich_text{
        padding-left: 50px;
        padding-right: 50px;
    }
{% endcall %}

{% call utils.large_and_extra_large() %}
    .cm-services-inner-section2 .dnd-section > .row-fluid .span3 {
        width: 50%;
    }
    .cm-services-inner-section2 .dnd-section {
        padding-bottom: 50px;
    }
{% endcall %}


{% call utils.small_and_medium() %}
    .cm-services-inner-section2 .dnd-section > .row-fluid {
        padding-left: 25px;
        padding-right: 25px;
    }
    .cm-services-inner-layout.type1 .cm-services-inner-section6 .span4 {
        width: 50%;
        margin: 0 -2px;
        float: none;
        display: inline-block;
        vertical-align: top;
    }

    .cm-services-inner-layout.type1 .cm-services-inner-section4 .dnd-section > .row-fluid {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    .cm-services-inner-layout.type1 .cm-services-inner-section2 .dnd-section > .row-fluid {
        padding-left: 50px;
        padding-right: 50px;
    }
    .cm-services-inner-layout.type1 .cm-services-inner-section6 .pbtg-hero-post__wrapper .cm-webinar_image{
        width:calc(60% - 27px);
        right:0;
        left: auto;
        right: 6px;
        bottom: 0;
    }
    .pbtg-hero-post__wrapper,
    .cm-services-inner-layout.type1 .cm-services-inner-section6 .pbtg-hero-post__wrapper {
        padding-left: 32px;
        padding-right: 7px;
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .cm-services-inner-layout.type1 .cm-services-inner-section6 .pbtg-hero-post__wrapper .cm-webinar_image {
        width: 100%;
        right: 0;
        position: static;
    }
{% endcall %}

{% call utils.small() %}
    .cm-services-inner-section2 .dnd-section .widget-type-rich_text {
        text-align: left;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
    }
    .cm-services-inner-layout.type1 .cm-services-inner-section2 .dnd-section > .row-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    .cm-services-inner-section2 .dnd-section >.row-fluid .span3 {
        width: 100%;
    }
    .cm-services-inner-section2 .dnd-section >.row-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
    .cm-services-inner-layout.type1 .cm-services-inner-section6 .pbtg-hero-post__wrapper .cm-webinar_image {
        width: 100%;
        right: 0;
    }
    .pbtg-hero-post__wrapper,
    .cm-services-inner-layout.type1 .cm-services-inner-section6 .pbtg-hero-post__wrapper {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-top: 0;
    }

    .cm-services-inner-layout.type1 .cm-services-inner-section6 .span4 {
        width: 100%;
        margin: 0;
        float: none;
        display: block;
        vertical-align: top;
    }
{% endcall %}

{% call utils.medium_large_and_extra_large() %}
    .cm-webinar-image-position-left:after,
    .pbtg-hero-post__wrapper:after{
        background-image: url(https://www.codurance.com/hubfs/Codurance_September2020/images/bg-mountain-texture.jpg);
    }
{% endcall %}

{% call utils.small_and_medium()  %}
    .pbtg-hero-post__wrapper .cm-webinar_image {
        background-position: right center;
        bottom: 40px;
        top: 0;
        width: calc(57% - 100px);
        position: absolute;
        z-index: 10;
    }
    .pbtg-hero-post__wrapper .cm-webinar_image {
        width:calc(60% - 27px);
        right:0;
        left: auto;
        right: 6px;
        bottom: 0;
    }
    .pbtg-hero-post__wrapper .pbtg-hero-post__content {
        margin-right: 40%;
        margin-left: auto;
    }

    .pbtg-hero-post__wrapper {
        padding-left: 32px;
        padding-right: 7px;
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .pbtg-hero-post__wrapper:after {
        bottom: 15px;
        top: 15px;
        left: 7px;
        right: 50%;
    }
    .pbtg-hero-post__wrapper .cm-webinar_image {
        width: 100%;
        right: 0;
        position: static;
    }
{% endcall %}

{% call utils.small() %}
    .pbtg-hero-post__wrapper .pbtg-hero-post__content h2.pbtg-hero-post__content-type {
        display: none;
    }
    .pbtg-hero-post__wrapper {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-top: 0;
    }
    .pbtg-hero-post__wrapper .pbtg-hero-post__content {
        margin: 0;
        width: 100%;
        position: static;
        left: 0;
        right: 0;
    }
{% endcall %}


{% call utils.medium_large_and_extra_large() %}
    .cm-service-line__webinar-teaser {
        margin-bottom: 50px;
    }
    .cm-service-line__webinar-teaser.right {
        margin-top: 0;
    }
{% endcall %}
{% call utils.small_and_medium() %}
    .cm-service-line__webinar-teaser {
        padding-left: 25px;
        padding-right: 50px;
    }
{% endcall %}
{% call utils.small() %}
    .cm-service-line__webinar-teaser {
        padding-left: 0;
        padding-right: 0;
        margin-left: 20px;
        margin-right: 20px;
    }
{% endcall %}
