{% import '../utils/utils.css' as utils %}

html {
    scroll-behavior: smooth;
}

/* The padding on this page is set up at section or module level, 
so we remove it at row level */ 
.dnd-section > .row-fluid {
    padding: 0;
}

.working-with-us h2 {
    margin-bottom: var(--space-4);
}

.section-4 {
    padding-top: 2em;
    padding-bottom: 4em;
}
