{% import '../utils/utils.css' as utils %}

:root {
  scroll-behavior: smooth;
}

/* General styles */
.section-header h2 {
    {{ utils.freed() }}
    font-weight: var(--heavy-font-weight);
}

.section-header p {
    margin-top: var(--space-2);
}

div.responsive-page-width,
section.responsive-page-width {
    max-width: var(--content-inner-max-width);
    margin-inline: auto;
}

/* Hero section */
.hero {
    {{ utils.slate_to_woodsmoke() }}
    color: white;
}

.hero .text-and-image__container {
    max-width: var(--content-max-width);
    justify-content: flex-start;
}

{% call utils.large_and_extra_large() %}
    .hero .text-and-image__copy {
        max-width: 35rem;
    }

    .hero .text-and-image__copy p {
        {{ utils.freed() }}
        font-weight: var(--light-font-weight);
    }
{% endcall %}

{% call utils.large() %}
    .hero .text-and-image__container {
        padding-left: 50px;
        padding-right: 50px;
    }
{% endcall %}

/* Solution section */
.solution {
    {{ utils.white_to_tango() }}
}

.solution__header {
    {{ utils.freed() }}
    text-wrap: balance;
    font-weight: var(--heavy-font-weight);
}

.solution__text-and-image {
    display: flex;
    gap: var(--space-4);
}

.solution .features-listing {
    margin-top: var(--space-4);
}

.solution__text {
    {{ utils.card_shadow_large() }}
    {{ utils.card_border_radius() }}
    background: white;
    padding: var(--space-3);
    font-weight: var(--heavy-font-weight);
}

{% call utils.large_and_extra_large() %}
    .solution .features-listing {
        margin-left: -0.5rem;
    }
{% endcall %}

{% call utils.medium_large_and_extra_large() %}
    .solution__text-and-image {
        gap: var(--space-1);
    }

    .solution__image {
        display: flex;
        flex: 1 0 38%;
        align-items: center;
    }

    .solution__text {
        padding-inline: var(--space-5);
    }
{% endcall %}

{% call utils.medium_and_large() %}
    .solution__text {
        margin-top: var(--space-4);
    }
{% endcall %}

{% call utils.small() %}
    .solution__text-and-image {
        flex-direction: column;
    }
{% endcall %}

/* Modules section */
.modules .page-header.section-header {
    max-width: var(--content-inner-max-width);
}

.modules__cards {
    max-width: var(--content-max-width);
    margin-inline: auto;
}

.modules .card__img {
    object-fit: cover;
    max-height: 6rem;
}

.modules .card__info h3 {
    {{ utils.base() }}
    font-weight: var(--heavy-font-weight);
}

{% call utils.small_and_medium() %}
    section.modules {
        padding-bottom: unset;
    }
{% endcall %}

/* Benefits section */
.benefits {
    {{ utils.tango_to_white() }}
}

.benefits .benefits-container {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-6);
    margin-bottom: unset;
}

.custom-benefits-we-offer {
    flex-direction: column;
}

.benefits .custom-benefits-we-offer__text-container > * {
    {{ utils.natus() }}
}

.benefits .custom-benefits-we-offer__text-container > h3 {
    font-weight: var(--heavy-font-weight);
}

.benefits .custom-benefits-we-offer__text-container > p {
    margin-top: unset;
}

{% call utils.small() %}
    .benefits .benefits-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--space-1);
    }
{% endcall %}

/* CTAs */
div.cta-block {
    background-position-x: left;
}

{% call utils.small() %}
    .cta-block {
        background-color: var(--slate);
        background-blend-mode: soft-light;
    }
{% endcall %}

/* How it works section */
.how-it-works {
    {{ utils.white_to_tango() }}
}

.how-it-works__header {
    max-width: var(--content-inner-max-width);
    margin-inline: auto;
}

.how-it-works .text-and-image__title {
    {{ utils.dudler() }}
    font-weight: var(--heavy-font-weight);
}

.how-it-works .text-and-image__copy p {
    {{ utils.freed() }}
    font-weight: var(--light-font-weight);
}

/* Testimonials section */
.testimonials {
    padding-top: var(--space-5);
    padding-bottom: var(--space-5);
}

/* Models section */
.models {
    max-width: var(--content-inner-max-width);
    margin-inline: auto;
}

.models div.page-header.section-header {
    margin-bottom: unset;
}

.models__text {
    {{ utils.card_border_radius() }}
    {{ utils.card_shadow_large() }}
    font-weight: var(--heavy-font-weight);
    padding: var(--space-3) var(--space-5);
}