{% import '../utils/utils.css' as utils %}

:root {
  scroll-behavior: smooth;
  --card-img-height: 6rem;
}

/* General styles */
.section-header h2,
.section-header p {
    {{ utils.freed() }}
    font-weight: var(--heavy-font-weight);
}

div.responsive-page-width,
section.responsive-page-width {
    max-width: var(--content-inner-max-width);
    margin-inline: auto;
}

/* Hero section */
.hero {
    {{ utils.slate_to_woodsmoke() }}
    color: white;
}

.hero .text-and-image__container {
    max-width: var(--content-max-width);
    justify-content: flex-start;
}

{% call utils.large_and_extra_large() %}
    .hero .text-and-image__copy {
        max-width: 35rem;
    }

    .hero .text-and-image__copy p {
        {{ utils.freed() }}
        font-weight: var(--light-font-weight);
    }
{% endcall %}

{% call utils.large() %}
    .hero .text-and-image__container {
        padding-left: 50px;
        padding-right: 50px;
    }
{% endcall %}

/* Solution section */
.solution {
    {{ utils.white_to_tango() }}
}

.solution__header {
    {{ utils.freed() }}
    text-wrap: balance;
    font-weight: var(--heavy-font-weight);
}

.solution__text-and-image {
    display: flex;
    gap: var(--space-4);
}

.solution .features-listing {
    margin-top: var(--space-4);
}

.solution__text {
    {{ utils.card_shadow_large() }}
    {{ utils.card_border_radius() }}
    background: white;
    padding: var(--space-3);
    font-weight: var(--heavy-font-weight);
}

{% call utils.large_and_extra_large() %}
    .solution .features-listing {
        margin-left: -0.5rem;
    }
{% endcall %}

{% call utils.medium_large_and_extra_large() %}
    .solution__text-and-image {
        gap: var(--space-1);
    }

    .solution__image {
        display: flex;
        flex: 1 0 38%;
        align-items: center;
    }

    .solution__text {
        padding-inline: var(--space-5);
    }
{% endcall %}

{% call utils.medium_and_large() %}
    .solution__text {
        margin-top: var(--space-4);
    }
{% endcall %}

{% call utils.small() %}
    .solution__text-and-image {
        flex-direction: column;
    }
{% endcall %}

/* Modules section */
.modules .page-header.section-header {
    max-width: var(--content-inner-max-width);
}

.modules__cards-wrapper {
    position: relative;
}

.modules__cards-background {
    position: absolute;
    top: var(--card-img-height);
    z-index: -1;
    height: 100%;
    width: 100%;
    {{ utils.slate_to_woodsmoke() }}
}

.modules__cards {
    max-width: var(--content-max-width);
    margin-inline: auto;
}

.modules .card__img {
    object-fit: cover;
    max-height: var(--card-img-height);
}

.modules .card__info h3 {
    {{ utils.base() }}
    font-weight: var(--heavy-font-weight);
}

{% call utils.medium_large_and_extra_large() %}
    section.modules {
        padding-bottom: unset;
    }

    .modules__cards-background {
        height: calc(100% - var(--card-img-height) * 2);
    }
{% endcall %}

/* Benefits section */
.benefits {
    {{ utils.white_to_tango() }}
}

.benefits__wrapper {
    max-width: var(--content-inner-max-width);
    margin-inline: auto;
    display: flex;
    gap: var(--space-3);
    align-items: center;
}

.benefits__header {
    {{ utils.freed() }}
    font-weight: var(--heavy-font-weight);
    max-width: var(--dudler-max-width);
}

.benefits__listing {
    margin-top: var(--space-3);
}

.benefits__image {
    flex: 1 0 37%;
}

{% call utils.small() %}
    .benefits__wrapper {
        flex-direction: column;
    }

    .benefits__image {
        margin-inline: var(--space-3);
    }
{% endcall %}

/* Testimonials section */
.testimonials {
    padding-bottom: var(--space-2);
    padding-top: var(--space-5);
}

/* CTAs */
div.cta-block {
    background-position-x: left;
}

{% call utils.small() %}
    .cta-block {
        background-color: var(--slate);
        background-blend-mode: soft-light;
    }
{% endcall %}

/* How it works section */
.how-it-works {
    {{ utils.white_to_tango() }}
}

.how-it-works__header {
    max-width: var(--content-inner-max-width);
    margin-inline: auto;
}

.how-it-works .text-and-image__container {
    max-width: var(--content-max-width);
    justify-content: center;
}

.how-it-works .text-and-image__title {
    font-weight: var(--heavy-font-weight);
    text-wrap: balance;
}

.how-it-works .text-and-image__copy p {
    {{ utils.base() }}
}

{% call utils.medium_large_and_extra_large() %}
    .how-it-works__wrapper {
        background-image: url("https://www.codurance.com/hubfs/Service%20Line%20Pages/Packaged%20Solutions/SQA%20Page/Assets%20new/SQA%20page_steps_bg.svg");
        background-position: center center;
        background-repeat: no-repeat;
    }

    .how-it-works .text-and-image__copy {
        align-self: end;
        max-width: 60%;
    }

    .how-it-works .text-and-image__title {
        {{ utils.dudler() }}
        font-weight: var(--heavy-font-weight);
    }

    .how-it-works .text-and-image__copy p {
        {{ utils.freed() }}
        font-weight: var(--light-font-weight);
    }
{% endcall %}

/* Case studies section */
.case-studies.region {
    padding-bottom: unset;
}

{% call utils.medium_large_and_extra_large() %}
    .case-studies .case-study-card-collection__cards {
        padding-bottom: var(--space-6);
    }

    .case-studies .case-study-card-collection__header > p {
        {{ utils.freed() }}
        font-weight: normal;
        max-width: 42ch;
    }
{% endcall %}

/* Models section */
.models {
    max-width: var(--content-inner-max-width);
    margin-inline: auto;
}

.models div.page-header.section-header {
    margin-bottom: unset;
}

.models__text {
    {{ utils.card_border_radius() }}
    {{ utils.card_shadow_large() }}
    font-weight: var(--heavy-font-weight);
    padding: var(--space-3) var(--space-5);
}

{% call utils.large() %}
    .models__text-container.lateral-spacing {
        padding-left: unset;
        padding-right: unset;
    }
{% endcall %}