{% import '../utils/utils.css' as utils %}

/* General styles */
.above-the-fold,
.banner-link,
.contact-form {
  {{ utils.slate_to_woodsmoke() }}
  color: white;
}

.banner-link, 
.contact-form {
  padding-top: 2em;
  padding-bottom: 2em;
}


.page .text-and-image__container {
    padding-top: 0;
    padding-bottom: 0;
  }

.page .text-and-image__copy h2 {
  {{ utils.dudler() }}
  font-weight: var(--heavy-font-weight);
}

.page .text-and-image__copy p {
  {{ utils.base() }}
}

{% call utils.medium() %}
  .page .text-and-image__copy {
    max-width: 60%;
  }

  .page .text-and-image__image {
    align-self: initial;
  }
{% endcall %}

/* Above the fold section */
.above-the-fold {
  padding-top: 4em;
  padding-bottom: 4em;
}

{% call utils.large_and_extra_large() %}
  .above-the-fold .text-and-image__image {
    align-self: center;
  }

  .above-the-fold .text-and-image__copy {
    max-width: 70%;
  }
{% endcall %}

{% call utils.small() %}
  .above-the-fold .text-and-image__image {
    align-self: center;
  }

  .above-the-fold .text-and-image__image img {
    transform: initial;
  }
{% endcall %}

/* Demystifying series section */
.demystifying {
  padding-top: 4em;
  padding-bottom: 4em;
}

.demystifying .text-and-image__container {
  margin-bottom: 2.4em;
  padding-inline: 0;
}

.demystifying .text-and-image__image > img {
  transform: initial;
}

.demystifying .video-hubdb__title {
  {{ utils.natus() }}
  font-weight: var(--middle-font-weight);
  margin-top: 0.8em;
}

{% call utils.large_and_extra_large() %}
  .demystifying .text-and-image__copy {
    max-width: var(--freed-max-width);
    align-self: center;
  }

  .demystifying .text-and-image__image {
    align-self: center;
  }
{% endcall %}

{% call utils.small() %}
  .demystifying .text-and-image__image {
    display: none;
  }
{% endcall %}

/* Promo cards section */
.promo-cards {
  {{ utils.slate_to_woodsmoke() }}
  margin-top: 12em;
}

.promo-cards__inner {
  --thumbnail-offset: -6.2em;  
  transform: translateY( var(--thumbnail-offset) );
}

.page .newsletter {
  padding-bottom: 0;
  padding-top: 0;
  position: absolute;
  width: 100%;
}

.promo-cards-secondary {
  {{ utils.tango_to_white() }}
  padding-top: 9em;
}

{% call utils.small_and_medium()%}
  .promo-cards-secondary {
    padding-top: 13em; 
  }
{% endcall %}


.case-study .case-study-card-collection {
  padding-bottom: 1.6em;
  background-size: 100% 18em;
}

