{% import '../utils/utils.css' as utils %}

/* General styles */
.above-the-fold,
.banner-link,
.contact-form {
  {{ utils.slate_to_woodsmoke() }}
  color: white;
}

.banner-link, 
.contact-form {
  padding-top: 2em;
  padding-bottom: 2em;
}

.page .text-and-image__container {
  padding-top: 0;
  padding-bottom: 0;
}

/* Above the fold section */
.above-the-fold {
  padding-top: 5em;
  padding-bottom: 5em;
}

/* Demystifying series section */
.demystifying {
  padding-top: 4em;
  padding-bottom: 4em;
}

.demystifying .text-and-image__container {
  margin-bottom: 2.4em;
  padding-inline: 0;
}

.demystifying .video-hubdb__title {
  {{ utils.natus() }}
  font-weight: var(--middle-font-weight);
  margin-top: 0.8em;
}

/* Promo cards sections */
.promo-cards {
  {{ utils.slate_to_woodsmoke() }}
  margin-top: 12em;
}

.promo-cards__inner {
  --thumbnail-offset: -6.3em;  
  transform: translateY( var(--thumbnail-offset) );
}

{% call utils.medium_large_and_extra_large() %}
  .promo-cards__inner .card-container {
    padding-bottom: calc(8.4em + var(--thumbnail-offset));
  }
{% endcall %}

.page .newsletter {
  padding-bottom: 0;
  padding-top: 0;
  position: absolute;
  width: 100%;
}

.promo-cards-secondary {
  {{ utils.tango_to_white() }}
  padding-top: 8.4em;
}

{% call utils.small_medium_and_large() %}
  .promo-cards-secondary {
    padding-top: 13em; 
  }
{% endcall %}

/* Case studies section */
.case-study .case-study-card-collection {
  padding-bottom: var(--space-5);
  padding-top: var(--space-7);
  background-size: 100% 18em;
}

