{% import '../utils/utils.css' as utils %}
 
.body-wrapper {
  overflow-x: hidden;
}

.main-container {
  margin: auto;
  padding-bottom: 5em;
}

.promoted-videos {
  {{ utils.white_to_tango() }}
}

.videos {
  padding-top: 2.4em;
}