
{{ require_css(get_asset_url("../../css/modules/locations.css")) }}


<h2 class="locations__title">{{ module.field_group.title }}</h2>
<p class="locations__text">{{ module.field_group.paragraph_text }}</p>
<div class="locations__images">
	{% for item in module.location %}
		{% if item.image_field.src %}
			{% set sizeAttrs = 'width="{{ item.image_field.width }}" height="{{ item.image_field.height }}"' %}
			{% if item.image_field.size_type == 'auto' %}
				{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
			{% elif item.image_field.size_type == 'auto_custom_max' %}
				{% set sizeAttrs = 'width="{{ item.image_field.max_width }}" height="{{ item.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
			{% endif %}
			{% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading }}"' : '' %}
			<img src="{{ item.image_field.src }}" alt="{{ item.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
		{% endif %}
		{% inline_text field="image_location" value="{{ item.image_location }}" %}
	{% endfor %}
</div>
<hr>
<p class="locations__remote-countries">{{ module.disclosure_text.rich_text }}</p>



