{{ require_css(get_asset_url("../../css/modules/utilities-menu.css")) }}

{% macro isActiveNode(link) %}
	{% set link_stripped = "/" + link | split('/', 3) | last %}
	{% if request.path == link_stripped %}
		{{ { "class": "active-item",
		"aria-current": "page"
		} | xmlattr
		}}
	{% endif %}
{% endmacro %}

{% macro generate_language_link(lang_code, translated_content, listing_view) %}
	{% set lang_translation = content.translations[lang_code] %}
	{% set lang_page_link = lang_translation.absolute_url %}
	{% set lang_path = '/'+ lang_code +'/' %}

		
	{% if content.translated_content[lang.choice].published %}
		<a href="{{ lang_page_link }}"
			rel="noopener noreferrer">
			{{ lang_code|upper }}
		</a>
	{% elif lang.choice == locale %}
		<a href="{{ lang_page_link }}"
			class="active"
			rel="noopener noreferrer">
			{{ lang_code|upper }}
		</a>
	{% else %}
		<span class="not-translated">{{ lang_code|upper }}</span>
	{% endif %}

	
{% endmacro %}


<nav class="utilities-menu">
	{% set href = module.link.settings.url.href %}

	{% if href %}
		<a href="{{ href }}"
			class="{{ module.link.text|split(' ')|join('-')|lower}}"
			{% if module.link.settings.open_in_new_tab %}target="_blank"{% endif %}
			{% if module.link.settings.rel %}rel="{{ module.link.settings.rel }}"{% endif %}
			{{ isActiveNode(href) }}
		>
			{{ module.link.text }}
		</a>
	{% endif %}

	<div class="language-selector">
		<button class="language-selector__button trigger" 
				aria-label="Select your language" 
				aria-expanded="false"
				aria-controls="language-selector__dropdown" >
			{{ locale }}
		</button>
	
		<ul class="language-selector__dropdown">			
			{% for lang in module.language %}
				<li>
				{{ generate_language_link(lang.choice, content.translated_content, is_listing_view) }}
				</li>
			{% endfor %}
		</ul>
	</div>
</nav>



