{{ require_css(get_asset_url("../../css/cardSlider.css")) }} {% if
module.hubdb_table %} {% set upcomingEventsFilter = ("&orderBy=datetime" +
"&datetime__gt=" + local_dt|unixtimestamp + "&limit=12") %} {% set
upcomingEvents = hubdb_table_rows(module.hubdb_table, upcomingEventsFilter) %}

<div
  class="calendar-events-item__button responsive-page-width lateral-spacing"
  data-upcoming-card-window
>
  <div class="calendar-events__header-wrapper">
    <h1 class="calendar-events__heading responsive-page-width">
      Upcoming events
    </h1>
    <div>
      <button
        class="calendar-events__nav-button"
        autocomplete="off"
        data-upcoming-events-button-left
      >
        ←
      </button>
      <button
        class="calendar-events__nav-button"
        autocomplete="off"
        data-upcoming-events-button-right
      >
        →
      </button>
    </div>
  </div>
  <div class="calendar-events-results" data-upcoming-card-track>
    {% for event in upcomingEvents %}
    <article class="calendar-event-item" data-upcoming-card>
      <div class="calendar-event-item__content">
        <div
          class="calendar-event-item__image-container"
          style="background-image: url({{event.thumbnail.url}})"
        >
          {% if event.type.name %}
          <small
            class="calendar-event-item__label calendar-event-item__label--type"
          >
            {{ event.type.name }}
          </small>
          {% endif %}
        </div>
        <div class="calendar-event-item__text-container">
          <div class="calendar-event-item__text-container-inner">
            <header>
              <time
                class="calendar-event-item__metadata"
                datetime="{{ event.datetime|datetimeformat('%Y-%m-%dT%H:%M:%S') }}"
              >
                {{ event.datetime|datetimeformat('%a %e %b %Y | %H:%M') }}
              </time>
              <h4 class="calendar-event-item__title">
                {{ event.name }}
              </h4>
            </header>
            <p class="calendar-event-item__description">
              {{ event.description }}
            </p>
          </div>
          <div class="calendar-event-item__button">
            <a href="{{ event.link }}" target="_blank">Register Attendance</a>
          </div>
        </div>
      </div>
    </article>
    {% endfor %}
  </div>
</div>

{% endif %} {% endif %} {{ require_js(get_asset_url("../../js/cardSlider.js"),
"footer") }}
