{% if module.hubdb_table %}
    {% set upcomingEventsFilter = ("&orderBy=datetime" + "&datetime__gt=" + local_dt|unixtimestamp) %}
    {% set upcomingEvents = hubdb_table_rows(module.hubdb_table, upcomingEventsFilter) %}

    <div class="up-module-title">
      <h2>
      Upcoming Events  
      </h2>
    </div>
    <div class="up-events-container">
        <div class="up-events-results">
          {% for row in upcomingEvents %}
          <div class="up-event-item">
            <div class="up-event-item-content">
              <div class="up-event-image-container" style="background-image: url({{row.thumbnail.url}})">
                <div class="up-event-type-text">
                  {{ row.type.name }}
                </div>
              </div>
              <div class="up-event-text-container" >
                <div class="up-event-text-container-inner">
                  <p>
                    {{ row.datetime|datetimeformat('%A %e %B %Y | %H:%M') }}
                  </p>
                  <h4>
                    {{ row.name }}
                  </h4>
                  <p>
                    {{ row.description }}
                  </p>
                </div>
                <div class="up-register-button">
                  <a href="{{ row.link }}">Register Attendence</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>


{% endif %}