.up-events-container {
  margin: 0 auto;
}
@media (min-width: 1300px) {
  .up-events-container {
    max-width: 1200px;
  }
}
@media (max-width: 1299px) {
  .up-events-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 1023px) {
  .up-events-container {
    overflow-y: hidden;
  }
}

.up-events-results {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 1024px) {
  .up-events-results {
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding-bottom: 32px;
  }
}
@media (max-width: 1023px) {
  .up-events-results {
    padding-right: 50px;
  }
}

.up-event-item {
  box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.16);
  -webkit-box-flex: 1;
  flex: 1 1 25%;
  margin: 0 15px 40px;
  min-width: 260px;
}
@media (min-width: 1300px) {
  .up-event-item {
    max-width: calc(25% - 30px);
  }
}
@media (max-width: 1299px) {
  .up-event-item {
    max-width: calc(33% - 30px);
  }
}


.up-event-item__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.up-event-item__text-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
}

.up-event-item__text-container-inner {
  flex-grow: 1;
}

.up-event-item__datetime {
  display: inline-block;
  font-size: 0.75rem;
  letter-spacing: 0.003rem;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.up-event-item__title {
  font-size: 1.2rem;
  font-weight: 700;
}

.up-event-item__description {
  font-size: 1rem;
  color: #595959;
  margin-bottom: 25px;
}

.up-event-item__button {
  background-color: rgba(251,114,104,1.0);
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.7rem 1rem;
  text-align: center;
}
.up-event-item__button > a {
  color: white;
}

.up-event-item__image-container {
  position: relative;
  width: 100%;
  height: 155px;
  background-size: cover;
  background-position: center;
  color: white;
}

.up-event-item__type-text {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.29);
  color: black;
  left: 10px;
  letter-spacing: 0.02em;
  padding: 0.05em 0.4em;
  position: absolute;
  text-transform: uppercase;
  top: 10px;
}

