
.up-events-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.up-events-results {
display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin-bottom: 40px;
  margin-left: -16px;
  margin-right: -16px;
  padding-bottom: 32px;
  align-items: stretch;
}

.up-event-item {
  -webkit-box-flex: 1;
  flex: 1 1 25%;
  max-width: calc(25% - 32px);
  margin: 0 16px 16px;
}

.up-event-item-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.up-event-text-container {
  border: 1px solid;
  border-color: white;
  padding: 15px;
  box-shadow: 5px 10px 18px #888888;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.up-event-text-container-inner {
flex-grow: 1;
}

.up-event-text-container h4 {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.3636;
  margin: 0.5em 0!important;
}

.up-event-text-container p {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.up-event-text-container a {
  color: #0091ae;
  font-weight: 500;
  text-decoration: none;
}

.up-event-text-container a:hover {
  color: #007a8c;
  text-decoration: underline;
}

.up-event-image-container {
  position: relative;
  width: 100%;
  height: 155px;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

.up-event-type-text {
  position: absolute;
  top: 8px;
  left: 16px;
  border-color: white;
  border-radius: 12px;
  padding-left: 16px;
  padding-right: 16px;
  color: black;
  background-color: white;
  text-transform: uppercase;
}

.up-register-button a:link {
  background-color: #f44336;
  color: white;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
}

.up-register-button a:visited {
  background-color: #f44336;
  color: white;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.up-register-button a:hover {
  background-color: red;
  cursor: pointer;
}

.up-register-button a:active {
  background-color: red;
}