{# CSS included in meta.json to make the module usable in dnd_section #}
{% import '../../css/utils/utils.css' as utils %}

{% require_css %}
	<style>
		{% scope_css %}
			{% call utils.medium_large_and_extra_large() %}
				.text-and-image__image {
					align-self: {{ module.style.desktop.image_alignment }};
				}
			{% endcall %}

			{% call utils.small() %}
				.text-and-image__image {
					align-self: {{ module.style.mobile.image_alignment }};
				}
			{% endcall %}

			{% if module.style.mobile.hide_image_on_mobile %}
				{% call utils.small() %}
					.text-and-image__image {
						display: none;
					}
				{% endcall %}
			{% endif %}
		{% end_scope_css %}
	</style>
  {% end_require_css %}

<div class="text-and-image__container container--{{ module.image_order }}">
	<div class="text-and-image__copy">
		{% if module.title %}
			<h2 class="text-and-image__title">{{ module.title }}</h2>
		{% endif %}
		
		{% inline_rich_text field="description_text" value="{{ module.description_text }}" %}
		
		{% if module.button.button_type %}
			<div class="custom-btn custom-btn--{{ module.button.button_style }}">
				{% if module.button.button_type == "std" %}
					{% if module.button.bookmark_id %}
						{% set bookmark_id = module.button.bookmark_id %}
						{% set href = module.button.link_field.url.href ~ "#" ~ bookmark_id %}
					{% else %}
						{% set href = module.button.link_field.url.href %}
					{% endif %}
			
					<a href="{{ href }}"
						{% if module.button.link_field.open_in_new_tab %}target="_blank"{% endif %}
						{% if module.button.link_field.rel %}rel="{{ module.button.link_field.rel }}"{% endif %}
						class="{{ module.button.button_style }}"
					>
						{{ module.button.text_field }} 
						{% if module.button.button_style is string_containing "text-cta-primary" %}
							<i class="las la-arrow-right"></i>
						{% endif %}
					</a>
				{% elif module.button.button_type == "cta" %}
					{% cta guid="{{ module.button.cta_field }}" %}
				{% endif %}
			</div>
		{% endif %}
	</div>
	<div class="text-and-image__image">
		{% if module.image_field.src %}
			{% set sizeAttrs = 'width="{{ module.image_field.width }}" height="{{ module.image_field.height }}"' %}
			 {% set loadingAttr = module.image_field.loading != 'disabled' 
			 		? 'loading="{{ module.image_field.loading }}"' 
					: '' %}
			<img src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
		{% endif %}
	</div>
</div>