{% require_head %}
  <link rel="preload" href='{{ get_asset_url("../../css/modules/lp-header-v1.css") }}' as="style" />
{% end_require_head %}

{{ require_css(get_asset_url("../../css/modules/lp-header-v1.css")) }}

<div class="lp-header-v1 lateral-spacing {{ module.background_color }}">
	<div class="lp-header-v1--wrapper">
		<div class="lp-header-v1__content">
			<h1 class="lp-header-v1__content__title">
				{% inline_text field="title" value="{{ module.title }}"  no_wrapper=True  %}
			</h1>
			<p class="lp-header-v1__content__subtitle">
				{% inline_text field="subtitle" value="{{ module.subtitle }}" no_wrapper=True %}
			</p>
			{%if module.cta_button %}
				<div class="lp-header__content__button">
				
			  {% if module.button_type == "standard" %}
			{% set href = module.button_link.url.href %}
				{% set rel = [] %}
				{% if module.button_link.no_follow %}
					{% do rel.append("nofollow") %}
				{% endif %}
				{% if module.button_link.open_in_new_tab %}
					{% do rel.append("noopener") %}
				{% endif %}
				<a class="{{module.button_custom_class}}" href="{{ href }}"
					{% if module.button_link.open_in_new_tab %}target="_blank"{% endif %}
					{% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
					>
					{{ module.button_text }}
				</a>
			  {% elif module.button_type == "cta" %}
				{% cta guid="{{ module.cta_button }}" %}
			  {% endif %}
				</div>
			{% endif %}
		</div>
		<div class="lp-header-v1__image">
			{% if module.header_image.src %}
				{% require_head %}
					<link rel="preload" href="{{ module.header_image.src }}" as="image" />
				{% end_require_head %}

				{% set sizeAttrs = 'width="{{ module.header_image.width }}" height="{{ module.header_image.height }}"' %}
				<img src="{{ module.header_image.src }}" alt="{{ module.header_image.alt }}" {{ sizeAttrs }}>
			{% endif %}
		</div>
	</div>
</div>