<!--
templateType: error_page
isAvailableForNewContent: true
label: 404 Error Page
-->
{% extends "../layouts/base.html" %}


{% block body %}
<div class="hs-404-error-layout">
  <div class="page-center">
      <h1>Page not found</h1>
      <p>Sorry, we could not find the page you were looking for. You can <a href="/">go to the landing page</a> or use the menu at the top of the page to navigate to a specific area of the site.</p>
      <img class="error-image" src="{{ get_asset_url('../../images/404.png' ) }}" alt="404">
  </div>
</div>
{% endblock body %}
