.training-teaser {
  background-color: #f5f6fa;
  background-position: center;
  background-size: cover;
}
.training-teaser__inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.training-teaser__image {
  background-color: #d4eaff;
  background-position: center;
  background-size: cover;
}



@media (min-width: 768px){
  .training-teaser__image {
    padding-top: 114.5038167939%;
  }
  .training-teaser__image-area {
    flex-shrink: 0;
    width: 43%;
  }
  .training-teaser__text-area {
    padding-left: 10px;
    padding-right: 30px;
  }
  .services-page__training-teaser {
    margin-top: -340px;
    padding-bottom: 100px;
    padding-top: 350px;
  }
}

@media (min-width: 1024px){
  .training-teaser__inner {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1300px){
  .training-teaser__title {
    font-family: proxima-nova;
    font-weight: 700;
    font-size: 55px;
    line-height: 69px;
    margin-bottom: 35px;
  }
  .training-teaser__description {
    font-family: proxima-nova;
    font-weight: 400;
    font-size: 21px;
    line-height: 33px;
    margin-bottom: 25px;
  }
  .training-teaser {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-page-width);
  }
}

@media(max-width:1023px){
  .training-teaser.services-page__training-teaser {
    padding-left: 25px;
    padding-right: 25px;
  }
  .training-teaser__title {
    font-family: proxima-nova;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 35px;
  }
  .training-teaser__description {
    font-family: proxima-nova;
    font-weight: 400;
    font-size: 21px;
    line-height: 33px;
    margin-bottom: 25px;
  }
}

@media(max-width:767px){
  .training-teaser__image-area {
    margin-bottom: 50px;
    width: 100%;
  }
  .services-page__training-teaser {
    padding-bottom: 50px;
  }
  .training-teaser__text-area {
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    width: 100%;
  }
  .training-teaser.services-page__training-teaser {
    padding-left: 0;
    padding-right: 0;
  }
  .training-teaser__inner {
    flex-direction: column-reverse;
  }
  .training-teaser__title {
    font-family: proxima-nova;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 15px;
  }
  .training-teaser__image {
    padding-top: 55.5555555556%;
  }
}