{{ require_css(get_asset_url("../../css/modules/training.css")) }}

{% import '../../snippets/button-snippets.html' as snippets %}

<div class="training-teaser services-page__training-teaser" style="background-image:url({{ module.background_image.src }})">
  <div class="training-teaser__inner">
    <div class="training-teaser__text-area">
      <h2 class="training-teaser__title">{{ module.heading }}</h2>
      <p class="training-teaser__description">{{ module.content }}</p>
      {% if module.button_type == 'Standard' %}
        {% set href = module.link_field.url.href %}

        {% if module.link_field.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
        {% endif %}

        {% if module.link_field.open_in_new_tab %}
          {% set target = "_blank" %}
        {% endif %}

        {% if module.link_field.no_follow %}
          {% set rell = "nofollow" %}
        {% endif %}

        {{
          snippets.button_primary(
            url=href,
            text=module.button_text,
            target=target,
            rel=rel
          )
        }}
      {% else %}
        {% cta guid="{{ module.cta_field }}" %}
      {% endif %}
    </div>
    <div class="training-teaser__image-area">
      <div class="training-teaser__image" style="background-image: url({{ module.image_field.src }})"></div>
    </div>
  </div>
</div>