{{ require_css(get_asset_url("../../css/modules/menu-section.css")) }}

{% macro isActiveNode(link) %}
  {% set link_stripped = "/" + link | split('/', 3) | last %}
  {% if request.path == link_stripped %}
    {{ { "class": "menu-link active-item",
      "aria-current": "page"
      } | xmlattr
    }}
  {% endif %}
{% endmacro %}

{% macro link(node) %}
  <li class="submenu-item">
    <a 
      href="{{ node.url if node.url else 'javascript:;' }}" 
      class="menu-link trigger"
      aria-expanded="false"
      {{ isActiveNode(node.url) if node.url }}  
    >
        {{ node.linkLabel }}
    </a>
  </li>
{% endmacro %}

<nav aria-label="Main menu" class="navigation-primary" id="website-navigation-menu">
  <ul 
    class="submenu level-1 website-navigation-sub-menu" 
    id="sub-menu-services"
  >
    {% for item in module.menu_items %}
      {% set submenu = item.submenu.items %}
      {% set secondary_submenu = item.secondary_submenu.items %}

      <li class="menu-item{% if submenu %} has-submenu{% endif %}">
        <a href="{{ item.link.href if item.link.href && !submenu else 'javascript:;' }}"
          class="menu-link trigger" 
          id="sub-menu-toggle-{{loop.index}}"
          aria-controls="sub-menu-services-{{loop.index}}"
          aria-expanded="false"
          {{ isActiveNode(item.link.href) if item.link.href }}  
        >
          {{ item.menu_label }}
        </a>
        
        {% if submenu %}
          <nav 
            class="website-navigation-sub-menu level-2{% if secondary_submenu %} has-secondary-submenu{% endif %}{% if secondary_submenu|length > 3 %} has-secondary-submenu-with-two-columns{% endif %}" 
            id="sub-menu-services-{{loop.index}}"
          >

            {% if item.submenu.promotional_section.description %}
              <div class="promotional-section">
            {% endif %}

            <a href='javascript:;'
              class="trigger back-button" 
              aria-controls="sub-menu-services-{{loop.index}}"
              role="button"
              aria-label="back button"
              aria-expanded="false"
              {{ isActiveNode(item.link.href) if item.link.href }}  
              >
              {{ item.menu_label }}
            </a>

            {% if item.submenu.promotional_section.description %}
              <h2>{{ item.menu_label }}</h2>
              <p>{{ item.submenu.promotional_section.description }}</p>
            {% endif %}

            {% if item.submenu.promotional_section.button.text_field %}
              <div class="custom-btn custom-btn--{{ item.submenu.promotional_section.button.button_style }}">
                {% if item.submenu.promotional_section.button.button_type == "std" %}
                  {% set href = item.submenu.promotional_section.button.link_field.url.href %}
              
                  <a href="{{ href }}"
                    {% if item.submenu.promotional_section.button.link_field.open_in_new_tab %}target="_blank"{% endif %}
                    {% if item.submenu.promotional_section.button.link_field.rel %}rel="{{ item.submenu.promotional_section.button.link_field.rel }}"{% endif %}
                    class="{{ item.submenu.promotional_section.button.button_style }}"
                  >
                    {{ item.submenu.promotional_section.button.text_field }} 
                    {% if item.submenu.promotional_section.button.button_style is string_containing "text-cta-primary" %}
                      <i class="las la-arrow-right"></i>
                    {% endif %}
                  </a>
                {% elif item.submenu.promotional_section.button.button_type == "cta" %}
                  {% cta guid="{{ item.submenu.promotional_section.button.cta_field }}" %}
                {% endif %}
              </div>
            {% endif %}

            {% if item.submenu.promotional_section.description %}
              </div>
            {% endif %}
            
            <div class="main-submenu">
              {% if secondary_submenu %}<h3 class="submenu-title">{{ item.menu_label }}</h3>{% endif %}
              <ul class="submenu{% if submenu|length <= 4 || secondary_submenu %} two-columns{% endif %}">
                {% for node in submenu %}
                  {{ link(node) }}
                {% endfor %}
              </ul>
            </div>

            {% if secondary_submenu %}
              <div class="secondary-submenu">
                <h3 class="submenu-title">{{ item.secondary_submenu.title }}</h3>
                <ul class="submenu{% if secondary_submenu|length > 3 %} two-columns{% endif %}">
                  {% for node in secondary_submenu %}
                    {{ link(node) }}
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          </nav>
        {% endif %}
      </li>
    {% endfor %} 
  </ul>
</nav>
