{{ require_css(get_asset_url("../../css/modules/menu-section.css")) }}

{% macro activeNode() %}
  {{ { "class": "menu-link active-item",
      "aria-current": "page"
      } | xmlattr
  }}
{% endmacro %}

{% macro includeAriaControls(index) %}
  {{ {"aria-controls": "sub-menu-services-" + index} | xmlattr }}
{% endmacro %}

{% macro link(node) %}
  <li>
    <a 
      href="{{ node.url if node.url else 'javascript:;' }}" 
      class="menu-link trigger"
      id="sub-menu-toggle-{{loop.index}}"
      {{ activeNode() if node.activeNode }} 
      {{ includeAriaControls(loop.index) if level < 2 }} 
      aria-expanded="false"
    >
        {{ node.linkLabel }}
    </a>
  </li>
{% endmacro %}

<nav aria-label="Main menu" class="navigation-primary" id="website-navigation-menu">
  <ul 
    class="submenu level-{{ level }} website-navigation-sub-menu{% if menuTree.children|length <= 4 %} two-columns{% endif %}" 
    id="sub-menu-services"
  >
  {% for item in module.menu_items %}
    {% set menuTree = menu(item.submenu.items) %}
      <li class="menu-item 
                {% if item.submenu.items %}has-submenu{% endif %}">
        <a href="{{ item.link.href if item.link.href else 'javascript:;' }}"
          class="menu-link trigger back-button"
          id="sub-menu-toggle-{{loop.index}}"
          aria-controls="sub-menu-services-{{loop.index}}"
          aria-expanded="false"
        >
          {{ item.title }}
        </a>
      </li>
      <ul class="submenu level-2 website-navigation-sub-menu
              {% if menuTree.children|length <= 4 %} two-columns{% endif %}" 
          id="sub-menu-services-{{loop.index}}"
      >
      {% if item.submenu.promotional_text %}
        <div class="promotional-section">
          {{ item.submenu.promotional_text }}
          {{ item.submenu.button.button_type }}
        </div>
      {% endif %}



        {% for node in item.submenu.items %} 
          {{ link(node) }}
        {% endfor %}

      </ul>

  {# 
    {% set href = item.submenu.button.link_field.url.href %}
    {% if item.submenu.button.link_field.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
    {% endif %}

    <a href="{{ href }}"
      {% if item.submenu.button.link_field.open_in_new_tab %}target="_blank"{% endif %}
      {% if item.submenu.button.link_field.rel %}rel="{{ item.submenu.button.link_field.rel }}"{% endif %}
      >
      Link text
    </a>

    {{ item.submenu.button.text_field }}
    {{ item.submenu.button.button_style }}
    {% cta guid="{{ item.submenu.button.cta_field }}" %}
  #}
  {% endfor %} 
  </ul>
</nav>
