{{ require_css(get_asset_url("../../css/modules/icons-listing.css")) }}

<ul class="icons-listing">
	{% for item in module.icons %}
		<li class="icons-listing__item">
			<a href="{{ item.link.href }}" class="icons-listing__link">
				{% if item.icon_type == "image" %}
					{% set sizeAttrs = 'width="{{ item.image.width|escape_attr }}" height="{{ item.image.height|escape_attr }}"' %}
					<img class="icons-listing__img" src="{{ item.image.src|escape_url }}" alt="{{ item.image.alt|escape_attr }}" loading="lazy" {{ sizeAttrs }} />
				{% else %}
					<i class="icons-listing__icon lab {{ item.class }}"></i>
				{% endif %}
			</a>
		</li>
	{% endfor %}
</ul>