{% import '../../snippets/button-snippets.html' as snippets %}
{{ require_css(get_asset_url("../css/modules/simple-card.css")) }}   

{% require_css %}
    <style>
        @media only screen and (width >= 1024px) {
            .card-container {
                grid-template-columns: repeat({{ module.cards_per_row }}, 1fr);
            }
        }
    </style>
{% end_require_css %}

{% set cards = [] %}
{% set cards_type_selected = module.fill_in_the_cards_info %}

{% if cards_type_selected == "hubdb" %}
    {% set upcomingEventsFilter = ("&orderBy=datetime" + "&datetime__gt=" + local_dt|unixtimestamp + "&limit=3") %}
    {% set setEnglishEvents = ("&language=English") %}
    {% set setSpanishEvents = ("&language=Spanish") %}

    {% set list = [] %}

    {% if locale == "es" %}
        {% set list = hubdb_table_rows(module.hubdb, upcomingEventsFilter + setSpanishEvents) %}
    {% else %}
        {% set list = hubdb_table_rows(module.hubdb, upcomingEventsFilter + setEnglishEvents) %}
    {% endif %} 

    {% for item in list %}
        {% set formated_date = item.datetime | format_datetime('d MMM yyyy | HH:mm') %}
        {% if locale == 'es' %}
            {% set formated_date = item.datetime | format_datetime('d MMM yyyy | HH:mm', 'Europe/Madrid') %}
        {% endif %} 

        {% set card = {
            "date" : item.datetime | format_datetime('short'),
            "formated_date" : formated_date,
            "thumbnail" : item.thumbnail.url,
            "title" : item.name,
            "link_url" : item.link,
            "link_text" : module.card_link_text
        } %}

        {% do cards.append(card) %}
    {% endfor %}
{% endif %}

{% if cards_type_selected == "manually" %}
    {% set list = module.simple_cards_group %}
    
    {% for item in list %}
        {% set card = {
            "content_type" : item.content_type,
            "thumbnail" : item.thumbnail.src,
            "title" : item.title,
            "description" : item.description,
            "features_listing" : item.features_listing,
            "link_url" : item.link.url.href,
            "link_text" : item.card_link_text
        } %}

        {% do cards.append(card) %}
    {% endfor %}
{% endif %}

<div class="card-container lateral-spacing{% if cards_type_selected == "hubdb" %} card-container--hubdb{% endif %}">
    {% for card in cards %}
        <article class="card">
            {% set card_thumbnail = resize_image_url(card.thumbnail, 0, 0, 400) %}
            <img class="card__img {% if module.fixed_aspect_ratio %}card__img--ratio{% endif %}"  
                src="{{ card_thumbnail }}" 
                alt="" 
                width="400"
                height="400"
                loading="lazy" 
            />

            <div class="card__info">
                {% if card.date %}
                    <time datetime="{{ card.date }}" >{{ card.formated_date }}</time>
                {% endif %}
                {% if card.content_type %}
                    <span>{{ card.content_type }}</span>
                {% endif %}

                <h3>{{ card.title }}</h3>

                {% if card.description %}
                    <p class="card__description">{{ card.description }}</p>
                {% endif %}

                {% if card.features_listing %}
                    {% for feature in card.features_listing %}
                        <div class="card__feature">
                            <i class="card__feature-icon las {{ feature.icon_class }}"></i>
                            <p class="card__feature-text">{{ feature.text }}</p>
                        </div>
                    {% endfor %}
                {% endif %}

                {% if card.link_text %}
                    {{ snippets.text_cta_right_arrow(
                        url=card.link_url,
                        target="_blank",
                        text="{{ card.link_text }}"
                    ) }}
                {% endif %}
            </div>
        </article>
    {% endfor %}
</div>



