{{ require_css(get_asset_url("../../css/modules/cip-infographic.css")) }}

<div class="infographic__mobile-notice">
  {% if module.mobile_notice.rotation_image.src %}
    {% set sizeAttrs = 'width="{{ module.mobile_notice.rotation_image.width }}" height="{{ module.mobile_notice.rotation_image.height }}"' %}
    <img src="{{ module.mobile_notice.rotation_image.src }}" alt="{{ module.mobile_notice.rotation_image.alt }}" {{ sizeAttrs }} loading="lazy">
  {% endif %}

  <p>
    {{ module.mobile_notice.text }}
  </p>
</div>

<figure class="infographic__figure">
  {% if module.infographic_image.src %}
    <img src="{{ module.infographic_image.src }}" alt="{{ module.infographic_image.alt }}" loading="lazy" />
  {% endif %}
  
  <ol>  
    {% for tooltip in module.tooltips %}
      <li class="tooltip">
        <span class="tooltip__number">{{ loop.index }}</span>
        <div class="tooltip__text">{{ tooltip }}</div>
      </li>
    {% endfor %}
  </ol>
</figure>