{% import '../../snippets/button-snippets.html' as snippets %}

{{ require_css(get_asset_url("../../css/modules/tabber.css")) }}

<div class="cm-tabber-section" style="background-image: url({{ module.background_image.src }})">
  <div class="section-intro cm-tabber-section__intro">
    {{ module.header_content }}
    {% if module.button_type == 'Standard' %}
      {% set href = module.link_field.url.href %}

      {% if module.link_field.open_in_new_tab %}
        target="_blank"
      {% endif %}

      {% if module.link_field.no_follow %}
        rel="nofollow"
      {% endif %}

      {% if module.link_field.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
      {% endif %}

      {{
        snippets.button_primary(
          classnames="",
          url=href,
          text=module.button_text,
          target=target,
          rel=rel
        )
      }}
    {% else %}
      {% cta guid="{{ module.cta_field }}" %}
    {% endif %}
  </div>
  <div class="cm-tabber" id="custom-tabber-section">
    <nav class="cm-tabber__large-screen-controls"> 
      {% for item in module.tabber_item %}
        <a class="tabmenu {% if loop.first %} active {% endif %}" href="javascript:tabber('tb_{{loop.index}}', 'content_{{loop.index}}');" id="tb_{{loop.index}}"  data-related_tab="{{ item.tabber_title|replace(' ','-') }}">{{ item.tabber_title }}</a>
      {% endfor %}
    </nav>
    {% for item in module.tabber_item %}
      <div id="content_{{loop.index}}" class="cm-tabber__panel tabber-panel tabcontent fadeIn {% if loop.first %}active {% endif %}" data-tabber_panel="" data-title="{{ item.tabber_title }}">
        <a class="tabmenu mob-accordion-header">{{ item.tabber_title }}</a>
        <div class="cm-tabber-panel__inner">
          <div class="cm-tabber-panel__header" style="background-image: url({{ item.image_field.src }}), url({{ item.background_image.src }})">
            <h3 class="cm-tabber-panel__title">{{ item.heading }}</h3>
          </div>
          <div class="cm-tabber-panel__what-wrapper">
            <div class="cm-tabber-panel__main">
              {{ item.content }}
            </div>
          </div>
          <div class="cm-tabber-panel__how-wrapper">
            <div class="cm-tabber-panel__main">
              {{ item.right_column_content }}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


<script>
  function tabber(cm_tab_id, cm_tab_content) {
    var x = document.getElementsByClassName("tabcontent");
    var i;
    for (i = 0; i < x.length; i++) {
      x[i].style.display = 'none';
      x[i].classList.remove('active');
    }
    document.getElementById(cm_tab_content).style.display = 'block';
    document.getElementById(cm_tab_content).classList.add('active');
    var x = document.getElementsByClassName("tabmenu");
    var i;
    for (i = 0; i < x.length; i++) {
      x[i].className = 'tabmenu'; 
    }
    document.getElementById(cm_tab_id).className = 'tabmenu active';    
  }
   
</script>
