{# CSS included in meta.json to make the module usable in dnd_section #}

<div class="banner{% if module.image_position == "left" %} banner--image-left{% endif %}">
  <div class="banner__text">
    <h2>{{ module.title }}</h2>

    <a href="{{ module.link.href }}" class="text-cta-primary text-cta--right-arrow">
			{{ module.link_text }} 
      <i class="las la-arrow-right"></i>
		</a>
  </div>

  {% if module.image.src %}
    <img class="banner__image" src="{{ module.image.src }}" alt="{{ module.image.alt }}" loading="lazy">
  {% endif %}
</div>