.cm-recent-post-group {
  max-width: 1110px;
  margin: 0px auto;
}
.cm-recent-image-wrapper{
  width: 100%;
  padding-top: 66%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cm-recent-post-group .post-heading h2 {
  color : #333;
  font-size: 2.25em;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 20px;
  font-weight: 800;
  font-style: normal;
}
.cm-recent-post-group .posts-heading h2 {
  color: #333;
  font-size: 2.25em;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 20px;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  margin-bottom:25px;
}
.cm-recent-post-group .rec-post-item {
  width: 33.333%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.rec-posts-group {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 40px;
  padding-bottom: 35px;
}
.recent-post-wrapper{
  padding:2.14286rem 2.14286rem 1.42857rem;
  position:relative;
}
.recent-post-wrapper .rec-post-body {
  padding-bottom: 2.14286rem;
}
.recent-post-wrapper .rec-post-date {
  text-decoration: none;
  color: #555;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 1.07143rem;
  display: block;
}
.rec-post-name {
  margin-bottom: 1.07143rem;
  font-weight: 800;
  line-height: 1.4;
  color: #555;
}
.rec-post-item .box-shadow > a {
  text-decoration: none;
  color: #555;
}
.recent-post-wrapper .block-cta {
  position: absolute;
  text-transform: uppercase;
  font-weight: 800;
  color: #444444;
  bottom: 25px;
  display:inline-block;
  font-size: 0.8em;
}
.recent-post-wrapper .block-cta:after {
  content: "";
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 25px;
  margin-left: 0;
  position: absolute;
  background: #fb7268;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.recent-post-wrapper .box-shadow:hover .block-cta:after {
  width: 100%;
  transition: all 0.7s ease;
}
.cm-recent-posts-button .custom-border-button:hover{
  background-color: rgba(0,0,0,0.05);
  color: #444444 !important;
  transition: all 0.7s ease;
  text-decoration:none;
}
.cm-recent-posts-button .custom-border-button {
  background-color: transparent;
  border: 2px solid #444444;
  color: #444444;
  font-size: 1em;
  transition: all 0.3s ease;
  padding:.85714rem 25.571px;
  border-radius: 50px;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  font-size: 15px;
  vertical-align: middle;
  line-height: 1.5;
}

.cm-recent-posts-button {
  text-align: center;
}
.recent-post-inner-wrapper .block-cta {
  position: relative;
  left: 34px;
  display:inline-block;
  bottom: 23px;
}

@media(max-width:991px){
  .cm-recent-post-group .rec-posts-group .rec-post-item {
    width:50%;
  }
}

@media (min-width:768px) and (max-width:991px){
  .cm-recent-post-group .rec-posts-group .rec-post-item {
    margin-bottom: 2.14286rem
  }
  .cm-recent-post-group .rec-posts-group {
    padding-bottom: 0;
  }
}

@media(max-width:767px){
  .cm-recent-post-group .posts-heading h2{
    font-size: 1.75em !important;
  }
  .cm-recent-post-group .rec-posts-group .rec-post-item {
    width: 100%;
    margin-bottom: 34px;
  }
}