
{{ require_css(get_asset_url("../../css/modules/lp-cta-block.css")) }}

<style>
.cta-block{
    --bg-img-small: url({{module.background_image.small.src}});
    --bg-img-large: url({{module.background_image.large.src}});
}
</style>

<div class="cta-block  cta-block--{{ module.font_color }}">
    <{{module.headline_tag}} class="cta-block__title">{{module.headline}}</{{module.headline_tag}}>
    {% if module.subheadline %}
        <p class="cta-block__subtitle">{{module.subheadline}}</p>
    {% endif %}
    {% if module.cta_field %}
       <div class="cta-block__button">
        {% cta guid="{{ module.cta_field }}" %}
        </div>
    {% endif %}
</div>