{% if module.hubdb_table %} {% set previousEventsFilter =
"&orderBy=-date&limit=4" %} {% set previousEvents =
hubdb_table_rows(module.hubdb_table, previousEventsFilter) %}

<div
  class="calendar-events-item__button responsive-page-width lateral-spacing"
  data-card-window
>
  <div class="calendar-events__header-wrapper">
    <h1 class="calendar-events__heading responsive-page-width">
      Past Events
    </h1>
    <div>
      <button
        class="calendar-events__nav-button"
        autocomplete="off"
        data-up-events-button-left
      >
        ←
      </button>
      <button
        class="calendar-events__nav-button"
        autocomplete="off"
        data-up-events-button-right
      >
        →
      </button>
    </div>
  </div>
  <div class="calendar-events-results" data-card-track>
    {% for event in previousEvents %}
    <article class="calendar-event-item" data-card>
      <div class="calendar-event-item__content">
        <div
          class="calendar-event-item__image-container"
          style="background-image: url({{event.thumbnail.url}})"
        >
          <small class="calendar-event-item__type-text">
            {{ event.type.name }}
          </small>
        </div>
        <div class="calendar-event-item__text-container">
          <div class="calendar-event-item__text-container-inner">
            <header>
              <time
                class="calendar-event-item__datetime"
                datetime="{{ event.datetime|datetimeformat('%Y-%m-%dT%H:%M:%S') }}"
              >
                {{ event.datetime|datetimeformat('%a %e %b %Y | %H:%M') }}
              </time>
              <h4 class="calendar-event-item__title">
                {{ event.name }}
              </h4>
            </header>
            <p class="calendar-event-item__description">
              {{ event.description }}
            </p>
          </div>
          <div class="calendar-event-item__button">
            <a href="{{ event.link }}">Register Attendance</a>
          </div>
        </div>
      </div>
    </article>
    {% endfor %}
  </div>
</div>
<div class="pe-watch-all">
  <a
    class="pe-watch-all-button"
    href="https://www.youtube.com/c/Codurance/playlists"
    >Watch all on YouTube</a
  >
</div>

{% endif %}
