{% if module.hubdb_table %}
    {% set previousEventsFilter = "&orderBy=-date&limit=4" %}
    {% set previousEvents = hubdb_table_rows(module.hubdb_table, previousEventsFilter) %}

    <div class="up-module-title">
      <h2>
      Past Events  
      </h2>
    </div>
    <div class="pe-events-container">
        <div class="pe-events-results">
          {% for row in previousEvents %}
          <div class="pe-event-item">
            <div class="pe-event-item-content">
              <div class="pe-event-image-container" style="background-image: url({{row.thumbnail.url}})">
                <div class="pe-event-type-text">
                  {{ row.type.name }}
                </div>
                <div class="pe-event-duration-text">
                  {{ row.duration }}
                </div>
              </div>
              <div class="pe-event-text-container" >
                <div class="pe-event-text-container-inner">
                  <p>
                    {{ row.date|datetimeformat('%e %B %Y') }}
                  </p>
                  <h4>
                    {{ row.name }}
                  </h4>
                  <p>
                    {{ row.description }}
                  </p>
                </div>
                <div class="pe-watch-button">
                  <a href="{{ row.video }}">Watch on Youtube »</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

{% endif %}