{% if module.hubdb_table %}
    {% set previousEventsFilter = "&orderBy=-date&limit=4" %}
    {% set previousEvents = hubdb_table_rows(module.hubdb_table, previousEventsFilter) %}

    <div class="pe-events-container">
        <div class="pe-events-results">
          {% for row in previousEvents %}
          <div class="pe-event-item">
            <div class="pe-event-item-content">
              <div class="pe-event-image-container" style="background-image: url({{row.thumbnail.url}})">
                <div class="pe-event-type-text">
                  {{ row.type.name }}
                </div>
                <div class="pe-event-duration-text">
                  {{ row.duration }}
                </div>
              </div>
              <div class="pe-event-text-container" >
                <div class="pe-event-text-container-inner">
                  <div class="pe-event-date-container">
                    <p>
                    {{ row.date|datetimeformat('%e') }}
                    {{ row.date|datetimeformat('%B')|truncate(3, true, '') }}
                    {{ row.date|datetimeformat('%Y') }}
                    </p>
                    <p>
                      {% if row.internal %}
                      internal event
                      {% endif %}
                    </p>
                  </div>
                  <h4>
                    {{ row.name }}
                  </h4>
                  <p>
                    {{ row.description }}
                  </p>
                </div>
                <div class="pe-watch-button">
                  <a href="{{ row.video }}">Watch on Youtube »</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="pe-watch-all">
          <a class="pe-watch-all-button" href="https://www.youtube.com/c/Codurance/playlists">Watch all on YouTube</a>
      </div>

{% endif %}